<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/hq/parts/popup/index}">
<th:block layout:fragment="content">
	
	<div class="block-header" >
		<div class="block-title" ></div>
		<div class="block-button-area">
			<button id="BTN_save" type="button" th:text="저장"></button>
			<button id="BTN_back" type="button" th:text="닫기" onclick="window.close();"></button>
		</div>	
	</div>	
	
	<div class="condition-area">
	<form id="FORM_write" method="post" th:action="|${BASE_PATH}/survey/question/save|" enctype="multipart/form-data" autocomplete="off" onsubmit="return false;">
	<input type="hidden" name="sSeq" th:value="${survey?.sSeq}"/>
	<input type="hidden" name="sqSeq" th:value="${surveyQuestion==null? 0 : surveyQuestion.sqSeq}"/>

	<table class="condition table-fixed">
		<tr>
			<td style="width:20%;">설문제목</td>
			<td>[[${survey?.title}]]</td>
		</tr>
		<tr>
			<td>설문시작일</td>
			<td>[[${survey?.validFrom}]] ~ [[${survey?.validTo}]]</td>
		</tr>
	</table>	
	<br/><br/>
	<table class="condition">
		<tbody>
			<tr>
				<th style="width:30%;">제목</th>
				<td><input name="title" type="text" th:value="${surveyQuestion?.title}"/></td>
			</tr>
			
			<tr>
				<th>문항유형</th>
				<td>
					<select name="type" id="type" onchange="handleMandatoryCnt(this.value);">
						<option value="0">객관식</option>
						<option value="1">다중객관식</option>
						<option value="2">주관식</option>
						<option value="3">가중치</option>
						<option value="4">우선순위</option>
					</select>
				</td>
			</tr>
			
			<tr>
				<th>필수선택 / 선택가능</th>
				<td>
					<select name="fgMandatory" id="fgMandatory">
						<option value="Y">필수선택</option>
						<option value="N">선택가능</option>
					</select>
				</td>
			</tr>
			
			<tr>
				<th>선택최대개수</th>
				<td><input name="mandatoryCnt" id="mandatoryCnt" type="number" th:value="${surveyQuestion?.mandatoryCnt}"/></td>
			</tr>
			
		</tbody>
	</table>
	</form>
	</div>
	
<script>
$(function(){
	ProgressBar.hide();
	
	let type = "[[${surveyQuestion?.type}]]";
	$("#type").val(type);
	handleMandatoryCnt(type);
	$("#fgMandatory").val("[[${surveyQuestion?.fgMandatory}]]");
	
	$("#BTN_save").on("click", function() {
		
		JpUtilsAjax.post({
			url: "[[${BASE_PATH}]]/survey/question/save",
			method: "POST",
			data: $("#FORM_write").serialize(),
			beforeSend: function(jqXHR, settings)
			{
				ProgressBar.show();
			},		
		    success: function(response, textStatus, jqXHR)
		    {
		    	callbackSurveyQuestion(response.RESULT);
		    },
		    error: function(jqXHR, textStatus, errorThrown)
	    	{
		    	callbackSurveyQuestion(response.RESULT);
	    	}
		});
	});
});

function callbackSurveyQuestion(result) {
	opener.callbackSurveyQuestion();		
	ProgressBar.hide();
	
	let sSeq = "[[${survey?.sSeq}]]";
	if (!JpUtilsString.isNotEmpty(sSeq) && confirm('계속 등록하시겠습니까?')) {
		window.location.reload();
	} else {
		window.close();
	}
}

function handleMandatoryCnt(type) {
	if (type == 1) {
		$("#mandatoryCnt").removeAttr('readonly');
	} else {
		$("#mandatoryCnt").attr('readonly', true).val(1);
	}
}
</script>
</th:block>	