<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/hq/parts/popup/index}">
<th:block layout:fragment="content">
	
	<div class="block-header" >
		<div class="block-title" th:text="#{HQP_L_SURVEY_QUESTION}"></div>
		<div class="block-button-area">
			<button id="BTN_save" type="button" th:text="#{HQP_B_SAVE}"></button>
			<button id="BTN_back" type="button" th:text="#{HQP_B_CLOSE}" onclick="window.close();"></button>
		</div>	
	</div>	
	
	<div class="condition-area">
	<form id="FORM_write" method="post" th:action="|${BASE_PATH}/survey/question/save|" enctype="multipart/form-data" autocomplete="off" onsubmit="return false;">
	<input type="hidden" name="sSeq" th:value="${survey?.sSeq}"/>
	<input type="hidden" name="sqSeq" th:value="${surveyQuestion==null? 0 : surveyQuestion.sqSeq}"/>

	<table class="condition table-fixed">
		<tr>
			<th style="width:30%;"><span th:text="#{HQP_L_SURVEY_TITLE}"></span></th>
			<td><span th:text="${survey?.title}"></span></td>
		</tr>
		<tr>
			<th><span th:text="#{HQP_L_SURVEY_PERIOD}"></span></th>
			<td>[[${survey?.validFromYmdHHMI}]] ~ [[${survey?.validToYmdYmdHHMI}]]</td>
		</tr>
	</table>	
	<br/><br/>
	<table class="condition table-fixed">
		<tbody>
			<tr>
				<th style="width:30%;"><span th:text="#{HQP_L_TITLE}"></span></th>
				<td><input name="title" id="title" class="custom-ui" type="text" th:value="${surveyQuestion?.title}"/></td>
			</tr>
			
			<tr>
				<th><span th:text="#{HQP_L_QUESTION_TYPE}"></span></th>
				<td>
					<select name="type" id="type" class="custom-ui" onchange="handleMandatoryCnt(this.value);">
						<option value="0">[[#{HQP_L_OBJECTIVE_QUESTION}]]</option>
						<option value="1">[[#{HQP_L_MULTIPLE_SELECTION}]]</option>
						<option value="2">[[#{HQP_L_SUBJECTIVE_QUESTION}]]</option>
						<option value="3">[[#{HQP_L_EXTRA_WEIGHT}]]</option>
						<option value="4">[[#{HQP_L_PRIORITY}]]</option>
					</select>
				</td>
			</tr>
			
			<tr>
				<th>[[#{HQP_L_SELECT_ESSENTIAL}]] / [[#{HQP_L_SELECT_POTENTIAL}]]</th>
				<td>
					<select name="fgMandatory" id="fgMandatory" class="custom-ui">
						<option value="Y">[[#{HQP_L_SELECT_ESSENTIAL}]]</option>
						<option value="N">[[#{HQP_L_SELECT_POTENTIAL}]]</option>
					</select>
				</td>
			</tr>
			
			<tr>
				<th>[[#{HQP_L_MAX_SELECTION_NUMBER}]]</th>
				<td><input name="mandatoryCnt" id="mandatoryCnt" class="custom-ui" type="number" th:value="${surveyQuestion?.mandatoryCnt}"/></td>
			</tr>
			
		</tbody>
	</table>
	</form>
	</div>
	
<script>
$(function(){
	ProgressBar.hide();
	
	let type = "[[${surveyQuestion?.type}]]";
	if (!JpUtilsString.isNotEmpty(type)) {
		type = '0';	
	}
	$("#type").val(type);
	handleMandatoryCnt(type);
	
	let fgMandatory = "[[${surveyQuestion?.fgMandatory}]]";
	if (JpUtilsString.isNotEmpty(fgMandatory)) {
		$("#fgMandatory").val(fgMandatory);	
	} else {
		$("#fgMandatory").val("Y");
	}
	
	$("#BTN_save").on("click", function() {
		
		let title = $("#title").val();
		if (!JpUtilsString.isNotEmpty(title)) {
			//alert('타이틀을 입력해주세요');
			let msg = "[[#{HQP_M_INSERT_SUBJECTIVE}]]";	// 타이틀을 입력해주세요
			alert(msg.replace("{0}", "[[#{HQP_L_TITLE}]]"));
			
			$("#title").focus();
			return false;
		}
		
		let type = $("#type").val();
		if (!JpUtilsString.isNotEmpty(type)) {
			//alert('질문유형을 선택해주세요');
			let msg = "[[#{HQP_M_SELECT_EXAMPLE_OF}]]";	// 질문유형을 선택해주세요
			alert(msg.replace("{0}", "[[#{HQP_L_QUESTION_TYPE}]]"));
			
			$("#type").focus();
			return false;
		}
		
		
		JpUtilsAjax.post({
			url: "[[${BASE_PATH}]]/survey/question/save",
			method: "POST",
			data: $("#FORM_write").serialize(),
			beforeSend: function(jqXHR, settings)
			{
				ProgressBar.show();
			},		
		    success: function(response, textStatus, jqXHR)
		    {
		    	callbackSurveyQuestion(response.RESULT);
		    },
		    error: function(jqXHR, textStatus, errorThrown)
	    	{
		    	callbackSurveyQuestion(response.RESULT);
	    	}
		});
	});
});

function callbackSurveyQuestion(result) {
	opener.callbackSurveyQuestion();		
	ProgressBar.hide();
	
	let sSeq = "[[${sqSeq}]]";
	if (!JpUtilsString.isNotEmpty(sSeq) && confirm('[[#{HQP_M_KEEP_MAKING_QUESTIONS}]]')) {
		window.location.reload();
	} else {
		window.close();
	}
}

function handleMandatoryCnt(type) {
	if (type == 1) {
		$("#mandatoryCnt").removeAttr('readonly');
	} else {
		$("#mandatoryCnt").attr('readonly', true).val(1);
	}
}
</script>
</th:block>	