<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jwebppy.portal.iv.board.mapper.EpBoardMapper">

	<resultMap type="EpBoardEntity" id="boardEntityMap">
		<id property="bSeq" column="b_seq" />
		<result property="name" column="name" />
		<result property="description" column="description" />
		<result property="fgUseReply" column="fg_use_reply" />
		<result property="fgUseComment" column="fg_use_comment" />
		<result property="fgSetPeriod" column="fg_set_period" />
		<result property="fgSetTarget" column="fg_set_target" />
		<result property="corp" column="corp" />
		<result property="fgDelete" column="fg_delete" />
		<result property="regUsername" column="reg_username" />
		<result property="regDate" column="reg_date" />
		<result property="modUsername" column="mod_username" />
		<result property="modDate" column="mod_date" />
		<association property="uploadFile" foreignColumn="uf_seq" column="uf_seq" javaType="EpUploadFileEntity" select="org.jwebppy.portal.iv.upload.mapper.EpUploadFileMapper.findUploadFile" />
	</resultMap>	

	<select id="findBoard" resultMap="boardEntityMap">
		select
		a.*
		from
		ep_board a
		where
		a.b_seq=#{bSeq}
		and a.fg_delete='N'
	</select>

</mapper>