<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/hq/parts/common/index}">
	
<th:block layout:fragment="content">
	<div class="block-header">
		<div class="block-title" th:text="#{HQP_T_AP_SCHEDULE}"></div>
		<div class="block-button-area">
			<button id="BTN_download" type="button" th:text="#{HQP_B_DOWNLOAD}"></button><!-- Download -->
			<button id="BTN_search" type="button" th:text="#{HQP_B_SEARCH}"></button>
		</div>
	</div>
	<div class="split-row"></div>
	
	<div class="condition-area">
	<form id="FORM_search" name="FORM_search">
		<table class="condition table-fixed">
			<tbody>
				<tr>
					<th th:text="#{HQP_L_PERIOD}"></th><!-- Period -->
					<td>
						<div class="input-area">
							<input type="text" id="pFromDate" name="pFromDate" class="custom-ui-calendar" th:value="${pFromDate}">
							<input type="text" id="pToDate" name="pToDate" class="custom-ui-calendar to" th:value="${pToDate}">
						</div>		
					</td>			
				</tr>				
			</tbody>
		</table>
	</form>
	</div>
	<div class="split-row"></div>
	
	<div class="condition-area">
		<table class="condition">
			<thead>
		        <tr>
		            <th th:text="#{HQP_L_AP_SCHEDULE_001}"></th>
		            <th th:text="#{HQP_L_AP_SCHEDULE_002}"></th>                        
		            <th th:text="#{HQP_L_AP_SCHEDULE_003}"></th>
		            <th th:text="#{HQP_L_AP_SCHEDULE_004}"></th>
		            <th th:text="#{HQP_L_AP_SCHEDULE_005}"></th>
		        </tr>
		     </thead>
		     <tbody>
				<tr>
					<td id="SUMMARY_1" class="right"></td>
					<td id="SUMMARY_2" class="right"></td>
					<td id="SUMMARY_3" class="right"></td>
					<td id="SUMMARY_4" class="right"></td>
					<td id="SUMMARY_5" class="right"></td>
				</tr>
			</tbody>        
		</table>
	</div>
	
	<div class="grid-info">
		<div class="grid-total">
			<div class="split"></div>
			<span class="total-number" id="totalRows"></span>
		</div>
	</div>
	
	<div id="AREA_grid" class="flex-grow grid-area">		
		<table id="TBL_grid" class="order-column stripe compact"></table>
	</div>
	
<script>
$(function(){
	
	Calendar.makeBeetweenCalendar($("#pFromDate"), "[[${pFromDate}]]", $("#pToDate"), "[[${pToDate}]]");
	
	$tableObj = $("#TBL_grid").DataTable({
		select: true,   			// row 선택 기능 켬
		ordering: true, 			// 정렬 기능 켬
		scrollY: 100,
		//fixedColumns: {leftColumns: 8},
		columns : [
			{data: "SALEDT", title: "[[#{HQP_L_AP_SCHEDULE_006}]]"},//매입월		
			{data: "BUDAT", title: "[[#{HQP_L_AP_SCHEDULE_007}]]"},//입금일자
			{data: "GUBUN", title: "[[#{HQP_L_AP_SCHEDULE_008}]]"},//구분
			{data: "TOTAL", title: "[[#{HQP_L_AP_SCHEDULE_009}]]", className: "right"}//금액
		],
		ajax: {
			url: "/portal/iv/hq/parts/domestic/accounts/ap/schedule/list/data",
			data: function(p)
			{
				p.pFromDate 	= $("#pFromDate").val();
				p.pToDate		= $("#pToDate").val();
			},
			dataSrc: function(response) 
			{				
				let data = response.RESULT;
				
				let list = data.list;
				let length = list.length;
				let summary = data.summary;
				
				$("#SUMMARY_1").text(summary.SUMMARY_1);
				$("#SUMMARY_2").text(summary.SUMMARY_2);
				$("#SUMMARY_3").text(summary.SUMMARY_3);
				$("#SUMMARY_4").text(summary.SUMMARY_4);
				$("#SUMMARY_5").text(summary.SUMMARY_5);
				
				for (let i=0; i<length; i++)
				{
					let blart = list[i].BLART;
					let gubun = "";
					
					list[i].SALEDT = list[i].SALEDT.substr(0, 7);
					
					if (JpUtilsString.equals(blart, "DA") || JpUtilsString.equals(blart, "DZ"))//정상
					{
						gubun = "[[#{HQP_L_AP_SCHEDULE_001}]]";
					}
					else if (JpUtilsString.equals(blart, "B1") || JpUtilsString.equals(blart, "KD"))//상계
					{
						gubun = "[[#{HQP_L_AP_SCHEDULE_002}]]";
					}
					else if (JpUtilsString.equals(blart, "RV"))//반납
					{
						gubun = "[[#{HQP_L_AP_SCHEDULE_004}]]";
					}
					else if (JpUtilsString.isEmpty(blart))//연체
					{
						gubun = "[[#{HQP_L_AP_SCHEDULE_003}]]";
					};
					
					list[i].GUBUN = gubun;
				};
				
				$("#totalRows").html(JpUtilsNumber.addComma(length) + " row(s).");
				
				return list;
			}			
		},
		initComplete:function(settings, json) 
		{			
			ProgressBar.hide();
		}
	});
	
	// Datatable grid 초기 설정 셋업
	initGridTable($tableObj);
});

$("#BTN_search").on("click", function(){		
	doSearch(); 
});

function doSearch()
{
	$tableObj.ajax.reload();
};

$("#BTN_download").on("click", function() {
	_gridDownload($tableObj, "Receipt_Result");
});
</script>	
</th:block>