<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/hq/parts/common/index}">

<th:block layout:fragment="content">

	<div class="block-header">
		<div class="block-title" th:text="#{HQP_T_INQUIRY_LIST}"></div>
		<div id="BTN_search" class="block-button-area">
			<button type="button" th:text="#{HQP_B_SEARCH}"></button><!-- Search -->
		</div>
	</div>
	
	<div class="condition-area">
	<form id="FORM_search" name="FORM_search">
	<input type="hidden" id="orderNo" name="orderNo"/>
	<input type="hidden" id="status" name="status"/>
	<table class="condition">
		<tbody>
			<tr>
				<th colspan="4">
					<div class="input-area">
						<input type="radio" class="custom-ui" name="pDocType" value="C"/>
						<label th:text="#{HQP_L_ORDER}"></label>
						
						&nbsp;&nbsp;
						
						<input type="radio" class="custom-ui" name="pDocType" value="A" checked/>
						<label th:text="#{HQP_L_INQUIRY}"></label>
						
						&nbsp;&nbsp;
						
						<input type="radio" class="custom-ui" name="pDocType" value="B"/>
						<label th:text="#{HQP_L_QUOTATION}"></label>
					</div>
				</th>
			</tr>
			<tr>
				<th th:text="#{HQP_L_INQUIRY_NO}"></th>
				<td>
					<div class="input-area">
						<input type="text" id="pOrderNo" name="pOrderNo" class="custom-ui" th:value="${pOrderNo}">
					</div>
				</td>
				<th th:text="#{HQP_L_ORDER_DATE}"></th>
				<td>
					<div class="input-area">
						<input type="text" id="pFromDate" name="pFromDate" class="custom-ui-calendar" th:value="${pFromDate}">
						<input type="text" id="pToDate" name="pToDate" class="custom-ui-calendar to" th:value="${pToDate}">
					</div>
				</td>				
			</tr>
			<tr>
				<th th:text="#{HQP_L_ORDER_PART_NO}"></th>
				<td>
					<div class="input-area">
						<input type="text" id="pOrderPartNo" name="pOrderPartNo" class="custom-ui" th:value="${pOrderPartNo}">
					</div>
				</td>
				<th th:text="#{HQP_L_STATUS}"></th>
				<td>
					<div class="input-area">
						<select class="custom-ui" id="pStatus" name="pStatus">
							<option value="X"></option>
							<option value="O" th:text="#{HQP_L_OPEN}"></option>
							<option value="C" th:text="#{HQP_L_CLOSE}"></option>
						</select>
					</div>	
				</td>				
			</tr>
			<tr>
				<th th:text="#{HQP_L_PO_NO}"></th>
				<td colspan="3">
					<div class="input-area">
						<input type="text" id="pPoNo" name="pPoNo" class="custom-ui" th:value="${pPoNo}">
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	</form>
	</div>
	<div class="split-row"></div>
	
	<div class="grid-info">
		<div class="grid-total">
			<div class="split"></div>
			<span class="total-number" id="totalRows"></span>
		</div>
	</div>		
	
	<div id="AREA_grid" class="flex-grow grid-area">
		<table id="TBL_grid" class="order-column stripe compact"></table>
	</div>
	
<script>
//화면중 일부 area 를 채우는 그리드 예제. 상위 div #sample-grid-area 영역을 100% 채움.
//컬럼 width 자동. scroller 자동.
//고정된 맵 데이터 사용. 페이지 생성시 데이터 넘겨서 그리드 만드는 방식

$(function(){
	$("input:radio[name=pDocType][value='[[${pDocType}]]']").prop("checked", true);
	$("#pOrderType").val("[[${pOrderType}]]");
	$("#pStatus").val("[[${pStatus}]]");
	
	Calendar.makeBeetweenCalendar($("#pFromDate"), "[[${pFromDate}]]", $("#pToDate"), "[[${pToDate}]]");
	
	$tableObj = $("#TBL_grid").DataTable({
		select: {
			selector: "td:not(.noselect)"// noselect class 컬럼은 select 하지 않도록 한다. (input과 충돌 발생)
	    },
		ordering: true,// 정렬 기능 켬
		scrollY: 100,
		columns : [
			{data: "VBELN", title: "[[#{HQP_L_INQUIRY_NO}]]", className: "link"},//Inuqiry No.
			{data: "BSTKD", title: "[[#{HQP_L_PO_NO}]]"},//P.O. No.
			{data: "VBELN2", title: "[[#{HQP_L_INQUIRY_TO_ORDER_NO}]]", className: "link"},//Sales Doc. No.
			{data: "ERDAT2", title: "[[#{HQP_L_INQUIRY_DATE}]]"},//Create Date
			{data: "COUNT", title: "[[#{HQP_L_ORDER_ITEM_ROWS}]]", className: "right"},//Line Item
			{data: "T_NETWR", title: "[[#{HQP_L_ORDER_AMOUNT}]]", className: "right"},//Order Amt.
			{data: "WAERK", title: "[[#{HQP_L_CURR}]]"},//Curr.
			{data: "RFGSK_TX", title: "[[#{	HQP_L_STATUS}]]"}//Open Status
		],
		/*
		columnDefs: [
			{className: "right", targets: [5]}
		],
		*/
		ajax: {
			url: "[[${BASE_PATH}]]/order/display/inquiry/list/data",
			data: function(p)
			{
				// ajax로 넘길 파라미터
				p.pDocType = $("#FORM_search input:radio[name=pDocType]:checked").val();
				p.pOrderNo = $("#pOrderNo").val();
				p.pPoNo = $("#pPoNo").val();
				p.pOrderPartNo = $("#pOrderPartNo").val();
				p.pStatus = $("#pStatus").val();
				p.pFromDate = $("#pFromDate").val();
				p.pToDate = $("#pToDate").val();
			},
			dataSrc: function(response) 
			{
				let result = response.RESULT;
				let returnData = new Array();
				
				for (let i=0, length=result.length; i<length; i++)
				{
					result[i].ERDAT2 = result[i].ERDAT + " " + result[i].ERZET;
					
					if (result[i].RFGSK == "A")
					{
						result[i].RFGSK_TX = "Open";
					}
					else
					{
						result[i].RFGSK_TX = "Close";
					};
				};
				
				$("#totalRows").html(JpUtilsNumber.addComma(result.length) + " row(s).");

				return result;
			}
		},
		initComplete: function() {
			ProgressBar.hide();
		}
	});

	// Datatable grid 초기 설정 셋업
	initGridTable($tableObj);
	
	$("input:radio[name=pDocType]").on("click", function() {
		let docType = $(this).val();
		
		let docName = "order";
		
		if (docType == "A")
		{
			docName = "inquiry";
		}
		else if (docType == "B")
		{
			docName = "quot";
		}
		
		document.location.href = "[[${BASE_PATH}]]/order/display/" + docName + "/list?pDocType=" + $(this).val();
	});
	
	$("#BTN_search").on("click", function() {
		doSearch();
	});
	
	//Input text 엔터 키 입력
	$("#FORM_search input:text").on("keydown", function(event) {
		if (event.keyCode == 13)
		{
			doSearch();
		};
	});		
	
	function doSearch()
	{
		$tableObj.ajax.reload();
	};
	
	$("#TBL_grid tbody").on("click", "td:first-child", function () {
		let data = $tableObj.row($(this)).data();		
		
		$("#orderNo").val(data.VBELN);
		$("#status").val(data.RFGSK);
		
		$("#FORM_search").attr("action", "[[${BASE_PATH}]]/order/display/inquiry/view").submit();
	});
	
	$("#TBL_grid tbody").on("click", "td:nth-child(3)", function () {
		let orderNo = $tableObj.row($(this)).data().VBELN2;		
		
		Popup.open("[[${BASE_PATH}]]/order/display/order/popup/view?orderNo=" + orderNo + "&pOrderNo=" + orderNo, 1280, 720);
	});		
});
</script>	
</th:block>