 <!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/common/index}">

<th:block layout:fragment="content">
	<script th:src="@{/portal/js/portal.utils.grid.download.js}"></script>

	<div class="block-header">
		<div class="block-title" th:text="#{HQPD_T_INQUIRY_DETAIL}"></div>
		<div id="BTN_search" class="block-button-area">
			<button id="BTN_transfer" th:text="#{HQPD_B_TRANSFER_TO_ORDER}"></button><!-- Transfer -->
			<button id="BTN_pdfDownload" th:text="#{HQPD_B_PDF_DOWNLOAD}"></button><!-- PDF Download -->
			<button id="BTN_back" th:text="#{HQPD_B_BACK}"></button><!-- Back -->
		</div>
	</div>
	
	<div class="condition-area">
	<table class="condition">
		<tbody>
			<tr>
				<th th:text="#{HQPD_L_ORDER_TYPE}"></th><!-- Order Type -->
				<td id="KONDA_TEXT"></td>
				<th th:text="#{HQPD_L_SHIP_TO_PARTY}"></th><!-- Ship To Party -->
				<td id="KUNAG_NAME"></td>
			</tr>
			<tr>
				<th th:text="#{HQPD_L_PO_NO}"></th><!-- Customer P.O. Number -->
				<td id="BSTNK"></td>
				<th th:text="#{HQPD_L_SHIPPING_INFO}"></th><!-- Shipping Info -->
				<td id="VSBED_TX"></td>
			</tr>
			<tr>
				<th th:text="#{HQPD_L_RDD}"></th><!-- Request Delivery Date -->
				<td id="VDATU"></td>
				<th th:text="#{HQPD_L_COMPLETE_DELIVERY}"></th><!-- Complete Delivery -->
				<td id="COMPLETE_DELIVERY"></td>
			</tr>
			<tr>
				<th th:text="#{HQPD_L_REMARKS}"></th><!-- Remarks -->				
				<td colspan="3" id="remark"></td>
			</tr>
		</tbody>
	</table>
	</div>
	<div class="split-row"></div>
	
	<div class="grid-info">
		<div class="block-button-area">
			<button id="BTN_download" th:text="#{HQPD_B_DOWNLOAD}"></button>
		</div>	
		<div class="grid-total">
			<span th:text="#{HQPD_T_TOTAL_AMOUNT}"></span>
			<div class="split"></div>
			<span class="total-number" id="NETWR"></span>
			<div class="split2"></div>
			<span th:text="#{HQPD_T_CREDIT}"></span>
			<div class="split"></div>
			<span class="total-number" id="CREDIT"></span>
			<div class="split2"></div>
			<span th:text="#{HQPD_T_ESTIMATE_WEIGHT}"></span>
			<div class="split"></div>
			<span class="total-number" id="TOTAL_WEIGHT"></span>
		</div>
	</div>
	
	<div id="AREA_grid" class="flex-grow grid-area">
		<table id="TBL_grid" class="order-column stripe compact"></table>
	</div>
	
	<form id="FORM_search" name="FORM_search" action="/portal/iv/hq/parts/domestic/order/display/inquiry/list">
		<input type="hidden" name="pDocType" th:value="${pDocType}">
		<input type="hidden" name="pOrderType" th:value="${pOrderType}">
		<input type="hidden" name="pOrderNo" th:value="${pOrderNo}">
		<input type="hidden" name="pPoNo" th:value="${pPoNo}">
		<input type="hidden" name="pOrderPartNo" th:value="${pOrderPartNo}">
		<input type="hidden" name="pStatus" th:value="${pStatus}">
		<input type="hidden" name="pFromDate" th:value="${pFromDate}">
		<input type="hidden" name="pToDate" th:value="${pToDate}">
	</form>
	
<script>

//화면중 일부 area 를 채우는 그리드 예제. 상위 div #sample-grid-area 영역을 100% 채움.
//컬럼 width 자동. scroller 자동.
//고정된 맵 데이터 사용. 페이지 생성시 데이터 넘겨서 그리드 만드는 방식

$(function(){
	$.ajax({
		url: "/portal/iv/hq/parts/domestic/order/display/inquiry/view/data",		
		data: {"orderNo": "[[${orderNo}]]", "docType": "[[${pDocType}]]"},
	    success: function(response, textStatus, jqXHR) 
	    {
	    	let result = response.RESULT;
	    	
	    	let first = result.first;
	    	let mainHeadResult = result.mainHeadResult;
	    	let general = result.general;
	    	let item = result.item;
	    	
	    	$("#KONDA_TEXT").html(mainHeadResult.KONDA_TEXT);
	    	$("#KUNAG_NAME").html(mainHeadResult.KUNAG_NAME);
	    	$("#BSTNK").html(general.BSTNK);
	    	$("#VSBED_TX").html(general.VSBED_TX);
	    	$("#VDATU").html(general.VDATU);
	    	$("#COMPLETE_DELIVERY").html( (general.COMPLETE_DELIVERY == "X") ? "Y" : "N" );
	    	$("#remark").html(result.remark);
	    	$("#NETWR").html(mainHeadResult.NETWR + " " + mainHeadResult.WAERK);
	    	$("#CREDIT").html(mainHeadResult.CREDIT + " " + mainHeadResult.CREDIT_WAERK);
	    	$("#TOTAL_WEIGHT").html(mainHeadResult.TOTAL_WEIGHT + " " + mainHeadResult.GEWEI);
	    	
	    	$tableObj = $("#TBL_grid").DataTable({
	    		select: {
	    			selector: "td:not(.noselect)"// noselect class 컬럼은 select 하지 않도록 한다. (input과 충돌 발생)
	    	    },
	    		ordering: true,// 정렬 기능 켬
	    		scrollY: 100,
	    		columns : [
	    			{data: "VBELN", title: "[[#{HQPD_L_INQUIRY_NO}]]"},//Order No.
	    			{data: "ITEM", title: "[[#{HQPD_L_LINE_ITEM}]]"},//Item
	    			{data: "MATERIAL_ENT", title: "[[#{HQPD_L_ORDER_PART_NO}]]"},//Order Part No.
	    			{data: "MATERIAL", title: "[[#{HQPD_L_SUPPLY_PART_NO}]]"},//Supply Part No
	    			{data: "MATERIAL_TEXT", title: "[[#{HQPD_L_DESCRIPTION}]]"},//Description
	    			{data: "REQ_QTY", title: "[[#{HQPD_L_REQ_QTY}]]"},//Req Qty
	    			{data: "KBETR", title: "[[#{HQPD_L_LIST_PRICE}]]", className: "right"},//List Price
	    			{data: "NET_PRICE", title: "[[#{HQPD_L_NET_PRICE}]]", className: "right"},//Net Price
	    			{data: "NET_VALUE", title: "[[#{HQPD_L_NET_VALUE}]]", className: "right"},//Net Value
	    			{data: "AVAILABILITY", title: "[[#{HQPD_L_AVAILABILITY}]]"}//Available
	    		],
	    		columnDefs: [
	    			{ className: "left", targets: "_all" },
	    			{
	    				targets: 0,
	    				render: function (data, type, row)
	    				{
	    					return "[[${orderNo}]]";
	    				}
	    			}
	    		],
	    		data: item,
	    		initComplete: function() {
	    			ProgressBar.hide();
	    		}	    		
	    	});
	    	
	    	// Datatable grid 초기 설정 셋업
	    	initGridTable($tableObj);
	    }		
	});
	
	$("#BTN_pdfDownload").on("click", function() {
		document.location.href = "/portal/iv/hq/parts/domestic/order/display/order/download/confirm_sheet?orderNo=[[${orderNo}]]&mode=BT08";
	});	
	
	$("#BTN_back").on("click", function() {
		$("#FORM_search").submit();
	});
	
	$("#BTN_download").on("click", function() {
		let gridFileDownload = new GridFileDownload($tableObj);
		gridFileDownload.fileName = "Inquiry_List";
		gridFileDownload.excelDownload();
	});
	
	$("#BTN_transfer").on("click", function() {
		Popup.open("/portal/iv/hq/parts/domestic/order/create/transfer_to_order", 500, 200);
	});	
});

function doTransferOrder(orderType)
{
	$.ajax({
		url: "/portal/iv/hq/parts/domestic/order/create/transfer_to_order/save",
		method: "POST",
		data: {"orderNo": "[[${orderNo}]]", "orderType": orderType},
		beforeSend: function(jqXHR, settings)
		{
			ProgressBar.show();
		},		
	    success: function(response, textStatus, jqXHR) 
	    {
	    	let result = response.RESULT;
	    	
	    	if (result.TYPE == "S")
	    	{
	    		let orderNo = result.SALESDOCUMENT_EX;
	    		let message = "[[#{HQPD_M_ORDER_CREATED}]]".replace("{0}", orderNo);
	    		
	    		alert(message);
	    		
	    		document.location.href = "/portal/iv/hq/parts/domestic/order/display/order/view?orderNo=" + orderNo;
	    	}
	    	else
	    	{
	    		alert(result.MESSAGE);
	    	};
	    },
		complete: function(jqXHR, textStatus)
		{
			ProgressBar.hide();
		}
	});
};
</script>	
</th:block>