<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jwebppy.platform.mgmt.mail.mapper.MailReceiverMapper">
	<insert id="insert" parameterType="MailReceiverEntity" useGeneratedKeys="true" keyProperty="mrSeq">
		insert into pltf_mail_receiver (msh_seq, email, type, error, reg_date) values (
			#{mshSeq}, #{email}, #{type}, #{error}, #{regDate}
		)
	</insert>
	
	<update id="updateReadDate" parameterType="MailReceiverEntity">
		update pltf_mail_receiver set
			read_date=#{readDate}
		where
			msh_seq=#{mshSeq}
			and email=#{email}
	</update>	
</mapper>