<!-- bottom start -->
<div class="ui bottom_blank" style="width:100%; margin-top:40px;">&nbsp;</div>
<div class="ui bottom inverted vertical footer segment" style="position: fixed; width:100%; bottom: 0px;">
	<!-- div class="ui center aligned container round">	
		<div class="ui stackable inverted divided grid">
			<div class="two wide column"></div>
			<div class="four wide column">
				<h4 class="ui inverted header">User</h4>
				<div class="ui inverted link list">
					<a href="#" class="item">User</a>
				</div>
			</div>
			<div class="four wide column">
				<h4 class="ui inverted header">Content</h4>
				<div class="ui inverted link list">
					<a href="#" class="item">Menu</a>
					<a href="#" class="item">Translation</a>
				</div>
			</div>
			<div class="four wide column">
				<h4 class="ui inverted header">System</h4>
				<div class="ui inverted link list">
					<a href="#" class="item">Interface Log</a>
				</div>
			</div>
			<div class="two wide column"></div>
		</div>	
	</div>
	<div class="ui inverted section divider"></div-->
	<div class="ui center aligned container">
		<!-- img class="ui centered image" th:src="@{/portal/img/head_logo.png}" alt="jWebppy"/ -->
		<div class="ui horizontal inverted small divided link list">
			<a class="item" href="#" th:text="#{PLTF_T_COPYLEFT}"></a>
		</div>
	</div>
</div>
<div id="BTN_moveToTop" style="position:fixed; right:25px; bottom: 100px; display:none;">
	<button class="ui icon button big"><i class="arrow up icon"></i></button>
</div>
<form id="FORM_logout" method="post" th:action="@{${T(org.jwebppy.platform.core.PlatformConfigVo).FORM_LOGOUT_PROCESSING_URL}}"></form>

<script>
$(document).ready(function() {
	$(".ui.bottom_blank").height($(".ui.bottom").height());
	makeGnb();
	_checkExpiredPassword();
});

$(document).ajaxSend(function(event, jqXHR, ajaxOptions) {
	jqXHR.setRequestHeader(JpUtilsSecurity.CSRF.NAME, JpUtilsSecurity.CSRF.TOKEN);
});

$(document).ajaxStart(function() {	
	JpUiDimmer.show();
});

$(document).ajaxStop(function() {
	JpUiDimmer.hide();
});

$(document).ajaxError(function(event, jqXHR, ajaxSettings, thrownError) {
	if (jqXHR.status == "401" || jqXHR.status == "403")
	{
		alert("[[#{PLTF_M_SESSION_EXPIRED}]]");
		document.location.href = "[[${T(org.jwebppy.platform.core.PlatformConfigVo).INDEX_URL}]]";
	}
	else
	{
		alert("[[#{PLTF_M_ERROR_MESSAGE}]]");
	};
});

$("body").scroll(function() {
	if ($(this).scrollTop() > 200)
	{
		$("#BTN_moveToTop").fadeIn();
	}
	else
	{
		$("#BTN_moveToTop").fadeOut();
	};
});

$("#BTN_moveToTop").click(function() {
	$("html, body").animate({ scrollTop : 0 }, 400);
	return false;
});

function makeGnb()
{
	//Make GNB
	let menu = [];

	JpUtilsAjax.get({
		url: "/platform/mgmt/gnb/menu",
		success: function(data, textStatus, jqXHR)
		{
			menu.push("<div class='header item'>");
			menu.push("<div class='ui black'>");		
			menu.push("<i class='bars icon'></i>");
			menu.push("</div>");
			menu.push("</div>");			
			
		    data.RESULT.forEach(function(element, index) {
		    	let length = (element.SUB_ITEMS != null) ? element.SUB_ITEMS.length : 0;
		    	
		    	if (length > 0)
		    	{
			    	menu.push("<div class='ui dropdown item'>");
			    	makeItems(element);
			    	menu.push("</div>");		    		
		    	};
		    });

		    menu.push("<div class='ui dropdown item right inverted user settings'>");
		    menu.push("<i class='cog icon'></i>");
		    menu.push("<div class='menu'>");
		    menu.push("<div class='item'><i class='user icon'></i> Username : <span id='gnbUsername'></span></div>");
		    menu.push("<div class='divider'></div>");
		    menu.push("<div class='item'><i class='history icon'></i> Last Login Time / IP : <span id='gnbLastLoginTime'></span></div>");
		    menu.push("<div class='divider'></div>");
		    menu.push("<a class='item' href='javascript:logout();'><i class='power off icon'></i> Log Off</a>");
		    menu.push("</div>");
		    menu.push("</div>");		    
		    
		    $(".ui.menu.topMenu").html(menu.join(""));
		    
		    /* 메뉴명 길이에 따라서 width 를 자동 조절함 */
		    let maxLength = 0;
		    $(".ui.menu.topMenu span.text").each(function(index, element) {
				//let length = $(this).html().length;
				let length = JpUtilsString.lengthAsByte($(this).text());
				
				if (maxLength < length)
				{
					maxLength = length;
				};
		    });
		    
		    $(".ui.menu.topMenu span.text").css("width", maxLength * 8);
		    /* 메뉴명 길이에 따라서 너비를 자동 조절함 */
		    
			$(".ui.menu.topMenu .ui.dropdown").dropdown({
				allowCategorySelection: true
			});
			
			$(".ui.menu.topMenu span.text").on("click", function() {
				goToMenu(this);
			});
			
			/*
			$(".ui.menu.topMenu span.text[url]").parent("div.item").on("click", function() {
				goToMenu($(this).find("span.text[url]"));
			});
			*/
			
			function goToMenu(menu)
			{
				let url = $(menu).attr("url");
				
				if (JpUtilsString.isEmpty(url))
				{
					let subElements = $(menu).parent().find("span.text[url]");
					
					for (let i=0, length=subElements.length; i<length; i++)
					{
						if (JpUtilsString.isNotEmpty($(subElements[i]).attr("url")))
						{
							url = $(subElements[i]).attr("url");
							break;
						};
					};
				};
				
				document.location.href = JpUtilsPath.url(url);
			};			
			
			//Get last login information
			JpUtilsAjax.get({
				url: "/platform/mgmt/user/login/history/last_login_info",		
			    success: function(response, textStatus, jqXHR) 
			    {
			    	let data = response.RESULT;
			    	
			    	if (data != null)
			    	{
			    		$("#gnbUsername").html(data.username);
			    		
			    		if (JpUtilsString.isNotEmpty(data.displayZonedRegDate))
			    		{
			    			$("#gnbLastLoginTime").html(data.displayZonedRegDate + ", " + data.timezone + " / " + data.ip);
			    		};
			    	};
			    }	
			});
		}
	});
	
	let makeItems = function (cItem)
	{
		let length = (cItem.SUB_ITEMS != null) ? cItem.SUB_ITEMS.length : 0;
		
		menu.push("<span class='text'");
		
		if (length == 0)
		{
			menu.push(" url='" + JpUtilsPath.url(cItem.URL) + "'");	
		};
		
		menu.push(">" + cItem.NAME + "</span>");
		
		if (length > 0)
		{
			menu.push("<i class='dropdown icon'></i>");
			menu.push("<div class='menu'>");

			for (let i=0; i<length; i++)
			{
				menu.push("<div class='item'>");
				makeItems(cItem.SUB_ITEMS[i]);
				menu.push("</div>");
			};
			
			menu.push("</div>");
		}
	};
};

function logout()
{
	$("#FORM_logout").submit();	
};

function _checkExpiredPassword()
{
	JpUtilsAjax.get({
		url: "/platform/mgmt/user/check/expired_password",
		global: false,
		success: function(data, textStatus, jqXHR)
		{
			let result = data.RESULT;
			
			let difference = parseInt(result.difference);
			
			if (difference < 15)
			{
				if (difference < 0)
				{
					JpUiDimmer.alert("[[#{PLTF_M_PASSWORD_EXPIRED}]]", function() {
						document.location.href = "[[${T(org.jwebppy.platform.core.PlatformConfigVo).FORM_PASSWORD_CHANGE_PAGE_URL}]]";
					});
				}
				else
				{
					let message = "[[#{PLTF_M_PASSWORD_EXPIRE_DATE_NOTICE}]]".replace("{0}", result.expiredDate);
					
					JpUiDimmer.confirm(message, function() {
						document.location.href = "[[${T(org.jwebppy.platform.core.PlatformConfigVo).FORM_PASSWORD_CHANGE_PAGE_URL}]]";
					});					
				};

			};
		}
	});
};

/*
 * 공통 함수
 */
//User
function _showUser(key)
{
	JpUiPopup.open({
		url: "/platform/mgmt/user/list?uSeq=" + key,
		width: screen.availWidth * 0.7,
		height: screen.availHeight * 0.7
	});
};
 
//User Group
function _showUserGroup(key)
{
	JpUiPopup.open({
		url: "/platform/mgmt/user/user_group/view?ugSeq=" + JpUtilsString.trimToEmpty(key)
	});
};
 
//Security Policy
function _showCredentialsPolicy(key)
{
	JpUiPopup.open({
		url: "/platform/mgmt/user/credentials/policy/write?cpSeq=" + JpUtilsString.trimToEmpty(key)
	});	
};
</script>
<!-- bottom end -->