<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/hq/parts/common/index}">

<th:block layout:fragment="content">
<style>
	.gomain-button {
		padding: 5px 15px;
		background-color: #003081;
		color: #fff;
		border: none;
		border-radius: 20px;
		width: 250px;
		height: 40px;
		cursor: pointer;
		outline: none;
		font-size: 18px;
		vertical-align: middle;
	}
	
	.gomain-button span {
		color: #fff;
		font-size: 18px;
		vertical-align: middle;
	}
	
	.guide-go-gpes {
		margin-top: 20px; font-weight:bold;
	}
</style>
<div style="width: 100%; margin:0 auto; text-align: center;">
	<div style="margin-top:138px;">
		<img src="/portal/img/popup/confirm.png" />
	</div>
	<div class="guide-go-gpes" th:text="#{PTL_T_MOVE_TO_BULLETIN}"></div>
	<div class="guide-go-gpes" th:text="#{PTL_T_GUIDE_MOVE_TO_BULLETIN_MANUALLY}"></div>
	<div style="width:auto; height:220px; background-color: #f9f9f9; margin: 40px 40px 0 40px;">
		<div style="height: 30px;"></div>
		<button id="BTN_go" class="gomain-button"><span th:text="#{PTL_B_GO_BULLETIN}"></span> <img src="/portal/img/common/arrow_right.png" /></button>
	</div>
</div>
<script>
let url = "http://gpes.doosan-iv.com/ssoextra/sso_login_doobiz.jsp?p_encryptsso=[[${key}]]&BULLETIN_STS=NEW_BULL&PART_NO=&LAN_CD=EN";

$("#BTN_go").on("click", function() {
	window.open(url);
});

$(function(){
	window.open(url);
	ProgressBar.hide();
});

</script>
</th:block>