<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jwebppy.platform.mgmt.upload.mapper.UploadFileListMapper">
	<insert id="insert" parameterType="UploadFileListEntity">
		insert into pltf_upload_file_list (ufl_seq, uf_seq, t_seq, origin_name, saved_name, extension, file_size, fg_delete, reg_username, reg_date) values (
			#{uflSeq}, #{ufSeq}, #{tSeq}, #{originName}, #{savedName}, #{extension}, #{fileSize}, 'N', #{regUsername}, #{regDate}
		)
	</insert>
	
	<update id="delete" parameterType="UploadFileListEntity">
		update pltf_upload_file_list set
			fg_delete='Y',
			mod_username=#{modUsername},
			mod_date=#{modDate}
		where
			ufl_seq=#{uflSeq}
	</update>	
	
	<select id="findUploadFileList" resultType="UploadFileListEntity">
		select
		a.*
		from
		pltf_upload_file_list a
		where
		a.ufl_seq=#{uflSeq}
		and a.fg_delete='N'
	</select>		
	
	<select id="findUploadFileLists" parameterType="UploadFileListDto" resultType="UploadFileListEntity">
		select
		a.*
		from
		pltf_upload_file_list a
		where
		a.uf_seq=#{ufSeq}
		and a.t_seq=#{tSeq}
		and a.fg_delete='N'
	</select>	
</mapper>