<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jwebppy.platform.mgmt.user.mapper.CredentialsPolicyMapper">
	<resultMap type="CredentialsPolicyEntity" id="credentialsPolicyEntityMap">
		<id property="cpSeq" column="cp_seq" />
		<result property="name" column="name" />
		<result property="description" column="description" />
		<result property="uMinLength" column="u_min_length" />
		<result property="uMaxLength" column="u_max_length" />
		<result property="uMinUppercase" column="u_min_uppercase" />
		<result property="uMaxUppercase" column="u_max_uppercase" />
		<result property="uMinLowercase" column="u_min_lowercase" />
		<result property="uMaxLowercase" column="u_max_lowercase" />
		<result property="uFgOnlyUppercase" column="u_fg_only_uppercase" />
		<result property="uFgOnlyLowercase" column="u_fg_only_lowercase" />
		<result property="uMinNumber" column="u_min_number" />
		<result property="uMaxNumber" column="u_max_number" />
		<result property="uMinSpecial" column="u_min_special" />
		<result property="uMaxSpecial" column="u_max_special" />
		<result property="pMinLength" column="p_min_length" />
		<result property="pMaxLength" column="p_max_length" />
		<result property="pMinUppercase" column="p_min_uppercase" />
		<result property="pMaxUppercase" column="p_max_uppercase" />
		<result property="pMinLowercase" column="p_min_lowercase" />
		<result property="pMaxLowercase" column="p_max_lowercase" />
		<result property="pMinNumber" column="p_min_number" />
		<result property="pMaxNumber" column="p_max_number" />
		<result property="pMinSpecial" column="p_min_special" />
		<result property="pMaxSpecial" column="p_max_special" />
		<result property="pwdValidPeriod" column="pwd_valid_period" />		
		<result property="fgUse" column="fg_use" />
		<result property="fgDefault" column="fg_default" />
		<result property="fgDelete" column="fg_delete" />
		<result property="pageNumber" column="page_number" />
		<result property="rowPerPage" column="row_per_page" />
		<result property="totalCount" column="total_count" />
		<association property="userGroup" foreignColumn="ug_seq" column="ug_seq" javaType="UserGroupEntity" select="org.jwebppy.platform.mgmt.user.mapper.UserGroupMapper.findUserGroup" />
	</resultMap>
	
	<insert id="insert" parameterType="CredentialsPolicyEntity" useGeneratedKeys="true" keyProperty="cpSeq">
		insert into pltf_credentials_policy (ug_seq, name, description, 
			u_min_length, u_max_length, u_min_uppercase, u_max_uppercase, u_min_lowercase, u_max_lowercase, u_fg_only_uppercase, u_fg_only_lowercase, u_min_number, u_max_number, u_min_special, u_max_special,
			p_min_length, p_max_length, p_min_uppercase, p_max_uppercase, p_min_lowercase, p_max_lowercase, p_min_number, p_max_number, p_min_special, p_max_special,
			pwd_valid_period, fg_use, fg_default, fg_delete, reg_username, reg_date) values (
			#{userGroup.ugSeq}, #{name}, #{description},
			#{uMinLength}, #{uMaxLength}, #{uMinUppercase}, #{uMaxUppercase}, #{uMinLowercase}, #{uMaxLowercase}, #{uFgOnlyUppercase}, #{uFgOnlyLowercase}, #{uMinNumber}, #{uMaxNumber}, #{uMinSpecial}, #{uMaxSpecial},
			#{pMinLength}, #{pMaxLength}, #{pMinUppercase}, #{pMaxUppercase}, #{pMinLowercase}, #{pMaxLowercase}, #{pMinNumber}, #{pMaxNumber}, #{pMinSpecial}, #{pMaxSpecial},
			#{pwdValidPeriod}, #{fgUse}, #{fgDefault}, 'N', #{regUsername}, #{regDate}
		)
	</insert>

	<update id="update" parameterType="CredentialsPolicyEntity">
		update pltf_credentials_policy set
			ug_seq=#{userGroup.ugSeq},
			name=#{name},
			description=#{description},
			u_min_length=#{uMinLength},
			u_max_length=#{uMaxLength},
			u_min_uppercase=#{uMinUppercase},
			u_max_uppercase=#{uMaxUppercase},
			u_min_lowercase=#{uMinLowercase},
			u_max_lowercase=#{uMaxLowercase},
			u_fg_only_uppercase=#{uFgOnlyUppercase},
			u_fg_only_lowercase=#{uFgOnlyLowercase},
			u_min_number=#{uMinNumber},
			u_max_number=#{uMaxNumber},
			u_min_special=#{uMinSpecial},
			u_max_special=#{uMaxSpecial},
			p_min_length=#{pMinLength},
			p_max_length=#{pMaxLength},
			p_min_uppercase=#{pMinUppercase},
			p_max_uppercase=#{pMaxUppercase},
			p_min_lowercase=#{pMinLowercase},
			p_max_lowercase=#{pMaxLowercase},
			p_min_number=#{pMinNumber},
			p_max_number=#{pMaxNumber},
			p_min_special=#{pMinSpecial},
			p_max_special=#{pMaxSpecial},
			pwd_valid_period=#{pwdValidPeriod},
			fg_use=#{fgUse},
			fg_default=#{fgDefault},			
			mod_username=#{modUsername},
			mod_date=#{modDate}
		where
			cp_seq=#{cpSeq}
	</update>
	
	<update id="updateFgDelete" parameterType="int">
		update pltf_credentials_policy set fg_delete='Y' where cp_seq=#{cpSeq}
	</update>
	
	<select id="findCredentialsPolicy" resultMap="credentialsPolicyEntityMap">
		select
		*
		from
		pltf_credentials_policy
		where
		fg_delete='N'
		and cp_seq=#{cpSeq}			
	</select>
	
	<select id="findCredentialsPolicies" parameterType="CredentialsPolicySearchDto" resultMap="credentialsPolicyEntityMap">
		select
		a.*
		from
		pltf_credentials_policy a
		where
		a.fg_delete='N'
		
		<if test="@org.jwebppy.platform.core.util.CmMyBatisQueryUtils@isNotEmpty(name)">
			and a.name=#{name}
		</if>
		
		<if test="@org.jwebppy.platform.core.util.CmMyBatisQueryUtils@isNotEmpty(fgUse)">
			and a.fg_use=#{fgUse}
		</if>
		
		<if test="@org.jwebppy.platform.core.util.CmMyBatisQueryUtils@isNotEmpty(fgDefault)">
			and a.fg_default=#{fgDefault}
		</if>
		
		order by a.cp_seq
	</select>
	
	<select id="findPageCredentialsPolicies" parameterType="CredentialsPolicySearchDto" resultMap="credentialsPolicyEntityMap">
		<include refid="PaginationMapper.header">
			<property name="orderBy" value="cp_seq desc"/>
		</include>

		select
		a.*
		from
		pltf_credentials_policy a
		where
		a.fg_delete='N'
		
		<if test="@org.jwebppy.platform.core.util.CmMyBatisQueryUtils@isNotEmpty(query)">
			and (upper(a.name) like concat('%', upper(trim(#{query})), '%') or upper(a.name) like concat('%', upper(trim(#{query})), '%'))
		</if>
		
		<if test="@org.jwebppy.platform.core.util.CmMyBatisQueryUtils@isNotEmpty(fgUse)">
			and a.fg_use=#{fgUse}
		</if>		
		
		<if test="@org.jwebppy.platform.core.util.CmMyBatisQueryUtils@isNotEmpty(fgDefault)">
			and a.fg_default=#{fgDefault}
		</if>
		
		<include refid="PaginationMapper.footer"/>
	</select>	
		
</mapper>