<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jwebppy.platform.mgmt.user.mapper.UserGroupMapper">
	<resultMap type="UserGroupEntity" id="userGroupEntityMap">
		<id property="ugSeq" column="ug_seq" />
		<result property="name" column="name" />
		<result property="description" column="description" />
		<result property="dateFormat1" column="date_format1" />
		<result property="timeFormat1" column="time_format1" />
		<result property="dateFormat2" column="date_format2" />
		<result property="timeFormat2" column="time_format2" />		
		<result property="timezone" column="timezone" />
		<result property="regUsername" column="reg_username" />
		<result property="regDate" column="reg_date" />
		<result property="modUsername" column="mod_username" />
		<result property="modDate" column="mod_date" />
		<association property="sapConnResource" foreignColumn="scr_seq" column="scr_seq" javaType="SapConnResourceEntity" select="org.jwebppy.platform.mgmt.conn_resource.mapper.SapConnResourceMapper.findSapConnResource" />
	</resultMap>
	
	<insert id="insert" parameterType="UserGroupEntity" useGeneratedKeys="true" keyProperty="ugSeq">
		insert into pltf_user_group (name, description, scr_seq, date_format1, time_format1, date_format2, time_format2, timezone, fg_delete, reg_username, reg_date) values (
			#{name}, #{description}, #{sapConnResource.scrSeq}, #{dateFormat1}, #{timeFormat1}, #{dateFormat2}, #{timeFormat2}, #{timezone}, 'N', #{regUsername}, #{regDate}
		) 
	</insert>

	<update id="update" parameterType="UserGroupEntity">
		update pltf_user_group set
			name=#{name},
			description=#{description},
			scr_seq=#{sapConnResource.scrSeq},
			date_format=#{dateFormat},
			time_format=#{timeFormat},
			timezone=#{timezone},
			mod_username=#{modUsername},
			mod_date=#{modDate}
		where
			ug_seq=#{ugSeq}
	</update>
	
	<update id="updateFgDelete">
		update pltf_user_group set
			fg_delete='Y',
			mod_username=#{modUsername},
			mod_date=#{modDate}
		where
			ug_seq=#{ugSeq}			
	</update>	

	<select id="findUserGroup" resultMap="userGroupEntityMap">
		select 
		*
		from
		pltf_user_group
		where
		fg_delete='N'
		and ug_seq=#{ugSeq}
	</select>

	<select id="findUserGroups" resultMap="userGroupEntityMap">
		select 
		*
		from
		pltf_user_group
		where
		fg_delete='N'
	</select>
	
	<select id="findfindPageUserGroups" resultMap="userGroupEntityMap">
		<include refid="PaginationMapper.header">
			<property name="orderBy" value="ug_seq desc"/>
		</include>
			
		select 
		*
		from
		pltf_user_group
		where
		fg_delete='N'
		
		<include refid="PaginationMapper.footer"/>
	</select>	
</mapper>