<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{platform/layout/popup/index}">

<th:block layout:fragment="content">
<div class="ui dividing header">
	Credentials Policy
	<div class="sub header"></div>
</div>
<form id="FORM_write" class="ui form" autocomplete="off" onsubmit="return false;">
<input type="hidden" name="cpSeq" th:value="${credentialsPolicy.cpSeq}"/>
<div class="ui segment">
	<div class="ui one column grid">
		<div class="column">
			<div id="BTN_save" class="ui teal button"><i class="check icon"></i> Save</div>
		</div>
	</div>
	<div class="ui divider"></div>
	<div class="field">
		<label class="required">User Group</label>
		<select class="ui dropdown" name="ugSeq">
			<option th:each="userGroup: ${userGroups}" th:value="${userGroup.ugSeq}" th:text="${userGroup.name}" th:selected="${userGroup.ugSeq == credentialsPolicy.userGroup.ugSeq}"></option>
		</select>
	</div>
	<div class="field">
		<label>Description</label>
		<textarea name="description" th:text="${credentialsPolicy.description}" rows="3"></textarea>
	</div>
	<div class="field">
		<div class="ui checkbox">
			<input type="checkbox" name="fgUse" class="hidden" th:value="${T(org.jwebppy.platform.core.PlatformCommonVo).YES}" th:checked="${credentialsPolicy.fgUse == T(org.jwebppy.platform.core.PlatformCommonVo).YES}" >
			<label>Use</label>
		</div>
	</div>
	<div class="field">
		<div class="ui checkbox">
			<input type="checkbox" name="fgDefault" class="hidden" th:value="${T(org.jwebppy.platform.core.PlatformCommonVo).YES}" th:checked="${credentialsPolicy.fgDefault == T(org.jwebppy.platform.core.PlatformCommonVo).YES}" >
			<label>Default</label>
		</div>
	</div>	
	<div class="ui secondary pointing menu">
		<a class="active item" data-tab="username">Username</a>
		<a class="item" data-tab="password">Password</a>
	</div>
	
	<div class="ui tab attached segment teal active" data-tab="username">
		<div class="field">
			<label class="required">Length</label>
			<div class="fields">
				<div class="eight wide field">
					<input type="text" name="uMinLength" th:value="${credentialsPolicy.uMinLength}" placeholder="Min."/>
				</div>
				<div class="eight wide field">
					<input type="text" name="uMaxLength" th:value="${credentialsPolicy.uMaxLength}" placeholder="Max."/>
				</div>
			</div>
		</div>
		<div class="field">
			<label>Lowercase</label>
			<div class="fields">
				<div class="eight wide field">
					<input type="text" name="uMinLowercase" th:value="${credentialsPolicy.uMinLowercase}" placeholder="Min."/>
				</div>
				<div class="eight wide field">
					<input type="text" name="uMaxLowercase" th:value="${credentialsPolicy.uMaxLowercase}" placeholder="Max."/>
				</div>
			</div>
		</div>
		<div class="field">
			<label>Uppercase</label>
			<div class="fields">
				<div class="eight wide field">
					<input type="text" name="uMinUppercase" th:value="${credentialsPolicy.uMinUppercase}" placeholder="Min."/>
				</div>
				<div class="eight wide field">
					<input type="text" name="uMaxUppercase" th:value="${credentialsPolicy.uMaxUppercase}" placeholder="Max."/>
				</div>
			</div>
		</div>
		<div class="field">
			<label>Number</label>
			<div class="fields">
				<div class="eight wide field">
					<input type="text" name="uMinNumber" th:value="${credentialsPolicy.uMinNumber}" placeholder="Min."/>
				</div>
				<div class="eight wide field">
					<input type="text" name="uMaxNumber" th:value="${credentialsPolicy.uMaxNumber}" placeholder="Max."/>
				</div>
			</div>
		</div>
		<div class="field">
			<label>Special</label>
			<div class="fields">
				<div class="eight wide field">
					<input type="text" name="uMinSpecial" th:value="${credentialsPolicy.uMinSpecial}" placeholder="Min."/>
				</div>
				<div class="eight wide field">
					<input type="text" name="uMaxSpecial" th:value="${credentialsPolicy.uMaxSpecial}" placeholder="Max."/>
				</div>
			</div>
		</div>
	</div>
	
	<div class="ui tab attached segment teal" data-tab="password">
		<div class="field">
			<label class="required">Length</label>
			<div class="fields">
				<div class="eight wide field">
					<input type="text" name="pMinLength" th:value="${credentialsPolicy.pMinLength}" placeholder="Min."/>
				</div>
				<div class="eight wide field">
					<input type="text" name="pMaxLength" th:value="${credentialsPolicy.pMaxLength}" placeholder="Max."/>
				</div>
			</div>
		</div>
		<div class="field">
			<label>Lowercase</label>
			<div class="fields">
				<div class="eight wide field">
					<input type="text" name="pMinLowercase" th:value="${credentialsPolicy.pMinLowercase}" placeholder="Min."/>
				</div>
				<div class="eight wide field">
					<input type="text" name="pMaxLowercase" th:value="${credentialsPolicy.pMaxLowercase}" placeholder="Max."/>
				</div>
			</div>
		</div>
		<div class="field">
			<label>Uppercase</label>
			<div class="fields">
				<div class="eight wide field">
					<input type="text" name="pMinUppercase" th:value="${credentialsPolicy.pMinUppercase}" placeholder="Min."/>
				</div>
				<div class="eight wide field">
					<input type="text" name="pMaxUppercase" th:value="${credentialsPolicy.pMaxUppercase}" placeholder="Max."/>
				</div>
			</div>
		</div>
		<div class="field">
			<label>Number</label>
			<div class="fields">
				<div class="eight wide field">
					<input type="text" name="pMinNumber" th:value="${credentialsPolicy.pMinNumber}" placeholder="Min."/>
				</div>
				<div class="eight wide field">
					<input type="text" name="pMaxNumber" th:value="${credentialsPolicy.pMaxNumber}" placeholder="Max."/>
				</div>
			</div>
		</div>
		<div class="field">
			<label>Special</label>
			<div class="fields">
				<div class="eight wide field">
					<input type="text" name="pMinSpecial" th:value="${credentialsPolicy.pMinSpecial}" placeholder="Min."/>
				</div>
				<div class="eight wide field">
					<input type="text" name="pMaxSpecial" th:value="${credentialsPolicy.pMaxSpecial}" placeholder="Max."/>
				</div>
			</div>
		</div>
	</div>
</div>
</form>
<script type="application/javascript">
$(document).ready(function() {
	$(".menu .item").tab();
	$(".ui.checkbox").checkbox();
	
	$("#FORM_write").form(formValidCheck);
	
	
	$("#BTN_save").on("click", function() {
		if ($("#FORM_write").form("validate form"))
		{
			JpUtilsAjax.post({
				url: JpUtilsPath.url("/platform/mgmt/user/credentials/policy/save"),
				data: $("#FORM_write").serialize(),
				success: function(data, textStatus, jqXHR)
				{
					if (data.RESULT > 0)
					{
						opener.doSearch();
						window.close();
					};
				}
			});
		};			
	});
});

let formValidCheck = {
		inline: true,
		fields: {
			Name: {
				identifier: "name",
				rules: [
					{
						type: "empty",
						prompt: "Please enter Name."
					}
				]
			},
			uMinLength: {
				identifier: "uMinLength",
				rules: [
					{
						type: "empty",
						prompt: "Please enter a minimum length of username."
					}
				]
			},
			uMaxLength: {
				identifier: "uMaxLength",
				rules: [
					{
						type: "empty",
						prompt: "Please enter a maximum length of username."
					}
				]
			},
			pMinLength: {
				identifier: "pMinLength",
				rules: [
					{
						type: "empty",
						prompt: "Please enter a minimum length of password."
					}
				]
			},
			pMaxLength: {
				identifier: "pMaxLength",
				rules: [
					{
						type: "empty",
						prompt: "Please enter a maximum length of password."
					}
				]
			}
		},
		keyboardShortcuts: false
	};
</script>
</th:block>
</html>