
td.xfeToolbar span.off {
	filter: alpha(opacity=30);
	opacity: 0.30;
}

td.xfeToolbar span.off div,
td.xfeToolbar span.off div span {
	filter: alpha(opacity=30);
	opacity: 0.30;
}


.xfe-context-menu td.text.hover {
	background-color : #e7f0ff;	
	color : #000000;
	font-weight : bold;
}

div.xfeBottomButton.off {
	filter: alpha(opacity=30);
	opacity: 0.30;
}

div.xfe-sub-menu span.hover {
	background-color : #D9E5FF;
}


td.xfeMenubar li.off {

	filter: alpha(opacity=30) !important;
	opacity: 0.30 !important;
	
}

td.xfeMenubar ul.xfe-menubar-title-ul.off {

	filter: alpha(opacity=30) !important;
	opacity: 0.30 !important;
}