.xfeChartWrapper {
	display : inline-block;
	border : 1px solid #989898;
	padding : 15px;
	position : relative;
}

.xfeChartWrapper .title_wrapper {
	padding : 10px;
	display : block;
	margin-bottom : 10px;	
}

.xfeChartWrapper .title {
	font-size : 17px;
	border : 1px solid #CECECE;
	padding : 10px;
	display : block;
}

.xfeChartWrapper .legend_wrapper {
	margin: 30px 30px 10px 30px;
	display: inline-block;
}

