@import url('xfe-chart-data.css');

body {
	padding:8px;
	margin:0px;
	
}

/* Rule to fix quirks-mode inheritance behavior */
/* IE 에서는 body 태그에 있는 글자 크기 및 글꼴이 테이블 내부에 적용 되지 않기 때문에 추가. */
table, caption {
	/*
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-variant: inherit;
  */
}

img::selection {
	
	background: none;
}

.xfe_zb {
	border-left : #d3d3d3 1px dotted;	 
	border-top : #d3d3d3 1px dotted;
	border-right : #d3d3d3 1px dotted;
	border-bottom : #d3d3d3 1px dotted;
	
	line-height : 1;
	*line-height : ;	/* IE 7 이하의 브라우저에 작용. */
}

.xfe_zb_nolh {
	border-left : #d3d3d3 1px dotted;	 
	border-top : #d3d3d3 1px dotted;
	border-right : #d3d3d3 1px dotted;
	border-bottom : #d3d3d3 1px dotted;	
}

input.xfe_hidden_style {
	border : 1px dashed red;
}

.xfe_select_object {
	position: relative;
}

[contenteditable=true]:hover {
    cursor:text;
}

.xfe_wa {
	/*border : 1px dotted #FF0000;*/
	cursor : text;	
}

.xfe_pagebreak {
	height: 5px !important;
	width : 98% !important;
	border : 1px dotted #FF5E00 !important;
	*font-size : 0px;
}

.xfe_pagebreak.hidden {
	height: 5px !important;
	width : 98% !important;
	border : 0px dotted #FF5E00 !important;
	*font-size : 0px;
}

.xfe_bookmark {
	background : url(../images/common/bookmark-1.png) no-repeat;
	margin : 0px 3px;
}

.xfe-rh-lt:hover, .xfe-rh-ct:hover, .xfe-rh-rt:hover, .xfe-rh-lm:hover,
.xfe-rh-rm:hover, .xfe-rh-lb:hover, .xfe-rh-cb:hover, .xfe-rh-rb:hover {

	border-color : #5587ED !important;
}




