<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title th:text="#{PTL_T_APP_NAME}"></title>

<link rel="stylesheet" type="text/css" th:href="@{/portal/css/layout/iv/login.css}" />

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/portal/js/portal.utils.progressbar.js}"></script>
<body>
<form id="FORM_login" method="post" th:action="${T(org.jwebppy.portal.common.PortalConfigVo).FORM_LOGIN_PROCESSING_URL}">
<input type="hidden" name="system" th:value="${system}" />
<input type="hidden" name="key" th:value="${key}" />
</form>
</body>
<script>
$(function(){
	$("#FORM_login").submit();
	ProgressBar.show();
});
</script>
</html>