<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/hq/parts/common/index}">
	
<th:block layout:fragment="content">
	<script src="/editor_html5/js/xfe_main.js"></script>
	<script th:src="@{/portal/js/portal.utils.xfree.js}"></script>
	
	<div class="block-header">
		<div class="block-title" th:text="#{HQP_T_PROMOTION}"></div>
		<div class="block-button-area">
			<th:block >
				<button id="BTN_modify" type="button" th:text="#{HQP_B_MODIFY}"></button>
				<button id="BTN_delete" type="button" th:text="#{HQP_B_DELETE}"></button>
			</th:block>
			<button id="BTN_back" type="button" th:text="#{HQP_B_BACK}" ></button>
		</div>	
	</div>
	
	<div id="boardViwer" class="condition-area">
	<form id="FORM_search" th:action="|${BASE_PATH}/promotion/list|" >
	<input type="hidden" name="pSeq" th:value="*{pSeq}"/>
	<input type="hidden" name="title" th:value="*{title}"/>
	<input type="hidden" name="fromRegDate" th:value="*{fromRegDate}"/>
	<input type="hidden" name="toRegDate" th:value="*{toRegDate}"/>
	<input type="hidden" name="pageNumber" th:value="*{pageNumber}"/>
	<input type="hidden" name="state" th:value="*{state}"/>
	<table class="condition table-fixed">
		<tbody>
			<tr>
				<th><span th:text="#{HQP_L_TITLE}"></span></th>
				<td th:text="${promotion.title}" colspan="3"/>
			</tr>
			<tr>
				<th th:text="#{HQP_L_WRITER}"></th>
				<td th:text="${promotion.writer}"></td>
				<th th:text="#{HQP_L_REG_DATE}"></th>
				<td th:text="${promotion.displayRegDate2}"></td>
			</tr>
			<tr>
				<td colspan="4"><div id="xfe"></div></td>
			</tr>
			<tr >
				<th th:text="#{HQP_L_VISIBLE_TARGET}"/>
				<td colspan="3">
					<div th:each="promotionTarget : ${promotion.promotionTargets}">
						<span th:text="${promotionTarget.code}"></span><div class='split2'></div><span th:text="${promotionTarget.description}"></span>
					</div>				
				</td>			
			</tr>
			<tr >
				<th th:text="#{HQP_L_VISIBLE_PERIOD}"/>
				<td colspan="3">
					<span th:text="${promotion.displayFromView}"></span>
					<span th:if="${not #strings.isEmpty(promotion.displayToView)}" th:text="| - ${promotion.displayToView}|"></span>
				</td>
			</tr>
			<tr >
				<th th:text="#{HQP_L_POPUP_WIDTH}"/> 
				<td>[[${promotion?.width == null ? '' : promotion.width}]] <span th:text="#{HQP_L_PIXCEL}"></span></td>
				<th th:text="#{HQP_L_POPUP_HEIGHT}"/>
				<td>[[${promotion?.height  == null ? '' : promotion.height }]] <span th:text="#{HQP_L_PIXCEL}"></span></td>
			</tr>
			<tr >
				<th th:text="#{HQP_L_BANNER_IMAGE}"/>
				<td colspan="3">
					<div th:each="uploadFileList : ${promotion.uploadFileLists}">
						<a class="link" th:text="${uploadFileList.fullOriginName}" th:downloadKey="${uploadFileList.downloadKey}"></a><div class='split2'></div><span th:text="${uploadFileList.displayFileSize}"></span>
						<input name="uflSeqs" type="hidden" th:value="${uploadFileList.uflSeq}" />
					</div>
				</td>
			</tr>
			<tr >
				<th th:text="#{HQP_L_ATTACHMENT}"/>
				<td colspan="3">
					<div th:each="uploadFileList : ${promotion.uploadFileLists2}">
						<a class="link" th:text="${uploadFileList.fullOriginName}" th:downloadKey="${uploadFileList.downloadKey}"></a><div class='split2'></div><span th:text="${uploadFileList.displayFileSize}"></span>
						<input name="uflSeqs2" type="hidden" th:value="${uploadFileList.uflSeq}" />
					</div>
				</td>
			</tr>
			<tr >
				<th th:text="#{HQP_L_PROMOTION_MATERIAL}"/>
				<td colspan="3">
					<div th:each="promotionItem : ${promotion.promotionItems}">
						<span th:text="${promotionItem.materialNo}" style="width:400px;"></span><div class='split2'></div><span th:text="${promotionItem.materialText}"></span>
					</div>				
				</td>			
			</tr>
		</tbody>
	</table>
	</form>
	</div>
	<textarea id="htmlContent" th:text="${promotion.htmlContent}" style="display:none;"></textarea>
<script>
$(window).on("load", function() {
	ProgressBar.hide();
});

$("#BTN_modify").on("click", function() {
	$("#FORM_search")
		.attr("action", "[[${BASE_PATH}]]/promotion/write")
		.submit();
});

$("#BTN_delete").on("click", function() {
	if (confirm("[[#{HQP_M_CONFIRM_DELETE}]]"))
	{
		JpUtilsAjax.post({
			url: "[[${BASE_PATH}]]/promotion/delete",
			data: $("#FORM_search").serialize(),
			success: function(data, textStatus, jqXHR) {
				$("#BTN_back").trigger("click");
			}		
		});		
	};
});

$("#BTN_back").on("click", function() {
	$("#FORM_search").submit();
});

$("a[downloadKey]").on("click", function() {					
	PortalFileDownload.download($(this).attr("downloadKey"));
});

let xfe = new XfreeViewr({
	target: "xfe",
	htmlContent: $("#htmlContent").val()
});
xfe.render();	
</script>
</th:block>	
