<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jwebppy.portal.iv.board.mapper.EpBoardContentTargetMapper">
	<insert id="insert" parameterType="EpBoardContentTargetEntity">
		insert into ep_board_content_target (bc_seq, code, description, type, fg_delete, reg_username, reg_date) values (
			#{bcSeq}, #{code}, #{description}, #{type}, 'N', #{regUsername}, #{regDate}
		)
	</insert>
	
	<insert id="updateFgDelete" parameterType="EpBoardContentTargetEntity">
		update ep_board_content_target set
			fg_delete='Y',
			mod_username=#{modUsername},
			mod_date=#{modDate}
		where
			bc_seq=#{bcSeq}
	</insert>
	
	<select id="findBoardContentTargets" resultType="EpBoardContentTargetEntity">
		select
		*
		from
		ep_board_content_target
		where
		bc_seq=#{bcSeq}
		and fg_delete='N'
	</select>
</mapper>