<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/hq/parts/common/index}">

<th:block layout:fragment="content">
	<!-- Modal for upload simulation -->
	<div class="dropzone-dimmer dimmer"></div>
	<div class="dropzone-area">
		<div class="dropzone-area-top"></div>
		<div class="dropzone-body dropzone-click-zone">
			<div class="dropzone-click-zone" style="height:20px"></div>
			<img class="dropzone-body-img dropzone-click-zone" src="/portal/img/icon/upload_file.png"/>
			<div class="dropzone-body-content dropzone-click-zone" th:text="#{HQP_T_HOW_TO_UPLOAD_SIMULATION}"></div>
			<div class="dropzone-body-content dropzone-click-zone" th:text="#{HQP_T_ITEMS_COPY_PASTE}"></div>
			<hr style="width:95%;"/>
			<div class="dropzone-body-content dropzone-click-zone">
				<span class="bold">*[[#{HQP_T_GUIDE_ORDER_UPLOAD_FORM1}]]</span><br/>
				- A: [[#{HQP_T_GUIDE_ORDER_UPLOAD_FORM2}]]<br/>
				- B: [[#{HQP_T_GUIDE_ORDER_UPLOAD_FORM3}]]
				<img class="dropzone-body-img dropzone-click-zone" src="/portal/img/iv/hq/parts/common/upload_form.png"/>
			</div>
		</div>
		<div class="dropzone-bottom dropzone-click-zone">
			<button type="button" onclick="UploadModal.hide()">[[#{HQP_B_CANCEL}]]</button>
		</div>
	</div>
	<!-- Modal for upload simulation -->

	<div class="block-header">
		<div class="block-title" th:text="#{HQP_T_ORDER_CREATE}"></div>
		<div class="block-button-area">
			<button id="BTN_create" type="button" th:text="#{HQP_B_CREATE}"></button>
			<button id="BTN_shoppingCart" type="button" th:text="#{HQP_B_SHOPPING_CART}"></button>
		</div>
	</div>

	<div class="condition-area">
	<form id="FORM_order">
	<input type="hidden" id="soldToNo" name="soldToNo"/><!-- KUNNR -->

	<!-- Ship to Party. -->
	<input type="hidden" id="shipToNo" name="shipToNo"/><!-- KUNAG -->
	<input type="hidden" id="shipToName" name="shipToName"/><!-- KUNAG_NAME -->
	<input type="hidden" id="shipToStreet" name="shipToStreet"/><!-- KUNAG_STREET -->
	<input type="hidden" id="transferZone" name="transferZone"/><!-- TZONE -->
	<input type="hidden" id="priceGroup" name="priceGroup"/><!-- KONDA -->

	<!-- Shipping Info. -->
	<input type="hidden" id="shippingCondition" name="shippingCondition"/>
	<input type="hidden" id="shippingConditionName" name="shippingConditionName"/>
	<input type="hidden" id="route" name="route"/>
	<input type="hidden" id="routeName" name="routeName"/>
	<input type="hidden" id="paymentTerms" name="paymentTerms"/>
	<input type="hidden" id="paymentTermsName" name="paymentTermsName"/>
	<input type="hidden" id="incoterms1" name="incoterms1"/>
	<input type="hidden" id="incoterms2" name="incoterms2"/>

	<input type="hidden" id="currency" name="currency"/>
	<input type="hidden" id="fileName" name="fileName"/><!-- Uploaded file name in excel format -->
	<input type="hidden" id="lineNo" name="lineNo"/>
	<input type="hidden" id="materialNo" name="materialNo"/>
	<input type="hidden" id="orderQty" name="orderQty"/>
	<input type="hidden" id="lotQty" name="lotQty"/>
	<input type="hidden" id="uom" name="uom"/>
	<input type="hidden" id="availability" name="availability"/>
	<input type="hidden" id="blockReason" name="blockReason"/>
	<input type="hidden" id="message" name="message"/>
	<input type="hidden" id="pricingInfo" name="pricingInfo"/>

	<input type="hidden" id="ohhSeq" name="ohhSeq" th:value="${orderHistoryHeader?.ohhSeq}"/>
	<input type="hidden" id="refSeq" name="refSeq" th:value="${orderHistoryHeader?.refSeq}"/>
	<input type="hidden" id="refSystem" name="refSystem" th:value="${orderHistoryHeader?.refSystem}"/>
	<input type="hidden" id="simulationFrom" name="simulationFrom" th:value="${simulationFrom}"/>

	<table class="condition">
		<tbody>
			<tr>
				<th colspan="4">
					<div class="input-area">
						<input type="radio" class="custom-ui" id="docType1" name="docType" value="C" checked />
						<label th:text="#{HQP_L_ORDER}"></label>
						<input type="radio" class="custom-ui" id="docType2" name="docType" value="A" />
						<label th:text="#{HQP_L_INQUIRY}"></label>
					</div>
				</th>
			</tr>
			<tr>
				<th th:text="#{HQP_L_ORDER_TYPE}"></th><!-- Order Type -->
				<td><div class="input-area order-type"></div></td>
				<th>
					[[#{HQP_L_SHIP_TO_PARTY}]] <button id="BTN_shipToParty" type="button" th:text="#{HQP_B_GET_DATA}" class="small_button"></button>
				</th>
				<td><div id="AREA_shipToAddress"></div></td>
			</tr>
			<tr>
				<th>
					[[#{HQP_L_PO_NO}]] <img src="/portal/img/icon/required.png" class="required" />
				</th>
				<td>
					<div class="input-area">
						<input type="text" id="poNo" name="poNo" class="custom-ui" readonly th:value="${poNo}"/>
					</div>
				</td>
				<th rowspan="2">
					[[#{HQP_L_SHIPPING_INFO}]] <button id="BTN_shippingInfo" type="button" th:text="#{HQP_B_GET_DATA}" class="small_button"></button>
				</th>
				<td rowspan="2">
					<table class="table-inner table-fixed shippin-info">
						<thead>
							<tr>
								<th th:text="#{HQP_L_SHIPPING_CONDITION}"></th>
								<th th:text="#{HQP_L_ROUTE}"></th>
								<th th:text="#{HQP_L_PAYMENT_TERMS}"></th>
								<th th:text="#{HQP_L_INCOTERMS1}"></th>
								<th th:text="#{HQP_L_INCOTERMS2}"></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="shipping-condition"></td>
								<td class="route"></td>
								<td class="payment-terms"></td>
								<td class="incoterms1"></td>
								<td class="incoterms2"></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<th th:text="#{HQP_L_RDD}"></th>
				<td>
					<div class="input-area">
						<input type="text" id="rdd" name="rdd" class="custom-ui" readonly />
					</div>
				</td>
			</tr>
			<tr>
				<th th:text="#{HQP_L_REMARKS}"></th><!-- Remarks -->
				<td colspan="3">
					<input type="text" id="remark" name="remark" class="custom-ui"/>
				</td>
			</tr>
		</tbody>
	</table>
	</form>
	</div>
	<div class="split-row"></div>

	<div class="grid-info">
		<div class="block-button-area">
			<button id="BTN_addRow" type="button">[[#{HQP_B_ADD}]]</button>
			<button id="BTN_deleteRow" type="button">[[#{HQP_B_DELETE}]]</button>
			<button id="BTN_simulation" type="button">[[#{HQP_B_SIMULATION}]]</button>
			<button id="BTN_upload" type="button">[[#{HQP_B_UPLOAD}]]</button>
			<button id="BTN_download" type="button">[[#{HQP_B_DOWNLOAD}]]</button>
			<button id="BTN_priceInfo" type="button">[[#{HQP_B_PRICE_INFO}]]</button>
			<button id="BTN_errorReport" type="button">[[#{HQP_B_ERROR_REPORT}]]</button>
		</div>
		<div class="grid-total">
			<span th:text="#{HQP_T_TOTAL_AMOUNT}"></span>
			<div class="split"></div>
			<span class="total-number" id="totalAmount"></span>
			<div class="split2"></div>
			<span th:text="#{HQP_T_CREDIT}"></span>
			<div class="split"></div>
			<span class="total-number" id="credit"></span>
			<div class="split2"></div>
			<span th:text="#{HQP_T_ESTIMATE_WEIGHT}"></span>
			<div class="split"></div>
			<span class="total-number" id="totalWeight"></span>
		</div>
	</div>

	<div id="AREA_grid" class="flex-grow grid-area">
		<table id="TBL_grid" class="order-column stripe compact"></table>
	</div>
<script>
$("input:radio[name=docType][value='[[${docType}]]']").prop("checked", true);

var errorOrderItems;//시뮬레이션 후 에러 보고를 담아 둠
var initialMaterialNos = [];
var initialOrderQties = [];

let UploadModal = {};
UploadModal.show = function() {
	let width = 480;
	let height = 450;
	let left = ($(window).innerWidth() - width) * 0.5;
	let top = ($(window).innerHeight() - height) * 0.5;

	$(".dropzone-area").css({
		"width": width,
		"height": height,
		"left": left,
		"top": top
	});

	$(".dropzone-dimmer").css({
		"width": "100%",
		"height": "100%"
	});

	$(".dropzone-dimmer, .dropzone-area").show();

	$(document).on("paste", function(event) {
		triggerPasteFromClipload(event);
	});
};

UploadModal.hide = function()
{
	$(".dropzone-dimmer, .dropzone-area").hide();

	$(document).off("paste");
};

$(".dropzone-click-zone").dropzone({
	url: "[[${BASE_PATH}]]/order/create/simulation/upload",
	maxFilesize: 5, //MB
	acceptedFiles: ".xls,.xlsx",
	accept: function(file, done)
	{
		done();
	},
	addedfile: function(file)
	{
	},
	sending: function(file, xhr, formData)
	{
		xhr.setRequestHeader(JpUtilsSecurity.CSRF.NAME, JpUtilsSecurity.CSRF.TOKEN);
	},
	success: function(file, response)
	{
		$("#fileName").val(response.RESULT);
		doSimulation();
	},
	complete: function(file)
	{
	},
	error: function(file, error, xhr)
	{
	},
	drop: function()
	{
		//console.log("drop");
	},
	dragenter: function(e)
	{
		//console.log("dragenter");
	},
	dragover: function(e)
	{
		//console.log("dragover");
	},
	dragleave: function(e)
	{
		//console.log("dragleave");
	}
});

function resetInitialItems()
{
	initialMaterialNos = [];
	initialOrderQties = [];
};

function triggerPasteFromClipload(event)
{
	resetInitialItems();

	let rows = event.originalEvent.clipboardData.getData("Text").split(String.fromCharCode(13));//13:CR
	let items = [];
	let isValid = true;

	$.each(rows, function(index, element) {
		let item = element.split(String.fromCharCode(9));//9:tab

		if (item[0].trim() != null && item[0].trim() != "")
		{
			initialMaterialNos.push(JpUtilsString.replaceAll(item[0], String.fromCharCode(13), ""));
			initialOrderQties.push(JpUtilsString.replaceAll(JpUtilsString.defaultString(item[1], "1"), String.fromCharCode(13), ""));
		};
	});

	doSimulation();
};

//주문유형 가져오기
let orderComponent = new OrderComponent();
orderComponent.isAsync = false;
orderComponent.success = function(response, textStatus, jqXHR)
{
	setDefaultHeaderInfo();

	$("#orderType").on("change", function() {
		changeOrderType();
	});
};
orderComponent.makeOrderType($(".order-type"), "orderType", null, false, "docType=" + $("input:radio[name=docType]:checked").val());

function setDefaultHeaderInfo()
{
	JpUtilsAjax.get({
		url: "[[${BASE_PATH}]]/order/create/header_info",
	    success: function(response, textStatus, jqXHR)
	    {
	    	let result = response.RESULT;

	    	$("#soldToNo").val(result.KUNNR);
	    	$("#incoterms1").val(result.INCO1);
	    	$("#incoterms2").val(result.INCO2);
	    	$("#currency").val(result.WAERS);
	    	$("#paymentTerms").val(result.ZTERM);

	    	let shipToNo = (JpUtilsString.isEmpty(result.KUNAG)) ? result.KUNNR : result.KUNAG;

	    	setShipToParty({
	    		shipToNo: shipToNo,
	    		shipToName: result.KUNAG_NAME,
	    		shipToAddress: result.KUNAG_STREET
	    	});

	    	changeOrderType();
	    }
	});
};

function changeOrderType()
{
	JpUtilsAjax.get({
		url: "[[${BASE_PATH}]]/order/create/header_info",
		data: "orderType=" + orderComponent.getSelectedOrderType() + "&priceGroup=" + orderComponent.getSelectedPriceGroup() + "&docType=" + orderComponent.getSelectedDocType(),
	    success: function(response, textStatus, jqXHR)
	    {
	    	let result = response.RESULT;

	    	/* Change shipping condition info. */
	    	setShippingInfo({
	    		shippingCondition: result.VSBED,
	    		shippingConditionName: result.VSBED_TEXT,
	    		route: result.ROUTE,
	    		routeName: result.ROUTE_TEXT,
	    		paymentTerms: result.ZTERM,
	    		paymentTermsName: result.ZTERM_TEXT,
	    		incoterms1: result.INCO1,
	    		incoterms2: result.INCO2
	    	});

	    	$("#priceGroup").val(orderComponent.getSelectedPriceGroup());

	    	resetDoneSimulation();
	    }
	});
};

function _callbackShipToParty(result)
{
	setShipToParty(result);
};

function setShipToParty(result)
{
	$("#shipToNo").val(result.shipToNo);
	$("#shipToName").val(result.shipToName);
	$("#shipToStreet").val(result.shipToStreet);
	$("#transferZone").val(result.transferZone);

	let shipToAddress = [];

	shipToAddress.push(result.shipToName);

	if (JpUtilsString.isNotEmpty(result.shipToStreet))
	{
		shipToAddress.push(result.shipToStreet);
	};

	if (JpUtilsString.isNotEmpty(result.transferZone))
	{
		shipToAddress.push(result.transferZone);
	};

	$("#AREA_shipToAddress").html(shipToAddress.join(", "));

	resetDoneSimulation();
};

function _callbackShippingInfo(result)
{
	setShippingInfo(result);

	doSimulation();
};

function setShippingInfo(result)
{
	$("#shippingCondition").val(result.shippingCondition);
	$("#shippingConditionName").val(result.shippingConditionName);
	$("#route").val(result.route);
	$("#routeName").val(result.routeName);
	$("#paymentTerms").val(result.paymentTerms);
	$("#paymentTermsName").val(result.paymentTermsName);
	$("#incoterms1").val(result.incoterms1);
	$("#incoterms2").val(result.incoterms2);

	$(".shipping-condition").html(result.shippingConditionName);
	$(".route").html(result.routeName);
	$(".payment-terms").html(result.paymentTermsName);
	$(".incoterms1").html(result.incoterms1);
	$(".incoterms2").html(result.incoterms2);
};

function makeItemParameter()
{
	let items = {
		lineNos: [],
		materialNos: [],
		orderQties: [],
		lotQties: [],
		uoms: [],
		availabilities: []
	};

	try
	{
		let tds = $tableObj.columns(0).nodes()[0];

		for (let i=0, length=tds.length; i<length; i++)
		{
			let row = $tableObj.row(i);
			let data = row.data();

			if (data.disabled == "disabled")
			{
				continue;
			};

			let node = $(row.node());
			let materialNo = node.find("input[name=materialNo]").val();
			let orderQty = node.find("input[name=orderQty]").val();

			items.lineNos.push(data.lineNo);
			items.materialNos.push(materialNo);
			items.orderQties.push(orderQty);
			items.lotQties.push(data.lotQty);
			items.uoms.push(data.uom);
			items.availabilities.push(JpUtilsString.defaultString(data.availability, "^"));
		};
	}
	catch (e) {}

	return items;
};

function doValidation()
{
	//시뮬레이션 실행 내역 초기화
	resetDoneSimulation();

	$tableObj.ajax.reload();

	ProgressBar.show();
};

function doSimulation()
{
	//직접 입력한 후 시뮬레이션 했을 경우
	if (JpUtilsString.isEmpty($("#fileName").val()) && JpUtilsString.isEmpty($("#simulationFrom").val()))
	{
		if (initialMaterialNos.length == 0)
		{
			let itemParameter = makeItemParameter();

			let materialNos = itemParameter.materialNos;
			let orderQties = itemParameter.orderQties;

			if (materialNo.length == 0 || orderQties.length == 0 || materialNos.length != orderQties.length)
			{
				alert("[[#{HQP_M_EMPTY_PART_QTY}]]");
				JpUiForm.input.on.focus($("#TBL_grid input[name=orderQty][value='']:first, input[name=materialNo][value='']:first"));
				return;
			};
		};

		if (JpUtilsString.isEmpty($("#shippingCondition").val()))
		{
			alert("[[#{HQP_L_EMPTY_SHIPPING_INFO}]]");
			return;
		};
	};

	//시뮬레이션 실행 내역 초기화
	resetDoneSimulation();

	$tableObj.ajax.reload();

	UploadModal.hide();
	ProgressBar.show();
};

function resetDoneSimulation()
{
	$("#rdd").val("");
	$("#BTN_priceInfo").val("");
};

function isDoneSimulation()
{
	if ($("#rdd").val() == "")
	{
		return false;
	}

	return true;
};

function setParsNo(partNo)
{
	$(obj).siblings("input[name=materialNo]").val(partNo);
};

$("#docType1, #docType2").on("click", function() {
	document.location.href = "[[${BASE_PATH}]]/order/create/write?docType=" + $(this).val();
});

$("#BTN_shipToParty").on("click", function(event) {
	Popup.open("[[${BASE_PATH}]]/order/create/popup/ship_to_party", 1100, 600);
});

$("#BTN_onetimeAddress").on("click", function() {
	Popup.open("[[${BASE_PATH}]]/order/create/onetime_address_list", 1200, 600);
});

$("#BTN_shippingInfo").on("click", function(event) {
	let param = "orderType=" + orderComponent.getSelectedOrderType() + "&priceGroup=" + orderComponent.getSelectedPriceGroup() + "&customerNo=" + $("#soldToNo").val();

	Popup.open("[[${BASE_PATH}]]/order/create/popup/shipping_info?" + param, 1000, 500);
});

$("#BTN_addRow").on("click", function() {
	for (let i=0; i<10; i++)
	{
		let lastRow = $tableObj.row(":last").data();
		let lastLineNo = Number(lastRow.lineNo);
		let nextLineNo = JpUtilsString.padLeft((parseInt(lastLineNo * 0.1) + 1) * 10, "0", 6);

		$tableObj.row.add(lastRow).draw();

		$tableObj.cell($tableObj.rows().count()-1, 1).data(nextLineNo);
	};
});

$("#BTN_deleteRow").on("click", function() {
	let tds = $tableObj.columns(0).nodes()[0];

	for (let i=0,length=tds.length; i<length; i++)
	{
		let $td = $(tds[i]);

		if ($td.find("input:checkbox").is(":checked"))
		{
			let row = $tableObj.row($td);
			let lineNo = row.data().lineNo;

			for (let j=i+1; j<length; j++)
			{
				let subRow = $tableObj.row($(tds[j]));
				let higherLineNo = subRow.data().higherLineNo;

				if (higherLineNo == "000000")
				{
					break;
				};

				if (lineNo == higherLineNo)
				{
					subRow.remove().draw(false);
				};
			};

			row.remove().draw(false);
		};
	};

	if ($tableObj.rows().count() == 0)
	{
		$tableObj.ajax.reload();
	};

	resetDoneSimulation();
});

$("#BTN_simulation").on("click", function() {
	doSimulation();
});

$("#BTN_upload").on("click", function() {
	if ($("#shippingCondition").val() == "")
	{
		alert("[[#{HQP_M_EMPTY_SHIPPING_INFO}]]");
		return;
	};

	UploadModal.show();
});

$("#BTN_download").on("click", function() {
	let gridFileDownload = new GridFileDownload($tableObj);
	gridFileDownload.fileName = "item_list";
	gridFileDownload.excelDownload();
});

$("#BTN_priceInfo").on("click", function() {
	if (!isDoneSimulation())
	{
		alert("[[#{HQP_M_DO_SIMULATION_FOR_PRICE_INFO}]]");
		return;
	};

	Modal.show("[[#{HQP_T_PRICE_INFO}]]", 700, 450, $("#pricingInfo").val());
});

$("#BTN_errorReport").on("click", function() {
	Popup.open("[[${BASE_PATH}]]/order/create/popup/error_report", 1200, 400);
});

$("#BTN_create").on("click", function() {
	if (JpUtilsString.isEmpty($("#poNo").val()))
	{
		alert("[[#{HQP_M_EMPTY_PONO}]]");
		$("#poNo").focus();
		return;
	};

	if ($("#TBL_grid input[name=orderQty]").hasClass("warn"))
	{
		alert("[[#{HQP_M_INVALID_SALES_LOT}]]");
		$("#TBL_grid input[name=orderQty].warn:first-child").select();
		return;
	};

	if (!isDoneSimulation())
	{
		alert("[[#{HQP_M_DO_SIMULATION}]]");
		return;
	};

	if (JpUtilsString.isNotEmpty($("#blockReason").val()))
	{
		alert($("#blockMessage").val());
	};

	let confirmMsg = "[[#{HQP_M_CONFIRM_SAVE_ORDER}]]";

	if ($("#docType1").is(":checked"))
	{
		confirmMsg = JpUtilsString.replaceAll(confirmMsg, "{0}", "[[#{HQP_T_ORDER}]]");
	}
	else
	{
		confirmMsg = JpUtilsString.replaceAll(confirmMsg, "{0}", "[[#{HQP_T_INQUIRY}]]");
	};

	if (!confirm(confirmMsg))
	{
		return;
	};

	let itemParameter = makeItemParameter();

	$("#lineNo").val(itemParameter.lineNos.join("^"));
	$("#materialNo").val(itemParameter.materialNos.join("^"));
	$("#orderQty").val(itemParameter.orderQties.join("^"));
	$("#lotQty").val(itemParameter.lotQties.join("^"));
	$("#uom").val(itemParameter.uoms.join("^"));
	$("#availability").val(itemParameter.availabilities.join("^"));

	JpUtilsAjax.post({
		url: "[[${BASE_PATH}]]/order/create/save",
		method: "POST",
		data: $("#FORM_order").serialize(),
		beforeSend: function(jqXHR, settings)
		{
			ProgressBar.show();
		},
	    success: function(response, textStatus, jqXHR)
	    {
	    	let result = response.RESULT;

	    	let orderNo = $.trim(result.orderNo);

	    	if (orderNo != "")
	    	{
	    		let path = "order";
	    		let message = JpUtilsString.replaceAll("[[#{HQP_M_CREATE_ORDER_RESULT}]]", "{1}", orderNo);

	    		if ($("#docType2").is(":checked"))
	    		{
	    			path = "inquiry";
	    			message = JpUtilsString.replaceAll(message, "{0}", "[[#{HQP_T_INQUIRY}]]");
	    		}
	    		else
	    		{
	    			message = JpUtilsString.replaceAll(message, "{0}", "[[#{HQP_T_ORDER}]]");
	    		};

	    		alert(message);

	    		document.location.href = "[[${BASE_PATH}]]/order/display/" + path + "/view?orderNo=" + orderNo;
	    	}
	    	else
	    	{
	    		let errorMsg = $.trim(result.errorMsg);

	    		if (errorMsg == "DUPLICATED_ORDER")
	    		{
	    			errorMsg = "[[#{HQP_M_EXIST_SAME_ORDER}]]";
	    		};

	    		alert(errorMsg);

	    		ProgressBar.hide();
	    	};
	    },
	    error: function(jqXHR, textStatus, errorThrown)
    	{
    		ProgressBar.hide();
    	}
	});
});

$("#BTN_shoppingCart").on("click", function() {
	$("#simulationFrom").val("GPES");

	doSimulation();
});

$(function(){
	let tabIndex = 1;

	$tableObj = $("#TBL_grid").DataTable({
		columns: [
			{// 컬럼에 checkbox 설정
				name: "chk",
				title:"<input type='checkbox' class='custom-ui check-all' onchange='syncInput(this)' onclick='allChecked(this)'><label></label>",
				render: function(data, type, row)
				{
					//대체품일 경우
					if (row.disabled == "disabled")
					{
						return "";
					}

					return "<input type='checkbox' class='custom-ui check-all' onchange='syncInput(this)'><label></label>";// FixedColumns 사용시엔 syncInput 호출 필요함.
				}
			},
			{name: "lineNo", data: "lineNo", title: "[[#{HQP_L_ITEM}]]"},//Item
			{
				name: "materialNo",
				data: "materialNo",
				title: "[[#{HQP_L_ORDER_PART_NO}]]",
				render: function(data, type, row)
				{
					return "<input type='text' name='materialNo' class='custom-ui' style='width: 150px;' value='" + row.materialNo + "' tabindex='" + tabIndex++ + "' " + row.disabled + " onchange='syncInput(this)'>";// FixedColumns 사용시엔 syncInput 호출 필요함.
				}
			},
			{name: "supplyMaterialNo", data: "supplyMaterialNo", title: "[[#{HQP_L_SUPPLY_PART_NO}]]", width: "150px"},//Supply Part No
			{name: "description", data: "description", title: "[[#{HQP_L_PART_DESCRIPTION}]]", width: "250px"},//Description
			{
				name: "orderQty",
				data: "orderQty",
				title: "[[#{HQP_L_REQ_QTY}]]",
				render: function(data, type, row)
				{
					let clazz =  (JpUtilsString.equals(row.fgInvalidSalesLot, GLOBAL_CONST.YES)) ? "custom-ui warn center": "custom-ui center";

					return "<input type='number' class='" + clazz + "' name='orderQty' style='width:70px;' value='" + row.orderQty + "' tabindex='" + tabIndex++ + "' " + row.disabled + " onchange='syncInput(this)'>";// FixedColumns 사용시엔 syncInput 호출 필요함.
				}
			},//Req Qty
			{name: "lotQty", data: "lotQty", title: "[[#{HQP_L_SALES_LOT}]]"},//Sales Lot
			{name: "uom", data: "uom", title: "[[#{HQP_L_UOM}]]"},//UoM
			{name: "boQty", data: "boQty", title: "[[#{HQP_L_BACKORDER_QTY}]]"},//B/O Qty.
			{name: "amDevPart", data: "amDevPart", title: "[[#{HQP_L_AM_DEV_PART}]]"},//AM Dev. No
			{name: "netPrice", data: "netPrice", title: "[[#{HQP_L_NET_PRICE}]]"},//Net Price
			{name: "netValue", data: "netValue", title: "[[#{HQP_L_NET_VALUE}]]"},//Net Value
			{name: "availability", data: "availability", title: "[[#{HQP_L_STOCK}]]"},//Availability
		],
		columnDefs: [
			{targets: [0], className: "skip-download dt-body-center"},
			{targets: [1, 2, 5, 6, 7, 8, 12], className: "dt-body-center"},
			{targets: [10, 11], className: "dt-body-right"}
		],
		ajax: {
			url: "[[${BASE_PATH}]]/order/create/simulation",
			type: "POST",
			beforeSend: function(request)
			{
				tabIndex = 1;

				//POST 일 경우 CSRF 토큰 추가
				request.setRequestHeader(JpUtilsSecurity.CSRF.NAME, JpUtilsSecurity.CSRF.TOKEN);
			},
			data: function(p)
			{
				// ajax로 넘길 파라미터
				//Header
				p.orderType = $("#orderType").val();
				p.incoterms1 = $("#incoterms1").val();
				p.incoterms2 = $("#incoterms2").val();
				p.shippingCondition = $("#shippingCondition").val();
				p.priceGroup = $("#priceGroup").val();
				p.soldToNo = $("#soldToNo").val();
				p.shipToNo = $("#shipToNo").val();
				p.simulationFrom = $("#simulationFrom").val();
				p.fgFilteringDuplicateItem = GLOBAL_CONST.YES;
				p.fgFilteringInvalidSalesLotItem = GLOBAL_CONST.YES;
				p.ohhSeq = $("#ohhSeq").val();
				p.fgValidation = $("#fgValidation").val();

				//Item
				if (JpUtilsString.isEmpty($("#fileName").val()))
				{
					if (initialMaterialNos.length > 0)
					{
						p.materialNo = initialMaterialNos.join("^");
						p.orderQty = initialOrderQties.join("^");

						resetInitialItems();
					}
					else
					{
						let itemParameter = makeItemParameter();

						p.materialNo = itemParameter.materialNos.join("^");
						p.orderQty = itemParameter.orderQties.join("^");
					};
				}
				else
				{
					p.fileName = $("#fileName").val();
				};

				//History 테이블에 저장된 주문 내역을 가져와 셋업해 줌. 최초 한번만 불러오고 이후부터는 입력받은 품번으로 시뮬레이션을 실행하기 위해 값을 없앰
				$("#ohhSeq").val("");
			},
			dataSrc: function(response)
			{
				let result = response.RESULT;

				$("#rdd").val(result.rdd);

				$("#credit").html(result.credit + result.creditCurrency);
				$("#totalWeight").html(result.totalWeight + result.weightUnit);
				$("#totalAmount").html(result.totalAmount + result.currency);
				$("#blockReason").val(result.blockReason);
				$("#blockMessage").val(result.blockMessage);

				/* Set price info */
				let pricingResults = result.pricingResults;

				let content = "<table class='condition'>";
				content += "	<tbody>";

				for (let i=0, length=pricingResults.length; i<length; i++)
				{
					content += "		<tr>";
					content += "			<th>" + pricingResults[i].name + "</th>";
					content += "			<td>";
					content += "				<div class='input-area'>" + pricingResults[i].netValue + pricingResults[i].currency + "</div>";
					content += "			</td>";
					content += "		</tr>";
				};

				content += "	</tbody>";
				content += "</table>";

				$("#pricingInfo").val(content);

				/* Set item info */
				let normalOrderItems = result.normalOrderItems;

				for (let i=0, length=normalOrderItems.length; i<length; i++)
				{
					let item = normalOrderItems[i];

					item.disabled = "";
					item.materialNo = (item.materialNo == null) ? "" : item.materialNo;
					item.orderQty = (item.orderQty == null) ? "" : item.orderQty;

					//대체품일 경우
					if (Number(item.higherLineNo) > 0)
					{
						item.disabled = "disabled";
					};
				};

				errorOrderItems = result.errorOrderItems;
				let errorCnt = errorOrderItems.length;

				if (errorCnt > 0)
				{
					alert("[[#{HQP_M_SIMULATION_ERROR}]]".replace("{0}", errorCnt));
				};

				return normalOrderItems;
			},
			error: function (xhr, error, code) {
				if (JpUtilsString.isNotEmpty($("#fileName").val()))
				{
					alert("[[#{HQP_M_ORDER_INVALID_EXCEL_FORMAT}]]");
					reload();
				};
			}
		}
	});

	function reload()
	{
		$("#fileName").val("");
		$tableObj.ajax.reload();
	};

	// Datatable onload event
	$("#TBL_grid").on("draw.dt", function () {
		$("#fileName").val("");
		$("#simulationFrom").val("");

		$.each($("#TBL_grid input[name=materialNo]"), function(index, item) {
			_setPartAutocomplete(item, {
				select: function(label, value, event)
				{
					doValidation();
				}
			});
		});

		initGridTable($tableObj);

		let inputtedMaterialCount = $("#TBL_grid input[name=materialNo][value!='']").length;
		let inputtedOrderQtyCount = $("#TBL_grid input[name=orderQty][value!='']").length;

		if (inputtedMaterialCount == inputtedOrderQtyCount)
		{
			JpUiForm.input.on.focus($("#TBL_grid input[name=materialNo][value='']:first"));
		}
		else
		{
			JpUiForm.input.on.focus($("#TBL_grid input[name=orderQty][value='']:first"));
		};

		JpUiForm.input.on.select($("#TBL_grid input[name=orderQty]"), $("#TBL_grid input[name=materialNo]"));

		JpUiForm.input.on.enter($("#TBL_grid input[name=materialNo]"), function(item) {
			doValidation();
		});

		JpUiForm.input.on.enter($("#TBL_grid input[name=orderQty]"), function(item) {
			if (JpUtilsString.isEmpty($(item).val()))
			{
				$(item).val("");
				return false;
			};

			doSimulation();
		});

		JpUiForm.input.validation.number($("#TBL_grid input[name=orderQty]"), 1, 9999);

		ProgressBar.hide();
	});
});

let fgDoneSimulation = GLOBAL_CONST.NO;
$(document).ajaxStop(function() {
	if (JpUtilsString.equals(fgDoneSimulation, GLOBAL_CONST.NO))
	{
		if (JpUtilsString.isNotEmpty("[[${simulationFrom}]]"))
		{
			if (JpUtilsString.equalsAny("[[${simulationFrom}]]", "SB", "CART"))//SB, CART 부터 주문 화면으로 이동한 경우 로딩과 함께 시뮬레이션
			{
				doSimulation();
			}
			else
			{
				doValidation();
			};

			//시뮬레이션이 무한 반복되는 것을 방지하기 위해 상태를 변경해 줌
			fgDoneSimulation = GLOBAL_CONST.YES;
		};
	};
});
</script>
</th:block>