<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<script type="application/javascript">
$(window).load(function() {
	JpUiGlobal.changeSizeOfElement();
	
	//$(".main.pusher").css("margin-left", $(".ui.main.sidebar").width() + 5);
});

$(document).ready(function() {	
	JpUtilsAjax.get({
		url: JpUiGlobal.url("/platform/mgmt/content/breadcrumb"),
		data: {"entryPoint" : location.pathname},
		success: function(response, textStatus, jqXHR)
		{
			let result = response.RESULT;
			
			let breadcrumb = [];
			breadcrumb.push("<div class='section'>Home</div>");
			
			for (let i=result.length-1; i>=0; i--)
			{
				breadcrumb.push("<div class='divider'>/</div>");
				breadcrumb.push("<div class='section");
				
				if (i == 0)
				{
					breadcrumb.push(" active ");
				};
				
				breadcrumb.push("'>" + result[i].name + "</div>");
			};
			
			$("#AREA_breadcrumb").html(breadcrumb.join(""));
		}
	});

	$(".ui.dropdown").dropdown();
});

$(document).ajaxStart(function(event, jqXHR, ajaxOptions) {
	JpUiDimmer.showDimmer();
});

$(document).ajaxStop(function() {
	JpUiGlobal.changeSizeOfElement();
	JpUiDimmer.hideDimmer();
});

$(document).ajaxError(function(event, jqXHR, ajaxSettings, thrownError) {
	if (jqXHR.status == "401" || jqXHR.status == "403")
	{
		alert("[[#{PLTF_MSG_0002}]]");
		document.location.href = "/";
	}
	else
	{
		alert("[[#{PLTF_MSG_0003}]]");
		//document.location.href = "[[${T(com.doosan.iv.platform.core.PlatformConfigVo).ERROR_PAGE_URL}]]";
	};
});
</script>
</html>