<script th:src="@{/platform/js/jquery/jquery.min.js}"></script>
<script th:src="@{/platform/js/jquery/jquery.tablesort.min.js}"></script>
<script th:src="@{/platform/js/semantic/semantic.min.js}"></script>
<script th:src="@{/platform/js/semantic/calendar.min.js}"></script>
<script th:src="@{/platform/js/moment/moment.min.js}"></script>
<script th:src="@{/platform/js/bluebird/bluebird.min.js}"></script>
<script th:src="@{/platform/js/dropzone/dropzone.min.js}"></script>
<script th:src="@{/platform/js/detect_browser/detect-browser.js}"></script>

<script th:src="@{/portal/js/datatables/jqueryDefault.js}"></script>
<script th:src="@{/portal/js/throttle/jquery.ba-throttle-debounce.min.js}"></script>
<script th:src="@{/portal/js/datatables/datatables.min.js}"></script>
<script th:src="@{/portal/js/datatables/datatablesDefault.js}"></script>


<script th:src="@{/platform/js/jWebppy.utils.object.js}"></script> <!-- mandatory -->
<script th:src="@{/platform/js/jWebppy.utils.string.js}"></script> <!-- mandatory -->
<script th:src="@{/platform/js/jWebppy.utils.number.js}"></script> <!-- mandatory -->
<script th:src="@{/platform/js/jWebppy.utils.ajax.js}"></script> <!-- mandatory -->
<script th:src="@{/platform/js/jWebppy.ui.global.js}"></script> <!-- mandatory -->
<script th:src="@{/platform/js/jWebppy.ui.render.js}"></script> <!-- mandatory -->
<script th:src="@{/platform/js/jWebppy.ui.dimmer.js}"></script> <!-- mandatory -->
<script th:src="@{/platform/js/jWebppy.ui.tab.js}"></script>
<script th:src="@{/platform/js/jWebppy.ui.table.js}"></script>
<script th:src="@{/platform/js/jWebppy.ui.modal.js}"></script>
<script th:src="@{/platform/js/jWebppy.ui.autocomplete.js}"></script>
<script th:src="@{/platform/js/jWebppy.ui.form.js}"></script>
<script th:src="@{/platform/js/jWebppy.ui.calendar.js}"></script>
<script th:src="@{/platform/js/jWebppy.ui.tree.js}"></script>