<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jwebppy.platform.mgmt.board.mapper.BoardMapper">

	<select id="findBoard" parameterType="BoardDto" resultType="BoardEntity">
		select
		a.*
		from
		pltf_board a
		where
		a.fg_delete='N'

		<if test="bSeq != null">
			and a.b_seq=#{bSeq}		
		</if>
		<if test="@org.jwebppy.platform.core.util.CmMyBatisQueryUtils@isNotEmpty(bId)">
			and a.b_id=#{bId}
		</if>
	</select>

</mapper>