<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jwebppy.platform.mgmt.board.mapper.BoardContentMapper">
	<resultMap type="BoardContentEntity" id="boardContentEntityMap">
		<id property="bcSeq" column="bc_seq" />
		<result property="bSeq" column="b_seq" />
		<result property="pSeq" column="p_seq" />
		<result property="order" column="order" />
		<result property="depth" column="depth" />
		<result property="uSeq" column="u_seq" />
		<result property="title" column="title" />
		<result property="htmlContent" column="html_content" />
		<result property="textContent" column="text_content" />
		<result property="fromView" column="from_view" />
		<result property="toView" column="to_view" />		
		<result property="views" column="views" />
		<result property="writer" column="writer" />
		<result property="fgDelete" column="fg_delete" />
		<result property="regUsername" column="reg_username" />
		<result property="regDate" column="reg_date" />
		<result property="modUsername" column="mod_username" />
		<result property="modDate" column="mod_date" />
	</resultMap>

	<insert id="insert" parameterType="BoardContentEntity" useGeneratedKeys="true" keyProperty="bcSeq">
		<selectKey keyProperty="bcSeq" resultType="Integer" order="BEFORE">
			select pltf_bc_seq.nextval from dual
		</selectKey>	
	
		insert into pltf_board_content (bc_seq, b_seq, p_seq, sort, depth, u_seq, title, html_content, text_content, from_view, to_view, views, writer, fg_delete, reg_username, reg_date) values (
			#{bcSeq}, #{bSeq}, ifnull(#{pSeq}, #{bcSeq}), 0, 0, #{uSeq}, #{title}, #{htmlContent}, #{textContent}, #{fromView}, #{toView}, 0, #{writer}, 'N', #{regUsername}, #{regDate}
		)
	</insert>
	
	<update id="update" parameterType="BoardContentEntity">
		update pltf_board_content set
			title=#{title},
			html_content=#{htmlContent},
			text_content=#{textContent},
			from_view=#{fromView},
			to_view=#{toView},
			mod_username=#{modUsername},
			mod_date=#{modDate}				
		where
			bc_seq=#{bcSeq}
	</update>
	
	<update id="updatePSeq" parameterType="BoardContentEntity">
		update pltf_board_content set p_seq=#{pSeq} where bc_seq=#{bcSeq}
	</update>	
	
	<update id="updatePlusViews">
		update pltf_board_content set
			views=views+1
		where
			bc_seq=#{bcSeq}
	</update>
	
	<update id="updateForReply">
		update pltf_board_content set
			sort=sort+1,
			depth=depth+1				
		where
			p_seq=#{pSeq}
			and bc_seq>#{pSeq}
	</update>
	
	<update id="delete" parameterType="BoardContentEntity">
		update pltf_board_content set
			fg_delete='Y',
			mod_username=#{modUsername},
			mod_date=#{modDate}		
		where
			bc_seq=#{bcSeq}
	</update>

	<select id="findBoardContent" parameterType="BoardContentSearchDto" resultType="BoardContentEntity">
		select
		a.*
		from
		pltf_board_content a
		where
		a.bc_seq=#{bcSeq}
		and a.fg_delete='N'
	</select>

	<select id="findPageableBoardContents" parameterType="BoardContentSearchDto" resultMap="boardContentEntityMap">
		<include refid="PaginationMapper.header"/>
			
		select
		a.*
		from
		pltf_board_content a
		where
		a.b_seq=#{bSeq}
		and a.fg_delete='N'
		
		<if test="@org.jwebppy.platform.core.util.CmMyBatisQueryUtils@isNotEmpty(query)">
			<choose>
				<when test="@org.jwebppy.platform.core.util.CmMyBatisQueryUtils@equals(type, 'WT')">
					and exists (
						select
						1
						from
						pltf_user
						where
						u_seq=a.u_seq
						and (
							replace(upper(a.first_name||a.last_name), ' ', '') like replace('%'||upper(#{query})||'%'), ' ', '') or
							replace(upper(a.last_name||a.first_name), ' ', '') like replace('%'||upper(#{query})||'%'), ' ', '')
						)
					)
				</when>
				<when test="@org.jwebppy.platform.core.util.CmMyBatisQueryUtils@equals(type, 'TC')">
					and (
						upper(a.title) like '%'||upper(#{query})||'%') or
						upper(a.text_content) like '%'||upper(#{query})||'%')
					)
				</when>
			</choose>
		</if>
		
		<choose>
			<when test="fromDate != null and toDate != null">
				and a.reg_date <![CDATA[>]]> #{fromDate} and a.reg_date <![CDATA[<=]]> #{toDate}
			</when>
			<when test="fromDate != null">
				and a.reg_date <![CDATA[>]]> #{fromDate}
			</when>
			<when test="toDate != null">
				and a.reg_date <![CDATA[<=]]> #{toDate}
			</when>
		</choose>
		
		<choose>
			<when test="fromView != null and toView != null">
				and a.from_view <![CDATA[>]]> #{fromView} and a.to_view <![CDATA[<=]]> #{toView}
			</when>
			<when test="fromView != null">
				and a.from_view <![CDATA[>]]> #{fromView}
			</when>
			<when test="toView != null">
				and a.to_view <![CDATA[<=]]> #{toView}
			</when>
		</choose>

		order by a.p_seq desc, a.sort, a.depth
		
		<include refid="PaginationMapper.footer"/>
	</select>
</mapper>