<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<script>
	const GLOBAL_CONST = {
		"DATE_FORMAT": "[[${DATE_FORMAT}]]",
		"TIME_FORMAT": "[[${TIME_FORMAT}]]",
		"DELIMITER": "[[${DELIMITER}]]"
	};
	</script>

	<title th:text="#{PTL_T_DOOBIZ_PLUS}"></title>
	<!-- Meta -->
	<th:block th:replace="portal/layout/iv/hq/parts/common/fragments/meta"></th:block>
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/portal/css/jquery/jquery.bxslider.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/portal/css/layout/iv/hq/parts/main.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/portal/css/layout/iv/hq/parts/gnb.css}">	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.css"/>
	
	<!-- JavaScript -->
	<th:block th:replace="portal/layout/iv/hq/parts/common/fragments/js"></th:block>
</head>
<body>
	<!-- Progress bar end -->
	<div class="wrap">
		<div style="position:absolute"><script>document.write("<img id='mainImg' src='" + "[[@{/portal/img/main}]]/main" + (Math.floor(Math.random()*4)+1) + "_.png'/>");</script></div>
		<div class="body-area">			
			<div class="main-back-img">				
				<div class="intro-area">
					<div class="app-name">DOOBIZ</div>
					<div class="vision">Global Leader Doosan</div>
					<div class="description">
						Doosan is preparing for the future for the better life of mankind<br />all over the world.
					</div>
					<button id="BTN_goOrder" class="order-button">
						<span th:text="#{HQP_B_ORDER}"></span>
					</button>
				</div>
			</div>
			<!-- header.jsp begin -->
			<div class="gnb-area">
				<div class="top-header">
					<div class="logo-area">
						<img class="logo-doosan" th:src="@{/portal/img/logo/logo2.png}" /><img class="logo-doobizplus" th:src="@{/portal/img/logo/doobizplus.png}" alt="DOOBIZ Plus" />
					</div>
					<div class="info-area">
						<ul class="info-list">
							<li class="username" sec:authentication="name"></li>
							<li>|</li>
							<li class="new-window" th:text="#{PTL_T_NEW_WINDOW}"></li>
							<li>|</li>
							<li class="dealer-info" th:text="#{PTL_T_DEALER_INFO}"></li>
							<li>|</li>
							<li class="tooltip">[[#{PTL_T_LAST_LOGIN_INFO}]]<span class="last-login-time tooltiptext"></span></li>
						</ul>
						<div class="split"></div>
						<button class="logout-button" type="button" th:text="#{PTL_B_LOGOUT}"></button>
					</div>
				</div>
				<div class="gnb-wrap">
					<div class="gnb-container">
						<div class="gnb-menu-area">				
							<ul class="gnb-menu-list2" style="display:none;"></ul>	
							<ul class="gnb-menu-sub-list"></ul>
						</div>
					</div>
				</div>				
				<div class="bulletin-area">
					<div class="bulletin-sub-area">
						<table>
							<colgroup>
								<col width="50%">
								<col width="50%">
							</colgroup>
							<tr>
								<td>
									<table class="bulletin-1">
									<th:block th:if="${#lists.isEmpty(bbs1)}">
										<tr>
											<td rowspan="4" class="bbs-name"><div class="bulletin-title-text" th:text="${bbs1Name}" th:title="${bbs1Name}"></div><img src="/portal/img/icon/more.png" onclick="goToBoard(1);" style="cursor: pointer; margin-top: 20px;"/></td>
											<td class="bbs-title">・[[#{HQP_T_EMPTY_RESULT}]]</td>
											<td class="bbs-date">&nbsp;</td>
										</tr>
										<tr th:each="i: ${#numbers.sequence(1, 3)}">
											<td class="bbs-title">&nbsp;</td>
											<td class="bbs-date">&nbsp;</td>
										</tr>
									</th:block>
									<th:block th:unless="${#lists.isEmpty(bbs1)}">
										<tr th:each="content, i: ${bbs1}">
											<td rowspan="4" class="bbs-name" th:if="${i.index == 0}"><div class="bulletin-title-text" th:text="${bbs1Name}" th:title="${bbs1Name}"></div><img src="/portal/img/icon/more.png" onclick="goToBoard(1);" style="cursor: pointer; margin-top: 20px;"/></td>
											<td class="bbs-title">・<a class="link" th:data-key="${content.bcSeq}" th:bSeq="${content.bSeq}">[[${content.title}]]</a></td>
											<td class="bbs-date" th:text="${content.displayRegDate2}"></td>												
										</tr>
										<tr th:if="${#lists.size(bbs1) < 4}" th:each="i: ${#numbers.sequence(0, #lists.size(bbs1)-4)}">
											<td colspan="2">&nbsp;</td>
										</tr>											
									</th:block>
									</table>
								</td>
								<td>
									<table class="bulletin-2">
									<th:block th:if="${#lists.isEmpty(bbs2)}">
										<tr>
											<td rowspan="4" class="bbs-name"><div class="bulletin-title-text" th:text="${bbs2Name}" th:title="${bbs2Name}"></div><img src="/portal/img/icon/more.png" onclick="goToBoard(2);" style="cursor: pointer; margin-top: 20px;"/></td>
											<td class="bbs-title">・[[#{HQP_T_EMPTY_RESULT}]]</td>
											<td class="bbs-date">&nbsp;</td>
										</tr>
										<tr th:each="i: ${#numbers.sequence(1, 3)}">
											<td class="bbs-title">&nbsp;</td>
											<td class="bbs-date">&nbsp;</td>
										</tr>
									</th:block>
									<th:block th:unless="${#lists.isEmpty(bbs2)}">
										<tr th:each="content, i: ${bbs2}">
											<td rowspan="4" class="bbs-name" th:if="${i.index == 0}"><div class="bulletin-title-text" th:text="${bbs2Name}" th:title="${bbs2Name}"></div><img src="/portal/img/icon/more.png" onclick="goToBoard(2);" style="cursor: pointer; margin-top: 20px;"/></td>
											<td class="bbs-title">・<a class="link" th:data-key="${content.bcSeq}" th:bSeq="${content.bSeq}">[[${content.title}]]</a></td>
											<td class="bbs-date" th:text="${content.displayRegDate2}"></td>												
										</tr>
										<tr th:if="${#lists.size(bbs2) < 4}" th:each="i: ${#numbers.sequence(0, #lists.size(bbs2)-4)}">
											<td colspan="2">&nbsp;</td>
										</tr>											
									</th:block>
									</table>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-area">
			<div class="copy-right">
				<span th:text="#{PTL_T_COPY_RIGHT}"></span>
			</div>
		</div>
	</div>
	<!-- Logout -->
	<form id="FORM_logout" method="post" th:action="@{${T(org.jwebppy.portal.common.PortalConfigVo).FORM_LOGOUT_PROCESSING_URL}}"></form>	
	<!-- iframe th:src="|${BASE_PATH}/preload|" style="display:none;"></iframe -->
<script>
$(window).on("load", function() {
	ProgressBar.hide();
	
	Survey.getLatestSurvey();
});

$(window).resize($.debounce(100, function(e){
	resizeView();
}));

let Survey = {
	sSeq: 0,
	getLatestSurvey: function() {
		let options = {
			url: "/portal/iv/survey/latest",
			data: {},
			success: function(data) {
				let survey = data.RESULT;
				if (survey == null) return;
				
				JpUiDimmer.confirm("[" + survey.title + "] [[#{HQP_M_RESPOND_SURVERY}]]", function() {
					Survey.sSeq = survey.sseq;
					Survey.popupVote();
				});
			},
			error: function(jqXHR, textStatus, errorThrown) {
				console.log(textStatus);
				console.log(errorThrown);
			}
		};
		
		JpUtilsAjax.post(options);
	},
	popupVote: function() {
		if (this.sSeq == 0) {
			return;
		}
		Popup.open("/portal/iv/survey/popup/vote?sSeq="+this.sSeq, 700, 700);
	},
};

function callbackAfterVote()
{
	document.location.href = "/portal/iv/survey/list";
};

$(function(){
	resizeView();

	//상단 메뉴 생성 공통함수
	makeGnb();
	
	$(".top-header .logo-doobizplus").on("click", function() {
		goHome()
	});
	
	$(".top-header li.new-window").on("click", function() {
		window.open("/portal/forward/entry_point", "");
	});
	
	$(".top-header li.dealer-info").on("click", function() {
		clickDealerInfo();
	});
	
	$(".top-header li.username").on("click", function() {
		clickUserInfo();
	});
	
	$(".top-header .logout-button").on("click", function() {
		clickLogout();	    		
	});	

	$("#BTN_goOrder").on("click", function() {
		document.location.href = "[[${BASE_PATH}]]/order/create/write";
	});
	
	//Get last login information
	JpUtilsAjax.get({
		url: "/platform/mgmt/user/login/history/last_login_info",		
	    success: function(response, textStatus, jqXHR) 
	    {
	    	let data = response.RESULT;
	    	
	    	if (data != null && JpUtilsString.isNotEmpty(data.regDate))
	    	{
	    		$(".last-login-time").html(data.displayRegDate + "/" + data.ip);
	    	}
	    	else
	    	{
	    		$(".last-login-time").html("-/-");
	    	};	    	
	    }	
	});
	
	JpUtilsAjax.get({
		url: "/portal/iv/board/popup/list/data",
		global: false,
		success: function(data, textStatus, jqXHR)
		{
			let result = data.RESULT;
			
			$.each(result, function(index, element) {
				let fgNotShow = JpUtilsString.defaultString($.cookie(element.bcSeq), "N");
				
				if (JpUtilsString.equals(fgNotShow, "N"))
				{
					let url = "/portal/iv/board/popup/view2?bSeq=" + element.board.bseq + "&bcSeq=" + element.bcSeq + "&fgFrom=M";
					
					let width = JpUtilsString.defaultString(element.width, "700");
					let height = JpUtilsString.defaultString(element.height, "600");
					
					Popup.open(url, width, height, "Y", "Y");					
				};
			});
		}
	});	
	
	checkExpiredPassword();
});

function goHome()
{
	document.location.href = "/portal/forward/entry_point";
};

function clickUserInfo()
{
	Popup.open("/portal/iv/user/write", 700, 300);
};

function clickDealerInfo()
{
	Popup.open("[[${BASE_PATH}]]/dealer_info/view", 1100, 800);
};

function clickLogout()
{
	$("#FORM_logout").submit();
};

function goToBoard(type)
{
	let bSeq = (type == 1) ? "[[${bSeq1}]]": "[[${bSeq2}]]";
	
	location.href = "/portal/iv/board/list?bSeq=" + bSeq;	
};

$(".bulletin-area a.link").on("click", function() {
	let url = "/portal/iv/board/popup/view?bSeq=" + $(this).attr("bSeq") + "&bcSeq=" + $(this).attr("data-key") + "&fgFrom=M";
	Popup.open(url, 1024, 730, "Y", "Y");
});

function checkExpiredPassword()
{
	JpUtilsAjax.get({
		url: "/platform/mgmt/user/check/expired_password",
		global: false,
		success: function(data, textStatus, jqXHR)
		{
			let result = data.RESULT;
			
			let difference = parseInt(result.difference);
			
			if (difference < 15)
			{
				if (difference < 0)
				{
					JpUiDimmer.alert("[[#{PLTF_M_PASSWORD_EXPIRED}]]", function() {
						document.location.href = "[[${T(org.jwebppy.portal.common.PortalConfigVo).FORM_PASSWORD_CHANGE_PAGE_URL}]]";
					});
				}
				else
				{
					let message = "[[#{PLTF_M_PASSWORD_EXPIRE_DATE_NOTICE}]]".replace("{0}", result.expiredDate);
					
					JpUiDimmer.confirm(message, function() {
						document.location.href = "[[${T(org.jwebppy.portal.common.PortalConfigVo).FORM_PASSWORD_CHANGE_PAGE_URL}]]";
					});					
				};
			};
		}
	});
};

let RESIZING_MIN_WIDTH = 1280;
let RESIZING_MIN_HEIGHT = 720;

function resizeView()
{
	let width = $(window).width();
	let height = $(window).height();
	
	if (width > RESIZING_MIN_WIDTH)
	{
		$("#mainImg").width(width);
		
		if (height > RESIZING_MIN_HEIGHT)
		{
			$("#mainImg").height(height);
		}
		else
		{
			$("#mainImg").height(height);
		};
	}
	else
	{
		$("#mainImg").width(RESIZING_MIN_WIDTH);
		$("#mainImg").height(RESIZING_MIN_HEIGHT);
	}
};
</script>
</body>
</html>