<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jwebppy.portal.iv.hq.parts.promotion.mapper.PromotionTargetMapper">

	<insert id="insert" parameterType="PromotionTargetEntity" useGeneratedKeys="true" keyProperty="pt_seq">
		<selectKey keyProperty="ptSeq" resultType="Integer" order="BEFORE">
			select ep_pt_seq.nextval from dual
		</selectKey>
	
		insert into ep_promotion_target (pt_seq, p_seq, code, description, type, fg_delete, reg_username, reg_date) 
		values (#{ptSeq}, #{pSeq}, #{code}, #{description}, #{type}, 'N', #{regUsername}, #{regDate})
	</insert>
	
	<update id="updateFgDelete" parameterType="PromotionTargetEntity">
		update ep_promotion_target set
			fg_delete='Y',
			mod_username=#{modUsername},
			mod_date=#{modDate}
		where
			p_seq=#{pSeq}
			and fg_delete='N'
	</update>

	<select id="findPromotionTargets" parameterType="int" resultType="PromotionTargetEntity">
		select
		a.*
		from
		ep_promotion_target a
		where
		a.p_seq=#{pSeq}
		and a.fg_delete='N'
	</select>
	
	
</mapper>