<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"	
	layout:decorate="~{portal/layout/popup/index_mall}">

<th:block layout:fragment="content">

<form id="FORM_list" method="post" autocomplete="off" onsubmit="return false;" enctype="multipart/form-data">
	<input type="hidden" id="IPT_sortStrings"  th:value="${categorySortStrings}">
</form>	

<div class="block-header">
	<div class="block-title" th:text="#{DIVEU_LB_0061}"></div>
	<div class="block-button-area">
		<button class="catRegBtn" th:text="#{DIVEU_BTN_0009}"></button>  <!-- Add -->
		<div class="split"></div>
		<button class="catDelBtn" th:text="#{DIVEU_BTN_0010}"></button>  <!-- Delete -->	
		<div class="split"></div>
		<button class="prdLisBtn" th:text="#{DIVEU_BTN_0004}"></button>		<!-- Back -->	
	</div>
</div>
	
<div id="sample-grid-area" class="mall-flex-grow mall-grid-area">
	<table id="sample-grid" class="order-column stripe compact"></table>
</div>
<!-- 데이터 영역 End -->
	
<div id="sortFormDiv"></div>

<form id="FORM_delete" method="post" autocomplete="off" onsubmit="return false;" enctype="multipart/form-data">
	<div id="deleteFormDiv"></div>
</form>		
		
<form id="FORM_view" method="post" action="/portal/corp/eu/scm/parts/merchandize/category/view">
	<input type="hidden" id="mcSeqView" name="mcSeq">
</form>

<form id="FORM_register" method="post" action="/portal/corp/eu/scm/parts/merchandize/category/register">	
</form>

<!-- --------------------------------------------------------------------------------------------------- -->

<script type="application/javascript">

var clickedSortNumCls;
var $tableObj;
var maxlength;

$(document).ready(function() 
{	
// 	$('#DIV_mallTitle').text( '[[#{DIVEU_LB_0061}]]' );	// Manage Category
	makeResultGridData();	
});


//그리드 관련기능 Start
function makeResultGridData() 
{	
	$tableObj = $("#sample-grid").DataTable({
		//destroy: true,	// 테이블을 재사용할 필요가 있을 경우 추가(ex: 페이지 생성 시 빈 테이블 생성한 후 사용자가 검색조건 지정 후 검색 시 테이블을 새로 데이터에 맞추어 만들어아 할 경우)
		select: {
			selector: 'td:not(.noselect)'	// noselect class 컬럼은 select 하지 않도록 한다. (input과 충돌 발생)
	    },
		ordering: true, 		
		scrollY: 100,				
		fixedColumns: { leftColumns: 1 },   
		columnDefs: [			
            { targets: [0, 1, 6], className: 'dt-body-center' },
            { targets: [3, 4, 5], className: 'dt-body-left dt-nowrap' }
		],   
		columns : [
			// 컬럼에 checkbox 설정
			{	name: "categoryCheckbox",	     // chk 는  data에 없는 컬럼. 
				title: '<input type="checkbox" name="categoryCheckbox" class="custom-ui" onclick="allChecked(this)"><label></label>',
				className:"center noselect", // row selection 기능 막음. 
				width: 20,  		 // checkbox 컬럼은 width 작게
				orderable: false,	 // checkbox 는 정렬 불가  
				defaultContent: '<input type="checkbox" class="custom-ui" onclick="syncInput(this)"><label></label>' // FixedColumns 사용시엔 syncInput 호출 필요함.
			},
			{	data: "fgDisplay", 
				title: '[[#{DIVEU_LB_0066}]]'	// Display Y/N
			},
			// 컬럼에 select box			
			{	data: "sort",
				name: "sortSelect",
				title: '[[#{DIVEU_LB_0065}]]',	// Sort
				width: 100,
				orderable: false,
				className:"center noselect",
				render : function(data, type, row) {
					var elementStr = '<select class="custom-ui" onclick="clickSort(this)" onchange="syncInput(this);changeSort(this);" name="sortSelect" id="SLT_sort_' + row.mcSeq + '" >';
				
					for (var i = 1; i <= maxlength; i++) 
					{	
						elementStr += '<option value="' + i + '"';
						if (i == Number(data)) elementStr += ' selected';
						elementStr += '>' + i + '</option>';
					}
					
					return elementStr += '</select>';
				},
				defaultContent: '<select class="custom-ui" onchange="syncInput(this)" name="sortSelect"></select>'				
			},
			{ 	data: "categoryCode", 
				title: '[[#{DIVEU_LB_0063}]]'	// Category
			},
			{	data: "categoryName", 
				title: '[[#{DIVEU_LB_0064}]]',	// Category Name
				render : function(data, type, row) {
					return '<a href="#" onclick="javascript:goView(' + row.mcSeq + ')" style="cursor:pointer" class="link_mall">' + data + '</a>';
				},
				defaultContent: ''
			},
			{ 	data: "regUsername", 
				title: '[[#{DIVEU_LB_0069}]]'	// Reg.User
			},
			{ 	data: "regDate", 
				title: '[[#{DIVEU_LB_0070}]]',	// Reg.Date
				render : function(data, type, row) {
					var d1 = new Date(data);
		    		return getDateFormat(d1, 'yyyyMMdd');	
				}				
			},
			{ 	
				data: "mcSeq", 
				visible: false
			}
		],		
		ajax: {
			url: "/portal/corp/eu/scm/parts/merchandize/category/list",
			data: function(p)
			{								
			},
			dataSrc: function(response) 
			{				
				var data = response.RESULT;				
				if (data == null)
				{
					return new Array();						
				} else 
				{
					maxlength = data.length;
					return data;
				}
			}
		},
		
		paging : false,				// 페이징 기능켬
		pageLength: 20    			// 한 페이지에 20개 행
	});	
	
	// window 리사이즈시 그리드 높이 다시 맞춤. (그리드의 parent 요소의 높이에 맞춤)
	installDataTableResizer($tableObj, $("#sample-grid-area"));	
	// dataTable 버그 수정.
	installDataTableBugFix("sample-grid");
	
	removeDeletedSortOptions();
	
}

function getDateFormat(dateObj, format) 
{
	if (format == 'yyyyMMdd') 
	{
		var year = dateObj.getFullYear();
	    var month = dateObj.getMonth() + 1;
	    var day = dateObj.getDate();
	    if (month < 10)
	    {
	        month = "0" + month;
	    }
	    if (day < 10) 
	    {
	        day = "0" + day;
	    }
	 
	    return year + "." + month + "." + day;
	}	
}

// 리스트의 각 Select Box 에서 유효하지 않은 번호를 제거한다. 
function removeDeletedSortOptions()
{	
	var validSortStrs = $('#IPT_sortStrings').val();
	if (validSortStrs.substring(0,1) != '0') 
	{	
		var validSortStrArr = validSortStrs.split(',');	// 유효한 Sort number
		var maxValidSortNum = Number( validSortStrArr[validSortStrArr.length - 1] );	// 유효한 번호만큼 반복하기 위한 수

		var removeNumArr = new Array();
		for (var i = 1; i <= maxValidSortNum.length; i++) 
		{
			var addFlag = true;
			for (var j = 1; j <= validSortStrArr.length; j++) 
			{
				if (validSortStrArr[j-1] == j)
				{
					addFlag = false;
					break;
				}				
			}	
			if (addFlag) removeNumArr.push(j);
		}
		
		// category select option 만큼 반복하며 삭제
		for (var k = 0; k < removeNumArr.length; k++) 
		{
			// TODO 옵션 객체를 그리드 내부의 옵션으로 지정해줘야 함.
			$('.sortSelect option').each(function() 
			{
			    if ($(this).val() == removeNumArr[i]) 
			    {
			        $(this).remove();
			    }
			});
		}
	}
}


// 등록 화면 이동
$('.catRegBtn').click(function() 
{	
	$("#FORM_register").submit();
});

// 메인 화면 이동
$('.prdLisBtn').click(function() 
{
	location.href = "/portal/corp/eu/scm/parts/merchandize/main/main_admin";
});


// 다건 삭제
$('.catDelBtn').click(function() 
{
	var isChecked = false;
	var tds = $tableObj.columns(0).nodes()[0];
	for (var i = 0; i < tds.length; i++) 
	{
		var $td = $(tds[i]);
		if ($td.find("input").attr("checked"))
		{
			isChecked = true;
			break;
		}
	}
	
    if(!isChecked) 
    {
		alert("[[#{DIVEU_MSG_0021}]]");	// Please select targets to delete.
        return false;
    } else 
    {
    	$('#deleteFormDiv').empty();
    	
    	for (var j = 0; j < tds.length; j++) 
    	{
    		var $td2 = $(tds[j]);
    		if ($td2.find("input").attr("checked"))
    		{
    			var data = $tableObj.row($td2).data();
    			$('#deleteFormDiv').append('<input type="hidden" name="mcSeq" value="' + data.mcSeq + '">');
    		}
    	}
    	    	
    	$.ajax({
		    url:'/portal/corp/eu/scm/parts/merchandize/category/delete',
		    type:'post', 
			data: $("#FORM_delete").serialize(),
		    success: function(data) 
		    {		    	
		    	location.reload();    
		    }
		});
    }
});

// 상세보기 이동
function goView(mcSeq) 
{	
	$("#mcSeqView").val(mcSeq);	
	$("#FORM_view").submit();
}

// Select Box 값을 바꾸기 위해 클릭한 시점에 원본 값을 저장하는 함수
function clickSort(obj) 
{    
    clickedSortNumCls = obj.value;
}

//Select Box 값이 바뀐 시점에, 바뀐 값을 DB에 저장하고 화면을 새로 그림
function changeSort(obj)
{
	var orgNum = clickedSortNumCls;	// select 객체에서 값이 바뀐 직후 다시 click 이벤트가 들어가므로, clickedSortNumCls 변수값이 click 이벤트로 바뀌기 전에 원본값을 저장해 둠 	
	
	var targetSeqid = ($(obj).closest("select").attr('id')).substring(9);	// 카테고리 시퀀스 번호 취득
	
	$('#sortFormDiv').empty();
	$('#sortFormDiv').html( makeSortUpdateInfo(orgNum, obj.value, targetSeqid, 'EPMALL_CATEGORY') );
	
	updateSortNum();
}
function updateSortNum() 
{
	$.ajax(
	{
	    url:'/portal/corp/eu/scm/parts/merchandize/general/changeSortNumber',
	    type:'post', 
		data: $("#FORM_list").serialize(),
	    success: function(data) 
	    {
	    	location.reload();		        
	    }
	});	
}

</script>

</th:block>
</html>