<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/hq/parts/common/index}">
	
<th:block layout:fragment="content">
	<div class="block-header">
		<div class="block-title" th:text="#{PLTF_L_1653431139443}"></div>
		<div class="block-button-area"></div>
	</div>
	<div class="split-row"></div>	
	<div class="condition-area">
		<table class="condition table-fixed">
			<thead>
				<tr>
					<th th:text="#{HQP_L_ACRONYMS}"></th>
					<th th:text="#{HQP_L_DESCRIPTION}"></th>
				</tr>				
			</thead>
			<tbody>
				<tr>
					<td>AMD</td>
					<td>Average Monthly Demand</td>
				</tr>
				<tr>
					<td>AP</td>
					<td>Account Payable</td>
				</tr>
				<tr>
					<td>AR</td>
					<td>Account Receivable</td>
				</tr>
				<tr>
					<td>Arti.Boom</td>
					<td>Articulated Boom</td>
				</tr>
				<tr>
					<td>BI</td>
					<td>Brand Identity</td>
				</tr>
				<tr>
					<td>BOM</td>
					<td>Bill of Material</td>
				</tr>
				<tr>
					<td>CAGR</td>
					<td>Compounded Annual Growth Rate</td>
				</tr>
				<tr>
					<td>CCR</td>
					<td>Critical Customer Requirement</td>
				</tr>
				<tr>
					<td>CDP</td>
					<td>Career Development Program</td>
				</tr>
				<tr>
					<td>CECE</td>
					<td>Committee for the European Construction Equipment Industry</td>
				</tr>
				<tr>
					<td>CFS</td>
					<td>Container Freight Station</td>
				</tr>
				<tr>
					<td>CKD</td>
					<td>Completely Knock Down</td>
				</tr>
				<tr>
					<td>CNG</td>
					<td>Compressed Natural Gas</td>
				</tr>
				<tr>
					<td>CO</td>
					<td>Certificate of Origin</td>
				</tr>
				<tr>
					<td>COD</td>
					<td>Cash on Delivery</td>
				</tr>
				<tr>
					<td>CRM</td>
					<td>Customer Relationship Management</td>
				</tr>
				<tr>
					<td>DART</td>
					<td>Doosan Abrasion Resistance Tools</td>
				</tr>
				<tr>
					<td>DL</td>
					<td>Doosan Wheel Loader</td>
				</tr>
				<tr>
					<td>DX</td>
					<td>Doosan Excavator</td>
				</tr>
				<tr>
					<td>EBIT</td>
					<td>Earnings Before Interest and	Tax(es)</td>
				</tr>
				<tr>
					<td>EDI</td>
					<td>Electronic Data Interchange</td>
				</tr>
				<tr>
					<td>EDI</td>
					<td>Electronic Data Interchange</td>
				</tr>
				<tr>
					<td>ERP</td>
					<td>Enterprise Resource Planning</td>
				</tr>
				<tr>
					<td>ETA</td>
					<td>Estimated time of Arrival</td>
				</tr>
				<tr>
					<td>ETD</td>
					<td>Estimated time of Departure</td>
				</tr>
				<tr>
					<td>FA</td>
					<td>Finance Accounting</td>
				</tr>
				<tr>
					<td>FCL</td>
					<td>Full Container Load</td>
				</tr>
				<tr>
					<td>FMEA</td>
					<td>Failure Mode and Effects Analysis</td>
				</tr>
				<tr>
					<td>G.P Bucket</td>
					<td>General Purpose Bucket</td>
				</tr>
				<tr>
					<td>GPES</td>
					<td>Global Parts Engineering System</td>
				</tr>
				<tr>
					<td>GSN</td>
					<td>Global Service Network</td>
				</tr>
				<tr>
					<td>GSN</td>
					<td>Global Service Network</td>
				</tr>
				<tr>
					<td>H.D</td>
					<td>Hard</td>
				</tr>
				<tr>
					<td>IL</td>
					<td>Import License</td>
				</tr>
				<tr>
					<td>ISP</td>
					<td>Initial Stock Parts</td>
				</tr>
				<tr>
					<td>ISP</td>
					<td>Information Strategy Planning</td>
				</tr>
				<tr>
					<td>ISP</td>
					<td>Information Service Provider</td>
				</tr>
				<tr>
					<td>ITE</td>
					<td>Inland Transit Extension</td>
				</tr>
				<tr>
					<td>KM</td>
					<td>Knowledge Management</td>
				</tr>
				<tr>
					<td>KPI</td>
					<td>Key Performance Indicator</td>
				</tr>
				<tr>
					<td>KSF</td>
					<td>Key Success Factor</td>
				</tr>
				<tr>
					<td>LC</td>
					<td>Long Crawler</td>
				</tr>
				<tr>
					<td>LCL</td>
					<td>Less than Container Load</td>
				</tr>
				<tr>
					<td>LL</td>
					<td>Log Loader</td>
				</tr>
				<tr>
					<td>M</td>
					<td>Mega</td>
				</tr>
				<tr>
					<td>MECE</td>
					<td>Mutually Exclusive Collectively Exhaustive</td>
				</tr>
				<tr>
					<td>MEE</td>
					<td>Maintenance Efficiency Effectiveness</td>
				</tr>
				<tr>
					<td>MTO</td>
					<td>Make-To-Order</td>
				</tr>
				<tr>
					<td>MTTR</td>
					<td>Mean Time To Repair</td>
				</tr>
				<tr>
					<td>NLC</td>
					<td>Narrow Long Crawler</td>
				</tr>
				<tr>
					<td>OSS</td>
					<td>One Stop Service</td>
				</tr>
				<tr>
					<td>P&L</td>
					<td>Profit and Loss</td>
				</tr>
				<tr>
					<td>PCSA</td>
					<td>Power Crane and Shovel Association</td>
				</tr>
				<tr>
					<td>PDI claim</td>
					<td>Pre-Delivery Inspection</td>
				</tr>
				<tr>
					<td>PI</td>
					<td>Process Innovation</td>
				</tr>
				<tr>
					<td>PL</td>
					<td>Product Liability</td>
				</tr>
				<tr>
					<td>PL</td>
					<td>Product Liability</td>
				</tr>
				<tr>
					<td>PLC</td>
					<td>Product Life Cycle</td>
				</tr>
				<tr>
					<td>ROE</td>
					<td>Return On Equity</td>
				</tr>
				<tr>
					<td>ROW</td>
					<td>Rest of World</td>
				</tr>
				<tr>
					<td>RSP</td>
					<td>Recommended Spare Parts</td>
				</tr>
				<tr>
					<td>S</td>
					<td>Solar</td>
				</tr>
				<tr>
					<td>SAE</td>
					<td>Society of Automotive Engineers</td>
				</tr>
				<tr>
					<td>Semi.SL</td>
					<td>Semi Super Long</td>
				</tr>
				<tr>
					<td>SLR</td>
					<td>Super Long Reach</td>
				</tr>
				<tr>
					<td>SMD</td>
					<td>Strategic Market Development</td>
				</tr>
				<tr>
					<td>SPP</td>
					<td>Service Parts Planning</td>
				</tr>
				<tr>
					<td>SR</td>
					<td>Shipping Request</td>
				</tr>
				<tr>
					<td>SSL</td>
					<td>Skid Steer Loader</td>
				</tr>
				<tr>
					<td>SSR</td>
					<td>System Service Request</td>
				</tr>
				<tr>
					<td>STD</td>
					<td>Standard</td>
				</tr>
				<tr>
					<td>Super Long</td>
					<td>Super Long</td>
				</tr>
				<tr>
					<td>TBD</td>
					<td>To Be Develop [Decide, Define]</td>
				</tr>
				<tr>
					<td>TC</td>
					<td>Tool Carrier</td>
				</tr>
				<tr>
					<td>VT</td>
					<td>Variable Track</td>
				</tr>
				<tr>
					<td>W</td>
					<td>Wheel Type</td>
				</tr>
				<tr>
					<td>WIP</td>
					<td>Work In Process</td>
				</tr>
			</tbody>
		</table>
	</div>
<style>
body {
	overflow-y: auto;
}
</style>
<script>
$(document).ready(function() {
	ProgressBar.hide();
});
</script>	
</th:block>