/*---- 폰트 --------------*/
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css); 

/*
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(font/NotoSansKR-Thin.woff2) format('woff2'),
       url(font/NotoSansKR-Thin.woff) format('woff'),
       url(font/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(font/NotoSansKR-Light.woff2) format('woff2'),
       url(font/NotoSansKR-Light.woff) format('woff'),
       url(font/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: url(font/NotoSansKR-Regular.woff2) format('woff2'),
        url(font/NotoSansKR-Regular.woff) format('woff'),
        url(font/NotoSansKR-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 500;
   src: url(font/NotoSansKR-Medium.woff2) format('woff2'),
        url(font/NotoSansKR-Medium.woff) format('woff'),
        url(font/NotoSansKR-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 700;
   src: url(font/NotoSansKR-Bold.woff2) format('woff2'),
        url(font/NotoSansKR-Bold.woff) format('woff'),
        url(font/NotoSansKR-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 900;
   src: url(font/NotoSansKR-Black.woff2) format('woff2'),
        url(font/NotoSansKR-Black.woff) format('woff'),
        url(font/NotoSansKR-Black.otf) format('opentype');
 } 
*/

/*---- 기본  --------------*/

* {
	font-family: Noto Sans KR, sans-serif;
	font-size: 14px;
	color: #363636;
	flex: 0 0 auto;
}

html, body {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	background: #ffffff;
	display: flex;
	flex-flow: column;
	overflow-x: auto;
	min-width: 1300px;
}

button {
	padding: 5px 15px;
	background: #00a779;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 4px;
	min-width: 90px;
	cursor: pointer;
	outline: none;
}

button:hover{
	filter: saturate(0.5);
}

button:active{
	filter: saturate(0.5);
	box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.21);
}

input {
	box-sizing: border-box;
}

/*--- header(최상단) 영역  ------------------*/

.header {
	box-sizing: border-box;
	height: 58px;
	text-align: right;
	white-space: nowrap;
	display: inline-block;
	padding: 10px 40px 10px 40px;
	width: 100%;
}

.logo-area {
	float: left;
	display: inline;
	vertical-align: middle;
}
.logo-doosan {
	position:relative;
	vertical-align: middle;
}
.logo-doobizplus {
	margin-left: 20px;
	cursor: pointer;
	/*
	width:216px;
	height:23px;
	*/	
	vertical-align: middle;
}	
.info-area {
	padding-top: 4px;
	/* height: 100%; */
	vertical-align: middle;
	display: inline-block;
	position: relative;
}
.info-list {
	vertical-align: middle;
	margin: 0;
	display: inline-block;
}
.info-list li {
	font-weight: normal;
	cursor: pointer;
	display: inline-block;
	margin: 0px 10px;
}
.info-list li:hover {
	text-decoration: underline;
}	
.logout-button {
	color: #363636;
	font-weight: bold;
	cursor: pointer;
	padding: 5px 16px;
	background: #fff;
	vertical-align: middle;
	border-radius: 15px;
	border: 1px solid rgba(0, 48, 129, 0.2);
}
.logout-button:hover {
	background: #f8fffd;
}

/*--- 여백 과 flex ------------------*/
.split {
	display: inline-block;
	height: 10px;
	/* background: #eee; */
	width: 1px;
	margin: 0;
	padding: 0;
}
.split2 {
	display: inline-block;
	height: 10px;
	/* background: #eee; */
	width: 8px;
	margin: 0;
	padding: 0;
}
.split3 {
	display: inline-block;
	height: 10px;
	/* background: #eee; */
	width: 4px;
	margin: 0;
	padding: 0;
}
.split-row {
	display: block;
	height: 12px;
}
.split-row-compact {
	display: block;
	height: 6px;
}
.split-row-more-compact {
	display: block;
	height: 3px;
}
.flex-grow{
	flex: 1;
}

/*--- 블록 버튼 그룹 ------------------*/
.block-header {
	height: 35px;
	padding: 0px 40px 0 40px;
	box-sizing: border-box;
	text-align: right;
	display: inline-block;
	width: 100%;
	position: relative;	
}

.block-title {
	margin-top: -10px;
	display: inline-block;
	font-weight: bold;
	font-size: 30px;
	float: left;
}

.block-button-area {
    display: inline-block;
    vertical-align : middle;
}


/*--- 조건 영역 ------------------*/
.condition-area {
	margin: 5px 40px 5px 40px;
}
.condition {
	width: 100%;
	border-spacing: 0px;
	border-collapse: separate;
	border: 1px solid #003081;
	/* border-radius: 5px; */
}
.table-fixed {
	table-layout: fixed;
	/* border-radius: 5px; */
}
.table-inner {
	padding: 0px;
	margin: 0px;
	border-spacing: 0px;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
}
.condition th, .condition td{
	padding: 3px 15px;
	border-top:1px solid #cfcfcf;
}
.condition th {
	background: #f3f4f7;
	color: #003081;
	font-weight: 500;
	text-align: left;
	width: 15%;
	min-width: 100px;
	padding: 6px 15px;
}
.condition th.center {
	text-align: center;
}
.condition th span, .condition th div, .condition th p {
	color: #003081;
	float:left;
}
.condition tr:first-child th, .condition tr:first-child td{
    border-top:none; 
}
.condition td.wp15{
	width: 15%;
}
/* condition 테이블 모서리 라운드 처리*/

.condition tr:first-child th:first-child, .condition tr:first-child td:first-child {
	border-radius: 5px 0 0 0;
}
.condition tr:first-child th:last-child, .condition tr:first-child td:last-child {
	border-radius: 0 5px 0 0;
}
.condition tr:last-child th:last-child, .condition tr:last-child td:last-child {
	border-radius: 0 0 5px 0;
}
.condition tr:last-child th:first-child, .condition tr:last-child td:first-child {
	border-radius: 0 0 0 5px;
}

.condition-title{
	font-weight: bold;
	font-size:16px;
	margin: 0px 0px 5px 0px; 
}

.condition-sub-title{
	font-weight: bold;
	font-size:14px;
	margin: 0px 0px 5px 0px; 
}

.condition-normal-sub-title{
	font-size:14px;
	margin: 0px 0px 5px 0px; 
}

.input-area {
	display: inline-block;
	min-width:200px;
	max-width:400px;
	width: 300px;
	width: -webkit-fill-available;
	position: relative;
}
.inline {
	display: inline;
}

.small_button{
    /* box-sizing: content-box; */
    vertical-align: text-top;
    display: inline;
    height: 21px;
    border-radius: 4px;
    border: solid 1px #8cc8b8;
    background-color: #f9f9f9;
    color: #00a779;
    line-height: 5px;
    padding: 0px 5px;
}

.small_button:hover {
	background-color: #fff;
	text-decoration: underline;
}
/*--- 그리드 영역 ------------------*/

.grid-area{
	border-top: 1px solid #003081;
	min-height: 200px;
	height: 50%;
	margin: 10px 40px 10px 40px;
	/* background: #aaa; */
	width: auto;
}

.grid-area2{
	min-height: 200px;
	height: 50%;
	margin: 10px 40px 10px 40px;
	/* background: #aaa; */
	width: auto;
}

.grid-bottom-area{
	/* border-top: 1px solid #003081; */
	min-height: 200px;
	height: 50%;
	margin: 10px 40px 10px 40px;
	/* background: #aaa; */
	width: auto;
}

.grid-info{
	position: relative;
	vertical-align: bottom;
	display: inline-block;
	text-align: right;
	width: auto;
	margin: 0px 40px 0 40px;
	white-space: nowrap;
}

.grid-total{
	float: left;
	margin-top: 6px;
	vertical-align: bottom;
	display: inline-block;
}

.total-number{
	font-weight: bold;
	font-size:16px;
}

/* dataTables 데이터 좌우 정렬을 위한 클래스 */
.center {text-align: center;}
.right {text-align: right;}

/*td.link {text-decoration: underline; color: #4183C4; cursor: pointer;}*/
td.link {text-decoration: underline; color: cursor: pointer;}
td.link:hover {text-decoration: underline; color: #00a779; cursor: pointer;}

.empty-message-area {
	margin: 20px auto;
	text-align: center;
}

/*--- footer 영역 ------------------*/
.footer-area {
	/*
	position: fixed;
	bottom: 0px;
	left:40px;
	right:40px;
	*/
	background-color: #fff;
}
.footer{
    margin: 0 40px;
    box-sizing: border-box;
    white-space: nowrap;
    display: inline-block;
    width: calc(100vw - 80px - (100vw - 100%));
    border-top: 2px solid #ddd;
    text-align: right;
    background-color: #fff;
}
.footer2{
    box-sizing: border-box;
    white-space: nowrap;
    display: inline-block;
    width: calc(100vw - (100vw - 100%));
    border-top: 2px solid #ddd;
    text-align: right;
    background-color: #fff;
}
.footer-logo{
	width:55px;
	height:26px;
	vertical-align: middle;
}
.copyright{
	display: inline;
	letter-spacing: -0.28px;
	vertical-align: middle;
	color: #363636;
}

/*-------- custom-ui ------- */
input.custom-ui[type="checkbox"],
input.custom-ui[type="radio"] {
  /* margin-top: 1px; */
  z-index: 10;
  border: 0;
  /* clip: rect(0 0 0 0); */
  margin-left: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 18px;
  height: 18px;
  opacity: 0;
  transform: scale(1.2);
}
input.custom-ui[type="checkbox"]:hover + label:before,
input.custom-ui[type="radio"]:hover + label:before {
  border-color: #000000;
}
input.custom-ui[type="checkbox"]:active + label:before,
input.custom-ui[type="radio"]:active + label:before {
  /*filter: brightness(0.2);*/
  background: #00a779;
  transition-duration: 0;
}

input.custom-ui[type="checkbox"] + label,
input.custom-ui[type="radio"] + label {
  line-height: 26px;
  position: relative;
  padding-left: 26px;
  font-weight: normal;
}
input.custom-ui[type="checkbox"] + label:before, input.custom-ui[type="checkbox"] + label:after,
input.custom-ui[type="radio"] + label:before,
input.custom-ui[type="radio"] + label:after {
  box-sizing: content-box;
  position: absolute;
  content: '';
  display: block;
  left: 0;
}
input.custom-ui[type="checkbox"] + label:before,
input.custom-ui[type="radio"] + label:before {
  box-sizing: border-box;
  border-radius: 2px;
  top: 50%;
  width: 18px;
  height: 18px;
  margin-top: -9px;
  border: 1px solid #00a779;
  text-align: center;
}
input.custom-ui[type="checkbox"] + label:after,
input.custom-ui[type="radio"] + label:after {
  background-color: #fff;
  top: 50%;
  left: 0px;
  width: 8px;
  height: 8px;
  margin-top: -9px;
  transform: scale(0);
  transform-origin: 50%;
  transition: transform 200ms ease-out;
  border: 5px solid #00a779;
}
input.custom-ui[type="radio"]:checked + label:after {
  transform: scale(1);
}
input.custom-ui[type="radio"] + label:before, input.custom-ui[type="radio"] + label:after {
  border-radius: 50%;
}

input.custom-ui[type="checkbox"] + label:after {
  background-color: transparent;
  top: 50%;
  left: 4px;
  width: 7px;
  height: 4px;
  margin-top: -5px;
  border-style: solid;
  border-color: #00a779;
  border-width: 0 0 3px 3px;
  -moz-transform: rotate(-45deg) scale(0);
  -ms-transform: rotate(-45deg) scale(0);
  -webkit-transform: rotate(-45deg) scale(0);
  transform: rotate(-45deg) scale(0);
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
input.custom-ui[type="checkbox"]:checked + label:after {
  content: '';
  -moz-transform: rotate(-45deg) scale(1);
  -ms-transform: rotate(-45deg) scale(1);
  -webkit-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
  -moz-transition: -moz-transform 200ms ease-out;
  -o-transition: -o-transform 200ms ease-out;
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
}

input.custom-ui[type="checkbox"]:checked + label:before {
  border-color : #00a779;
}  

input.custom-ui[type="checkbox"]:disabled + label, input.custom-ui[type="checkbox"]:disabled + label:before,
input.custom-ui[type="radio"]:disabled + label, input.custom-ui[type="radio"]:disabled + label:before {
	border-color: #ddd;
    color: #ddd;
}
input.custom-ui[type="checkbox"]:disabled + label:before,
input.custom-ui[type="radio"]:disabled + label:before {
  transition-duration: 0;
  filter: brightness(1);
}
input.custom-ui[type="text"], input.custom-ui[type="number"]{
	padding-left: 6px;
	padding-right: 6px;
	border: 1px solid #ddd;
	width: 100%;
	width: -webkit-fill-available;
	/* float: left; */
}
input.custom-ui[type="text"].uppercase{
	text-transform: uppercase; 
}
input.custom-ui[type="text"]:read-only, input.custom-ui[type="number"]:read-only{
	background-color: #cccccc;
}
input.custom-ui[type="password"]{
	padding-left: 6px;
	padding-right: 6px;
	border: 1px solid #ddd;
	width: 100%;
	width: -webkit-fill-available;
}
input.custom-ui[type="password"]:read-only{
	background-color: #cccccc;
}
input.custom-ui-btn[type="text"]{
	padding-left: 6px;
	padding-right: 6px;
	border: 1px solid #ddd;
	width: 93%;
}
input.custom-ui-calendar{
	padding-left: 6px;
	padding-right: 6px;
	border: 1px solid #ddd;
	cursor: pointer;
	width: 120px;	
}
input.custom-ui-calendar.to{
	margin-left:6px;
}
input.custom-ui-scope{
	padding-left: 6px;
	padding-right: 6px;
	border: 1px solid #ddd;
	width: 40%;
}
textarea.custom-ui{
	padding-left: 6px;
	padding-right: 6px;
	border: 1px solid #ddd;
	width: 100%;
	width: -webkit-fill-available;
}
select.custom-ui{
	width: 100%;
	padding: 1px 2px 1px 2px;
	width: -webkit-fill-available;
	border: 1px solid #ddd;
	margin-right: 1px;
	font-family: inherit;
	background: url("/portal/img/arrow_down.png") no-repeat 95% 50%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;	
}
select::-ms-expand {
    display: none;
}

.btn-popup{
	float: right;
	color: #888;
	padding: 0;
	margin: 0px 0px 0px 5px;
	background: transparent;
	border: 0px solid #ccc;
	min-height: 24px;
	border-radius: 0px;
	min-width: 24px;
	vertical-align: top;
	background-image: url('/portal/img/btn-popup.png');
	background-position: -4px -4px;
}

.btn-popup2{
	float: right;
	color: #888;
	padding: 0;
	margin: 0px 0px 0px 5px;
	background: transparent;
	border: 0px solid #ccc;
	min-height: 24px;
	border-radius: 0px;
	min-width: 24px;
	vertical-align: top;
	background-image: url('/portal/img/btn-popup.png');
	background-position: -4px -4px;
	position:absolute;
}

.btn-popup+input.custom-ui[type=text]{
	width: calc(100% - 28px)
}

img.required {
	border: none;
	margin-left:3px;
}

/*--- Text style ------------------*/
.text-alert {
	color: red;
}
.hidden {
	display: none;
}
.visible {
	display: block;
}

/* 클릭시 border 애니메이션
@-moz-keyframes borderscale {
  50% {
    box-shadow: 0 0 0 2px #999;
  }
}
@-webkit-keyframes borderscale {
  50% {
    box-shadow: 0 0 0 2px #999;
  }
}
@keyframes borderscale {
  50% {
    box-shadow: 0 0 0 2px #999;
  }
}
input.custom-ui[type="checkbox"]:checked + label:before {
  -moz-animation: borderscale 200ms ease-in;
  -webkit-animation: borderscale 200ms ease-in;
  animation: borderscale 200ms ease-in;
}
input.custom-ui[type="radio"]:checked + label:before {
  -moz-animation: borderscale 300ms ease-in;
  -webkit-animation: borderscale 300ms ease-in;
  animation: borderscale 300ms ease-in;
  background-color: #fff;
}
*/

/*--- 팝업 블록 버튼 그룹 ------------------*/
.modal-block {
	position: absolute;
	z-index:999;
	background-color: #ffffff;
	border-radius: 4px;
	box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.16);
	display:none;
}
.modal-block-top-line {
	position:relative;
	z-index:980;
	background-color: #003081;
	height: 10px;
	border-radius: 4px;	
}
.modal-block-body-background {	
	position:relative;	
	z-index:990;	
	top:-5px;	
	background-color: #ffffff;
}
.modal-block-body {	
	background-color: #ffffff;
	z-index:980;
	margin: 0 20px 0 20px;
}
.modal-block-header {
	height: 36px;	
	margin-top: 16px;
	box-sizing: border-box;
	text-align: right;
	display: inline-block;
	width: 100%;
	position: relative;	
}
.modal-block-header-title {
	margin-top: -10px;
	display: inline-block;
	font-weight: bold;
	font-size: 24px;
	float: left;
}
.modal-block-header-button {
    display: inline-block;
    vertical-align : middle;
}
.modal-block-content {
	margin-top: 15px;
}
.modal-block-close-button {
	cursor: pointer;
}

/*--- Dimmer ------------------*/
.dimmer {
	opacity: 0.25;
	background-color: #000000;
	position: absolute;
	z-index: 990;
	width: 100%;
	height: 100%;
	display: none;	
	top: 0px;
	left: 0px;
}
.cursor-pointer {
	cursor: pointer;
}

/*--- Dropzone ---*/
.dropzone-area {
	position: absolute;
	z-index:999;
	background-color: #ffffff;
	border-radius: 4px;
	box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.16);
	display:none;
}
.dropzone-area-top {
	position:relative;
	z-index:997;
	background-color: #003081;
	height: 10px;
	border-radius: 4px;
}
.dropzone-body {
	background-color: #ffffff;
	position:relative;
	top:-5px;
	z-index:998;
}
.dropzone-body-img {
	display: block;
	margin: 0px auto;
}
.dropzone-body-content {
	margin:15px 5px 5px 15px;
	/*font-size: 14px;*/
	line-height: 1.29;
	text-align:left;
	color: #363636;
}
.dropzone-bottom {
	position:relative;
	bottom: -20px;
	text-align: center;
	background-color: #ffffff;
}
.dropzone-click-zone {
	cursor: pointer;
}

/*--- Autocomplete ------------------*/
.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    background: #B2E4D7 !important;
    font-weight: bold !important;
    color: #000 !important;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 50%;
  margin-left: -125px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}