<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/hq/parts/common/index}">
<th:block layout:fragment="content">
	<div class="block-header">
		<div class="block-title" th:text="#{HQP_T_ORDER_STATUS}"></div><!-- Order Status -->	
		<div class="block-button-area">		
			<button id="BTN_download" type="button" th:text="#{HQP_B_DOWNLOAD}"></button><!-- Download -->
			<button id="BTN_totalDownload" type="button" th:text="#{HQP_B_TOTAL_DOWNLOAD}"></button><!-- Total Download -->
			<button id="BTN_search" type="button" th:text="#{HQP_B_SEARCH}"></button><!-- Search -->
		</div>
	</div>
	<div class="condition-area">
	<form id="FORM_search" name="FORM_search">	
	<input type="hidden" id="orderNo" name="orderNo"/>
	<input type="hidden" id="poNo" name="poNo"/>
	<input type="hidden" id="orderDate" name="orderDate"/>
	<input type="hidden" id="fgDownload" name="fgDownload"/>
	<table class="condition table-fixed">
		<tbody>
			<tr>
				<th th:text="#{HQP_L_ORDER_NO}"></th>
				<td>
					<div class="input-area">
						<input type="text" id="pOrderNo" name="pOrderNo" class="custom-ui" th:value="${pOrderNo}">
					</div>			
				</td>
				<th th:text="#{HQP_L_ORDER_TYPE}"></th>
				<td>
					<div class="input-area order-type"></div>
				</td>			
			</tr>
			<tr>
				<th th:text="#{HQP_L_PO_NO}"></th>
				<td>
					<div class="input-area">
						<input type="text" id="pPoNo" name="pPoNo" class="custom-ui" th:value="${pPoNo}">
					</div>
				</td>			
				<th th:text="#{HQP_L_ORDER_PART_NO}"></th>
				<td>
					<div class="input-area">
						<input type="text" id="pOrderPartNo" name="pOrderPartNo" class="custom-ui" th:value="${pOrderPartNo}">
					</div>		
				</td>
			</tr>		
			<tr>
				<th th:text="#{HQP_L_ORDER_DATE}"></th><!-- Period -->
				<td colspan="3">
					<div class="input-area">
						<input type="text" id="pFromDate" name="pFromDate" class="custom-ui-calendar" th:value="${pFromDate}">
						<input type="text" id="pToDate" name="pToDate" class="custom-ui-calendar to" th:value="${pToDate}">					
					</div>
				</td>			
			</tr>
		</tbody>
	</table>
	</form>
	</div>
	<div class="split-row"></div>
	<div class="grid-info">
		<div class="grid-total">
			<div class="split"></div>
			<span class="total-number" id="totalRows"></span>
		</div>
	</div>
	
	<div id="AREA_grid" class="flex-grow grid-area">
		<table id="TBL_grid" class="order-column stripe compact"></table>
	</div>
	<iframe id="IFM_download" name="IFM_download" style="display:none;"></iframe>
<script>
$(document).ready(function() {
	_setPartAutocomplete($("#pOrderPartNo"));
});

let $tableObj;
$(function(){
	$("input:radio[name=pDocType][value='[[${pDocType}]]']").prop("checked", true);
	
	//주문유형 가져오기
	let orderComponent = new OrderComponent();
	orderComponent.makeOrderType($(".order-type"), "pOrderType", "[[${pOrderType}]]");
	
	Calendar.makeBeetweenCalendar($("#pFromDate"), "[[${pFromDate}]]", $("#pToDate"), "[[${pToDate}]]");
			
	$tableObj = $("#TBL_grid").DataTable({
		ordering: true,// 정렬 기능 켬
		scrollY: 100,
		//fixedColumns: {leftColumns: 5},
		columns : [
			{data: "BSTKD", 		title: "[[#{HQP_L_PO_NO}]]"},
			{data: "VBELN", 		title: "[[#{HQP_L_ORDER_NO}]]"},
			{data: "SO_ITEM", 		title: "[[#{HQP_L_ORDER_ITEM_ROWS}]]"},	
			{data: "KONDA_T", 		title: "[[#{HQP_L_ORDER_TYPE}]]"},	
			{data: "SO_QTY", 		title: "[[#{HQP_L_ORDER_QTY}]]"},				
			{data: "RE_QTY", 		title: "[[#{HQP_L_RESERVED_QTY}]]"},
			{data: "PI_QTY", 		title: "[[#{HQP_L_PACKED_QTY}]]"},	
			{data: "IN_QTY", 		title: "[[#{HQP_L_INVOICE_QTY}]]"},
			{data: "SH_QTY", 		title: "[[#{HQP_L_SHIPMENT_COMPLETE_QTY}]]"},
			{data: "BO_AMT", 		title: "[[#{HQP_L_BACKORDER_QTY}]]"},
			{data: "VSBED_T", 		title: "[[#{HQP_L_SHIPPING_CONDITION}]]"},		
			{data: "WAERK", 		title: "[[#{HQP_L_CURR}]]"}			
		],
		columnDefs: [
			{targets: [1], className: "link dt-body-center"},
			{targets: [1, 2, 4, 5, 6, 7, 8, 9, 11], className: "dt-body-center"}
		],
		ajax: {
			url: "[[${BASE_PATH}]]/order/status/list/data",
			data: function(p)
			{
				p.pDocType = $("#FORM_search input:radio[name=pDocType]:checked").val();
				p.pOrderNo = $("#pOrderNo").val();
				p.pOrderType = $("#pOrderType").val();
				p.pPoNo = $("#pPoNo").val();				
				p.pOrderPartNo = $("#pOrderPartNo").val();
				p.pFromDate = $("#pFromDate").val();
				p.pToDate = $("#pToDate").val();					
			},
			dataSrc: function(response) 
			{				
				let data = response.RESULT;
			    
				for (let i=0, length=data.length; i<length; i++)
				{
					data[i].BO_AMT = Number(data[i].SO_QTY) - Number(data[i].SH_QTY);						
				};
				
				$("#totalRows").html(JpUtilsNumber.addComma(data.length) + " row(s).");

				return data;
			}
		},
		initComplete:function(settings, json) 
		{			
			ProgressBar.hide();
		}
	});

	// Datatable grid 초기 설정 셋업
	initGridTable($tableObj);
	
	$("#TBL_grid tbody").on("click", "td:nth-child(2)", function (e){				
		let rowData = $tableObj.row(this).data();
		
		//조회 페이지 헤더 영역에 사용되는 정보
		$("#orderNo").val(rowData.VBELN);
		$("#poNo").val(rowData.BSTKD);			
		$("#orderDate").val(rowData.ERDAT);
		
		$("#FORM_search").attr({
			"target": "_self",
			"action": "[[${BASE_PATH}]]/order/status/view"
		}).submit();
	});	
});

// Search 버튼 클릭
$("#BTN_search").on("click", function(){		
	doSearch(); 
});

//Input text 엔터 키 입력
$("#FORM_search input:text").on("keydown", function(event) {
	if (event.keyCode == 13)
	{
		doSearch();
	};
});

function doSearch()
{
	$tableObj.ajax.reload();
};

$("#BTN_download").on("click", function() {
	_gridDownload($tableObj, "Order_Status_List");
});

$("#BTN_totalDownload").on("click", function(){
	let orderNo = "";
	let delimiter = "[[${T(org.jwebppy.portal.common.PortalConfigVo).DELIMITER}]]";
	
	$("#TBL_grid td:first-child").each(function(){
		orderNo += $(this).text() + delimiter;
	});
	
	$("#orderNo").val(orderNo);
	$("#fgDownload").val("Y");
	
	$("#FORM_search").attr({
		"target": "IFM_download",
		"action": "[[${BASE_PATH}]]/order/status/view"
	}).submit();
	
	ProgressBar.show();
	
	$("#fgDownload").val("");
});		
</script>	
</th:block>