<!-- bottom start -->
<div class="ui bottom_blank" style="width:100%; height:20px;">&nbsp;</div>
<div class="ui bottom inverted vertical footer segment" style="position: fixed; width:100%; bottom: 0px;">
	<!-- div class="ui center aligned container round">	
		<div class="ui stackable inverted divided grid">
			<div class="two wide column"></div>
			<div class="four wide column">
				<h4 class="ui inverted header">User</h4>
				<div class="ui inverted link list">
					<a href="#" class="item">User</a>
				</div>
			</div>
			<div class="four wide column">
				<h4 class="ui inverted header">Content</h4>
				<div class="ui inverted link list">
					<a href="#" class="item">Menu</a>
					<a href="#" class="item">Translation</a>
				</div>
			</div>
			<div class="four wide column">
				<h4 class="ui inverted header">System</h4>
				<div class="ui inverted link list">
					<a href="#" class="item">Interface Log</a>
				</div>
			</div>
			<div class="two wide column"></div>
		</div>	
	</div>
	<div class="ui inverted section divider"></div-->
	<div class="ui center aligned container">
		<!-- img class="ui centered image" th:src="@{/portal/img/head_logo.png}" alt="jWebppy"/ -->
		<div class="ui horizontal inverted small divided link list">
			<a class="item" href="#" th:text="#{PLTF_TXT_COPYLEFT}"></a>
		</div>
	</div>
</div>
<script>
$(document).ready(function() {
	$(".ui.bottom_blank").height($(".ui.bottom").height());	
});
</script>
<!-- bottom end -->