<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<script type="application/javascript">
$(window).load(function() {
	resizeTopMeun();
	JpUiGlobal.changeSizeOfElement();
	
	//$(".main.pusher").css("margin-left", $(".ui.main.sidebar").width() + 5);
});

$(window).resize(function() {
	resizeTopMeun();
});

$(document).ready(function() {	
	resizeTopMeun();
	$(".ui.dropdown").dropdown();
});

$(document).ajaxStart(function(event, jqXHR, ajaxOptions) {
	JpUiDimmer.showDimmer();
});

$(document).ajaxStop(function() {
	JpUiGlobal.changeSizeOfElement();
	JpUiDimmer.hideDimmer();
});

$(document).ajaxError(function(event, jqXHR, ajaxSettings, thrownError) {
	if (jqXHR.status == "401" || jqXHR.status == "403")
	{
		alert("[[#{PLTF_MSG_0002}]]");
		document.location.href = "/";
	}
	else
	{
		alert("[[#{PLTF_MSG_0003}]]");
		//document.location.href = "[[${T(com.doosan.iv.platform.core.PlatformConfigVo).ERROR_PAGE_URL}]]";
	};
});

function resizeTopMeun()
{
	/*
	if ($(window).width() < 767 )
	{
		$(".topMenu").hide();
		$(".topMenuShortcut").show();
	}
	else
	{
		$(".topMenu").show();
		$(".topMenuShortcut").hide();
	};
	*/
};
</script>
</html>