<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"	
	layout:decorate="~{portal/layout/popup/index_mall}">

<th:block layout:fragment="content">
<link rel="stylesheet" type="text/css" th:href="@{/portal/css/bbs_basic.css}">

<div class="block-header">
	<div class="block-title" th:text="#{DIVEU_LB_0084}"></div>
	<div class="block-button-area">		
		<button class="prdRegBtn" th:text="#{DIVEU_BTN_0009}"></button>	<!-- Add -->
		<div class="split"></div>
		<button class="prdCanBtn" th:text="#{DIVEU_BTN_0014}"></button>	<!-- Cancel -->
	</div>
</div>

<div class="mallcondition-area">
<form id="FORM_register" method="post" autocomplete="off" onsubmit="return false;" enctype="multipart/form-data">
	
	<input type="hidden" id="IPT_fuiId" name="fuiId"  th:value="${fileValidStr}">
	
	<table class="mallcondition">
	<tbody>
		<tr>
			<th><span>[[#{DIVEU_LB_0063}]]<img src="/portal/img/icon_required.png" class="required" /></span></th>	<!-- Category -->
			<td>
				<select name="mcSeq" class="custom-ui">
					<option th:each="categoryDto : ${categoryList}"
							th:value="${categoryDto.mcSeq}"
							th:text="${categoryDto.categoryName}">
					</option>
				</select>
			</td>						
		</tr>
		<tr>
			<th><span>[[#{DIVEU_LB_0080}]]<img src="/portal/img/icon_required.png" class="required" /></span></th>	<!-- Product Code -->
			<td><input type="text" id="materialNo" name="materialNo" class="custom-ui"/></td>						
		</tr>
		
		<tr th:each="langKindEnt : ${langKindEntityList}">
			<th><span>[[#{DIVEU_LB_0081}]]([[${langKindEnt.name}]])<img src="/portal/img/icon_required.png" class="required" /></span></th>	<!-- Product Name -->
			<td><input type="text" name="productNames" class="custom-ui" />
				<input type="hidden" th:value="${langKindEnt.lkSeq}" name="productLangKindSeqs"/>
			</td>				
		</tr>
				
		<tr th:each="langKindEnt : ${langKindEntityList}">
			<th><span>[[#{DIVEU_LB_0082}]]([[${langKindEnt.name}]])<img src="/portal/img/icon_required.png" class="required" /></span></th>	<!-- Product Name -->
			<td><textarea name="productDescs" class="custom-ui"></textarea></td>				
		</tr>
					
		<tr>
			<th><span>[[#{DIVEU_LB_0066}]]<img src="/portal/img/icon_required.png" class="required" /></span></th>	<!-- Display Y/N -->
			<td>
				<select name="fgDisplay" class="custom-ui">
					<option value="Y" selected="selected">Y</option>
					<option value="N">N</option>
				</select>
			</td>						
		</tr>
		
		<tr>
			<th><span>[[#{DIVEU_LB_0083}]]<img src="/portal/img/icon_required.png" class="required" /></span></th>	<!-- Image -->
			<td>
				<span id="SPN_imageSizeText">Image Size: 500 x 500 Pixel</span>
				<div id="DIV_addFileArea" style="">
					<article th:replace="/portal/corp/eu/common/bbs/attach_file :: attachFile()"></article>
					<article th:replace="${fileUploadInfo} != null ? ~{/portal/corp/eu/common/bbs/attach_file :: attachFileScript('5', ${fileUploadInfo.fileLimitSize})} : ~{/portal/corp/eu/common/bbs/attach_file :: attachFileScript('5', '1048576')}"></article>	
				</div>
			</td>
		</tr>
	</tbody>
	</table>	
</form>
</div>

<form id="FORM_main" method="post" action="/portal/corp/eu/scm/parts/merchandize/product/main_admin"></form>
		
<form id="FORM_view" method="post" action="/portal/corp/eu/scm/parts/merchandize/product/view">			
	<input type="hidden" name="mpSeq" value="1">
</form>

<!-- ------------------------------------------------------------------------ -->
		
<script type="application/javascript">
$(document).ready(function() 
{
// 	$('#DIV_mallTitle').text( '[[#{DIVEU_LB_0084}]]' );	// Register Product 		
});

$('.prdRegBtn').click(function() 
{	
	if (validCheck()) 
	{	
		isPrdCdValid();	
	}	
});
function isPrdCdValid()	
{
// 	checkFile('FORM_register');	
	
	$.ajax({
	    url:'/portal/corp/eu/scm/parts/merchandize/product/prdCdValidChk',
	    type:'post',
		data: $("#FORM_register").serialize(),
	    success: function(data) {
		    	var resultCd = data.RESULT.resultCd;
		    	if (resultCd == 'OK') 
		    	{
		    		//첨부파일 체크(확장자, 파일 사이즈) 후, 파일첨부 파일 내에서 저장함수 saveClick() 호출
					checkFile('FORM_register');	
		    	} else if (resultCd == 'NOT_FOUND_MCSEQ') 
		    	{
		    		alert("[[#{DIVEU_MSG_0052}]]");	// Category information not found. 
		    		return false;
		    	} else if (resultCd == 'NO_MATCH_DATA')
	    		{
		    		alert("[[#{DIVEU_MSG_0053}]]");	// Product information not found.
		    		return false;
		    	} else 
		    	{
		    		alert("SAP:Unknown error");
		    		return false;
		    	}
	    },
	    error: function(err) {
	    	alert("Ajax error:" + err);
	    }
	});
	
}
function saveClick() 
{
	$("#FORM_register").attr("target", "_self");
	$("#FORM_register").attr("action", "/portal/corp/eu/scm/parts/merchandize/product/save");
    	
	var theForm = document.getElementById('FORM_register');
	theForm.submit();  
}

$('.prdCanBtn').click(function() 
{
	$("#FORM_main").submit();
});


function validCheck() 
{
	if ( $('#materialNo').val() == '' )	// 상품코드 미입력 
	{
		alert("[[#{DIVEU_MSG_0033}]]");	// Please Input Product Code.	
		return false;
	}
	
	var noNameBool = false;
	$("input[name=productNames]").each(function(index, item)	
	{
		if (item.value == '') 	// 상품명 미입력
		{
			noNameBool = true;
			return false;
		}
	});	
	if (noNameBool) 
	{
		alert("[[#{DIVEU_MSG_0034}]]");	// Please Input Product Name.
		return false;
	}
	
	$("textarea[name=productDescs]").each(function(index, item)
	{
		if (item.value == '') 		// 상품설명 미입력
		{
			noNameBool = true;
			return false;
		}
	});	
	if (noNameBool) 
	{
		alert("[[#{DIVEU_MSG_0035}]]");	// Please Input Product Description.
		return false;
	}
	
	var fileLen = $("input[name=userFiles]").length;
	if (fileLen < 1)		// 이미지 파일 미입력
	{
		alert("[[#{DIVEU_MSG_0036}]]");	// Please attach Image File.
		return false;
	} else 
	{
		var deleteFileLen = 0;
		for(var i = 0; i < fileLen; i++) 		// 이미지 파일 추가 후 삭제하여, 페이지에 파일정보 자체는 있으나 이미 삭제한 파일정보만 있을 경우를 체크
		{
	    	var fgFileStatuss = $("input[name='fgFileStatuss']:eq(" + i + ")").val();
	    	if (fgFileStatuss == 'D') deleteFileLen++;
		}
		
		if (fileLen == deleteFileLen)
		{
			alert("[[#{DIVEU_MSG_0036}]]");	// Please attach Image File.
			return false;
		}
	}
	
	return true;		
}
</script>

</th:block>
</html>