<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/popup/index}">

<th:block layout:fragment="content">
	<script th:src="@{/portal/js/portal.utils.order.js}"></script>
	
	<div class="block-header">
		<div class="block-title" th:text="#{HQPD_T_ONETIME_ADDRESS}"></div>
		<div class="block-button-area">
			<button id="BTN_search" type="button" th:text="#{HQPD_B_SEARCH}"></button>
			<button id="BTN_select" type="button" th:text="#{HQPD_B_SELECT}"></button>
			<button id="BTN_add" type="button" th:text="#{HQPD_B_ADD}"></button>
			<button id="BTN_delete" type="button" th:text="#{HQPD_B_DELETE}"></button>
		</div>
	</div>
	
	<div class="condition-area">
	<form id="FORM_search" name="FORM_search">
	<input type="hidden" id="country" name="country" value="GB">
	<input type="hidden" id="countryName" name="countryName" value="">
	<input type="hidden" id="transportZone" name="transportZone">
	<table class="condition">
		<tbody>
			<tr>
				<th th:text="#{HQPD_L_CUSTOMER_NAME}"></th>
				<td>
					<div class="input-area">
						<input type="text" id="name" name="name" class="custom-ui" tabindex="1">
					</div>
				</td>
				<th th:text="#{HQPD_L_STREET}"></th>
				<td>
					<div class="input-area">
						<input type="text" id="street" name="street" class="custom-ui" tabindex="2">
					</div>
				</td>				
			</tr>
			<tr>
				<th th:text="#{HQPD_L_CITY}"></th>
				<td>
					<div class="input-area">
						<input type="text" id="city" name="city" class="custom-ui" tabindex="3">
					</div>				
				</td>
				<th th:text="#{HQPD_L_COUNTRY}"></th>
				<td>
					<div class="input-area"></div>				
				</td>
			</tr>
			<tr>
				<th th:text="#{HQPD_L_POSTAL_CODE}"></th>
				<td>
					<div>
						<div><button id="BTN_tZone" type="button" th:text="#{HQPD_L_GET_T_ZONE}" class="small_button"></button></div>
						<input type="text" id="postalCode" name="postalCode" class="custom-ui" tabindex="4">						
					</div>
				</td>
				<th th:text="#{HQPD_L_T_ZONE}"></th>
				<td>
					<div class="input-area">
						<input type="text" id="transportZoneName" name="transportZoneName" class="custom-ui" tabindex="5" readonly>
					</div>				
				</td>
			</tr>	
		</tbody>
	</table>
	</form>
	</div>
	<div class="split-row"></div>
		
	<div id="AREA_grid" class="flex-grow grid-area">
	<form id="FORM_onetimeAddress" name="FORM_onetimeAddress">
		<table id="TBL_grid" class="order-column stripe compact"></table>
	</form>
	</div>
	
<script>

//화면중 일부 area 를 채우는 그리드 예제. 상위 div #sample-grid-area 영역을 100% 채움.
//컬럼 width 자동. scroller 자동.
//고정된 맵 데이터 사용. 페이지 생성시 데이터 넘겨서 그리드 만드는 방식

$(function(){
	
	$tableObj = $("#TBL_grid").DataTable({
		select: {
			selector: 'td:not(.noselect)'	// noselect class 컬럼은 select 하지 않도록 한다. (input과 충돌 발생)
	    },
		ordering: true, 			// 정렬 기능 켬
		scrollY: 100,
		fixedColumns: { leftColumns: 2 },         // 컬럼 고정 켬. (왼쪽 2개 컬럼 고정)
		columns : [
			{
				name: "chk",
				title: "<input type='checkbox' class='custom-ui check-all' onclick='allChecked(this)'><label></label>",
				className:"center noselect skip-download",// row selection 기능 막음. 
				width: 20,// checkbox 컬럼은 width 작게
				orderable: false,// checkbox 는 정렬 불가
				render: function(data, type, row)
				{
					return '<input type="checkbox" name="oaSeq" class="custom-ui" value="' + row.oaSeq + '" onchange="syncInput(this)"><label></label>';
				}				
			},		
			{data: "name", title: "[[#{HQPD_L_CUSTOMER_NAME}]]"},//Customer Name
			{data: "postalCode", title: "[[#{HQPD_L_POSTAL_CODE}]]"},//Postal Code
			{data: "street", title: "[[#{HQPD_L_STREET}]]"},//Street
			{data: "city", title: "[[#{HQPD_L_CITY}]]"},//City
			{data: "countryName", title: "[[#{HQPD_L_COUNTRY}]]"},//Country Name
			{data: "transportZoneName", title: "[[#{HQPD_L_T_ZONE}]]"}//Transportation Zone
		],
		ajax: {
			url: "/portal/scm/parts/domestic/order/create/onetime_address_list/data",
			data: function(p)
			{
				// ajax로 넘길 파라미터
				p.name = $("#name").val();
				p.street = $("#street").val();
				p.city = $("#city").val();
				p.postalCode = $("#postalCode").val();
				p.transportZone = $("#transportZone").val();
			},
			dataSrc: function(response)
			{
				return (response.RESULT == null) ? [] : response.RESULT;
			}
		},
		initComplete:function(settings, json) 
		{			
			ProgressBar.hide();
		},
		paging : true,// 페이징 기능켬
		pageLength: 50// 한 페이지에 20개 행
	});
	
	$("#TBL_grid").on("draw.dt", function () {
		// Datatable grid 초기 설정 셋업
		initGridTable($tableObj);		
	});
	
	$("#BTN_search").on("click", function() {
		doSearch();
	});
	
	$("#FORM_search input:text").on("keydown", function(event) {
		if (event.keyCode == 13)
		{
			doSearch();	
		};
	});	

	$("#BTN_select").on("click", function() {
		var selectedTargets = $("#TBL_grid input:checkbox[name=oaSeq]:checked");		
		var selectedCount = selectedTargets.length;
		
		if (selectedCount == 0)
		{
			alert("[[#{HQPD_M_EMPTY_ADDRESS}]]");
			return;
		};
		
		if (selectedCount > 1)
		{
			alert("[[#{HQPD_M_SELECT_ONLY_ONE}]]");
			return;
		};
		
		var data = $tableObj.row(selectedTargets.closest("td")).data();
		
		var address = data.street + ", " + data.city + ", " + data.postalCode + ", [" + data.transportZoneName + "], " + data.countryName;
		
		opener.changeShipToPartyByOnetimeAddress(data.oaSeq, data.name, address);
		window.close();
	});
	
	$("#BTN_add").on("click", function() {
		if ($.trim($("#name").val()) == "")
		{
			alert("[[#{HQPD_M_EMPTY_CUSTOMER_NAME}]]");
			$("#name").focus();
			return;
		};
		
		if ($.trim($("#street").val()) == "")
		{
			alert("[[#{HQPD_M_EMPTY_STREET}]]");
			$("#street").focus();
			return;
		};
		
		if ($.trim($("#city").val()) == "")
		{
			alert("[[#{HQPD_M_EMPTY_CITY}]]");
			$("#city").focus();
			return;
		};
		
		if ($.trim($("#postalCode").val()) == "")
		{
			alert("[[#{HQPD_M_EMPTY_PORTAL_CODE}]]");
			$("#postalCode").focus();
			return;
		};
		
		if ($.trim($("#transportZone").val()) == "")
		{
			alert("[[#{	DCP_M_EMPTY_TZONE}]]");
			$("#transportZone").focus();
			return;
		};

		$.ajax({
			url: "/portal/corp/uk/scm/parts/order/create/onetime_address/duplication_check",			
			data: $("#FORM_search").serialize(),
			method: "POST",
		    success: function(response, textStatus, jqXHR)
		    {
		    	var result = response.RESULT;
		    	
		    	var address = $("#street").val() + ", " + $("#city").val() + ", " +  $("#postalCode").val() + ", [" + $("#transportZoneName").val() + "], " + $("#countryName").val();
		    	
		    	if (result == null)
		    	{
					$.ajax({
						url: "/portal/corp/uk/scm/parts/order/create/onetime_address/save",
						data: $("#FORM_search").serialize(),						
						method: "POST",
					    success: function(response, textStatus, jqXHR)
					    {
					    	let result = $.trim(response.RESULT);
					    	
					    	opener.changeShipToPartyByOnetimeAddress(result, $("#name").val(), address);
					    	window.close();
					    }
					});			    		
		    	}
		    	else
		    	{
		    		doSearch();
		    		
		    		if (confirm("[[#{HQPD_M_ORDER_WITH_EXIST_ADDRESS}]]"))
		    		{
		    			opener.changeShipToPartyByOnetimeAddress(result.oaSeq, $("#name").val(), address);
		    			window.close();
		    		};
		    	};
		    }
		});
	});
	
	$("#BTN_delete").on("click", function() {
		var selectedTargets = $("#TBL_grid input:checkbox[name=oaSeq]:checked");
		
		if (selectedTargets.length == 0)
		{
			alert("[[#{HQPD_M_SELECT_TARGET_TO_DELETE}]]");
			return;
		};
		
		if (confirm("[[#{HQPD_M_CONFIRM_DELETE}]]"))
		{
			$.ajax({
				url: "/portal/corp/uk/scm/parts/order/create/onetime_address/delete",
				method: "POST",
				data: $("#FORM_onetimeAddress").serialize(),
			    success: function(response, textStatus, jqXHR)
			    {
			    	var result = response.RESULT;
			    	
			    	doSearch();
			    }
			});			
		};
	});

	$("#BTN_tZone").on("click", function() {
		getTzone();
	});
	
	$("#postalCode").on("keydown", function(event) {
		if (event.keyCode == 13)
		{
			getTzone();
		};
	});
	
	function getTzone()
	{
		if ($.trim($("#postalCode").val()) == "")
		{
			alert("[[#{HQPD_M_EMPTY_PORTAL_CODE}]]");
			$("#postalCode").focus();
			return;
		};
		
		$.ajax({
			url: "/portal/corp/uk/scm/parts/order/create/onetime_address/postal_code",
			data: "country=" + $("#country").val() + "&postalCode=" + $("#postalCode").val(),
		    success: function(response, textStatus, jqXHR)
		    {
		    	var transportZone = $.trim(response.RESULT);
		    	
		    	if (transportZone != "")
		    	{
		    		$.ajax({
		    			url: "/portal/corp/uk/scm/parts/order/create/onetime_address/tzone_list",
		    			data: "country=" + $("#country").val() + "&transportZone=" + transportZone,
		    		    success: function(response, textStatus, jqXHR)
		    		    {
		    		    	var transportZoneName = $.trim(response.RESULT);
		    		    	
		    		    	if (transportZoneName != "")
		    		    	{
			    		    	$("#transportZone").val(transportZone);
			    		    	$("#transportZoneName").val(transportZoneName);		    		    		
		    		    	}
		    		    	else
		    		    	{
		    		    		alert("[[#{HQPD_M_EMPTY_RESULT}]]");
		    		    	};
		    		    }
		    		});			    		
		    	}
		    	else
		    	{
		    		alert("[[#{HQPD_M_EMPTY_RESULT}]]");
		    	};
		    }
		});		
	};
	
	function doSearch()
	{
		$tableObj.ajax.reload();
	};
});
</script>	
</th:block>