<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/eu/parts/popup/index}">

<th:block layout:fragment="content">

<div class="block-header">
	<div class="block-title" th:text="#{EUP_L_0073}"></div>	
	<div class="block-button-area">
		<button id="BTN_search" th:text="#{EUP_B_0002}"></button>	<!-- Search -->
		<div class="split"></div>
		<button onclick="document.location.href = window.location.pathname" th:text="#{EUP_B_0017}"></button>	<!-- Reset -->
		<div class="split"></div>
		<button class="prdLisBtn" th:text="#{EUP_B_0004}"></button>		<!-- Back -->	
	</div>
</div>

<div class="mallsearch-area"> 
<form id="FORM_search" autocomplete="off" onsubmit="return false;">
	
	<input type="hidden" id="IPT_pageNumber" name="pageNumber" value="1" />
	<input type="hidden" id="IPT_rowPerPage" name="rowPerPage" value="20" />
	<input type="hidden" id="IPT_totalCount" name="totalCount" value="0" />
		
	<table class="mallcondition">
	<tbody>
		<tr>
			<th th:text="#{EUP_L_0063}"></th>	<!-- Category -->
			<td>
				<select id="SLT_categoryCode" name="categoryCode" class="custom-ui">
					<option th:each="categoryDto : ${categoryList}"
						th:value="${categoryDto.mcSeq}"
						th:text="${categoryDto.categoryName}">
					</option>
				</select>				
			</td>
			<th th:text="#{EUP_L_0076}"></th>	<!-- Product Code/Name -->
			<td><input type="text" id="IPT_productCodeOrName" name="productCodeOrName" class="custom-ui"></td>						
		</tr>
		<tr>
			<th th:text="#{EUP_L_0066}"></th>	<!-- Display Y/N -->
			<td>
				<select id="SLT_fgDisplay" name="fgDisplay" class="custom-ui">
					<option value="Y" selected="selected">Y</option>
					<option value="N">N</option>
				</select>
			</td>
			<th></th>
			<td></td>
		</tr>
	</tbody>
	</table>		
</form>
</div>	

<div class="split-row"></div>


<!-- 데이터 영역 Start -->
<div class="mall-grid-info">
	<div class="grid-total">
		<span>total</span>
		<div class="split"></div>
		<span id="IPT_totalCountTxt" class="total-number">000</span>
		<div class="split"></div>
	</div>
	<div class="block-button-area">		
		<button class="prdRegBtn" th:text="#{EUP_B_0009}"></button>		<!-- Add -->
		<div class="split"></div>
		<button class="prdDelBtn" th:text="#{EUP_B_0010}"></button>		<!-- Delete -->
	</div>
</div>

<div id="sample-grid-area" class="mall-flex-grow mall-grid-area">
	<table id="sample-grid" class="order-column stripe compact"></table>
</div>
<!-- 데이터 영역 End -->

<form id="FORM_list" autocomplete="off" onsubmit="return false;"></form>

<form id="FORM_delete" method="post" autocomplete="off" onsubmit="return false;" enctype="multipart/form-data">
	<div id="deleteFormDiv"></div>
</form>		
		
<form id="FORM_view" method="post" action="[[${BASE_PATH}]]/merchandize/product/view">
	<input type="hidden" id="IPT_mpSeqView" name="mpSeq">
</form>


<script type="application/javascript">
var $tableObj;

$(function(){
	makeResultGridData();
});

$(document).ready(function() 
{
// 	$('#DIV_mallTitle').text( '[[#{EUP_L_0073}]]' );	// Manage Product	
// 	var data = []; 
// 	makeResultGridData(data);
	
// 	// window 리사이즈시 그리드 높이 다시 맞춤. (그리드의 parent 요소의 높이에 맞춤)
// 	installDataTableResizer($tableObj, $("#sample-grid-area"));	
// 	// dataTable 버그 수정.
// 	installDataTableBugFix("sample-grid");
});

// 동작확인용 dummy
function checkboxProc(thisVal) {
//	alert(thisVal);
}


$('#BTN_search').click(function() 
{
	ProgressBar.show();
	// ProgressBar.show();
	$tableObj.ajax.reload();
	
// 	console.log('BTN_search clicked');
// 	$.ajax({
// 	    url:'[[${BASE_PATH}]]/merchandize/product/list_admin',
// 	    type:'post', 
// 		data: $("#FORM_search").serialize(),
// 	    success: function(data) {
	    	
// 	    	$tableObj.clear();
	    	
// 	    	if ( data.RESULT.productList != null ) 
// 	    	{
// 	    		makeResultGridData(data.RESULT.productList);
// 	    		$('#IPT_totalCountTxt').text(data.RESULT.productList.length);	
// 	    	} else 
// 	    	{	
// 	    		makeResultGridData(new Array());	    		
// 	    		installDataTableResizer($tableObj, $("#sample-grid-area"));	
	    		
// 	    		$('#IPT_totalCountTxt').text(0);	    		
// 	    	}
	    	
	    	
// 	    }
// 	});
});


//그리드 관련기능 Start
function makeResultGridData(resultData) 
{	
	$tableObj = $("#sample-grid").DataTable({
// 		responsive: true,
// 		destroy: true,	// 테이블을 재사용할 필요가 있을 경우 추가(ex: 페이지 생성 시 빈 테이블 생성한 후 사용자가 검색조건 지정 후 검색 시 테이블을 새로 데이터에 맞추어 만들어아 할 경우)
		select: {
			selector: 'td:not(.noselect)'	// noselect class 컬럼은 select 하지 않도록 한다. (input과 충돌 발생)
	    },
		ordering: true, 		
		scrollY: 40,				
		fixedColumns: { leftColumns: 1 },   
		columnDefs: [			
            { targets: [0, 1, 5, 7], className: 'dt-body-center' },
            { targets: [2, 3, 4, 6], className: 'dt-body-left dt-nowrap' }
		],
		columns : [
			// 컬럼에 checkbox 설정
			{	name: "productCheckbox",	     // chk 는  data에 없는 컬럼. 
				title: '<input type="checkbox" class="custom-ui" onclick="allChecked(this)"><label></label>',
				className:"center noselect", // row selection 기능 막음. 
				width: 20,  		 // checkbox 컬럼은 width 작게
				orderable: false,	 // checkbox 는 정렬 불가  
				defaultContent: '<input type="checkbox" class="custom-ui " onclick="syncInput(this)"><label></label>' // FixedColumns 사용시엔 syncInput 호출 필요함.
			},
			{	
				//name: 'productImageUrl',
				data: "imageUrl", 
				title: '[[#{EUP_L_0083}]]',	// Image
				render : function(data, type, row) {	// path에 \가 들어가면 url인식을 못 하는 문제가 있어, /로 치환해서 request 보냄 
					return '<img src="/portal/corp/eu/common/file_load/image_viewer?filePath=' + data.replace("\\", "/") + '" style="width:30px;height:30px;" alt="No Image" onclick="javascript:showImageLayerPopup(' + row.mpSeq + ');" />';
				}
			},
			{	data: "categoryName", 
				title: '[[#{EUP_L_0063}]]'	// Category
			},
			{	data: "materialNo", 
				title: '[[#{EUP_L_0195}]]'	// Product
			},
			{	data: "productName", 
				title: '[[#{EUP_L_0081}]]',	// Product Name
				render : function(data, type, row) {
					return '<a onclick="javascript:goView(' + row.mpSeq + ');" style="cursor:pointer" class="link_mall">' + data + '</a>';
				}
			},			
			{	data: "fgDisplay", 
				title: '[[#{EUP_L_0066}]]'	// Display Y/N
			},			
			{	data: "regUsername", 
				title: '[[#{EUP_L_0069}]]'	// Reg.User
			},
			{ 	data: "regDate", 
				title: '[[#{EUP_L_0070}]]',	// Reg.Date
				render : function(data, type, row) {
					var d1 = new Date(data);
		    		return getDateFormat(d1, 'yyyyMMdd');	
				}				
			},
			{ 	
				data: "mpSeq", 
				visible: false
			}
		],
		ajax: {
			url: "[[${BASE_PATH}]]/merchandize/product/list_admin",
			type:'post', 
			data: function(p)
			{
				// ajax로 넘길 파라미터
				p.categoryCode = $("#SLT_categoryCode").val();
				p.productCodeOrName = $("#IPT_productCodeOrName").val();
				p.fgDisplay = $("#SLT_fgDisplay").val();
			},
			dataSrc: function(response)
			{
				if (response.RESULT.productList != null)
				{
					return response.RESULT.productList;
				} else
				{
					return new Array();
				}	
			}
		},
		initComplete:function(settings, json) 
		{			
			ProgressBar.hide();
		},
		//data : resultData,
		paging : true,				// 페이징 기능 켬
		pageLength: 40    			
	});

	// Datatable onload event
	$("#sample-grid").on("draw.dt", function () {
		ProgressBar.hide();
	});		

	// window 리사이즈시 그리드 높이 다시 맞춤. (그리드의 parent 요소의 높이에 맞춤)
	installDataTableResizer($tableObj, $("#sample-grid-area"));	
	// dataTable 버그 수정.
	installDataTableBugFix("sample-grid");
	
}
//그리드 관련기능 End


// 다건 삭제
$('.prdDelBtn').click(function() 
{	
	var isChecked = false;
	var tds = $tableObj.columns(0).nodes()[0];
	for (var i = 0; i < tds.length; i++) 
	{
		var $td = $(tds[i]);
		if ($td.find("input").attr("checked"))
		{
			isChecked = true;
			break;
		}
	}
	
    if(!isChecked) 
    {
    	alert("[[#{EUP_M_0021}]]");	// Please select targets to delete.
      	return false;
    } else 
    {
    	$('#deleteFormDiv').empty();
    	
    	for (var j = 0; j < tds.length; j++) 
    	{
    		var $td2 = $(tds[j]);
    		if ($td2.find("input").attr("checked"))
    		{
    			var data = $tableObj.row($td2).data();
    			$('#deleteFormDiv').append('<input type="hidden" name="mpSeq" value="' + data.mpSeq + '">');
    		}
    	}
    	    	
    	$.ajax({
    		url:'[[${BASE_PATH}]]/merchandize/product/delete',
		    type:'post', 
			data: $("#FORM_delete").serialize(),
		    success: function(data) 
		    {		    	
		    	location.reload();    
		    }
		});
    }	
});


// 등록 화면 이동
$('.prdRegBtn').click(function() 
{
	location.href = "[[${BASE_PATH}]]/merchandize/product/register";
});

// 목록 화면 이동
$('.prdLisBtn').click(function() 
{
	location.href = "[[${BASE_PATH}]]/merchandize/main/main_admin";
});


// 조회 화면으로 이동
function goView(mpSeq) 
{	
	$("#IPT_mpSeqView").val(mpSeq);	
	$("#FORM_view").submit();
}

function getDateFormat(dateObj, format) 
{
	if (format == 'yyyyMMdd') 
	{
		var year = dateObj.getFullYear();
	    var month = dateObj.getMonth() + 1;
	    var day = dateObj.getDate();
	    if (month < 10)
	    {
	        month = "0" + month;
	    }
	    if (day < 10) 
	    {
	        day = "0" + day;
	    }	 
	    return year + "." + month + "." + day;
	}	
}
</script>

</th:block>
</html>
