<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/eu/parts/popup/index}">

<th:block layout:fragment="content">

<div class="block-header">
	<div class="block-title" th:text="#{EUP_L_0077}"></div>
	<div class="block-button-area">
		<button id="BTN_search" th:text="#{EUP_B_0002}"></button>	<!-- Search -->
		<div class="split"></div>
		<button onclick="document.location.reload()" th:text="#{EUP_B_0017}"></button>		<!-- Reset -->
		<div class="split"></div>
		<button id="BTN_cart" th:text="#{EUP_B_0018}"></button>		<!-- Cart -->
	</div>
</div>

<div class="mallsearch-area">
<!-- 검색 폼 영역 시작 -->
<form id="FORM_search" autocomplete="off" onsubmit="return false;">

<input type="hidden" id="IPT_selectedMcSeq" name="selectedMcSeq" th:value="${selectedMcSeq}"/>		
<input type="hidden" id="IPT_pageNumber" name="pageNumber" value="1" />
<input type="hidden" id="IPT_rowPerPage" name="rowPerPage" value="20" />
<input type="hidden" id="IPT_totalCount" name="totalCount" value="0" />

<input type="hidden" id="IPT_userCorp" name="userCorp" th:value="${userCorp}" />

<table class="mallcondition">
	<tbody>
		<tr>
			<th th:text="#{EUP_L_0063}"></th>	<!-- Category -->
			<td>
				<select id="SLT_categoryCode" name="categoryCode" class="custom-ui">
					<option th:each="categoryDto : ${categoryList}"
						th:value="${categoryDto.mcSeq}"
						th:text="${categoryDto.categoryName}">
					</option>
				</select>
			</td>
			<th th:text="#{EUP_L_0076}"></th>	<!-- Product Code/Name -->
			<td><input type="text" id="IPT_productCodeOrName" name="productCodeOrName" class="custom-ui"></td>			
		</tr>
	</tbody>
</table>	
</form>
<!-- 검색 폼 영역 끝 -->
</div>

<div class="split-row"></div>

<!-- 데이터 영역 Start -->
<div class="mall-grid-info">
	<div class="grid-total">
		<span>total</span>
		<div class="split"></div>
		<span id="IPT_totalCountTxt" class="total-number">000</span>
	</div>
	<div class="block-button-area">		
		<button class="prdCrtBtn" th:text="#{EUP_B_0019}"></button>	<!-- Add to Cart -->
		<div class="split"></div>
		<button class="prdOdrBtn" th:text="#{EUP_B_0020}"></button>	<!-- Buy Now -->			
	</div>
</div>

<div id="sample-grid-area" class="mall-flex-grow mall-grid-area">
	<table id="sample-grid" class="order-column stripe compact"></table>
</div>
<!-- 데이터 영역 End -->

<form id="FORM_list" class="ui form" autocomplete="off" onsubmit="return false;"></form>

<form id="FORM_cart_main" method="post" action="[[${BASE_PATH}]]/merchandize/cart/main">	
</form>
<form id="FORM_cart" method="post" action="[[${BASE_PATH}]]/merchandize/cart">
	<div id="cartFormDiv"></div>
</form>

<form id="FORM_view" method="post" action="[[${BASE_PATH}]]/merchandize/product/view">
	<input type="hidden" id="IPT_mpSeqView" name="mpSeq">
</form>

<!-- 이미지 크게보기 레이어 팝업 -->
<div id="DIV_popLayer" style="display:none;width:620px;height:774px;border-radius: 6px;box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.16);background-color: #ffffff;">	
	<div class="mall-popup-upperline"></div>
	<div style="padding:0px 20px 20px 20px;">
		<div class="block-header-mall-popup">
			<div class="block-title-mall-layer" th:text="#{EUP_L_0078}"></div>	<!-- View Image -->
			<div class="block-button-area">
				<img id="IMG_popLayerClose" src="/portal/img/x_gray_18px.png" style="padding-top: 15px;" />
			</div>
		</div>
		<div id="DIV_popLayerContents"></div>
	</div>			
</div>


<script type="application/javascript">

var $tableObj;
var fileNumCls = Number( [[${previewLimitCnt}]] );

$(function()
{
	makeResultGridData();
});

$(document).ready(function() 
{	
	if ( $('#IPT_selectedMcSeq').val() != '' ) 
	{	
		$('#SLT_categoryCode').val( $('#IPT_selectedMcSeq').val() );
	}
});

$('#BTN_cart').click(function()
{	
	$("#FORM_cart_main").submit();
});		

// 검색
$('#BTN_search').click(function() 
{	
	ProgressBar.show();
	$tableObj.ajax.reload();
});


// 그리드 관련기능 Start
function makeResultGridData(resultData) {
	
	$tableObj = $("#sample-grid").DataTable({
		select: {
			selector: 'td:not(.noselect)'	// noselect class 컬럼은 select 하지 않도록 한다. (input과 충돌 발생)
	    },
		ordering: true, 		
		scrollY: 100,				
		fixedColumns: { leftColumns: 1 },  
		columnDefs: [			
            { targets: [0, 1], className: 'dt-body-center' },
            { targets: [2], className: 'dt-body-left dt-nowrap' },
            { targets: [3, 5], className: 'dt-body-right' }
		], 
		columns : [
			// 컬럼에 checkbox 설정
			{	name: "productCheckbox", 
				title: '<input type="checkbox" class="custom-ui" onclick="allChecked(this)"><label></label>',
				className:"center noselect", // row selection 기능 막음. 
				width: 20,  		 // checkbox 컬럼은 width 작게
				orderable: false,	 // checkbox 는 정렬 불가  
				defaultContent: '<input type="checkbox" class="custom-ui " onclick="syncInput(this)"><label></label>' // FixedColumns 사용시엔 syncInput 호출 필요함.
			},
			{	
				name: 'productImage',
				data: "imageUrl", 
				title: '[[#{EUP_L_0083}]]',	// Image
				render : function(data, type, row) {
					return '<img src="/portal/corp/eu/common/file_load/image_viewer?filePath=' + data.replace("\\", "/") + '" style="width:30px;height:30px;" alt="No Image" onclick="javascript:showImageLayerPopup(' + row.mpSeq + ');" />';
				}
			},
			{	data: "productName", 
				title: '[[#{EUP_L_0195}]]',	// Product
				width: 400,
				render : function(data, type, row) {					
					return '<p style="max-width:380px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">' + data + '</p>';					
				}
			},
			{	data: "price", 
				title: '[[#{EUP_L_0033}]]',	// List Price
				width: 150,
				render : function(data, type, row) {
					return Number(data).toLocaleString();
				}
			},
			{	name: "quantity", 		// input은  data에 없는 컬럼.
				title: '[[#{EUP_L_0141}]]',	// Qty
				width: 60,
				orderable: false,
				className:"center noselect",
				render : function(data, type, row) {
					return '<input type="text" style="align:center;text-align:right;" class="custom-ui" id="IPT_QUANTITY_' + row.mpSeq + '" value="0" onkeyup="javascript:chkOnlyNum(this);" onchange="syncInput(this)" onfocusout="javascript:calcPriceSum(this,' + row.mpSeq +  ');">';
// 					return '<input type="text" class="custom-ui" id="IPT_QUANTITY_' + row.mpSeq + '" value="0" onkeyup="javascript:chkOnlyNum(this);" onchange="syncInput(this)" >';
				},
				defaultContent: '<input type="text" class="custom-ui" value="0" onkeyup="javascript:chkOnlyNum(this);" onchange="syncInput(this)" onfocusout="javascript:calcPriceSum(this);">' // FixedColumns 사용시엔 syncInput 호출 필요함.
			},			
			{	 
				name: 'gridPriceSum',
				title: '[[#{EUP_L_0196}]]',	// Price(Sum)
				width: 150,
				render : function(data, type, row) {
					return '<span id="SPN_PRICESUM_' + row.mpSeq + '">0</span>';
				},
				defaultContent: '<span>0</span>'
			},
			{ 	
				data: "materialNo", 
				visible: false
			},
			{ 	
				data: "mpSeq", 
				visible: false
			}
		],
		ajax: {
			url: "[[${BASE_PATH}]]/merchandize/product/list",
			type:'post', 
			data: function(p)
			{
				// ajax로 넘길 파라미터
				p.categoryCode = $("#SLT_categoryCode").val();
				p.productCodeOrName = $("#IPT_productCodeOrName").val();
			},
			dataSrc: function(response)
			{
				if (response.RESULT.productList != null)
				{
					return response.RESULT.productList;
				} else
				{
					return new Array();
				}	
			}
		},
		initComplete:function(settings, json) 
		{			
			ProgressBar.hide();
		},
// 		data : resultData,
		paging : true,				// 페이징 기능 켬
		pageLength: 20    			
	});	
	
	// Datatable onload event
	$("#sample-grid").on("draw.dt", function () {
		ProgressBar.hide();
	});		
	
	// window 리사이즈시 그리드 높이 다시 맞춤. (그리드의 parent 요소의 높이에 맞춤)
	installDataTableResizer($tableObj, $("#sample-grid-area"));	
	// dataTable 버그 수정.
	installDataTableBugFix("sample-grid");
}
// 그리드 관련기능 End


// Row별 총합가격 계산
function calcPriceSum(obj, mpSeq) 
{	
	this_row = $tableObj.rows( (obj.closest("tr")) ).data();	
	var priceSum = Number(this_row[0].price) * Number(obj.value);
	this_row[0].gridPriceSum = priceSum;	
	$('#SPN_PRICESUM_' + mpSeq).text( priceSum.toLocaleString() );
}


$('.prdCrtBtn').click(function() 
{
	addCartFunc('cart');
});
$('.prdOdrBtn').click(function() 
{
	addCartFunc('order');
});

// 카트 담기 or 바로 주문 
function addCartFunc(identifier) 
{	
	var isChecked = false;
	var tds = $tableObj.columns(0).nodes()[0];
	for (var i = 0; i < tds.length; i++) 
	{
		var $td = $(tds[i]);
		if ($td.find("input").attr("checked"))
		{
			isChecked = true;
			break;
		}
	}
			
 	if (!isChecked) 
 	{
 		alert("[[#{EUP_M_0031}]]");	// Please select product.
   		return false;
 	} else 
 	{	
 		var materialNoArr = new Array();	// 상품정보 관련 변수 초기화
		var quantityArr = new Array();
		var	mpSeqArr = new Array();	
		var isValidQtyFlag = true; 
 		for (var j = 0; j < tds.length; j++) 
    	{
    		var $td2 = $(tds[j]);
    		if ($td2.find("input").attr("checked"))
    		{
    			var data = $tableObj.row($td2).data();
				var quantityVal = $('#IPT_QUANTITY_' + data.mpSeq).val();
    			if ( quantityVal == '' || Number(quantityVal) < 1 )		
    	 		{    				
    	 			isValidQtyFlag = false;
    	 			break;
    	 		}    	

    			mpSeqArr.push(data.mpSeq);
    			materialNoArr.push(data.materialNo);
    			quantityArr.push(Number(quantityVal));    			
    		}
    	}
 		 	    
	 	if (!isValidQtyFlag) 
	 	{
	 		alert("[[#{EUP_M_0027}]]");	// Please input product quantity.
	 		return false;
	 	} else 
 		{
	 		if (identifier == 'cart')
	 		{	
	 			$('#cartFormDiv').empty();
	 			
	 			for (var k = 0; k < mpSeqArr.length; k++) {
	 				$('#cartFormDiv').append('<input type="hidden" name="mpSeq" value="' + mpSeqArr[k] + '">' + '<input type="hidden" name="quantity" value="' + quantityArr[k] + '">');
	 			}
	 			
		 		var urlStr = '[[${BASE_PATH}]]/merchandize/cart/' +  identifier;
		 		$.ajax(
				{
				    url: urlStr,
				    type:'post', 
					data: $("#FORM_cart").serialize(),
			    	success: function(data) 
			    	{
			    		location.reload();		        
				    }
				});
	 		} else if (identifier == 'order')
	 		{
	 			
	 			var isConfirm = window.confirm("Do you want to order immediately?");
	 			if (isConfirm)
	 			{	
	 				var userCorp = $("#IPT_userCorp").val();	 				
	 				var matAddStr = '';
	 				var	qtyAddStr = '';
	 				var userCorpParam = userCorp.substring(userCorp.length -2, userCorp.length).toLowerCase();	
	 				var odrUrlParam = '/portal/corp/' + userCorpParam + '/scm/parts/order/create/order_form?from=MERCHANDIZE&materialNosFrom=';
	 				
	 				for (var l = 0; l < mpSeqArr.length; l++) {
	 					l > 0 ? matAddStr += '^' + materialNoArr[l] : matAddStr += materialNoArr[l];
	 					l > 0 ? qtyAddStr += '^' + quantityArr[l] : qtyAddStr += quantityArr[l];
	 				}
	 				
	 				odrUrlParam += matAddStr + "&orderQtiesFrom=" + qtyAddStr;	 				
	 				window.opener.location.href = odrUrlParam;
	 				self.close();
	 			} else 
 				{
	 				console.log("no confirm");
 				}
	 		}
 		}
 	}
}


var slideIndex = 1;
// 이미지 slide show layer popup
function showImageLayerPopup(mpSeq)
{	
// 	console.log('이미지 클릭:프리뷰 로직 Start:mpSeq:' + mpSeq);
	
	$("#merchandizeBodyDiv").css("opacity: 0.25;background-color: #000000;");
	
	$.ajax({
	    url:'[[${BASE_PATH}]]/merchandize/product/previewImage', 
	    type:'post', 
		data: {
			tSeq : mpSeq
		},
		datatype: 'json',
	    success: function(data) {
	    	viewPreviewImage(data.RESULT.imageFileList);
	    },
	    error: function(err) {
	    	
	    }
	});
}	
	
// 이미지 프리뷰 레이어 창의 내용을 새로 만들어 넣고 프리뷰를 표시한다.	
function viewPreviewImage(imageList) 
{	
	$("#DIV_popLayerContents").empty();
	var layerContentsStr = '<div class="containerImage">';
		
// 	var fileNames = ['500_1.png','500_2.jpg','500_3.jpg','500_4.jpg','500_5.png'];	
	var fileNames = new Array();
	for (var z = 0; z < imageList.length; z++)
	{
		fileNames.push(imageList[z].storagePath + imageList[z].savedName);
	}
	
	for (var i = 1; i <= fileNumCls; i++)
	{	
		layerContentsStr += '<div class="mySlides">';
		layerContentsStr += '<img src="/portal/corp/eu/common/file_load/image_viewer?filePath=' + fileNames[i-1] + '" style="width:580px;height:580px;" />';
		layerContentsStr += '</div>';
	}	
	layerContentsStr += '<a class="prev" onclick="plusSlides(-1, -1)"> ❮ </a>';
	layerContentsStr += '<a class="next" onclick="plusSlides(1, 1)"> ❯ </a>';
	
	layerContentsStr += '<div class="caption-container"><p id="caption" style="padding-top:6px;"></p></div>';
	
	
	// 미리보기 Start
	layerContentsStr += '<div class="row">';
	for (var j = 1; j <= fileNumCls; j++)
	{	
		if (j == 1) 
		{
			layerContentsStr += '<div class="columnpreview">';	
		} else 
		{
			layerContentsStr += '<div class="columnpreview_margin20">';
		}
		
		layerContentsStr += 	'<img class="demo cursor" name="imgThumbs" id="IMG_thumb_'+ j + '" src="/portal/corp/eu/common/file_load/image_viewer?filePath=' + fileNames[j-1] + '" style="width:100px;height:100px;" onclick="currentSlide(' + j + ', ' + j + ')" alt="첨부파일 이름" />';
// 		layerContentsStr += 	'<img class="demo cursor" name="imgThumbs" id="IMG_thumb_'+ j + '" src="/portal/img/tmpimage/' + fileNames[j-1] + '" style="width:100px;height:100px;" onclick="currentSlide(' + j + ', ' + j + ')" alt="첨부파일 이름" />';
		layerContentsStr += '</div>';
	}
	layerContentsStr += '</div></div>';	// row, container div 닫음
	// 미리보기 End
	
	$("#DIV_popLayerContents").html(layerContentsStr);
		
	$("#DIV_popLayer").show();	
	$("#DIV_popLayer").center();
	
	// 슬라이더 실행
	slideIndex = 1;
	showSlides(slideIndex);
	
// 	console.log('이미지 눌림 끝');
}

$("#IMG_popLayerClose").click(function()
{
	$("#merchandizeBodyDiv").css("opacity: 1;background-color: #ffffff;");
	$("#DIV_popLayer").hide();	
	$("#DIV_popLayerContents").empty();	
});

jQuery.fn.center = function () {
    this.css("position","absolute");
    this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) + $(window).scrollTop()) + "px");
//     this.css("top", "100px");
    this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) + $(window).scrollLeft()) + "px");
//     this.css("left", "250px");
    return this;
}

// 슬라이드쇼 관련 스크립트 Start
function plusSlides(n, directionNum) 
{
  showSlides(slideIndex += n, directionNum);
}

function currentSlide(n, directionNum) 
{
  showSlides(slideIndex = n, directionNum);
}

function showSlides(n, directionNum) 
{
	var i;
	var slides = document.getElementsByClassName("mySlides");
	var dots = document.getElementsByClassName("demo");
	var captionText = document.getElementById("caption");
	if (n > slides.length) {slideIndex = 1}
	if (n < 1) {slideIndex = slides.length}
	for (i = 0; i < slides.length; i++) 
	{
	    slides[i].style.display = "none";
// 	    slides[i].style.border = "solid 5px #dddddd";
	}
	for (i = 0; i < dots.length; i++) 
	{
	    dots[i].className = dots[i].className.replace(" active", "");
	}
	slides[slideIndex-1].style.display = "block";
// 	slides[slideIndex-1].style.border = "solid 5px #003081";
	
	dots[slideIndex-1].className += " active";
// 	captionText.innerHTML = dots[slideIndex-1].alt;
	captionText.innerHTML = slideIndex + " / " + fileNumCls;
	
	// 아래 썸네일을 강조하기 위한 처리. 첫번째 파라미터로 오는 숫자가 0이 되는 문제가 있어서 해당 로직 보완함.
	if (Number(directionNum) != 0)
	{	
		for (var z = 1; z <= fileNumCls; z++)
		{	
			$("#IMG_thumb_" + z).css("border","solid 2px #dddddd");
		}
		
		if (n != 0)
		{
			if (n == fileNumCls + 1) 
			{
				$("#IMG_thumb_1").css("border","solid 2px #003081");	
			} else 
			{
				$("#IMG_thumb_" + n).css("border","solid 2px #003081");
			}
				
		} else 
		{
			if (Number(directionNum) == -1)
			{
				$("#IMG_thumb_" + fileNumCls).css("border","solid 2px #003081");	
			} else if (Number(directionNum) == 1)
			{
				$("#IMG_thumb_1").css("border","solid 2px #003081");
			}
		}
	}
}
// 슬라이드쇼 관련 스크립트 End

</script>

</th:block>

</html>
