<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jwebppy.platform.mgmt.i18n.mapper.LangMapper">
	<resultMap type="LangEntity" id="langEntityMap">
		<id property="lSeq" column="l_seq" />
		<result property="basename" column="basename" />
		<result property="type" column="type" />
		<result property="regUsername" column="reg_username" />
		<result property="regDate" column="reg_date" />
		<result property="modUsername" column="mod_username" />
		<result property="modDate" column="mod_date" />		
		<result property="pageNumber" column="page_number" />
		<result property="rowPerPage" column="row_per_page" />
		<result property="totalCount" column="total_count" />
		<collection property="langDetails" foreignColumn="l_seq" column="l_seq" javaType="java.util.ArrayList" ofType="LangDetailEntity" select="findLangDetailsByLseq" />
	</resultMap>

	<insert id="insertLang" parameterType="LangEntity" useGeneratedKeys="true" keyProperty="lSeq">
		insert into pltf_lang(basename, type, seq, fg_delete, reg_username, reg_date) values (
			#{basename}, #{type}, upper(#{seq}), #{fgDelete}, #{regUsername}, #{regDate}
		)
	</insert>

	<insert id="insertLangDetail" parameterType="LangDetailEntity" useGeneratedKeys="true" keyProperty="ldSeq">
		insert into pltf_lang_detail(l_seq, lk_seq, text, fg_delete, reg_username, reg_date) values (
			#{lSeq}, #{lkSeq}, #{text}, #{fgDelete}, #{regUsername}, #{regDate}
		)
	</insert>

	<update id="updateLang" parameterType="LangEntity">
		update pltf_lang set 
			basename=#{basename}, type=#{type}, mod_username=#{modUsername}, mod_date=#{modDate}
		where
			l_seq=#{lSeq}
	</update>

	<update id="updateLangDetail" parameterType="LangDetailEntity">
		update pltf_lang_detail set
			mod_username=#{modUsername},
			mod_date=#{modDate}
					
			<if test="lSeq != null">
				,l_seq=#{lSeq}
			</if>
			<if test="lkSeq != null">
				,lk_seq=#{lkSeq}
			</if>
			<if test="text != null">
				,text=#{text}
			</if>
		where
			<trim prefixOverrides="and">
				<if test="ldSeq != null">
					ld_seq=#{ldSeq}
				</if>			
				<if test="lSeq != null">
					and l_seq=#{lSeq} 
				</if>
				<if test="lkSeq != null">
					and lk_seq=#{lkSeq} 
				</if>			
			</trim>
	</update>
	
	<update id="updateLangFgDelete" parameterType="LangDto">
		update pltf_lang set fg_delete='Y', mod_username=#{modUsername}, mod_date=#{modDate}
		where		
		<foreach collection="lSeqs" item="lSeq" separator="or">
			<if test="lSeq != null">
				l_seq=#{lSeq}
			</if>
		</foreach>
	</update>	
	
	<update id="updateLangDetailFgDelete" parameterType="LangDto">
		update pltf_lang_detail set fg_delete='Y', mod_username=#{modUsername}, mod_date=#{modDate}
		where		
		<foreach collection="lSeqs" item="lSeq" separator="or">
			<if test="lSeq != null">
				l_seq=#{lSeq}
			</if>
		</foreach>
	</update>		

	<select id="findLang" parameterType="LangDto" resultMap="langEntityMap">
		select
		a.*
		from
		pltf_lang a		
		where
		fg_delete='N'

		<if test="lSeq != null and lSeq > 0">
			and a.l_seq=#{lSeq}
		</if>
		
		<if test="basename != null and basename != ''">
			and a.basename=#{basename}
		</if>
		
		<if test="type != null and type.toString() != ''">
			and a.type=#{type}
		</if>
		
		<if test="seq != null and seq != ''">
			and a.seq=#{seq}
		</if>

	</select>
	
	<select id="findLangs" parameterType="LangSearchDto" resultMap="langEntityMap">
		<include refid="PaginationMapper.header">
			<property name="orderBy" value="order by l_seq desc"/>
		</include>

		select
		a.*
		from
		pltf_lang a
		where
		not exists (
			select 1 from pltf_citem_lang_rl where l_seq=a.l_seq
		)
		and a.fg_delete='N' 
		
		<if test="basename != null and basename != ''">
			and a.basename=#{basename}
		</if>			
	
		<if test="type != null and type.toString() != ''">
			and a.type=#{type}
		</if>
		
		<if test="query != null and query != ''">
			and (
				exists (
				    select
				    1
				    from pltf_lang_detail
				    where
				    l_seq=a.l_seq
				    and fg_delete='N'
				    and upper(text) like concat('%', upper(#{query}), '%')
				)												
				or concat(a.basename, '_', a.type, '_', a.seq) like concat('%', upper(#{query}), '%')
				or a.seq like concat('%', upper(#{query}), '%')
			)			
		</if>

		order by a.l_seq desc

		<include refid="PaginationMapper.footer"/>
	</select>	

	<select id="findLangKind" parameterType="Integer" resultType="LangKindEntity">
		select
		*
		from
		pltf_lang_kind
		where
		lk_seq=#{lkSeq}
		and fg_delete='N'
	</select>
	
	<select id="findLangKinds" parameterType="langKindDto" resultType="LangKindEntity">
		select
		*
		from
		pltf_lang_kind		
		where
		fg_delete='N'
		
		<if test="basename != null">
			and basename=#{basename}
		</if>

		order by fg_default desc, sort
	</select>	

	<select id="findLangDetail" parameterType="LangDetailDto" resultType="LangDetailEntity">
		select 
		*
		from
		pltf_lang_detail
		
		<where>
			<trim prefixOverrides="and">
				<if test="lSeq != null and lSeq > 0">
					l_seq=#{lSeq}
				</if>
				<if test="lkSeq != null and lkSeq > 0">
					and lk_seq=#{lkSeq}
				</if>				
			</trim>
		</where>
	</select>	

	<select id="findLangDetailsByLseq" parameterType="Integer" resultType="LangDetailEntity">
		select
		a.lk_seq,
		b.ld_seq,
		b.l_seq,
		b.text
		from
		pltf_lang_kind a,
		(
		    select
            a.basename,
		    b.*
		    from
            pltf_lang a,
		    pltf_lang_detail b
		    where
		    a.l_seq=#{lSeq}
            and a.fg_delete='N'
            and a.l_seq=b.l_seq		    
            and b.fg_delete='N'		    
		    
		) b
		where
		a.basename=b.basename
		and a.lk_seq=b.lk_seq
		and a.fg_delete='N'
		order by a.sort
	</select>

	<select id="findLangDetails" parameterType="LangSearchDto" resultType="LangDetailEntity">
		select
		b.*
		from
		pltf_lang a,
		pltf_lang_detail b,
		pltf_lang_kind c
		where
		a.basename=#{basename}
		and a.type=#{type}
		and a.seq=#{seq}
		and a.fg_delete='N'
		and a.l_seq=b.l_seq
		and b.fg_delete='N'		
		and b.lk_seq=c.lk_seq
		and c.basename=#{basename}
		
		<if test="code != null and code != ''">
			and c.code=#{code}
		</if>
	</select>
	
	<select id="findLangDetailsCItems" parameterType="CItemSearchDto" resultType="LangDetailEntity">
		select
		d.*
		from
		pltf_citem a,
		pltf_citem_lang_rl b,
		pltf_lang c,
		pltf_lang_detail d,
		pltf_lang_kind e
		where
		a.c_seq=#{cSeq}
		and a.fg_delete='N'
		and a.c_seq=b.c_seq
		and b.l_seq=c.l_seq
		and c.l_seq=d.l_seq
		and c.fg_delete='N'
		and d.lk_seq=e.lk_seq
		and d.fg_delete='N'
		and e.basename=#{basename}
		and e.code=#{lang}
		and e.fg_delete='N'
	</select>
	
</mapper>
