<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/common/index}">

<th:block layout:fragment="content">

<style>
.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    background: #B2E4D7 !important;
    font-weight: bold !important;
    color: #000 !important;
} 
</style>

<div class="block-header">
	<div class="block-title" th:text="#{HQPD_T_PARTS_INFO}"></div><!-- Parts Info. -->
	<div class="block-button-area">
		<button id="BTN_search" type="button" th:text="#{HQPD_B_SEARCH}"></button><!-- Search -->		
	</div>	
</div>	
<div class="condition-area">
<form id="FORM_search" name="FORM_search" onsubmit="return false;">
<table class="condition table-fixed">
	<tbody>
		<tr>
			<th style="width:15%" th:text="#{HQPD_L_PARTS_NO}"></th><!-- Part No. -->
			<td colspan="3">
				<div class="input-area">
					<input type="text" id="pPartsNo" name="pPartsNo" class="custom-ui-btn" style="text-transform: uppercase;">
					<button class="btn-popup2" type="button" onclick="showSearchPartsPopup();"></button>					
				</div>
			</td>
		</tr>		
	</tbody>
</table>
</form>	
</div>
<div class="split-row"></div>
<div class="condition-area">
<table class="condition table-fixed">
	<tbody>
		<tr>
			<th style="width:15%" th:text="#{HQPD_L_DESCRIPTION}"></th><!-- Description -->
			<td id="MAKTX"></td>
			<th style="width:15%" th:text="#{HQPD_L_STOCK}"></th><!-- Stock -->
			<td id="AVA_FLAG"></td>			
		</tr>		
		<tr>
			<th th:text="#{HQPD_L_SERVICEABLE}"></th><!-- Serviceable -->
			<td id="SVRCD"></td>
			<th th:text="#{HQPD_L_NOT_SERVICE_REASON}"></th><!-- Not Service Reason -->
			<td>
				<span id="NOT_SERVICE"></span>
				
				<span id="AREA_notServiceReason" style="display:none;">
					<button id="BTN_notServiceReason" class="btn-popup2" type="button" onclick="showMoreInfoPopup(this);"></button>
				</span>
			</td>
		</tr>		
		<tr>
			<th th:text="#{HQPD_L_SALES_LOT}"></th><!-- Sales Lot  -->
			<td id="AUMNG"></td>
			<th th:text="#{HQPD_L_MODEL}"></th><!-- Model -->
			<td>						
				<div id="AREA_appliedModel" style="display:none;">			
				<span id="M_MATNR" class="custom-ui"></span>
				<button id="BTN_appliedModel" class="btn-popup2" type="button" onclick="showMoreInfoPopup(this);"></button>
				</div>								
			</td>			
		</tr>			
		<tr>
			<th th:text="#{HQPD_L_PRODUCT_HIERARCHY}"></th><!-- Product Hierarchy -->
			<td id="PRODH_T"></td>
			<th th:text="#{HQPD_L_OPEN_QTY}"></th><!-- Open Qty -->
			<td id="KWMENG"></td>			
		</tr>	
		<tr>
			<th th:text="#{HQPD_L_NET_WEIGHT}"></th><!-- Net Weight -->
			<td id="NTGEW"></td>
			<th th:text="#{HQPD_L_LIST_PRICE_COST_CODE}"></th><!-- List Price Cost Code  -->
			<td id="KONDM"></td>			
		</tr>
		<tr>
			<th th:text="#{HQPD_L_SUPPLY_PARTS_NO}"></th><!-- Supply Parts No. -->
			<td>				
				<div id="AREA_subItem" style="display:none;">			
				<span id="REPNR" class="custom-ui"></span>
				<button id="BTN_subItem" class="btn-popup2" type="button" onclick="showMoreInfoPopup(this);"></button>
				</div>
			</td>
			<th th:text="#{HQPD_L_STOCK_OF_SUPPLY_PARTS}"></th><!-- Stock of Supply Parts -->
			<td id="STOCKP"></td>			
		</tr>
	</tbody>
</table>	
</div>
<div class="split-row"></div>
<div class="condition-area">
<table class="condition">
	<thead>
		<tr>
			<th rowspan="2" th:text="#{HQPD_L_LIST_PRICE}" style="width:15%"></th><!--List Price  -->
			<th colspan="3" th:text="#{HQPD_L_NET_PRICE}" style="width:85%"></th><!-- Net Price -->			
		</tr>		
        <tr>
            <th th:text="#{HQPD_L_STOCK_ORDER}"></th><!-- Stock Order -->
            <th th:text="#{HQPD_L_MACHINE_DOWN_ORDER}"></th><!-- Machine Down Order -->
            <th th:text="#{HQPD_L_EMERGENCY_ORDER}"></th><!--Emergency Order  -->                        
        </tr>
     </thead>
     <tbody>
		<tr style="height:33px;">
			<td id="LPRICE"></td>
			<td id="YUSO"></td>
			<td id="YUMO"></td>
			<td id="YUEO"></td>						
		</tr>
	</tbody>        
</table>	
</div>	
<script>
$(window).load(function() {
	ProgressBar.hide();
});

function doSearch()
{
	if (JpUtilsString.isEmpty($("#pPartsNo").val()))
	{
		alert("[[#{HQPD_M_EMPTY_PARTS_NO}]]");
		return;
	}	
	
	$("#pPartsNo").val($("#pPartsNo").val().toUpperCase());
	
	$.ajax({
		url: "/portal/scm/parts/domestic/info/parts_info/data",		
		data: {	"pPartsNo": $("#pPartsNo").val() },
		beforeSend: function(jqXHR, settings)
		{
			ProgressBar.show();
		},
	 	success: function(data, textStatus, jqXHR) 
    	{
	    	let result = data.RESULT;	    	
	    	let items = result.items;
	    	
	    	if (items.length == 0)
	    	{
	    		alert("[[#{HQPD_M_EMPTY_RESULT}]]");
	    		document.location.reload();
	    	};	    	
	    	
			$("#MAKTX").html(items[0].MAKTX);// Part No Desc
			$("#AVA_FLAG").html(items[0].STOCK);// Stock
			$("#SVRCD").html(items[0].SVRCD);// Serviceable
			
			let notcd = $.trim(items[0].NOTCD);
			$("#NOT_SERVICE").html("");
			
			if (notcd != "")
			{
				if (notcd == "MUL")
				{
					$("#AREA_notServiceReason").show();
				}
				else
				{
					$("#AREA_notServiceReason").hide();
				};
				
				$("#NOT_SERVICE").html(notcd + ":" + items[0].NOTCD_T);// Not Service Reason
			};
			
			$("#AUMNG").html(items[0].AUMNG+" "+items[0].MEINS)

			let model = $.trim(items[0].MDLNM);
			$("#M_MATNR").html("");
			$("#AREA_appliedModel").hide();

			if (model != "")
			{
				$("#M_MATNR").html(model);// Model
				$("#AREA_appliedModel").show();
			};
			
			let openQty = $.trim(items[0].OPENQ);
			$("#KWMENG").html("");
			if (openQty != "")
			{
				$("#KWMENG").html(openQty + " " + items[0].MEINS);// Open Qty	
			};

			let supplyPartsNo = $.trim(items[0].SUPNR);
			$("#REPNR").html("");
			$("#AREA_subItem").hide();

			if (supplyPartsNo != "")
			{
				$("#REPNR").html(supplyPartsNo);// Supply Part Number
				$("#AREA_subItem").show();
			};
			
			let leadMes = $.trim(items[0].LEAD_MES);
			if (leadMes != "")
			{
				$("#STOCKP").html(items[0].STOCKP + " " + leadMes); // Stock of Supply Part
			}
			else
			{
				$("#STOCKP").html(items[0].STOCKP);
			};

			let listPriceCostCode = $.trim(items[0].KONDM);
			$("#KONDM").html("");

			if (listPriceCostCode != "")
			{
				$("#KONDM").html(listPriceCostCode + " : " + items[0].KONDM_T);// List Price Cost Code	
			};
							
			$("#PRODH_T").html(items[0].PRODH_T+"  ["+items[0].PRODH+"]");// Product Hierarchy
			$("#NTGEW").html(items[0].NTGEW+" "+items[0].GEWEI);// Net Weight
			$("#LPRICE").html(items[0].LPRICE+" "+items[0].WAERS);
			$("#YUSO").html(items[0].YUSO+" "+items[0].WAERS);
			$("#YUMO").html(items[0].YUMO+" "+items[0].WAERS);				
			$("#YUEO").html(items[0].YUEO+" "+items[0].WAERS);
    	},
    	complete: function(jqXHR, textStatus)
    	{
    		ProgressBar.hide();
    	}
	});				
}

//Search 버튼 클릭
$("#BTN_search").on("click", function(){
	doSearch(); 
});

$("#pPartsNo").on("keydown", function(event) {
	$("#pPartsNo").val($("#pPartsNo").val().toUpperCase());

	if (event.keyCode == 13)
	{
		if ($.trim($("#pPartsNo").val()) != "")
		{
			doSearch();	
		};
	};
});

$("#pPartsNo").autocomplete({	
	source: function(request, response) {
		$.ajax({
			url: "/portal/scm/parts/domestic/info/autocompete/data",
			data: {	"pPartsNo": $("#pPartsNo").val() },			
			success: function(data, textStatus, jqXHR)
			{
				let result = data.RESULT;
				
				response(
						$.map(result.items, function(item) {
							if (JpUtilsString.isNotEmpty(item.MATERIAL_TEXT))
							{
								return {
									label: item.MATERIAL + " | " + item.MATERIAL_TEXT,
									value: item.MATERIAL
								}								
							};
						})
						);
			}
		});
	},
	delay: 500,
	minLength: 4
});

/*
 * code(parts)변경 popup
 */ 	
function showSearchPartsPopup()
{
	let param = "pPartsNo=" + $("#pPartsNo").val();
	Popup.open("/portal/scm/parts/domestic/info/parts_number_popup_list?" + param, 700, 600);
};

/**
 * 이미지 클릭시 대체품, Models applied by part, Controlling part 
 * 리스트 popup띄움
 */	
function showMoreInfoPopup(obj)
{
	let id = obj.id;
	let width = 900;
	let height = 520;
	let url;
	let param = "?pPartsNo=" + $("#pPartsNo").val();
	
	if ($.trim($("#pPartsNo").val()).length > 0)
	{
		if ("BTN_subItem" == id)
		{
			url = "/portal/scm/parts/domestic/info/sub_item_popup_list";	
		}
		else if ("BTN_appliedModel" == id)
		{
			url = "/portal/scm/parts/domestic/info/applied_model_popup_list";
			width = 800;			
		}
		else if ("BTN_notServiceReason" == id)
		{
			url = "/portal/scm/parts/domestic/info/alternative_popup_list";
			width = 700;
		}
		
		Popup.open(url + param, width, height);
	}
	else
	{
		  //display error message
		  $("#pPartsNo").focus();	
	}	
}

function setPartsNo(partsNo)
{
	$("#pPartsNo").val(partsNo);
	doSearch();
};
</script>
</th:block>								