<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/common/index}">

<th:block layout:fragment="content">

<style>
.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    background: #B2E4D7 !important;
    font-weight: bold !important;
    color: #000 !important;
} 
</style>

<div class="block-header">
	<div class="block-title" th:text="#{HQPD_T_PARTS_INFO}"></div><!-- Parts Info. -->
	<div class="block-button-area">
		<button id="BTN_calc" type="button" th:text="#{HQPD_B_CALCULATE}"></button><!-- Calculate -->
		<button id="BTN_search" type="button" th:text="#{HQPD_B_SEARCH}"></button><!-- Search -->
	</div>	
</div>	
<div class="condition-area">
<form id="FORM_search" name="FORM_search" onsubmit="return false;">
<table class="condition table-fixed">
	<tbody>
		<tr>
			<th style="width:15%" th:text="#{HQPD_L_PART_NO}"></th><!-- Part No. -->
			<td colspan="3">
				<div class="input-area">
					<input type="text" id="pPartNo" name="pPartNo" class="custom-ui-btn" style="text-transform: uppercase;">
					<button class="btn-popup2" type="button" onclick="showSearchPartsPopup();"></button>					
				</div>
			</td>
		</tr>		
	</tbody>
</table>
</form>	
</div>
<div class="split-row"></div>
<div class="condition-area">
<table class="condition table-fixed">
	<tbody>
		<tr>
			<th style="width:15%" th:text="#{HQPD_L_DESCRIPTION}"></th><!-- Description -->
			<td id="MAKTX"></td>
			<th style="width:15%" th:text="#{HQPD_L_STOCK}"></th><!-- Stock -->
			<td id="STOCK"></td>			
		</tr>		
		<tr>
			<th th:text="#{HQPD_L_SERVICEABLE}"></th><!-- Serviceable -->
			<td id="SVRCD"></td>
			<th th:text="#{HQPD_L_NOT_SERVICE_REASON}"></th><!-- Not Service Reason -->
			<td>
				<span id="NOT_SERVICE_REASON"></span>
				
				<span id="AREA_notServiceReason" style="display:none;">
					<button id="BTN_notServiceReason" class="btn-popup2" type="button" onclick="showMoreInfoPopup(this);"></button>
				</span>
			</td>
		</tr>		
		<tr>
			<th th:text="#{HQPD_L_SALES_LOT}"></th><!-- Sales Lot  -->
			<td id="AUMNG"></td>
			<th th:text="#{HQPD_L_MODEL}"></th><!-- Model -->
			<td>						
				<div id="AREA_model" style="display:none;">			
				<span id="M_MATNR" class="custom-ui"></span>
				<button id="BTN_model" class="btn-popup2" type="button" onclick="showMoreInfoPopup(this);"></button>
				</div>								
			</td>			
		</tr>			
		<tr>
			<th th:text="#{HQPD_L_PRODUCT_HIERARCHY}"></th><!-- Product Hierarchy -->
			<td id="PRODH_T"></td>
			<th th:text="#{HQPD_L_OPEN_QTY}"></th><!-- Open Qty -->
			<td id="KWMENG"></td>			
		</tr>	
		<tr>
			<th th:text="#{HQPD_L_NET_WEIGHT}"></th><!-- Net Weight -->
			<td id="NTGEW"></td>
			<th th:text="#{HQPD_L_PURCHASE_LEAD_TIME}"></th><!-- Purchase Lead Time -->
			<td id="PLIFZ"></td>			
		</tr>
		<tr>
			<th th:text="#{HQPD_L_GROSS_WEIGHT}"></th><!-- Gross Weight -->
			<td id="BRGEW"></td>
			<th th:text="#{HQPD_L_DIRECT_DELIVERY}"></th><!-- Direct Delivery -->
			<td id="C_MTPOS"></td>			
		</tr>
		<tr>
			<th th:text="#{HQPD_L_PRICE_APPLIED_DATE}"></th><!-- Price Applied Date -->
			<td id="DATAB"></td>
			<th th:text="#{HQPD_L_STOCK_LOCATION}"></th><!-- Stock Location -->
			<td id="LADGR"></td>			
		</tr>	
		<tr>
			<th th:text="#{HQPD_L_SUPPLY_PART_NO}"></th><!-- Supply Part No. -->
			<td>				
				<div id="AREA_substitution" style="display:none;">			
				<span id="REPNR" class="custom-ui"></span>
				<button id="BTN_substitution" class="btn-popup2" type="button" onclick="showMoreInfoPopup(this);"></button>
				</div>
			</td>
			<th th:text="#{HQPD_L_STOCK_OF_SUPPLY_PART}"></th><!-- Stock of Supply Parts -->
			<td id="STOCKP"></td>			
		</tr>
		<tr>
			<th th:text="#{HQPD_L_BULLETIN}"></th><!-- Bulletin -->
			<td id="BULLETIN"></td>
			<th th:text="#{HQPD_L_KIT_AVAILABILITY}"></th><!-- KIT Availability -->
			<td id="EXP_AVQ"></td>
		</tr>
		<tr>
			<th th:text="#{HQPD_L_AM_DEV_PART}"></th><!-- AM Development Part -->
			<td id="AM_PART_NO" colspan="3"></td>		
		</tr>		
	</tbody>
</table>	
</div>

<div class="split-row"></div>
<div class="condition-area">
	<div class="condition-title" th:text="#{HQPD_L_SUPPLY_PART_PRICE_INFO}"></div>
	<table class="condition">
		<thead>
	        <tr>
	            <th th:text="#{HQPD_L_UOM}"></th><!-- UoM -->
	            <th th:text="#{HQPD_L_LIST_PRICE}"></th><!--List Price  -->                        
	            <th th:text="#{HQPD_L_STOCK_ORDER_LIST_PRICE}"></th><!--List Price (Stock Order)  -->
	        </tr>
	     </thead>
	     <tbody>
			<tr style="height:33px;">
				<td id="MEINS"></td>
				<td id="LPRICE_NETPR"></td>
				<td id="YUSO"></td>						
			</tr>
		</tbody>        
	</table>	
</div>	
<script>
$(window).load(function() {
	ProgressBar.hide();
});

function doSearch()
{
	if (JpUtilsString.isEmpty($("#pPartNo").val()))
	{
		alert("[[#{HQPD_M_EMPTY_PART_NO}]]");
		return;
	}	
	
	$("#pPartNo").val($("#pPartNo").val().toUpperCase());
	
	$.ajax({
		url: "/portal/iv/hq/parts/domestic/info/view/data",		
		data: {	"pPartNo": $("#pPartNo").val() },
		beforeSend: function(jqXHR, settings)
		{
			ProgressBar.show();
		},
	 	success: function(data, textStatus, jqXHR) 
    	{
	    	let result = data.RESULT;	    	
	    	let items = result.items;
	    	
	    	if (items.length == 0)
	    	{
	    		alert("[[#{HQPD_M_EMPTY_RESULT}]]");
	    		document.location.reload();
	    	};	    	
	    	
			$("#MAKTX").html(items[0].MAKTX);// Part No Desc
			$("#STOCK").html(items[0].STOCK);// Stock
			$("#SVRCD").html(items[0].SVRCD);// Serviceable
			
			// Not Service Reason
			let notcd = JpUtilsString.trimToEmpty(items[0].NOTCD);
			$("#NOT_SERVICE_REASON").html("");
			
			if (notcd != "")
			{
				if (notcd == "MUL")
				{
					$("#AREA_notServiceReason").show();
				}
				else
				{
					$("#AREA_notServiceReason").hide();
				};
				
				$("#NOT_SERVICE_REASON").html(notcd + ":" + items[0].NOTCD_T);
			};
			
			//Sales Lot
			$("#AUMNG").html(items[0].AUMNG + " " + items[0].MEINS);

			// Model
			let model = JpUtilsString.trimToEmpty(items[0].MDLNM);
			$("#M_MATNR").html("");
			$("#AREA_model").hide();

			if (model != "")
			{
				$("#M_MATNR").html(model);
				$("#AREA_model").show();
			};
			
			// Product Hierarchy
			$("#PRODH_T").html(items[0].PRODH_T+" ["+items[0].PRODH+"]");
			
			// Open Qty
			let openQty = JpUtilsString.trimToEmpty(items[0].OPENQ);
			$("#KWMENG").html("");			
			
			if (openQty != "")
			{
				$("#KWMENG").html(openQty + " " + items[0].MEINS);	
			};
			
			// Net Weight
			$("#NTGEW").html(items[0].NTGEW + " " + items[0].GEWEI);

			// Gross Weight
			$("#BRGEW").html(items[0].BRGEW + " " + items[0].GEWEI);			
			
			// Purchase Lead Time
			$("#PLIFZ").html(items[0].PLIFZ);
			
			//Direct Delivery
			$("#C_MTPOS").html(items[0].C_MTPOS);
			
			//Price Applied Date
			$("#DATAB").html(items[0].DATAB);
			
			//Stock Location
			$("#LADGR").html(items[0].LADGR);

			//Supply Part No.
			let supplyPartsNo = JpUtilsString.trimToEmpty(items[0].SUPNR);
			$("#REPNR").html("");
			$("#AREA_substitution").hide();

			if (supplyPartsNo != "")
			{
				$("#REPNR").html(supplyPartsNo);
				$("#AREA_substitution").show();
			};
			
			//Stock of Supply Part
			let leadMes = $.trim(items[0].LEAD_MES);
			if (leadMes != "")
			{
				$("#STOCKP").html(items[0].STOCKP + " " + leadMes);
			}
			else
			{
				$("#STOCKP").html(items[0].STOCKP);
			};
			
			//Bulletin
			$("#BULLETIN").html("");
			if (JpUtilsString.equals(items[0].BULLETIN, "X"))
			{
				$("#BULLETIN").html("Y");
			};
			
			//AM Development Part
			$("#AM_PART_NO").html(JpUtilsString.trimToEmpty(items[0].AM_PART_NO));
			
			//KIT Availability
			$("#EXP_AVQ").html(JpUtilsString.trimToEmpty(items[0].EXP_AVQ));
			
			//UoM
			$("#MEINS").html(JpUtilsString.trimToEmpty(items[0].MEINS));
			$("#LPRICE_NETPR").html(JpUtilsString.trimToEmpty(items[0].LPRICE_NETPR) + " " + items[0].WAERS);
			
			$("#BTN_calc").on("click", function() {
				$("#YUSO").html(JpUtilsString.trimToEmpty(items[0].LPRICE) + " " + items[0].WAERS);	
			});			
    	},
    	complete: function(jqXHR, textStatus)
    	{
    		ProgressBar.hide();
    	}
	});				
}

//Search 버튼 클릭
$("#BTN_search").on("click", function(){
	doSearch(); 
});

$("#pPartNo").on("keydown", function(event) {
	$("#pPartNo").val($("#pPartNo").val().toUpperCase());

	if (event.keyCode == 13)
	{
		if ($.trim($("#pPartNo").val()) != "")
		{
			doSearch();	
		};
	};
});

$("#pPartNo").autocomplete({	
	source: function(request, response) {
		$.ajax({
			url: "/portal/iv/hq/parts/domestic/info/autocompete/data",
			data: {	"pPartNo": $("#pPartNo").val() },			
			success: function(data, textStatus, jqXHR)
			{
				let result = data.RESULT;
				
				response(
						$.map(result.items, function(item) {
							if (JpUtilsString.isNotEmpty(item.MATERIAL_TEXT))
							{
								return {
									label: item.MATERIAL + " | " + item.MATERIAL_TEXT,
									value: item.MATERIAL
								}								
							};
						})
				);
			}
		});
	},
	delay: 500,
	minLength: 4
});

/*
 * code(parts)변경 popup
 */ 	
function showSearchPartsPopup()
{
	let param = "pPartNo=" + $("#pPartNo").val();
	Popup.open("/portal/iv/hq/parts/domestic/info/popup/part_search?" + param, 700, 600);
};

/**
 * 이미지 클릭시 대체품, Models applied by part, Controlling part 
 * 리스트 popup띄움
 */	
function showMoreInfoPopup(obj)
{
	let id = obj.id;
	let width = 900;
	let height = 520;
	let url;
	let param = "?pPartNo=" + $("#pPartNo").val();
	
	if ($.trim($("#pPartNo").val()).length > 0)
	{
		if ("BTN_substitution" == id)
		{
			url = "/portal/iv/hq/parts/domestic/info/sub_item_popup_list";	
		}
		else if ("BTN_model" == id)
		{
			url = "/portal/iv/hq/parts/domestic/info/applied_model_popup_list";
			width = 800;			
		}
		else if ("BTN_notServiceReason" == id)
		{
			url = "/portal/iv/hq/parts/domestic/info/alternative_popup_list";
			width = 700;
		}
		
		Popup.open(url + param, width, height);
	}
	else
	{
		  //display error message
		  $("#pPartNo").focus();	
	}	
}

function setPartsNo(partsNo)
{
	$("#pPartNo").val(partsNo);
	doSearch();
};
</script>
</th:block>								