<!-- bottom.html begin -->
<div class="footer-area">	
	<div class="footer">
		<div class="split-row-compact"></div>
		<div class="logo-area">
			<img class="footer-logo" th:src="@{/portal/img/logo-s.png}" alt="Doosan"/>
			<div class="split"></div>
			<div class="copyright" th:text="#{PLTF_T_COPYLEFT}"></div>
		</div>
		<div>
			<button>Language</button>
		</div>
		<div class="split-row-compact"></div>
	</div>
</div>
<!-- bottom.html end -->

<form id="FORM_logout" method="post" th:action="@{/platform/security/authentication/logout}"></form>

<script>
function goHome()
{
	document.location.href = "/forward/entry_point";
};

function clickUserInfo()
{
	Popup.open("/portal/corp/eu/common/info/user/account_form", 600, 250);
};

function clickDealerInfo()
{
	Popup.open("/portal/scm/parts/common/info/dealer/detail", 1024, 700);
};

function clickLogout()
{
	$("#FORM_logout").submit();
};

function checkExpiredPassword()
{
	$.ajax({
		url: "/platform/security/authentication/check_password_expired",
	    success: function(response, textStatus, jqXHR)
	    {
	    	if (response.RESULT == "Y")
	    	{
	    		Modal.show("[[#{DIVEU_T_0097}]]", 500, 150, "[[#{DIVEU_T_0098}]] <div style='text-align: center; margin-top:20px;'><button type='button' onclick='clickUserInfo()'>[[#{DIVEU_B_0041}]]</button></div>", false);	    		
	    	};
	    }
	});	
};

$(document).ajaxError(function(event, jqXHR, ajaxSettings, thrownError) {
	if (jqXHR.status == "401" || jqXHR.status == "403")
	{
		alert("[[#{DIVEU_M_0048}]]");
		document.location.href = "/";
	}
	else
	{
		//alert("[[#{DIVEU_M_0049}]]");
		//document.location.href = "[[${T(org.jwebppy.platform.core.PlatformConfigVo).ERROR_PAGE_URL}]]";
	};
	
	try
	{
		ProgressBar.hide();
	}
	catch (e) {}
});

$(document).ready(function() {
	//checkExpiredPassword();
});
</script>