<!-- bottom.html begin -->
<div class="footer-area">	
	<div class="footer">
		<div class="split-row-compact"></div>
		<div class="logo-area">
			<img class="footer-logo" th:src="@{/portal/img/logo-s.png}" alt="Doosan"/>
			<div class="split"></div>
			<div class="copyright" th:text="#{PLTF_T_COPYLEFT}"></div>
		</div>
		<div>
			<button>Language</button>
		</div>
		<div class="split-row-compact"></div>
	</div>
</div>
<!-- bottom.html end -->

<script>
$(document).ready(function() {
});

/*
 * Ajax global settings.
 */
$(document).ajaxError(function(event, jqXHR, ajaxSettings, thrownError) {
	if (jqXHR.status == "401" || jqXHR.status == "403")
	{
		document.location.href = "[[${T(org.jwebppy.portal.common.PortalConfigVo).FORM_LOGOUT_PROCESSING_URL}]]";
	}
	else
	{
		//document.location.href = "[[${T(org.jwebppy.platform.core.PlatformConfigVo).ERROR_PAGE_URL}]]";
	};
	
	try
	{
		ProgressBar.hide();
	}
	catch (e) {}
});

$(document).ajaxSend(function(event, jqXHR, ajaxOptions) {
	jqXHR.setRequestHeader(JpUtilsSecurity.CSRF.NAME, JpUtilsSecurity.CSRF.TOKEN);
});
</script>