/** DataTables custom css */

/** DataTables 스타일 : display cell-border compact hover order-column row-border stripe , h-border */

table.dataTable {
	width: 100% !important;
}

table.dataTable td{
	/* 개행 제거 */
	white-space: nowrap;
}

/* 헤더 배경색 */
table.dataTable.h-border thead th {
    background-color: #ddd;
    box-shadow: inset 0 3px 4px -2px #fff;
}

/* 헤더 보더 */
table.dataTable.h-border thead th, table.dataTable.h-border thead td,
table.dataTable.cell-border thead th, table.dataTable.cell-border thead td {
    border-top: 1px solid #bbb;
}
table.dataTable thead th, table.dataTable thead td {
	white-space: nowrap;
    border-bottom: 1px solid #bbb;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
	border-bottom: 0;	/* Fixed 버그 때문에 제거함 */
}

.dataTables_scroll {
	border-bottom: 1px solid #003081;	/* Fixed 버그 때문에 외부에 보더 만듬. 확인필요! */
}

table.dataTable.cell-border thead th {
    border-right: 1px solid #bbb;
}
table.dataTable.cell-border thead th:nth-child(1) {
    border-left: 1px solid #bbb;
}

/* 헤더 스크롤바 모서리 영역 배경색 */
.dataTables_scrollHeadInner {
	background: rgb(236, 236, 236);
}
table.DTFC_Cloned thead, table.DTFC_Cloned tfoot {
	background: rgb(236, 236, 236);
}

/* 상단 마진 */
.dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_length {
    margin-bottom: 8px;
}
/* 하단 마진 */
.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
    margin-top: 8px;
}

/* 페이지네이션*/
.page-center .dataTables_wrapper .dataTables_paginate {
	float : none;
	text-align: center;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
	box-shadow: inset 0 0px 3px 0px #fff;
    background: #eee;
    font-weight: bold;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
	border: 1px dotted rgba(0, 0, 0, 0.12);
	border-radius: 3px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
	background: #aaa;
}

/* 홀수행 색상 */
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #f9fafc;
}

/* 선택 색상 : 밝음 */
table.dataTable tbody tr.selected {
	background-color: #b2e4d7 !important;
}
table.dataTable tbody > tr.selected,
table.dataTable tbody > tr > .selected {
	background-color: #b2e4d7;
}
/* 선택 색상 : 약간 어두움*/
table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected {
	background-color: #b2e4d7;
}
table.dataTable.stripe tbody > tr.odd.selected,
table.dataTable.stripe tbody > tr.odd > .selected, table.dataTable.display tbody > tr.odd.selected,
table.dataTable.display tbody > tr.odd > .selected {
	background-color: #b2e4d7;
}

/* 선택 색상 : 중간 어두움*/
table.dataTable.display tbody>tr.odd.selected>.sorting_1, table.dataTable.order-column.stripe tbody>tr.odd.selected>.sorting_1,
table.dataTable.display tbody>tr.odd.selected>.sorting_2, table.dataTable.order-column.stripe tbody>tr.odd.selected>.sorting_2,
table.dataTable.display tbody>tr.odd.selected>.sorting_3, table.dataTable.order-column.stripe tbody>tr.odd.selected>.sorting_3 {
	background-color: #b2e4d7;
}
table.dataTable.display tbody>tr.even.selected>.sorting_1, table.dataTable.order-column.stripe tbody>tr.even.selected>.sorting_1,
table.dataTable.display tbody>tr.even.selected>.sorting_2, table.dataTable.order-column.stripe tbody>tr.even.selected>.sorting_2,
table.dataTable.display tbody>tr.even.selected>.sorting_3, table.dataTable.order-column.stripe tbody>tr.even.selected>.sorting_3 {
	background-color: #b2e4d7;
}
table.dataTable.display tbody > tr.odd.selected > .sorting_1, table.dataTable.order-column.stripe tbody > tr.odd.selected > .sorting_1,
table.dataTable.display tbody > tr.odd.selected > .sorting_2, table.dataTable.order-column.stripe tbody > tr.odd.selected > .sorting_2,
table.dataTable.display tbody > tr.odd.selected > .sorting_3, table.dataTable.order-column.stripe tbody > tr.odd.selected > .sorting_3 {
	background-color: #b2e4d7;
}
table.dataTable.display tbody > tr.odd > .selected, table.dataTable.order-column.stripe tbody > tr.odd > .selected {
	background-color: #b2e4d7;
}
table.dataTable.order-column tbody>tr.selected>.sorting_1, table.dataTable.order-column tbody>tr.selected>.sorting_2, 
table.dataTable.order-column tbody>tr.selected>.sorting_3, table.dataTable.order-column tbody>tr>.selected, table.dataTable.display 
tbody>tr.selected>.sorting_1, table.dataTable.display tbody>tr.selected>.sorting_2, table.dataTable.display tbody>tr.selected>.sorting_3, 
table.dataTable.display tbody>tr>.selected{
	background-color: #b2e4d7;
}
table.dataTable.display tbody>tr.selected:hover>.sorting_1, table.dataTable.order-column.hover tbody>tr.selected:hover>.sorting_1 {
	background-color: #b2e4d7;
}

/* 선택 색상 : 가장 밝음*/
table.dataTable.hover tbody tr:hover.selected, table.dataTable.display tbody tr:hover.selected {
	background-color: #b2e4d7;
}
table.dataTable.hover tbody > tr.selected:hover,
table.dataTable.hover tbody > tr > .selected:hover, table.dataTable.display tbody > tr.selected:hover,
table.dataTable.display tbody > tr > .selected:hover {
	background-color: #b2e4d7;
}

/* cell border */
table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
    border-top: 1px dotted #ccc;
    border-right: 1px dotted #ccc;
}
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-top: 1px solid #ccc;
}

/* box */
table.dataTable.cell-border tbody tr th:first-child, table.dataTable.cell-border tbody tr td:first-child {
    border-left: 1px solid #bbb;
}
table.dataTable.cell-border tbody tr th:last-child, table.dataTable.cell-border tbody tr td:last-child {
    border-right: 1px solid #bbb;
}

/* Fixed Column border*/
.DTFC_LeftBodyWrapper {
	/* border-right: 1px solid #eee; */
}


.dataTables_wrapper .dataTables_processing {
	background: rgba(255, 255, 255, 0.5);
    z-index: 100;
    /* font-weight: bold; */
    font-size: 16px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.dataTables_processing .processing_message {
	position: relative;
    top: 50%;
	left: 50%;
    margin-top: -50px;
    position: absolute;
    margin-left: -90px;
    color: #a1a1a1;
    width: auto;
    background: #fff;
    border: 1px solid #efefef;
    padding: 16px 53px;
    display: inline-block;
    border-radius: 4px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.04);
}


.dataTables_processing .loading_image {
	opacity: 0.3;
    padding: 0;
    position: absolute;
    width: 68px;
    height: 68px;
    top: 50%;
    left: 50%;
    margin-top: -34px;
    margin-left: -34px;
    display: inline-block;
    background-image: url(/portal/css/image/loading.gif);
    background-position: -74px -74px;
}


.dataTables_wrapper .dataTables_paginate {
	float: none;
	text-align: center;
}
.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
	padding-bottom: 8px;
}

table.dataTable.compact thead th.sorting_disabled, table.dataTable.compact thead td.sorting_disabled{
    padding: 4px 4px 4px 4px;
}
table.dataTable thead .sorting_disabled {
    background-image: none;
}

table.dataTable.stripe tbody tr.odd.DTFC_NoData, table.dataTable.display tbody tr.odd.DTFC_NoData,
table.dataTable td.dataTables_empty{
	background-color: #fff;
}


table.dataTable.compact tbody th, table.dataTable.compact tbody td {
	border: 0px;
	padding: 4px 8px;
}