<!DOCTYPE html>  
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/hq/parts/popup/index}">  
	
	
<th:block layout:fragment="content">
	<div class="block-header">
		<div class="block-title" th:text="#{HQP_T_CART}"></div>
		<div class="block-button-area">
			<button id="BTN_order" type="button" th:text="#{HQP_B_ORDER2}"></button>
			<button id="BTN_delete" type="button" th:text="#{HQP_B_DELETE}"></button>			
		</div>
	</div>
	<div class="condition-area">
	
	</div>
	
	<div class="split-row"></div>
	
	<div class="grid-info">
		<div class="grid-total">
			<div class="split"></div>
			<span class="total-number" id="totalRows"></span>
		</div>
	</div>
	
	<div id="AREA_grid" class="flex-grow grid-area">
		<table id="TBL_grid" class="order-column stripe compact"></table>
	</div>

	<form id="FORM_order" method="post" th:action="@{/portal/iv/hq/parts/domestic/order/create/gate/cart}" target="order"></form>
<script>
let $tableObj;
$(function(){
	let tabIndex = 1;

	$tableObj = $("#TBL_grid").DataTable({
		ordering: true, 
		columns : [
			{// 컬럼에 checkbox 설정
				name: "chk",				
				className:"center noselect skip-download",// row selection 기능 막음.
				orderable: false,// checkbox 는 정렬 불가
				data: "ciSeq",
				title:"<input type='checkbox' class='custom-ui check-all' onchange='syncInput(this)' onclick='allChecked(this)'><label></label>",
				render: function(data, type, row)
				{
					return '<input type="checkbox" class="custom-ui check-all" name="ciSeq" value="' + data + '"><label></label>';// FixedColumns 사용시엔 syncInput 호출 필요함.
				},
				width: "50px"
			},
			{data: "materialNo",	title: "[[#{HQP_L_PART_NO}]]" },
			{data: "description",	title: "[[#{HQP_L_PART_DESCRIPTION}]]" },
			{
				data: "lotQty",	title: "[[#{HQP_L_SALES_LOT}]]",
				orderable: false,
				render: function(data, type, row)
				{
					return "<span name='lotQty'>" + data + "</span>";
				}
			},
			{
				data: "orderQty", 	title: "[[#{HQP_L_REQ_QTY}]]",
				orderable: false,
				render: function(data, type, row)
				{
					return '<input type="number" class="custom-ui center" style="width:70px;" onchange="syncInput(this)" name="orderQty" tabindex="' + tabIndex++ + '" value="' + data + '"><label></label>';
				}
			}
		],
		columnDefs: [
			{targets: [3, 4], className: "dt-body-center"}
		],		
		ajax: {
			url: "[[${BASE_PATH}]]/cart/list/data",
			data: function(p)
			{
				// ajax로 넘길 파라미터
			},
			dataSrc: function(response) 
			{
				let result = response.RESULT;
				
				if (JpUtilsObject.isNull(result))
				{
					return result;	
				};
				
				$("#totalRows").html(JpUtilsNumber.addComma(result.length) + " row(s).");

				return result;
			}
		},
		paging: false, // 페이징 기능켬
		initComplete: function(settings, json)
		{
			ProgressBar.hide();
		}
	});
	
	// Datatable grid 초기 설정 셋업
	initGridTable($tableObj);
	
	$("#TBL_grid").on("draw.dt", function () {
		//숫자체크 JpUiForm.input.validation.number(대상객체, 허용 최소 값, 허용 최대 값)
		JpUiForm.input.validation.number($("#TBL_grid input[name=orderQty]"), 1, 9999);
		
		JpUiForm.input.on.select($("#TBL_grid input[name=orderQty]"));
		
		$("#TBL_grid input[name=orderQty]").on("keyup", function(event) {			
			let reqQty = parseInt($(this).val());
			let lotQty = parseInt($(this).closest("tr").find("td span[name=lotQty]").text());
			
			if (JpUtilsString.isNotEmpty($(this).val()))
			{
				let value = parseInt(reqQty / lotQty);
				
				if (value == 0)
				{
					reqQty = lotQty;
				}
				else
				{
					//입력한 값과 가장 인접한 lotQty 에 맞는 값을 계산한다
					reqQty = value * lotQty
				};
				
				$(this).val(reqQty);
			};
		});
	});
	
	// 체크된값 겟
	function getCheckedCiSeqs()
	{
		let tds = $tableObj.columns(0).nodes()[0];
		let rtns = []; 
		
		for (let i=0, length=tds.length; i<length; i++)
		{
			let $td = $(tds[i]);
			
			if ($td.find("input:checkbox").is(":checked"))
			{
				let row = $tableObj.row($td);
				rtns.push(row.data().ciSeq);
			};
		};
		
		return rtns;
	};
	
	$("#BTN_order").on("click", function() {
		if( 0 == getCheckedCiSeqs().length)
		{
			alert("[[#{HQP_M_SELECT_TARGETS}]]");
			return;
		};
		
		let tds = $tableObj.columns(0).nodes()[0];
		
		for (let i=0, length=tds.length; i<length; i++)
		{
			let $td = $(tds[i]);
			
			if ($td.find("input:checkbox").is(":checked"))
			{
				let row = $tableObj.row($td);
				$("#FORM_order").append( "<input type='hidden' name='materialNo' value='" + row.data().materialNo + "' />" );
				$("#FORM_order").append( "<input type='hidden' name='orderQty' value='" + row.data().orderQty + "' />" );
			};
		};
		
		ProgressBar.show();
		
		//form submit 시 opener 를 target 으로 지정하기 위해
		window.opener.name = "order";
		
		$("#FORM_order").submit();
		
		try
		{
			window.opener.ProgressBar.show();
		}
		catch (e) {};
		
		window.close();
	});
	
	$("#BTN_delete").on("click", function() {
		let ciSeqs = getCheckedCiSeqs();
		if( 0 == ciSeqs.length)
		{
			return;
		};
		
		if (confirm("[[#{HQP_M_CONFIRM_DELETE}]]"))
		{
			JpUtilsAjax.post({
				url: "/portal/iv/hq/parts/cart/delete",
				data: {"ciSeqs" : ciSeqs.join(",")},
				beforeSend: function(jqXHR, settings)
				{
					ProgressBar.show();
				},			
			    success: function(response, textStatus, jqXHR)
			    {
			    	$tableObj.ajax.reload();
			    },
			    complete: function(jqXHR, textStatus)
		    	{
		    		ProgressBar.hide();
		    	}
			});
		};	
	});
});
</script>
</th:block>	