<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/eu/parts/common/index}">

<th:block layout:fragment="content">
	<div class="block-header">
		<div class="block-title" th:text="#{EUP_T_0048}"></div>
		<div id="BTN_search" class="block-button-area">
			<button id="BTN_transfer" th:text="#{EUP_B_0028}"></button>
			<button id="BTN_pdfDownload" th:text="#{EUP_B_0008}"></button>
			<button id="BTN_proformaDownload" th:text="#{EUP_B_0033}"></button>
			<button id="BTN_back" th:text="#{EUP_B_0004}"></button>
		</div>
	</div>
	
	<div class="condition-area">
	<table class="condition">
		<tbody>
			<tr>
				<th th:text="#{EUP_L_0014}"></th><!-- Order Type -->
				<td id="KONDA_TEXT"></td>
				<th th:text="#{EUP_L_0022}"></th><!-- Ship To Party -->
				<td id="KUNAG_NAME"></td>
			</tr>
			<tr>
				<th th:text="#{EUP_L_0023}"></th><!-- Customer P.O. Number -->
				<td id="BSTNK"></td>
				<th th:text="#{EUP_L_0027}"></th><!-- Shipping Info -->
				<td id="VSBED_TX"></td>
			</tr>
			<tr>
				<th th:text="#{EUP_L_0024}"></th><!-- Request Delivery Date -->
				<td id="VDATU"></td>
				<th th:text="#{EUP_L_0025}"></th><!-- Complete Delivery -->
				<td id="COMPLETE_DELIVERY"></td>
			</tr>
			<tr>
				<th th:text="#{EUP_L_0026}"></th><!-- Remarks -->				
				<td colspan="3" id="remark"></td>
			</tr>
		</tbody>
	</table>
	</div>
	<div class="split-row"></div>
	
	<div class="grid-info">
		<div class="block-button-area">
			<button id="BTN_download" th:text="#{EUP_B_0003}"></button>
		</div>	
		<div class="grid-total">
			<span th:text="#{EUP_T_0024}"></span>
			<div class="split"></div>
			<span class="total-number" id="NETWR"></span>
			<div class="split2"></div>
			<span th:text="#{EUP_T_0025}"></span>
			<div class="split"></div>
			<span class="total-number" id="CREDIT"></span>
			<div class="split2"></div>
			<span th:text="#{EUP_T_0026}"></span>
			<div class="split"></div>
			<span class="total-number" id="TOTAL_WEIGHT"></span>
		</div>
	</div>
	
	<div id="AREA_grid" class="flex-grow grid-area">
		<table id="TBL_grid" class="order-column stripe compact"></table>
	</div>
	
	<form id="FORM_search" name="FORM_search" th:action="|${BASE_PATH}/order/display/quotation_list|">
		<input type="hidden" name="pDocType" th:value="${pDocType}">
		<input type="hidden" name="pOrderType" th:value="${pOrderType}">
		<input type="hidden" name="pOrderNo" th:value="${pOrderNo}">
		<input type="hidden" name="pPoNo" th:value="${pPoNo}">
		<input type="hidden" name="pOrderPartNo" th:value="${pOrderPartNo}">
		<input type="hidden" name="pStatus" th:value="${pStatus}">
		<input type="hidden" name="pFromDate" th:value="${pFromDate}">
		<input type="hidden" name="pToDate" th:value="${pToDate}">
	</form>
	
<script type="application/javascript">

//화면중 일부 area 를 채우는 그리드 예제. 상위 div #sample-grid-area 영역을 100% 채움.
//컬럼 width 자동. scroller 자동.
//고정된 맵 데이터 사용. 페이지 생성시 데이터 넘겨서 그리드 만드는 방식

$(function(){
	$.ajax({
		url: "[[${BASE_PATH}]]/order/display/quotation_detail/data",		
		data: {"orderNo": "[[${orderNo}]]", "docType": "[[${pDocType}]]"},
	    success: function(response, textStatus, jqXHR) 
	    {
	    	var result = response.RESULT;
	    	
	    	var first = result.first;
	    	var mainHeadResult = result.mainHeadResult;
	    	var general = result.general;
	    	var item = result.item;
	    	
	    	$("#KONDA_TEXT").html(mainHeadResult.KONDA_TEXT);
	    	$("#KUNAG_NAME").html(mainHeadResult.KUNAG_NAME);
	    	$("#BSTNK").html(general.BSTNK);
	    	$("#VSBED_TX").html(general.VSBED_TX);
	    	$("#VDATU").html(general.VDATU);
	    	$("#COMPLETE_DELIVERY").html( (general.COMPLETE_DELIVERY == "X") ? "Y" : "N" );
	    	$("#remark").html(result.remark);
	    	
	    	$("#NETWR").html(mainHeadResult.NETWR + " " + mainHeadResult.WAERK);
	    	$("#CREDIT").html(mainHeadResult.CREDIT + " " + mainHeadResult.CREDIT_WAERK);
	    	$("#TOTAL_WEIGHT").html(mainHeadResult.TOTAL_WEIGHT + " " + mainHeadResult.GEWEI);
	    	
	    	$tableObj = $("#TBL_grid").DataTable({
	    		select: true,// row 선택 기능 켬
	    		ordering: true,// 정렬 기능 켬
	    		scrollY: 100,
	    		columns : [
	    			{data: "VBELN", title: "[[#{EUP_L_0013}]]"},//Order No.
	    			{data: "ITEM", title: "[[#{EUP_L_0028}]]"},//Item
	    			{data: "MATERIAL_ENT", title: "[[#{EUP_L_0029}]]"},//Order Part No.
	    			{data: "MATERIAL", title: "[[#{EUP_L_0030}]]"},//Supply Part No
	    			{data: "MATERIAL_TEXT", title: "[[#{EUP_L_0031}]]"},//Description
	    			{data: "REQ_QTY", title: "[[#{EUP_L_0032}]]"},//Req Qty
	    			{data: "KBETR", title: "[[#{EUP_L_0033}]]"},//List Price
	    			{data: "NET_PRICE", title: "[[#{EUP_L_0034}]]"},//Net Price
	    			{data: "NET_VALUE", title: "[[#{EUP_L_0035}]]"},//Net Value
	    			{data: "AVAILABILITY", title: "[[#{EUP_L_0036}]]"}//Available
	    		],
	    		columnDefs: [
	    			{ className: "left", targets: "_all" },
	    			{
	    				targets: 0,
	    				render: function (data, type, row)
	    				{
	    					return "[[${orderNo}]]";
	    				}
	    			}
	    		],
	    		data: item,
	    		initComplete: function() {
	    			ProgressBar.hide();
	    		}	    		
	    	});    	
	    	
	    	// Datatable grid 초기 설정 셋업
	    	initGridTable($tableObj);
	    }		
	});
	
	$("#BTN_pdfDownload").on("click", function() {
		document.location.href = "[[${BASE_PATH}]]/order/display/pdf_download?orderNo=[[${orderNo}]]&mode=BT06";
	});

	$("#BTN_proformaDownload").on("click", function() {
		document.location.href = "[[${BASE_PATH}]]/order/display/pdf_download?orderNo=[[${orderNo}]]&mode=BT07";
	});	
	
	$("#BTN_back").on("click", function() {
		$("#FORM_search").submit();
	});
	
	$("#BTN_download").on("click", function() {
		var gridFileDownload = new GridFileDownload($tableObj);
		gridFileDownload.fileName = "quotation_list";
		gridFileDownload.excelDownload();
	});
	
	$("#BTN_transfer").on("click", function() {
		Popup.open("[[${BASE_PATH}]]/order/create/transfer_order", 500, 200);
	});	
});

function doTransferOrder(orderType)
{
	$.ajax({
		url: "[[${BASE_PATH}]]/order/create/transfer_order/save",
		method: "POST",
		data: {"orderNo": "[[${orderNo}]]", "orderType": orderType},
		beforeSend: function(jqXHR, settings)
		{
			ProgressBar.show();
		},		
	    success: function(response, textStatus, jqXHR) 
	    {
	    	var result = response.RESULT;
	    	
	    	if (result.TYPE == "S")
	    	{
	    		var orderNo = result.SALESDOCUMENT_EX;
	    		var message = "[[#{EUP_M_0005}]]".replace("{0}", orderNo);
	    		
	    		alert(message);
	    		
	    		document.location.href = "[[${BASE_PATH}]]/order/display/order_detail?orderNo=" + orderNo;
	    	}
	    	else
	    	{
	    		alert(result.MESSAGE);
	    	};
	    },
		complete: function(jqXHR, textStatus)
		{
			ProgressBar.hide();
		}
	});
}
</script>	
</th:block>