<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/hq/parts/common/index}">
	
<th:block layout:fragment="content">
	<!-- Modal for upload file -->	
	<div class="dropzone-dimmer dimmer"></div>		
	<div class="dropzone-area">
		<div class="dropzone-area-top"></div>
		<div class="dropzone-body dropzone-click-zone">
			<div class="dropzone-click-zone" style="height:20px"></div>
			<img class="dropzone-body-img dropzone-click-zone" src="/portal/img/icon/upload_file.png"/>
			<div class="dropzone-body-content dropzone-click-zone" th:text="#{HQP_T_HOW_TO_UPLOAD}"></div>
		</div>
		<div class="dropzone-bottom dropzone-click-zone">
			<button type="button" onclick="UploadModal.hide()">[[#{HQP_B_CANCEL}]]</button>
		</div>
	</div>
	<!-- Modal for upload file -->

	<div class="block-header">
		<div class="block-title" th:text="#{PLTF_L_1650325527557}"></div><!-- Claim Create -->
		<div class="block-button-area">
			<button id="BTN_create" type="button" th:text="#{HQP_B_CREATE}"></button>
		</div>
	</div>	
	<div class="condition-area">
		<div class="condition-title" th:text="#{HQP_T_CLAIM_SUMMARY_EXPLAIN}"></div>
		<table class="condition table-fixed">
			<tbody>
				<tr>
					<th th:text="#{HQP_L_CLAIM_SUMMARY1}" class="center"></th>
					<th th:text="#{HQP_L_CLAIM_SUMMARY2}" class="center"></th>
					<th th:text="#{HQP_L_CLAIM_SUMMARY3}" class="center"></th>
					<th th:text="#{HQP_L_CLAIM_SUMMARY4}" class="center"></th>
					<th th:text="#{HQP_L_CLAIM_SUMMARY5}" class="center"></th>
					<th th:text="#{HQP_L_CLAIM_SUMMARY6}" class="center"></th>
					<th th:text="#{HQP_L_CLAIM_SUMMARY7}" class="center"></th>
					<th th:text="#{HQP_L_CLAIM_SUMMARY8}" class="center"></th>
				</tr>
				<tr>
					<td data-key="summary1" class="center"></td>
					<td data-key="summary2" class="right"></td>
					<td data-key="summary3" class="right"></td>
					<td data-key="summary4" class="center"></td>
					<td data-key="summary5" class="right"></td>
					<td data-key="summary6" class="center"></td>
					<td data-key="summary7" class="right"></td>
					<td data-key="summary8" class="center"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="split-row"></div>
	<div class="condition-area">
		<table class="condition table-fixed">
			<tbody>
				<tr>
					<th>
						<div th:text="#{HQP_L_PO_NO}"></div><img src="/portal/img/icon/required.png" class="required" />
					</th>
					<td>
						<div class="input-area">
							<input type="text" id="poNo" name="poNo" class="custom-ui"/>
						</div>
					</td>			
				</tr>
			</tbody>
		</table>
	</div>
	<div class="split-row"></div>
	
	<div class="grid-info">
		<div class="grid-total">
			<button id="BTN_add" type="button">[[#{HQP_B_ADD}]]</button>
			<button id="BTN_delete" type="button">[[#{HQP_B_DELETE}]]</button>
		</div>
	</div>
	
	<div id="AREA_grid" class="flex-grow grid-area" style="overflow-y: auto;">
		<div id="AREA_template">		
			<table class="condition table-fixed template">
				<tbody>
					<tr>
						<th style="width:50px;" class="center"><input type="checkbox" class="custom-ui check-all"><label></label></th>
						<th th:text="#{HQP_L_ORDER_NO}" class="center order-no"></th>
						<th th:text="#{HQP_L_LINE_ITEM}" class="center item-line"></th>
						<th th:text="#{HQP_L_ORDER_PART_NO}" class="center material"></th>
						<th th:text="#{HQP_L_DESCRIPTION}" class="center"></th>
						<th th:text="#{HQP_L_ORDER_QTY}" class="center qty"></th>
						<th th:text="#{HQP_L_CLAIM_QTY}" class="center qty"></th>
						<th th:text="#{HQP_L_UOM}" class="center uom"></th>
						<th th:text="#{HQP_L_NET_PRICE}" class="center price"></th>
						<th th:text="#{HQP_L_NET_VALUE2}" class="center price"></th>
						<th th:text="#{HQP_L_ORDER_DATE}" class="center order-date"></th>
					</tr>
					<tr>
						<td></td>
						<td data-key="order-no" class="center"></td>
						<td data-key="line-item" class="center"></td>
						<td data-key="order-part-no"></td>
						<td data-key="description"></td>
						<td data-key="order-qty" class="center"></td>
						<td data-key="claim-qty"></td>
						<td data-key="uom" class="center"></td>
						<td data-key="net-price" class="right"></td>
						<td data-key="net-value" class="right"></td>
						<td data-key="order-date" class="center"></td>
					</tr>
					<tr>
						<th></th>
						<th colspan="3" th:text="#{HQP_L_CLAIM_REASON}" class="center"></th>
						<th colspan="4" th:text="#{HQP_L_ADDITIONAL_TEXT}" class="center"></th>
						<th colspan="3" class="center">[[#{HQP_L_ATTACHMENT}]] <button type="button" class="small_button upload" th:text="#{HQP_B_UPLOAD}"></button></th>
					</tr>
					<tr>
						<td></td>
						<td colspan="3">
							<select class="custom-ui" name="reason1">
								<option value="" th:text="#{HQP_L_REASON1}"></option>
								<option value="" th:each="reason : ${reason1}" th:value="${reason.ZZCMPCD}" th:text="${reason.VTEXT}"></option>
							</select>
							<div class="split-row-more-compact"></div>
							<select class="custom-ui" name="reason2">
								<option value="" th:text="#{HQP_L_REASON2}"></option>
							</select>
							<input type="hidden" name="reason1Text"/>
						</td>
						<td colspan="4">
							<textarea style="width:100%; height:4em;" class="custom-ui" name="description"></textarea>
						</td>
						<td colspan="3" data-key="attachment"></td>
					</tr>				
				</tbody>
			</table>
			<input type="hidden" name="orderNo"/>
			<input type="hidden" name="lineNo"/>
			<input type="hidden" name="partNo"/>
			<input type="hidden" name="orderDate"/>
		</div>
		<form id="FORM_claim">
			<input type="hidden" name="poNo"/>
		</form>
	</div>
<script th:inline="javascript">
const CLAIM_REASON2 = [];

/*[# th:each="reason : ${reason2}"]*/
CLAIM_REASON2.push({
	DESCRIPT: /*[[${reason.DESCRIPT}]]*/,
	REASON: /*[[${reason.REASON}]]*/,
	VTEXT: /*[[${reason.VTEXT}]]*/,
	ZZCMPCD: /*[[${reason.ZZCMPCD}]]*/
});
/*[/]*/
</script>

<script>
let uploadingTarget;//현재 파일 업로드하고 있는 대상 element

$(window).on("load", function() {
	ProgressBar.hide();
});

$(function(){
	JpUtilsAjax.get({
		url: "[[${BASE_PATH}]]/claim/create/summary",
		beforeSend: function(jqXHR, settings)
		{
			ProgressBar.show();
		},		
	    success: function(response, textStatus, jqXHR)
	    {
	    	let result = response.RESULT;
	    	
	    	$("[data-key=summary1]").text(result.B_AMT);
	    	$("[data-key=summary2]").text(result.L_AMT);
	    	$("[data-key=summary3]").text(result.A_AMT);
	    	$("[data-key=summary4]").text(result.A_ROW);
	    	$("[data-key=summary5]").text(result.A_PRICE);
	    	$("[data-key=summary6]").text(result.A_ROW);
	    	$("[data-key=summary7]").text(result.AO_AMT);
	    	$("[data-key=summary8]").text(result.AO_ROW);
	    },
	    error: function(jqXHR, textStatus, errorThrown)
    	{
    	},
	    complete: function(jqXHR, textStatus)
	    {
	    	ProgressBar.hide();
	    }
	});		
	
	$("#BTN_add").on("click", function(){
		Popup.open("[[${BASE_PATH}]]/claim/create/reference/order/popup/list", 1200, 600); 
	});
	
	$("#BTN_delete").on("click", function(){
		$("input.check-all:checked").each(function(index, element) {
			$(this).closest("table").prev("div.split-row-compact").remove();//delete split row 
			$(this).closest("table").not(".template").remove();
		});
		
		try
		{
			$("#FORM_claim div.split-row-compact")[0].remove();//delete split row
		}
		catch (e) {};
		
		if ($("#FORM_claim input.check-all").length == 0)
		{
			$("#AREA_template").show();
		};
	});	
	
	$("#BTN_create").on("click", function(){
		let isValid = true;
		
		if (JpUtilsString.isEmpty($("#poNo").val()))
		{
			alert("[[#{HQP_M_EMPTY_PONO}]]");
			$("#poNo").focus();
			
			isValid = false;
			
			return false;			
		};
		
		if (!isValid) return;
		
		$("#FORM_claim select[name=reason1]").each(function(index, element) {
			if (JpUtilsString.isEmpty($(this).val()))
			{
				alert("[[#{HQP_M_EMPTY_CLAIM_REASON}]]");
				$(this).focus();
				
				isValid = false;
				
				return false;
			};
		});
		
		if (!isValid) return;
		
		$("#FORM_claim select[name=reason2]").each(function(index, element) {
			if (JpUtilsString.isEmpty($(this).val()))
			{
				alert("[[#{HQP_M_EMPTY_CLAIM_REASON}]]");
				$(this).focus();
				
				isValid = false;
				
				return false;
			};
		});		
		
		if (!isValid) return;
		
		$("#FORM_claim input[name=reqQty]").each(function(index, element) {
			if (JpUtilsString.isEmpty($(this).val()))
			{
				alert("[[#{HQP_M_EMPTY_CLAIM_REQ_QTY}]]");
				$(this).focus();
				
				isValid = false;
				
				return false;
			};
		});
		
		if (!isValid) return;

		$("#FORM_claim textarea[name=description]").each(function(index, element) {
			if (JpUtilsString.isEmpty($(this).val()))
			{
				alert("[[#{HQP_M_EMPTY_CLAIM_DESCRIPTION}]]");
				$(this).focus();
				
				isValid = false;
				
				return false;
			};
		});
		
		if (!isValid) return;
		
		$("#FORM_claim input[name=reqQty]").each(function(index, element) {
			let orderQty = $(this).attr("orderQty");
			
			if (parseInt($(this).val()) >  parseInt(orderQty))
			{
				alert("[[#{HQP_M_INVALID_AVAIL_CLMAIN_QUANTITY}]]");
				$(this).focus();
				
				isValid = false;
				
				return false;				
			};
		});
		
		if (!isValid) return;
		
		if (confirm("[[#{HQP_M_CONFIRM_CREATE_CLAIM}]]"))
		{
			$("#FORM_claim input[name=poNo]").val($("#poNo").val());
			
			JpUtilsAjax.post({
				url: "[[${BASE_PATH}]]/claim/create/save",
				data: $("#FORM_claim").serialize(),
				beforeSend: function(jqXHR, settings)
				{
					ProgressBar.show();
				},		
			    success: function(response, textStatus, jqXHR)
			    {
			    	let result = response.RESULT;
			    	let claimNo = result.CLAIM_NO;
			    	
			    	alert(JpUtilsString.replaceAll("[[#{HQP_M_CLAIM_CREATED}]]", "{0}", claimNo));
			    	
			    	document.location.href = "[[${BASE_PATH}]]/claim/display/list?pClaimNo=" + claimNo;
			    },
			    error: function(jqXHR, textStatus, errorThrown)
		    	{
		    	},
			    complete: function(jqXHR, textStatus)
			    {
			    	ProgressBar.hide();
			    }
			});			
		};
	});
});

function setSelectedItems(rows)
{
	//Template 은 최초 로딩시에만 보여주고 반품 대상을 선택하면 이후부터는 감춘다
	$("#AREA_template").hide();
	
	let splitRow = "<div class='split-row-compact'></div>";
	
	$.each(rows, function(index, element) {
		let orderNo = element.VBELN;
		let lineNo = element.POSNR;
		let id = element.VBELN + "_" + element.POSNR;
		
		if (JpUtilsObject.isNotNull($("#" + id)))
		{
			return true;			
		};
		
		let template = $("#AREA_template").clone();
		
		$(template).find("table").attr("id", id).removeClass("template");
		
		$(template).find("[data-key=order-no]").text(orderNo);
		$(template).find("[data-key=line-item]").text(lineNo);
		$(template).find("[data-key=order-part-no]").text(element.MATNR);
		$(template).find("[data-key=description]").text(element.MAKTX);
		$(template).find("[data-key=order-qty]").text(element.KWMENG);
		$(template).find("[data-key=claim-qty]").html("<input type='text'' name='reqQty' class='custom-ui' value='" + element.KWMENG + "' orderQty='" + element.KWMENG + "'/>");
		$(template).find("[data-key=uom]").text(element.VRKME);
		$(template).find("[data-key=net-price]").text(element.NETPR);
		$(template).find("[data-key=net-value]").text(element.T_NETWR);
		$(template).find("[data-key=order-date]").text(element.ERDAT);
		$(template).find("input[name=orderNo]").val(orderNo);
		$(template).find("input[name=lineNo]").val(lineNo);
		$(template).find("input[name=partNo]").val(element.MATNR);
		$(template).find("input[name=orderDate]").val(element.ERDAT);
		
		if ($("#FORM_claim input.check-all").length > 0)
		{
			$("#FORM_claim").append(splitRow);
		};
		
		//업로드 버튼을 클릭했을 때 현재 클릭한 element 를 구분하기 위해 속성 정의
		$(template).find("button.upload").attr("data-key", "UPLOAD_" + id);
		
		$("#FORM_claim").append($(template).html());
	});
	
	$("select[name=reason1]").on("change", function() {
		let value = $(this).val();		
		let reason2 = $(this).siblings("select[name=reason2]");
		
		$(reason2).empty();
		$(reason2).append("<option value=''>[[#{HQP_L_REASON2}]]</option>")
		
		$.each(CLAIM_REASON2, function(index, element) {
			if (value == element.ZZCMPCD)
			{
				$(reason2).append("<option value='" + element.REASON + "'>" + element.DESCRIPT + "</option>")				
			};
		});
	});
	
	$("button.upload").on("click", function() {
		uploadingTarget = JpUtilsString.trimToEmpty($(this).attr("data-key"));
		
		UploadModal.show();
	});
};
</script>

<script>
let UploadModal = {};
UploadModal.show = function() {
	let width = 480;
	let height = 230;
	let left = ($(window).innerWidth() - width) * 0.5;
	let top = ($(window).innerHeight() - height) * 0.5;

	$(".dropzone-area").css({
		"width": width,
		"height": height,
		"left": left,
		"top": top
	});
	
	$(".dropzone-dimmer").css({
		"width": "100%",
		"height": "100%"
	});

	$(".dropzone-dimmer, .dropzone-area").show();
};

UploadModal.hide = function()
{
	$(".dropzone-dimmer, .dropzone-area").hide();
};

$(".dropzone-click-zone").dropzone({
	url: "[[${BASE_PATH}]]/claim/create/attachment/upload",
	maxFilesize: 5, //MB
	accept: function(file, done)
	{
		done();
	},
	addedfile: function(file)
	{
	},
	sending: function(file, xhr, formData)
	{
		xhr.setRequestHeader(JpUtilsSecurity.CSRF.NAME, JpUtilsSecurity.CSRF.TOKEN);
	},
	success: function(file, response)
	{
		let result = response.RESULT;
		let originalFileName = result.ORIGIN_FILE_NAME;
		let savedFileName = result.SAVED_FILE_NAME;

		let id = $("#FORM_claim button[data-key=" + uploadingTarget + "]").closest("table").attr("id"); 
		let content = "<div>" + originalFileName + "<div class='split3'></div>" + JpUtilsFile.displaySize(result.SIZE) + "<div class='split3'></div><img src='/portal/img/icon/x.png' style='width:10px;' class='cursor-pointer delete-attachment'><input type='hidden' name='attachment_" + id + "' value='" + originalFileName + GLOBAL_CONST.DELIMITER + savedFileName + "'/><div>"; 

		$("#FORM_claim button[data-key=" + uploadingTarget + "]").closest("table").find("[data-key=attachment]").append(content);

		$("img.delete-attachment").on("click", function() {
			$(this).closest("div").remove();
		});
	},
	complete: function(file)
	{
		UploadModal.hide();
	},
	error: function(file, error, xhr)
	{
	},
	drop: function()
	{
		//console.log("drop");
	},
	dragenter: function(e)
	{
		//console.log("dragenter");
	},
	dragover: function(e)
	{
		//console.log("dragover");
	},
	dragleave: function(e)
	{
		//console.log("dragleave");
	}
});
</script>	
</th:block>