<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/hq/parts/common/index}">
<th:block layout:fragment="content">
	
	<div class="block-header">
		<div class="block-title" th:text="#{HQP_L_SURVEY}"></div>
		<div th:if="${isManager == true}" class="block-button-area">
			<button id="BTN_write" type="button" th:text="#{HQP_B_SURVEY_CREATION}"></button>
			<button id="BTN_search" type="button" th:text="#{HQP_B_SEARCH}"></button>
		</div>
	</div>
	
	<div th:if="${isManager == true}" class="condition-area">
		<table class="condition table-fixed">
			<tbody>
				<tr>
					<th th:text="#{HQP_L_STATUS}"></th>
					<td>
						<div class="input-area">
							<select id="fgStatus" name="fgStatus" class="custom-ui">
								<option value="0"></option>
								<option th:if="${isManager == true}" value="1">[[#{HQP_L_SURVEY_DOING}]]</option>
								<!-- <option value="2">설문대기중</option> -->
								<option value="2">[[#{HQP_L_SURVEY_RUNNING}]]</option>
								<option value="3">[[#{HQP_L_SURVEY_COMPLETE}]]</option>
							</select>
						</div>
					</td>
				</tr>
				<tr>
					<th>[[#{HQP_L_SURVEY_TITLE}]]/[[#{HQP_L_WRITER}]]</th>
					<td>
						<div class="input-area">
							<input type="text" id="query" name="query" class="custom-ui" onkeyup="if(event.keyCode =='13') doSearch();"/>
						</div>				
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="grid-info">
		<div class="grid-total">
			<div class="split"></div>
			<span class="total-number" id="totalRows"></span>
		</div>
	</div>
	
	<div id="AREA_grid" class="flex-grow grid-area">
		<table id="TBL_grid" class="order-column stripe compact hover"></table>
	</div>

	<form id="FORM_search" th:action="|${BASE_PATH}/survey/list|">
		<input type="hidden" name="sSeq" id="sSeq"/>
	</form>
<script>
let $tableObj;
$(function(){
	const isManager = [[${isManager}]]; // to-do: 권한처리
	
	$tableObj = $("#TBL_grid").DataTable({
		select: {
			selector: "td:not(.noselect)"
	    },
		ordering: true, 
		scrollY: 100,
		columns : [
			{data:"sseq", 			title: "[[#{HQP_L_NUMBER}]]",		"width": "5%"},		// 0
			{data:"fgStatus",		title: "[[#{HQP_L_STATUS}]]", 		"width": "8%"},		// 1
			{data:"validFrom",		title: "[[#{HQP_L_SURVEY_PERIOD}]]", 	"width": "15%"},	// 2
			{data:"validTo",		title: "[[#{HQP_L_SURVEY_PERIOD}]]", 	"width": "15%"},	// 3
			{data:"displayTitle",	title: "[[#{HQP_L_SURVEY_TITLE}]]"},						// 4
			{data:"fgOpenResult",	title: "[[#{HQP_L_RESULT}]]", 		"width": "8%"},		// 5
			{data:"regUsername", 	title: "[[#{HQP_L_WRITER}]]", 		"width": "10%"},	// 6
			{data:"applier", 		title: "[[#{HQP_L_PARTICIPATE}]]", 		"width": "8%"},		// 7
			{data:null, 			title: "[[#{HQP_L_SURVEY_NOTE}]]", 		"width": "10%"},	// 8
			{data:"validFromYmd",	title: "[[#{HQP_L_SURVEY_PERIOD}]]", 	"width": "15%"},	// 9
			{data:"validToYmd",		title: "[[#{HQP_L_SURVEY_PERIOD}]]", 	"width": "15%"},	// 10
			{data:"fgApply",		title: "[[#{HQP_L_PARTICIPATE}]]", 	"width": "15%"},	// 11	
		],
		columnDefs: [
			{targets: [0, 5, 7], className: "dt-body-center"},
			{targets: 1, className: "dt-body-center", 
				createdCell: function(td, cellData, rowData, row, col) {
					if (cellData == "2")
					{
						$(td).addClass("info");
					};
				},
				render: function(data, type, row) {
					return {'0': '-', '1': '[[#{HQP_L_SURVEY_DOING}]]', '2':'[[#{HQP_L_SURVEY_RUNNING}]]', '3':'[[#{HQP_L_SURVEY_COMPLETE}]]'}[data];
				}
			},
			{targets: [2,3], className: "dt-body-center", render: function(data, type, row) {
				//return moment(data.substr(0, 8)).format('YYYY.MM.DD') + ' ~ ' + moment(row['validTo'].substr(0, 8)).format('YYYY.MM.DD');
				return row['validFromYmd'] + '  -  ' + row['validToYmd'];
			}},
			{targets: [3, 9, 10, 11], visible: false},
			{targets: 4, 
				createdCell: function(td, cellData, rowData, row, col) {
					if (isManager) {
						$(td).addClass('link clickable');
					}
				},	
			},
			{targets: 5, render: function(data, type, row) {
				return {'Y':'[[#{HQP_L_PUBLIC}]]', 'N':'[[#{HQP_L_PRIVATE}]]'}[data];
			}},
			{targets: 8, className: "dt-body-center", render: function(data, type, row) {
				if (isManager) {
					if (data['fgStatus'] > 1) {
						return '<button onclick="popupResult(\''+data['sseq']+'\');">[[#{HQP_B_RESULT}]]</button>';
					} else {
						return '<button onclick="popupPreview(\''+data['sseq']+'\');">[[#{HQP_B_PREVIEW}]]</button>';
					}
				}
				
				if (data['fgApply'] == 'Y') {
					if (data['fgOpenResult'] == 'Y') {
						return '<button onclick="popupResult(\''+data['sseq']+'\');">[[#{HQP_B_RESULT}]]</button>';						
					} else {
						return '-';
					}
				} else {
					return '<button onclick="popupVote(\''+data['sseq']+'\');">[[#{HQP_B_SURVEY_PARTICIPATE}]]</button>';
				}
			}},
		],
		
		ajax: {
			url: "[[${BASE_PATH}]]/survey/list/data",
			data: function(p)
			{
				p.fgStatus 		= $("#fgStatus").val();
				p.query 		= $("#query").val();
			},
			dataSrc: function(response) 
			{
				let result = response.RESULT;

				$("#totalRows").html(JpUtilsNumber.addComma(result.length) + " row(s).");

				return result;
			}
		},
		paging : false, // 페이징 기능켬
		//pageLength: 20, // 한 페이지에 20개 행
		initComplete:function(settings, json)
		{
			ProgressBar.hide();
			//this.api().page(2).draw("page");
		}
	});
	initGridTable($tableObj);
	
	$("#TBL_grid").on("click", '.clickable',  function(event){
		let data = $tableObj.row( $(this).parents('tr') ).data();
		goView(data['sseq']);
	});
	
	/* $("#TBL_grid").on("click", 'button',  function(event){		
		let data = $tableObj.row( $(this).parents('tr') ).data();
		//alert(data['sseq']);
		
		//to-do: 권한에 따라 다른 처리
		Popup.open("[[${BASE_PATH}]]/survey/popup/view?sseq="+data['sseq'], 1100, 600);
	}); */
	
	$("#BTN_search").on("click", function(){		
		doSearch();			// dataTable의 ajax 설정을 이용해  다시 조회. 
	});
	
	$("#BTN_write").on("click", function() {
		goWrite();
	});
});

function popupPreview(sSeq) {
	openPopup("[[${BASE_PATH}]]/survey/popup/view?sSeq="+sSeq);
}

function popupResult(sSeq) {
	openPopup("[[${BASE_PATH}]]/survey/result/view?sSeq="+sSeq);
}

function popupVote(sSeq) {
	openPopup("[[${BASE_PATH}]]/survey/popup/vote?sSeq="+sSeq);
}

function openPopup(url) {
	Popup.open(url, 700, 700);
}

function goView(sSeq) {
	document.location.href = "[[${BASE_PATH}]]/survey/view?sSeq="+sSeq;
}

function goWrite() {
	document.location.href = "[[${BASE_PATH}]]/survey/write";	
}

function doSearch() {
	$tableObj.ajax.reload();
}

function callbackAfterVote() {
	document.location.reload();
}
</script>
</th:block>	