<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/hq/parts/common/index}">

<th:block layout:fragment="content">
	
	<div class="block-header" >
		<div class="block-title" th:text="#{HQP_T_SURVEY_BASIC_INFO}">></div>
		<div class="block-button-area">
			<button onclick="BTN.modify();" type="button" th:text="#{HQP_B_MODIFY}"></button>
			<button onclick="BTN.remove();" type="button" th:text="#{HQP_B_DELETE}"></button>
			<button onclick="BTN.preview();" type="button" th:text="#{HQP_B_PREVIEW}"></button>
			<button onclick="BTN.back();" type="button" th:text="#{HQP_B_BACK}"></button>
		</div>	
	</div>	
	
	<div id="boardViwer" class="condition-area">
	<form name="FORM_search" id="FORM_search" th:action="|${BASE_PATH}/survey/list|">
		<input type="hidden" name="sSeq" th:value="${survey?.sSeq}"/>
		<input type="hidden" name="sqSeq" id="sqSeq" th:value="0"/>
	</form>
	
	<table class="condition table-fixed">
		<tbody>
			<tr>
				<th><span th:text="#{HQP_L_SURVEY_TITLE}"></span></th>
				<td><span th:text="${survey?.title}"></span></td>
				<th><span th:text="#{HQP_L_SURVEY_PERIOD}"></span></th>
				<td>
					<span th:text="${survey?.validFrom}"></span> ~ <span th:text="${survey?.validTo}"></span>
				</td>
			</tr>
			<tr>
				<th><span th:text="#{HQP_L_SURVEY_OPEN}"></span></th>
				<td>
					<span th:if="${(survey?.fgOpen == T(org.jwebppy.portal.iv.common.IvCommonVo).YES)}" th:text="#{HQP_L_PUBLIC}"></span>
					<span th:unless="${(survey?.fgOpen == T(org.jwebppy.portal.iv.common.IvCommonVo).YES)}" th:text="#{HQP_L_PRIVATE}"></span>
				</td>
				<th><span th:text="#{HQP_L_RESULT_OPEN}"></span></th>
				<td>
					<span th:if="${(survey?.fgOpenResult == T(org.jwebppy.portal.iv.common.IvCommonVo).YES)}" th:text="#{HQP_L_PUBLIC}"></span>
					<span th:unless="${(survey?.fgOpenResult == T(org.jwebppy.portal.iv.common.IvCommonVo).YES)}" th:text="#{HQP_L_PRIVATE}"></span>
				</td>	
			</tr>
			<tr>
				<th><span th:text="#{HQP_L_SURVEY_PURPOSE}"></span></th>
				<td colspan="3" th:text="${survey?.description}">
				</td>
			</tr>
			<tr>
				<th><span th:text="#{HQP_L_THANKS_GREETING}"></span></th>
				<td colspan="3" th:text="${survey?.remark}"></td>
			</tr>
			<tr>
				<th><span th:text="#{HQP_L_SURVEY_TARGET}"></span></th>
				<td>
					<div th:each="surveyTarget : ${survey?.surveyTargets}">
						<div></div><span th:text="${surveyTarget.targetName}"></span>
					</div>						
				</td>
				<th><span th:text="#{HQP_L_ATTACHMENT}"></span></th>
				<td>
					<div th:each="uploadFileList : ${survey?.uploadFileLists}">
						<a class="link" th:text="${uploadFileList.fullOriginName}" th:downloadKey="${uploadFileList.downloadKey}"></a><div class='split2'></div><span th:text="${uploadFileList.displayFileSize}"></span>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
	
	<br/>
	
	<!------------------------------------ 문항 그리드 시작 --------------------------------------->
	<div class="grid-info">
		<div class="block-button-area">
			<button onclick="SurveyQuestion.write();" type="button" th:text="#{HQP_B_ADD_QUESTION}"></button>
		</div> 
		<div class="grid-total">
			<div class="split"></div>
			<span class="total-number" id="totalRows"></span>
		</div>
	</div>
	
	<div id="AREA_grid" class="flex-grow grid-area">
		<table id="TBL_grid" class="order-column stripe compact hover"></table>
	</div>
	<!------------------------------------ 문항 그리드 종료 --------------------------------------->
	
	<div></div>
	
	<!------------------------------------ 문항보기 그리드 시작 --------------------------------------->
	<div class="grid-info">
		<div class="block-button-area">
			<button onclick="SurveyItem.write();" type="button" th:text="#{HQP_B_ADD}"></button>
			<button onclick="SurveyItem.save();" type="button" th:text="#{HQP_B_SAVE}"></button>
		</div> 
		<div class="grid-total">
			<div class="split"></div>
			<span class="total-number" id="totalItemRows"></span>
		</div>
	</div>
	
	<div id="AREA_item_grid" class="flex-grow grid-area">
		<table id="TBL_item_grid" class="order-column stripe compact hover"></table>
	</div>
	<!------------------------------------ 문항보기 그리드 종료 --------------------------------------->
	
	
	<script>
	let $tableObj;
	let $itemTableObj;
	
	// 버튼처리
	let BTN = {
		modify: function() {
			this.submit("[[${BASE_PATH}]]/survey/write?sSeq="+Survey.sSeq);
		},
		
		remove: function() {
			Survey.remove();
		},
		
		back: function() {
			this.submit("[[${BASE_PATH}]]/survey/list");
		},
		
		submit: function(url) {
			$("#FORM_search").attr("action", url);
			$("#FORM_search").submit();
		},
		
		preview: function() {
			Popup.open("[[${BASE_PATH}]]/survey/popup/view?sSeq="+Survey.sSeq, 700, 700);
		}
	}
	
	// 설문
	let Survey = {
		sSeq: "[[${survey?.sSeq}]]",
		remove: function() {
			if (confirm ('Do you want to delete?')) {
				JpUtilsAjax.post({
					url: "[[${BASE_PATH}]]/survey/delete",
					method: "POST",
					data: {sSeq:this.sSeq},
					beforeSend: function(jqXHR, settings)
					{
						ProgressBar.show();
					},		 
				    success: function(response, textStatus, jqXHR)
				    {
				    	alert('삭제되었습니다');
				    	BTN.back();
				    },
				    error: function(jqXHR, textStatus, errorThrown)
			    	{
				    	alert('삭제할 수 없습니다');
				    	BTN.back();
			    	}
				});
			}
		}	
	};
	
	// 설문조사항목
	let SurveyQuestion = {
		sqSeq: '0',
		write: function() {
			this.popup('write?sSeq='+Survey.sSeq);
		},
		modify: function() {
			this.popup('write?sSeq='+Survey.sSeq+'&sqSeq='+this.sqSeq);
		},
		remove: function() {
			if (!confirm ('Do you want to delete?')) return false;
			// to-do: survey item exists
			
			JpUtilsAjax.post({
				url: "[[${BASE_PATH}]]/survey/question/delete",
				method: "POST",
				data: {sqSeq:this.sqSeq},
				beforeSend: function(jqXHR, settings)
				{
					ProgressBar.show();
				},		 
			    success: function(response, textStatus, jqXHR)
			    {
			    	callbackSurveyQuestion();
			    },
			    error: function(jqXHR, textStatus, errorThrown)
		    	{
			    	callbackSurveyQuestion();
		    	}
			});
		},
		popup: function(rest) {
			Popup.open("[[${BASE_PATH}]]/survey/question/"+rest, 600, 600);
		}
	};
	
	// 설문조사항목보기
	let SurveyItem = {
		siSeq: '0',
		write: function() {
			let newRow = {
					'sqSeq': SurveyQuestion.sqSeq,
					'title': '',
					null: '',
					'siSeq': '0'
			};
			let table = $("#TBL_item_grid").DataTable();
			table.row.add(newRow).draw();
		},
		save: function() {
			let data = {};
			let table = $("#TBL_item_grid").DataTable();
			let rows = table.rows().data();
			
			for (let i=0; i<rows.length; i++) {
				if (!JpUtilsString.isNotEmpty(rows[i]['title'])) {
					alert('문항보기 텍스트를 입력해주세요');
					return false;
				}
				
				data['surveyItemList['+i+'].sqSeq'] = rows[i]['sqSeq'];
				data['surveyItemList['+i+'].siSeq'] = rows[i]['siSeq'];
				data['surveyItemList['+i+'].title'] = rows[i]['title'];
			}

			JpUtilsAjax.post({
				url: "[[${BASE_PATH}]]/survey/item/save",
				method: "POST",
				data: data,
				beforeSend: function(jqXHR, settings)
				{
					ProgressBar.show();
				},		 
			    success: function(response, textStatus, jqXHR)
			    {
			    	//callbackSurveyItem();
			    	location.reload();
			    },
			    error: function(jqXHR, textStatus, errorThrown)
		    	{
			    	callbackSurveyItem();
		    	}
			});
			
		},
		remove: function() {
			let siSeq = this.siSeq;
			if (siSeq <= 0) {
				return false;
			}
			
			JpUtilsAjax.post({
				url: "[[${BASE_PATH}]]/survey/item/delete",
				method: "POST",
				data: {siSeq:siSeq},
				beforeSend: function(jqXHR, settings)
				{
					ProgressBar.show();
				},		 
			    success: function(response, textStatus, jqXHR)
			    {
			    	//callbackSurveyItem();
			    	location.reload();
			    },
			    error: function(jqXHR, textStatus, errorThrown)
		    	{
			    	callbackSurveyItem();
		    	}
			});
		},
		list: function() {
			callbackSurveyItem();
		},
		popup: function(rest) {
			Popup.open("[[${BASE_PATH}]]/survey/item/"+rest, 600, 600);
		},
		setTitle: function(data, row, col) {
			let table = $("#TBL_item_grid").DataTable();
			let cell = table.cell(row, col);
			cell.data(data);
		}
	};
	
	/************************ 문항 그리드(TBL_grid) 처리 시작 *************************/
	$(window).on("load", function() {
		ProgressBar.hide();
		
		$tableObj = $("#TBL_grid").DataTable({
			select: true,
			ordering: false,
			searching: false,
			bInfo: false,
			scrollY: 330,
			columns : [
				{data:"sqSeq", 			title: "[[#{HQP_L_NUMBER}]]",		"width": "5%"},
				{data:"title",			title: "[[#{HQP_L_QUESTION}]]"},
				{data:"type",			title: "[[#{HQP_L_QUESTION_MULTI}]]", 	"width": "15%"},
				{data:"fgMandatory",	title: "[[#{HQP_L_OPTION}]]", 		"width": "15%"},
				{data:"itemCnt", 		title: "[[#{HQP_L_EXAMPLE_COUNT}]]", 		"width": "15%"},
				{data:null, 			title: "[[#{HQP_L_SURVEY_NOTE}]]", 		"width": "15%"},
				{data:null, 			title: "[[#{HQP_L_SURVEY_NOTE}]]", 		"width": "15%"},
				{data:"sseq", 			title: "[[#{HQP_L_NUMBER}]]",		"width": "5%"} 
			],
			columnDefs: [
				{targets: 0, className: "dt-body-center", 
					render: function(data, type, row, meta) {
						//return meta.row+1;
						return data;
					}
				},
				{targets: 2, className: "dt-body-center", 
					render: function(data, type, row) {
						//return {'0': '객관식', '1': '다중객관식', '2':'주관식', '3':'가중치', '4':'우선순위'}[data];
						return {'0': '[[#{HQP_L_OBJECTIVE_QUESTION}]]', '1': '[[#{HQP_L_MULTIPLE_SELECTION}]]', 
							'2':'[[#{HQP_L_SUBJECTIVE_QUESTION}]]', '3':'[[#{HQP_L_EXTRA_WEIGHT}]]', '4':'[[#{HQP_L_PRIORITY}]]'}[data];
					}
				},
				{targets: 3, className: "dt-body-center", 
					render: function(data, type, row) {
						return {'Y': '[[#{HQP_L_SELECT_ESSENTIAL}]]', 'N': '[[#{HQP_L_SELECT_POTENTIAL}]]'}[data];
					}
				},
				{targets: 4, className: "dt-body-center"},
				{targets: [5, 6], className: "dt-body-center", 
					defaultContent:"<button class='dev-modify'>[[#{HQP_B_MODIFY}]]</button>&nbsp;<button class='dev-remove'>[[#{HQP_B_DELETE}]]</button>"
				},
				{targets: [6, 7], visible: false}
			],
			ajax: {
				url: "[[${BASE_PATH}]]/survey/question/list/data",
				data: function(p) {
					p.sSeq 		= "[[${survey?.sSeq}]]";
				},
				dataSrc: function(response) {
					let result = response.RESULT;
					$("#totalRows").html(JpUtilsNumber.addComma(result.length) + " row(s).");

					return result;
				}
			},
			paging : false, // 페이징 기능켬
			initComplete:function(settings, json) {
				ProgressBar.hide();
				clickTblRow(0);
			}
		});
		initGridTable($tableObj);
		
		$("#TBL_grid").on("click", 'button',  function(event){
			let data = $tableObj.row( $(this).parents('tr') ).data();
			SurveyQuestion.sqSeq = data['sqSeq'];
			
			if ($(this).hasClass('dev-modify')) {
				SurveyQuestion.modify();
			}
			if ($(this).hasClass('dev-remove')) {
				SurveyQuestion.remove();
			}
			
			/* let data = $tableObj.row( $(this).parents('tr') ).data();
			SurveyQuestion.sqSeq = data['sqSeq'];
			SurveyQuestion.modify(); */
		});
		
		$("#TBL_grid tbody").on("click", 'tr', function(event){
			$("#TBL_grid tbody").find('tr.selected').removeClass('selected');
			$(this).addClass('selected');
			
			let data = $tableObj.row( $(this) ).data();
			if (data == undefined) return;
			
			SurveyQuestion.sqSeq = data['sqSeq'];
			SurveyItem.list();
		});
		
		$("#TBL_grid tbody").on("dblclick", 'tr', function(event){
			// ?
		});
		/************************ 문항 그리드(TBL_grid) 처리 종료 *************************/
		
		/************************ 문항 그리드(TBL_item_grid) 처리 시작 *************************/
		$itemTableObj = $("#TBL_item_grid").DataTable({
			select: {
				selector: "td:not(.noselect)"
		    },
			ordering: false,
			searching: false,
			bInfo: false,
			scrollY: 330,
			columns : [
				{data:"sqSeq", 			title: "[[#{HQP_L_NUMBER}]]",		"width": "5%"},
				{data:"title",			title: "[[#{HQP_L_SURVEY_TEXT}]]"},
				{data:null, 			title: "[[#{HQP_L_SURVEY_NOTE}]]", 		"width": "15%"},
				{data:"siSeq", 			title: "siSeq",		"width": "5%"}
			],
			columnDefs: [
				{targets: [0], className: "dt-body-center",
					render: function(data, type, row, meta) {
						return meta.row+1;
					}
				},
				{targets: 1, className: "dev-item-title", 
					render: function(data, type, row, meta) {
						return '<input onblur="SurveyItem.setTitle(this.value, \''+meta.row+'\', \''+meta.col+'\');" type="text" value="'+data+'" />';
					}	
				},
				{targets: 2, className: "dt-body-center", defaultContent:"<button>[[#{HQP_B_DELETE}]]</button>"},
				{targets: 3, visible: false},
			],
			
			ajax: {
				url: "[[${BASE_PATH}]]/survey/item/list/data",
				data: function(p)
				{
					p.sqSeq 		= SurveyQuestion.sqSeq
				},
				dataSrc: function(response) 
				{
					let result = response.RESULT;
					$("#totalItemRows").html(JpUtilsNumber.addComma(result.length) + " row(s).");

					return result;
				}
			},
			paging : false, // 페이징 기능켬
			initComplete:function(settings, json)
			{
				ProgressBar.hide();
			}
		});
		initGridTable($itemTableObj);
		
		$("#TBL_item_grid").on("click", 'button',  function(event){		
			let row = $itemTableObj.row( $(this).parents('tr') );
			let data = row.data();
			
			SurveyItem.siSeq = data['siSeq'];
			if (SurveyItem.siSeq > 0) {
				SurveyItem.remove();
			}
			
			row.remove().draw();
		});
		/************************ 문항 그리드(TBL_item_grid) 처리 종료 *************************/
		
	});
	
	function clickTblRow(row) {
		$("#TBL_grid tbody tr:eq("+row+")").click();		
	}
	
	function callbackSurveyQuestion() {
		ProgressBar.hide();
		$tableObj.ajax.reload(function() {
			clickTblRow(0);
		});
	}
	
	function callbackSurveyItem() {
		ProgressBar.hide();
		$itemTableObj.ajax.reload();
	}
	
	</script>
</th:block>								