<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/hq/parts/common/index}">
	
<th:block layout:fragment="content">
	<div class="block-header">
		<div class="block-title" th:text="#{HQP_T_DELIVERY_STATUS}"></div><!-- Delivery Status -->
		<div class="block-button-area">
			<button id="BTN_download" type="button" th:text="#{HQP_B_DOWNLOAD}"></button><!-- Download -->
			<button id="BTN_search" type="button" th:text="#{HQP_B_SEARCH}"></button><!-- Search -->
		</div>
	</div>
	<div class="condition-area">
	<form id="FORM_search" name="FORM_search">
	<input type="hidden" id="shipmentNo" name="shipmentNo" value=""/><!-- for detail page -->
	
	<table class="condition table-fixed">
		<tbody>
			<tr>
				<th th:text="#{HQP_L_SHIPMENT_DOC_CREATE_DATE}"></th><!-- Shipment Doc. Create Date Period-->
				<td>
					<div class="input-area">
						<input type="text" id="pFromDate" name="pFromDate" class="custom-ui-calendar" th:value="${pFromDate}">
						<input type="text" id="pToDate" name="pToDate" class="custom-ui-calendar to" th:value="${pToDate}">					
					</div>
				</td>
				<th th:text="#{HQP_L_ONBOARD_DATE}"></th><!-- Onboard Date Period -->
				<td>
					<div class="input-area">
						<input type="text" id="pFromOnboardDate" name="pFromOnboardDate" class="custom-ui-calendar" th:value="${pOnboardFromDate}">
						<input type="text" id="pToOnboardDate" name="pToOnboardDate" class="custom-ui-calendar to" th:value="${pToOnboardDate}">					
					</div>
				</td>
			</tr>			
			<tr>
				<th th:text="#{HQP_L_SHIPMENT_NO}"></th>
				<td>
					<div class="input-area">
						<input type="text" id="pShipmentNo" name="pShipmentNo" class="custom-ui" th:value="${pShipmentNo}">
					</div>			
				</td>			
				<th th:text="#{HQP_L_ORDER_NO}"></th>
				<td>
					<div class="input-area">
						<input type="text" id="pOrderNo" name="pOrderNo" class="custom-ui" th:value="${pOrderNo}">
					</div>			
				</td>			
			</tr>
			<tr>
				<th th:text="#{HQP_L_PART_NO}"></th>
				<td>
					<div class="input-area">
						<input type="text" id="pPartNo" name="pPartNo" class="custom-ui" th:value="${pPartNo}">
					</div>			
				</td>			
				<th th:text="#{HQP_L_PO_NO}"></th>
				<td>
					<div class="input-area">
						<input type="text" id="pPoNo" name="pPoNo" class="custom-ui" th:value="${pPoNo}">
					</div>			
				</td>			
			</tr>			
		</tbody>
	</table>
	</form>
	</div>
	<div class="split-row"></div>
	
	<div class="grid-info">
		<div class="grid-total">
			<span class="total-number" id="totalRows"></span>
		</div>
	</div>
	
	<div id="AREA_grid" class="flex-grow grid-area">
		<table id="TBL_grid" class="order-column stripe compact"></table>
	</div>
	
<script>
$(document).ready(function() {
	_setPartAutocomplete($("#pPartNo"));
});

let $tableObj;
$(function(){
	Calendar.makeBeetweenCalendar($("#pFromDate"), "[[${pFromDate}]]", $("#pToDate"), "[[${pToDate}]]");
	Calendar.makeBeetweenCalendar($("#pFromOnboardDate"), "[[${pFromOnboardDate}]]", $("#pToOnboardDate"), "[[${pToOnboardDate}]]");
		
	$tableObj = $("#TBL_grid").DataTable({
		ordering: true,// 정렬 기능 켬
		scrollY: 100,
		columns : [
			{data: "TKNUM", title: "[[#{HQP_L_SHIPMENT_NO}]]"},				
			{data: "COUNT1", title: "[[#{HQP_L_HU_ITEMS}]]"},
			{data: "COUNT2", title: "[[#{HQP_L_ITEM_ROWS}]]"},
			{data: "NETWR", title: "[[#{HQP_L_TOTAL_AMOUNT}]]"}, 
			{data: "WAERK", title: "[[#{HQP_L_CURR}]]"},
			{data: "BRGEW", title: "[[#{HQP_L_GROSS_WEIGHT}]]"},
			{data: "GEWEI_MAX", title: "[[#{HQP_L_UOM}]]"},
			{data: "ZFOBDT", title: "[[#{HQP_L_ONBOARD_DATE}]]"},
			{data: "BEZEI20", title: "[[#{HQP_L_DESTINATION}]]"},
			{data: "BEZEI", title: "[[#{HQP_L_SHIPPING_TYPE}]]"},
			{data: "NAME2", title: "[[#{HQP_L_FORWARDER}]]"}
		],
		columnDefs: [
			{targets: [0], className: "link dt-body-center"},
			{targets: [1, 2, 4, 5, 6, 7], className: "dt-body-center"},
			{targets: [3], className: "dt-body-right"}
		],
		ajax: {
			url: "[[${BASE_PATH}]]/order/delivery/list/data",
			data: function(p)
			{
				p.pFromDate = $("#pFromDate").val();
				p.pToDate = $("#pToDate").val();
				p.pFromOnboardDate = $("#pFromOnboardDate").val();
				p.pToOnboardDate = $("#pToOnboardDate").val();
				p.pShipmentNo = $("#pShipmentNo").val();
				p.pOrderNo = $("#pOrderNo").val();
				p.pPartNo = $("#pPartNo").val();
				p.pPoNo = $("#pPoNo").val();
			},
			dataSrc: function(response) 
			{				
				let data = response.RESULT;
				
				$("#totalRows").html(JpUtilsNumber.addComma(data.length) + " row(s).");
				
				return data;
			}			
		},
		initComplete:function(settings, json) 
		{			
			ProgressBar.hide();
		}
	});
	
	// Datatable grid 초기 설정 셋업
	initGridTable($tableObj);
	
	$("#TBL_grid tbody").on("click", "td:first-child", function (e){				
		let rowData = $tableObj.row(this).data();
		
		//$("#pShipmentNo2").val(rowData.TKNUM);			
		$("#shipmentNo").val(rowData.TKNUM);
		$("#FORM_search").attr("action", "[[${BASE_PATH}]]/order/delivery/view").submit();
	});
});
// Search 버튼 클릭
$("#BTN_search").on("click", function(){		
	doSearch();			// dataTable의 ajax 설정을 이용해  다시 조회. 
});

//Input text 엔터 키 입력
$("#FORM_search input:text").on("keydown", function(event) {
	if (event.keyCode == 13)
	{
		doSearch();
	};
});	
	
$("#BTN_download").on("click", function() {
	_gridDownload($tableObj, "Delivery_Status_List");
});

function doSearch()
{
	$tableObj.ajax.reload();
};
</script>	
</th:block>