<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/hq/parts/popup/index}">
	
<th:block layout:fragment="content">	
	<div class="block-header">
		<div class="block-title" th:text="#{HQP_T_PART_NO}"></div><!-- Part No. -->
		<div class="block-button-area">
			<button id="BTN_search" type="button" th:text="#{HQP_B_SEARCH}"></button><!-- Search -->
		</div>	
	</div>	
	<div class="condition-area">
	<form id="FORM_search" name="FORM_search">
	<table class="condition">
		<tbody>
			<tr>
				<th th:text="#{HQP_L_PART_NO}"></th><!-- Part No.  -->
				<td>			
					<div class="input-area">			
						<input type="text" id="pPartNo" name="pPartNo" class="custom-ui" th:value="${pPartNo}" style="text-transform: uppercase;" autofocus />
					</div> 										
				</td>
			</tr>
			<tr>			
				<th th:text="#{HQP_L_PART_DESCRIPTION}"></th><!--Description  -->
				<td>
					<div class="input-area">			
						<input type="text" id="pPartDesc" name="pPartDesc" class="custom-ui" th:value="${pPartDesc}">
					</div>							
				</td>			
			</tr>		
		</tbody>
	</table>
	</form>	
	</div>
	<div class="split-row"></div>
	<div class="grid-info">
		<div class="grid-total">
			<span class="total-number" id="totalRows"></span>
		</div>
	</div>
	<div id="AREA_grid" class="flex-grow grid-area">
		<table id="TBL_grid" class="order-column stripe compact"></table>	
	</div>
	
<script>
$(document).ready(function() {
	_setPartAutocomplete($("#pPartNo"));
});

let $tableObj;	
$(function(){
	$("#pPartNo, #pPartDesc").on("keydown", function(event) {
		
		$("#pPartNo").val($("#pPartNo").val().toUpperCase());
		
		if (event.keyCode == 13)
		{
			doSearch();
		};
	});
	
	$tableObj = $("#TBL_grid").DataTable({
		ordering: true, 
		columns: [
			{// 컬럼에 radio 설정
				name: "RAD_MATNR",
				className:"center skip-download",// row selection 기능 막음.
				orderable: false,// checkbox 는 정렬 불가
				render: function(data, type, row)
				{
					if (row.disabled == "disabled")
					{
						return "";
					}

					return '<input type="radio" name="KEY" value="' + row.MATNR + '" class="custom-ui"><label></label>';// FixedColumns 사용시엔 syncInput 호출 필요함.
				}
			},
			{name: "MATNR", data: "MATNR", title: "[[#{HQP_L_PART_NO}]]"},//Part No. 
			{name: "MAKTX", data: "MAKTX", title: "[[#{HQP_L_PART_DESCRIPTION}]]"}//Description	
		],
		ajax: {
			url: "[[${BASE_PATH}]]/info/part_search/data",
			data: function(p)
			{				
				p.pPartNo = $("#pPartNo").val();
				p.pPartDesc = $("#pPartDesc").val();
			},
			dataSrc: function(response) 
			{				
				let data = JpUtilsArray.emptyIfNull(response.RESULT);
				
				for (let i=0, length=data.length; i<length; i++)
				{
					data[i].RAD_MATNR = "";					
				};
				
				showGridTotalRows($("#totalRows"), data);
				
				return data;
			}
		},
		initComplete: function() {
			ProgressBar.hide();
		}
	});

	// Datatable grid 초기 설정 셋업
	initGridTable($tableObj);
	
	$("#TBL_grid tbody").on("click", "tr", function (e) {
	    let tblGrid = $("#TBL_grid").DataTable();	    
	    let index = $("#TBL_grid").dataTable().api().cell($(e.target).closest("td")).index().column;	    	    
		let rowData = tblGrid.row(this).data();
		
		if (index == 0)
		{	
			try
			{
				opener._callbackPartSearch(rowData.MATNR);
			}
			catch (e) {}
		}					
	});				
});

$("#BTN_search").on("click", function(){		
	doSearch();
});

$("#pPartNo").on("keydown", function(event) {
	if (event.keyCode == 13)
	{
		if ($.trim($("#pPartNo").val()) != "")
		{
			doSearch();	
		};
	};
});

function doSearch()
{
	$tableObj.ajax.reload();
}
</script>
</th:block>
