<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jwebppy.portal.iv.hq.parts.domestic.order.create.mapper.OrderCreateMapper">
	<resultMap type="OrderHistoryHeaderEntity" id="orderHistoryHeaderMap">
		<id property="ohhSeq" column="ohh_seq" />
		<result property="corp" column="corp" />
		<result property="docType" column="doc_type" />
		<result property="orderType" column="order_type" />
		<result property="soldToNo" column="sold_to_no" />
		<result property="shipToNo" column="ship_to_no" />
		<result property="oaSeq" column="oa_seq" />
		<result property="salesOrg" column="sales_org" />
		<result property="distChannel" column="dist_channel" />
		<result property="division" column="division" />
		<result property="shippingCondition" column="shipping_condition" />
		<result property="poNo" column="po_no" />
		<result property="soNo" column="so_no" />
		<result property="errorMsg" column="error_msg" />
		<result property="orderedDate" column="ordered_date" />
		<result property="duplOhhSeq" column="dupl_ohh_seq" />
		<result property="refSeq" column="ref_seq" />
		<result property="refSystem" column="ref_system" />
		<result property="regUsername" column="reg_username" />
		<result property="regDate" column="reg_date" />
		<collection property="orderHistoryItems" foreignColumn="ohh_seq" column="ohh_seq" javaType="java.util.ArrayList" ofType="OrderHistoryItemEntity" select="findAllOrderHistoryItems" />
	</resultMap>
	
	<insert id="insertOrderHistoryHeader" parameterType="OrderHistoryHeaderEntity" useGeneratedKeys="true" keyProperty="ohhSeq">
		<selectKey keyProperty="ohhSeq" resultType="Integer" order="BEFORE">
			select ep_ohh_seq.nextval from dual
		</selectKey>

		insert into ep_order_history_header (ohh_seq, corp, doc_type, order_type, sold_to_no, ship_to_no, oa_seq, sales_org, dist_channel, division, shipping_condition, po_no, so_no, error_msg, ordered_date, dupl_ohh_seq, ref_seq, ref_system, reg_username, reg_date) values (
			#{ohhSeq}, #{corp}, #{docType}, #{orderType}, #{soldToNo}, #{shipToNo}, #{oaSeq}, #{salesOrg}, #{distChannel}, #{division}, #{shippingCondition}, #{poNo}, #{soNo}, #{errorMsg}, #{orderedDate}, #{duplOhhSeq}, #{refSeq}, #{refSystem}, #{regUsername}, #{regDate}
		)
	</insert>
	
	<insert id="insertOrderHistoryItem" parameterType="OrderHistoryItemEntity">
		insert into ep_order_history_item (ohh_seq, material_no, order_qty, sort) values (
			#{ohhSeq}, #{materialNo}, #{orderQty}, #{sort}
		)
	</insert>

	<update id="updateSuccessOrderHistoryHeader" parameterType="OrderHistoryHeaderEntity">
		update ep_order_history_header set so_no=#{soNo}, ordered_date=#{modDate}
		where
		ohh_seq=#{ohhSeq}		
	</update>

	<update id="updateFailOrderHistoryHeader" parameterType="OrderHistoryHeaderEntity">
		update ep_order_history_header set dupl_ohh_seq=#{duplOhhSeq}, error_msg=#{errorMsg}
		where
		ohh_seq=#{ohhSeq}		
	</update>
	
	<select id="findOrderHistoryHeader" resultMap="orderHistoryHeaderMap">
		select
		*
		from
		ep_order_history_header
		where
		ohh_seq=#{ohhSeq}
	</select>	
	
	<select id="findAllOrderHistoryHeader" parameterType="OrderHistoryHeaderDto" resultMap="orderHistoryHeaderMap">
		select
		*
		from
		ep_order_history_header
		where
		reg_username=#{regUsername}
		and reg_date>=sysdate-(interval '30' minute)
		
		<if test="ohhSeq != null">
			and ohh_seq <![CDATA[<]]> #{ohhSeq}
		</if>
		
		<if test="@org.jwebppy.platform.core.util.CmMyBatisQueryUtils@isNotEmpty(refSeq) and @org.jwebppy.platform.core.util.CmMyBatisQueryUtils@isNotEmpty(refSystem)">
			and ref_seq=#{refSeq}
			and ref_system=#{refSystem}
		</if>
		
		order by ohh_seq
	</select>

	<select id="findAllOrderHistoryItems" parameterType="Integer" resultType="OrderHistoryItemEntity">
		select
		*
		from
		ep_order_history_item
		where
		ohh_seq=#{ohhSeq}
		order by sort
	</select>
</mapper>