<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jwebppy.platform.mgmt.upload_file.mapper.UploadFileListMapper">
	<insert id="insert" parameterType="UploadFileListEntity" useGeneratedKeys="true" keyProperty="uflSeq">
		insert into pltf_upload_file_list (uf_seq, t_seq, origin_name, saved_name, extension, size, fg_delete, reg_username, reg_date) values (
			#{ufSeq}, #{tSeq}, #{originName}, #{savedName}, #{extension}, #{size}, #{fgDelete}, #{regUsername}, #{regDate}
		)
	</insert>
	
	<update id="delete" parameterType="UploadFileListEntity">
		update pltf_upload_file_list set
			fg_delete='Y',
			mod_username=#{modUsername},
			mod_date=#{modDate}
		where
			ufl_seq=#{uflSeq}
	</update>	
	
	<select id="findUploadFileLists" parameterType="UploadFileListDto" resultType="UploadFileListEntity">
		select
		a.*
		from
		pltf_upload_file_list a
		where
		a.uf_seq=#{ufSeq}
		and a.t_seq=#{tSeq}
		and a.fg_delete='N'
	</select>	
</mapper>