<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title th:text="#{PLTF_T_0006}"></title>

<link rel="stylesheet" type="text/css" th:href="@{/platform/css/login/login.css}" />
<link rel="stylesheet" type="text/css" class="ui" th:href="@{/platform/css/semantic/semantic.min.css}" />

<script th:src="@{/platform/js/jquery/jquery.min.js}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script th:src="@{/platform/js/jWebppy.ui.dimmer.js}"></script>
<script th:src="@{/platform/js/jWebppy.utils.object.js}"></script>
<script th:src="@{/platform/js/jWebppy.utils.string.js}"></script>
<script th:src="@{/platform/js/jquery/jquery.cookie.js}"></script>
<script th:src="@{/platform/js/semantic/semantic.min.js}"></script>
<script>
let INDEX_URL = "[[${T(org.jwebppy.platform.core.PlatformConfigVo).INDEX_URL}]]";

$(window).load(function() {
	showLoginBox();
	$("#password").focus();
	
	JpUiDimmer.hide();
});

$(window).resize(function() {
	resizeView();	
});

/*
 * HD: 1280X720
 * FDH: 1920X1080
 */
function resizeView()
{
	$("#IMG_main").width($(window).width());
	$("#IMG_main").height($(window).height());
};

function checkForm()
{
	if (JpUtilsString.isEmpty($("#password").val()))
	{
		alert("[[#{PLTF_M_LOGIN_EMPTY_PWD}]]");
		$("#password").focus();			
		return false;				
	}
	else if (JpUtilsString.isEmpty($("#newPassword").val()))
	{
		alert("[[#{PLTF_M_EMPTY_NEW_PWD}]]");
		$("#newPassword").focus();			
		return false;
	}
	else if (JpUtilsString.isEmpty($("#confirmPassword").val()))
	{
		alert("[[#{PLTF_M_EMPTY_CONFIRM_PWD}]]");
		$("#confirmPassword").focus();			
		return false;				
	}
	else if (JpUtilsString.notEquals($("#newPassword").val(), $("#confirmPassword").val()))
	{
		alert("[[#{PLTF_M_NOT_PASSWORD_MATCH}]]");
		$("#newPassword").focus();
		return false;
	}
	else if (JpUtilsString.equals($("#password").val(), $("#newPassword").val()))
	{
		alert("[[#{	PLTF_M_NOT_ALLOWABLE_PASSWORD}]]");
		$("#newPassword").focus();
		return false;		
	}
	
	return true;
};

function doSubmit()
{
	if (checkForm())
	{
		let url = "[[${T(org.jwebppy.platform.core.PlatformConfigVo).FORM_PASSWORD_CHANGE_PROCESSING_URL}]]";
		
		$.ajax({
			type: "POST", //GET, POST
			url: url,
			data: $("#FORM_password").serialize(),
			beforeSend: function(jqXHR, settings)
			{
				JpUiDimmer.show();
			},			
			success: function(data, textStatus, jqXHR)
			{
				let result = data.RESULT;
				
				let checkResult = result.RESULT;
				
				if (checkResult == 1)
				{
					alert("[[#{PLTF_M_CHANGE_PASSWORD_SUCCESS}]]");
					document.location.href = INDEX_URL;
				}
				else
				{
					alert(checkResult);
					
					let message = "";
					
					$.each(result.MESSAGE, function (index, value) {
						message += value + "\n";
					});					
					
					alert(message);
					
					if (checkResult == -999)
					{
						document.location.href = INDEX_URL;
					}
					else
					{
						JpUiDimmer.hide();	
					}
				};
			}
		});		
	};
};

$(document).ready(function() {
	JpUiDimmer.show();

	$("#openNewWindow").on("click", function() {
		window.open(INDEX_URL, new Date().getMilliseconds());
	});

	$("#goHome").on("click", function() {
		document.location.href = INDEX_URL;
	});	
	
	$(".btn-login").on("click", function() {
		if (checkForm())
		{
			doSubmit();
		};	
	});
	
	$("input[type=password]").on("keydown", function(event) {
		if (event.keyCode==13)
		{
			doSubmit();	
		};
	});
	
	resizeView();
});

function showLoginBox()
{
	$(".login-box").toggle("drop", 300);
};
</script>
</head>
<body>
<div style="position: fixed; top: 5px; right: 5px; cursor: pointer; font-weight: bold;"><span id="goHome">Home</span> | <span id="openNewWindow">New Window</span></div>
<form id="FORM_password" method="post">
<div id="wrap" class="wrap">
	<div style="text-align: center">
		<img id="IMG_main" th:src="@{/platform/img/login/main2.jpg}" alt="Main Image" />
	</div> 
	<div class="body">
		<div class="login-box" style="display:none;">
			<div class="title" th:text="#{PLTF_T_CHANGE_PASSWORD}"></div>
			<div class="password"><img th:src="@{/platform/img/login/password.png}" class="login-input" th:alt="#{PLTF_L_CURRENT_PASSWORD}" /><input type="password" id="password" name="password" th:placeholder="#{PLTF_L_CURRENT_PASSWORD}" /></div>
			<div class="password"><img th:src="@{/platform/img/login/password.png}" class="login-input" th:alt="#{PLTF_L_NEW_PASSWORD}" /><input type="password" id="newPassword" name="newPassword" th:placeholder="#{PLTF_L_NEW_PASSWORD}" /></div>
			<div class="password"><img th:src="@{/platform/img/login/password.png}" class="login-input" th:alt="#{PLTF_L_CONFIRM_PASSWORD}" /><input type="password" id="confirmPassword" name="confirmPassword" th:placeholder="#{PLTF_L_CONFIRM_PASSWORD}" /></div>
			<button class="btn-login" type="button" th:text="#{PLTF_B_SUBMIT}"></button>
		</div>
	</div>
	<div class="bottom" style="height: 60px; opacity: 0.75;">
		<div class="copy-right">
			<div class="text"th:text="#{PLTF_T_COPYLEFT}"></div>
		</div>
	</div>
</div>
</form>
</body>
</html>