<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}" />
<title th:text="#{PLTF_T_0006}"></title>

<link rel="stylesheet" type="text/css" th:href="@{/platform/css/login/login.css}" />
<link rel="stylesheet" type="text/css" class="ui" th:href="@{/platform/css/semantic/semantic.min.css}" />

<script th:src="@{/platform/js/jquery/jquery.min.js}"></script>
<script th:src="@{/platform/js/jquery/jquery.cookie.js}"></script>
<script th:src="@{/platform/js/jquery/jquery-ui.min.js}"></script>
<script th:src="@{/platform/js/jWebppy.utils.object.js}"></script>
<script th:src="@{/platform/js/jWebppy.utils.path.js}"></script>
<script th:src="@{/platform/js/jWebppy.utils.string.js}"></script>
<script th:src="@{/platform/js/jWebppy.utils.ajax.js}"></script>
<script th:src="@{/platform/js/jWebppy.ui.dimmer.js}"></script>
<script th:src="@{/platform/js/semantic/semantic.min.js}"></script>
<script>
let INDEX_URL = "[[${T(org.jwebppy.platform.core.PlatformConfigVo).INDEX_URL}]]";

$(window).on("load", function() {
	showLoginBox();
	$("#password").focus();
	
	JpUiDimmer.hide();
});

$(window).resize(function() {
	resizeView();	
});

/*
 * HD: 1280X720
 * FDH: 1920X1080
 */
function resizeView()
{
	$("#IMG_main").width($(window).width());
	$("#IMG_main").height($(window).height());
};

function checkForm()
{
	if (JpUtilsString.isEmpty($("#password").val()))
	{
		JpUiDimmer.alert("[[#{PLTF_M_LOGIN_EMPTY_PWD}]]", function() {
			$("#password").focus();	
		});
					
		return false;				
	}
	else if (JpUtilsString.isEmpty($("#newPassword").val()))
	{
		JpUiDimmer.alert("[[#{PLTF_M_EMPTY_NEW_PWD}]]", function() {
			$("#newPassword").focus();
		});
		
		return false;
	}
	else if (JpUtilsString.isEmpty($("#confirmPassword").val()))
	{
		JpUiDimmer.alert("[[#{PLTF_M_EMPTY_CONFIRM_PWD}]]", function() {
			$("#confirmPassword").focus();
		});
		
		return false;				
	}
	else if (JpUtilsString.notEquals($("#newPassword").val(), $("#confirmPassword").val()))
	{
		JpUiDimmer.alert("[[#{PLTF_M_NOT_PASSWORD_MATCH}]]", function() {
			$("#newPassword").focus();
		});
		
		return false;
	}
	
	return true;
};

function submit()
{
	if (checkForm())
	{
		JpUtilsAjax.post({
			url: "[[${T(org.jwebppy.platform.core.PlatformConfigVo).FORM_PASSWORD_CHANGE_PROCESSING_URL}]]",
			data: $("#FORM_password").serialize(),
			beforeSend: function(jqXHR, settings)
			{
				JpUiDimmer.show();
			},			
			success: function(data, textStatus, jqXHR)
			{
				let result = data.RESULT;
				
				let checkResult = result.RESULT;
				
				if (checkResult == 1)
				{
					JpUiDimmer.alert("[[#{PLTF_M_CHANGE_PASSWORD_SUCCESS}]]", function() {
						document.location.href = INDEX_URL;
					});
				}
				else
				{
					let message = "";
					
					$.each(result.MESSAGE, function (index, value) {
						message += value + "<br/>";
					});
					
					JpUiDimmer.alert(message, function() {
						if (checkResult == -999)
						{
							document.location.href = INDEX_URL;
						}
						else
						{
							JpUiDimmer.hide();	
						};	
					});					
				};
			}
		});
	};
};

$(document).ready(function() {
	JpUiDimmer.show();

	$("#openNewWindow").on("click", function() {
		window.open(INDEX_URL, new Date().getMilliseconds());
	});

	$("#goHome").on("click", function() {
		document.location.href = INDEX_URL;
	});	
	
	$(".submit").on("click", function() {
		if (checkForm())
		{
			submit();
		};	
	});
	
	$("input[type=password]").on("keydown", function(event) {
		if (event.keyCode==13)
		{
			submit();
		};
	});
	
	resizeView();
});

function showLoginBox()
{
	$(".login-box").toggle("drop", 300);
};
</script>
</head>
<body>
<div style="position: fixed; top: 5px; right: 5px; cursor: pointer; font-weight: bold;"><span id="goHome">Home</span> | <span id="openNewWindow">New Window</span></div>
<form id="FORM_password" method="post" autocomplete="off" onsubmit="return false;">
<div id="wrap" class="wrap">
	<div style="text-align: center">
		<img id="IMG_main" th:src="@{/platform/img/login/main4.jpg}" alt="Main Image" />
	</div> 
	<div class="body">
		<div class="login-box" style="display:none;">
			<div class="title" th:text="#{PLTF_T_CHANGE_PASSWORD}"></div>
			<div class="password"><img th:src="@{/platform/img/login/password.png}" class="login-input" th:alt="#{PLTF_L_CURRENT_PASSWORD}" /><input type="password" id="password" name="password" th:placeholder="#{PLTF_L_CURRENT_PASSWORD}" /></div>
			<div class="password"><img th:src="@{/platform/img/login/password.png}" class="login-input" th:alt="#{PLTF_L_NEW_PASSWORD}" /><input type="password" id="newPassword" name="newPassword" th:placeholder="#{PLTF_L_NEW_PASSWORD}" /></div>
			<div class="password"><img th:src="@{/platform/img/login/password.png}" class="login-input" th:alt="#{PLTF_L_CONFIRM_PASSWORD}" /><input type="password" id="confirmPassword" name="confirmPassword" th:placeholder="#{PLTF_L_CONFIRM_PASSWORD}" /></div>
			<button class="btn-login submit" type="button" th:text="#{PLTF_B_SUBMIT}"></button>
		</div>
	</div>
	<div class="bottom" style="height: 60px; opacity: 0.75;">
		<div class="copy-right">
			<div class="text"th:text="#{PLTF_T_COPYLEFT}"></div>
		</div>
	</div>
</div>
</form>
</body>
</html>