<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title th:text="#{PLTF_T_0006}"></title>

<link rel="stylesheet" type="text/css" th:href="@{/platform/css/login/login.css}" />
<link rel="stylesheet" type="text/css" class="ui" th:href="@{/platform/css/semantic/semantic.min.css}" />

<script type="application/javascript" th:src="@{/platform/js/jquery/jquery.min.js}"></script>
<script type="application/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="application/javascript" th:src="@{/platform/js/jWebppy.ui.dimmer.js}"></script>
<script type="application/javascript" th:src="@{/platform/js/jWebppy.utils.object.js}"></script>
<script type="application/javascript" th:src="@{/platform/js/jWebppy.utils.string.js}"></script>
<script type="application/javascript" th:src="@{/platform/js/jquery/jquery.cookie.js}"></script>
<script type="application/javascript" th:src="@{/platform/js/semantic/semantic.min.js}"></script>
<script type="application/javascript">
let INDEX_URL = "[[${T(org.jwebppy.platform.core.PlatformConfigVo).INDEX_URL}]]";

$(window).load(function() {
	showLoginBox();
	$("#username").focus();
	
	JpUiDimmer.hideDimmer();
});

$(window).resize(function() {
	resizeView();	
});

/*
 * HD: 1280X720
 * FDH: 1920X1080
 */
function resizeView()
{
	$("#IMG_main").width($(window).width());
	$("#IMG_main").height($(window).height());
};

function loginCheck()
{
	if ($.trim($("#username").val()) == "")
	{
		alert("[[#{PLTF_M_LOGIN_EMPTY_USERNAME}]]");
		$("#username").focus();
		return false;
	}
	else if ($.trim($("#password").val()) == "")
	{
		alert("[[#{PLTF_M_LOGIN_EMPTY_PWD}]]");
		$("#password").focus();			
		return false;				
	};
	
	return true;
};

let isProcessing = false;
function login()
{
	if (!isProcessing)
	{
		isProcessing = true;
		
		let url = "[[${T(org.jwebppy.platform.core.PlatformConfigVo).FORM_LOGIN_PROCESSING_URL}]]";
		let username = "[[${T(org.jwebppy.platform.core.PlatformConfigVo).FORM_LOGIN_USERNAME}]]";
		
		$.ajax({
			type: "POST", //GET, POST
			url: url,
			data: $("#FORM_login").serialize(),
			beforeSend: function(jqXHR, settings)
			{
				JpUiDimmer.showDimmer();
			},
			success: function(data, textStatus, jqXHR)
			{
				$.cookie(username, $("#" + username).val(), { expires : 365 });
				document.location.href = "/forward/entry_point";
			},			
			error: function(jqXHR, textStatus, errorThrown)
			{
				let errorType = jqXHR.getResponseHeader("Error-Type");
				
				if (errorType == "CredentialsExpired")
				{
					alert("[[#{PLTF_M_PASSWORD_EXPIRED}]]");
					document.location.href = "[[${T(org.jwebppy.platform.core.PlatformConfigVo).FORM_PASSWORD_CHANGE_PAGE_URL}]]";
				}
				else
				{
					alert("[[#{PLTF_M_LOGIN_AUTHENTICATION_FAILED}]]");
				};
				
				JpUiDimmer.hideDimmer();
			},
			complete: function(jqXHR, textStatus) {
				isProcessing = false;
			}
		});		
	};
};

$(document).ready(function() {
	JpUiDimmer.showDimmer();
	
	if ($.trim($.cookie("username")) != "")
	{
		$("#username").val($.cookie("username"));
	};	
	
	$(".btn-login").on("click", function() {
		if (loginCheck())
		{
			login();
		};	
	});

	$("#username, #password").on("focus", function(event) {
		this.select();
	});	
	
	$("#username, #password").on("keydown", function(event) {
		if (event.keyCode == 13)
		{
			if (loginCheck())
			{
				login();
			}
		}
	});
	
	$("#openNewWindow").on("click", function() {
		window.open(INDEX_URL, new Date().getMilliseconds());
	});
	
	$(".save-username").on("click", function() {
		let src = "/platform/img/login/uncheck.png";		
		
		if ($(this).find("img").attr("src").indexOf("uncheck") > -1)
		{
			src = "/platform/img/login/check.png";
			$("#saveUsername").val("Y");
		}
		else
		{
			$("#saveUsername").val("N");
		};
		
		$(this).find("img").attr("src", src);
	});
	
	resizeView();
});

function showLoginBox()
{
	$(".login-box").toggle("drop", 300);
};
</script>
</head>
<body>
<div id="openNewWindow" style="position: fixed; top: 5px; right: 5px; cursor: pointer; font-weight: bold;">New Window</div>
<form id="FORM_login" method="post" onsubmit="return loginCheck();">
<input type="hidden" id="saveUsername" name="saveUsername" />
<div id="wrap" class="wrap">
	<div style="text-align: center">
		<img id="IMG_main" th:src="@{/platform/img/login/main2.jpg}" alt="Main Image" />
	</div> 
	<div class="body">
		<div class="login-box" style="display:none;">
			<div class="title" th:text="#{PLTF_T_LOGIN_BOX_HEADER}"></div>
			<div class="username"><img th:src="@{/platform/img/login/username.png}" class="login-input" th:alt="#{PLTF_L_USERNAME}" /><input type="text" th:id="${T(org.jwebppy.platform.core.PlatformConfigVo).FORM_LOGIN_USERNAME}" th:name="${T(org.jwebppy.platform.core.PlatformConfigVo).FORM_LOGIN_USERNAME}" th:placeholder="#{PLTF_L_USERNAME}" /></div>
			<div class="password"><img th:src="@{/platform/img/login/password.png}" class="login-input" th:alt="#{PLTF_L_PASSWORD}" /><input type="password" th:id="${T(org.jwebppy.platform.core.PlatformConfigVo).FORM_LOGIN_PASSWORD}" th:name="${T(org.jwebppy.platform.core.PlatformConfigVo).FORM_LOGIN_PASSWORD}" th:placeholder="#{PLTF_L_PASSWORD}" /></div>
			<button class="btn-login" type="button" th:text="#{PLTF_B_LOGIN}"></button>
			<div class="bottom"> 
				<div class="save-username"><img th:src="@{/platform/img/login/check.png}" class="save-username-chk" alt="Save Username" /><span>[[#{PLTF_L_SAVE-USERNAME}]]</span></div>
			</div>
		</div>
	</div>
	<div class="bottom" style="height: 60px; opacity: 0.75;">
		<div class="copy-right">
			<div class="text"th:text="#{PLTF_T_COPYLEFT}"></div>
		</div>
	</div>
</div>
</form>
</body>
</html>