<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/hq/parts/popup/index}">
<th:block layout:fragment="content">
	
	<div class="block-header" >
		<div class="block-title" th:text="#{HQP_L_SURVEY_PREVIEW}"></div>
		<div class="block-button-area">
			<button type="button" th:text="#{HQP_B_CLOSE}" onclick="window.close();"></button>
		</div>
	</div>	
	
	<div class="condition-area">
		<table class="condition table-fixed">
			<tr>
				<td style="width:20%">[[${survey?.title}]]</td>
				<td th:style="${#lists.isEmpty(survey?.uploadFileLists) ? 'display:none' : ''}">
					[[#{HQP_L_ATTACHMENT}]] : <span th:each="uploadFileList : ${survey?.uploadFileLists}">
						<a class="link" th:text="${uploadFileList.fullOriginName}" th:downloadKey="${uploadFileList.downloadKey}"></a>
						(<span th:text="${uploadFileList.displayFileSize}"></span>)
					</span>
				</td>
			</tr>
			<tr>
				<td colspan="2">[[${survey?.description}]]</td>
			</tr>
		</table>
	<br/><br/>
	<table class="condition">
		<tbody>
			<tr th:each="voteItem, index : ${voteItems}">
				<td th:switch="${voteItem.type}">
					<!--  객관식 -->
					<table th:case="0">
						<tr>
							<td>
								<table>
									<tr>
										<td>
											<span style="color:blue;" th:text="${index.count}+'.'"></span>
											<span style="color:red;" th:if="${(voteItem.fgMandatory == T(org.jwebppy.portal.iv.common.IvCommonVo).YES)}" th:text="'['+#{HQP_L_SELECT_ESSENTIAL}+']'"></span>
											<span style="color:red;" th:unless="${(voteItem.fgMandatory == T(org.jwebppy.portal.iv.common.IvCommonVo).YES)}" th:text="'['+#{HQP_L_SELECT_POTENTIAL}+']'"></span>
											<span style="color:blue;" th:text="${voteItem.title}"></span>
										</td>
									</tr>
								</table>
								<table>
									<tr th:each="item : ${voteItem.items}">
										<td>
											<span>
												<input th:name="'Q_'+${voteItem.sqSeq}" th:value="${item.siSeq}" type="radio" /> 
											</span>
											<span>[[${item.title}]]</span>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					
					<!--  다중객관식 -->
					<table th:case="1">
						<tr>
							<td>
								<table>
									<tr>
										<td>
											<span style="color:blue;" th:text="${index.count}+'.'"></span>
											<span style="color:red;" th:if="${(voteItem.fgMandatory == T(org.jwebppy.portal.iv.common.IvCommonVo).YES)}" th:text="'['+#{HQP_L_SELECT_ESSENTIAL}+']'"></span>
											<span style="color:red;" th:unless="${(voteItem.fgMandatory == T(org.jwebppy.portal.iv.common.IvCommonVo).YES)}" th:text="'['+#{HQP_L_SELECT_POTENTIAL}+']'"></span>
											<span style="color:blue;" th:text="${voteItem.title}"></span>
											<span>([[#{HQP_L_SELECTION_NUMBER}]] : [[${voteItem.mandatoryCnt}]])</span>
										</td>
									</tr>
								</table>
								<table>
									<tr th:each="item : ${voteItem.items}">
										<td>
											<span><input th:name="'Q_'+${voteItem.sqSeq}" th:value="${item.siSeq}" type="checkbox" /></span>
											<span>[[${item.title}]]</span>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					
					<!--  주관식 -->
					<table th:case="2">
						<tr>
							<td>
								<table>
									<tr>
										<td>
											<span style="color:blue;" th:text="${index.count}+'.'"></span>
											<span style="color:red;" th:if="${(voteItem.fgMandatory == T(org.jwebppy.portal.iv.common.IvCommonVo).YES)}" th:text="'['+#{HQP_L_SELECT_ESSENTIAL}+']'"></span>
											<span style="color:red;" th:unless="${(voteItem.fgMandatory == T(org.jwebppy.portal.iv.common.IvCommonVo).YES)}" th:text="'['+#{HQP_L_SELECT_POTENTIAL}+']'"></span>
											<span style="color:blue;" th:text="${voteItem.title}"></span>
										</td>
									</tr>
								</table>
								<table>
									<tr>
										<td>
											<textarea th:name="'Q_'+${voteItem.sqSeq}" th:id="'Q_'+${voteItem.sqSeq}" rows="5" cols="50"></textarea>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				
					<!--  가중치 -->
					<table th:case="3">
						<tr>
							<td>
								<table>
									<tr>
										<td>
											<span style="color:blue;" th:text="${index.count}+'.'"></span>
											<span style="color:red;" th:if="${(voteItem.fgMandatory == T(org.jwebppy.portal.iv.common.IvCommonVo).YES)}" th:text="'['+#{HQP_L_SELECT_ESSENTIAL}+']'"></span>
											<span style="color:red;" th:unless="${(voteItem.fgMandatory == T(org.jwebppy.portal.iv.common.IvCommonVo).YES)}" th:text="'['+#{HQP_L_SELECT_POTENTIAL}+']'"></span>
											<span style="color:blue;" th:text="${voteItem.title}"></span>
											<span>([[#{HQP_L_EXTRA_WEIGHT_SUM}]] : 10[[#{HQP_L_POINT}]])</span>
										</td>
									</tr>
								</table>
								<table>
									<tr th:each="item : ${voteItem.items}">
										<td>
											<span>
												<select th:name="'I_'+${item.siSeq}" th:id="'I_'+${item.siSeq}">
													<option value="1">1[[#{HQP_L_POINT}]]</option>
													<option value="2">2[[#{HQP_L_POINT}]]</option>
													<option value="3">3[[#{HQP_L_POINT}]]</option>
													<option value="4">4[[#{HQP_L_POINT}]]</option>
													<option value="5">5[[#{HQP_L_POINT}]]</option>
													<option value="6">6[[#{HQP_L_POINT}]]</option>
													<option value="7">7[[#{HQP_L_POINT}]]</option>
													<option value="8">8[[#{HQP_L_POINT}]]</option>
													<option value="9">9[[#{HQP_L_POINT}]]</option>
													<option value="10">10[[#{HQP_L_POINT}]]</option>
												</select>
											</span>
											<span>[[${item.title}]]</span>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					
					<!--  우선순위 -->
					<table th:case="4">
						<tr>
							<td>
								<table>
									<tr>
										<td>
											<span style="color:blue;" th:text="${index.count}+'.'"></span>
											<span style="color:red;" th:if="${(voteItem.fgMandatory == T(org.jwebppy.portal.iv.common.IvCommonVo).YES)}" th:text="'['+#{HQP_L_SELECT_ESSENTIAL}+']'"></span>
											<span style="color:red;" th:unless="${(voteItem.fgMandatory == T(org.jwebppy.portal.iv.common.IvCommonVo).YES)}" th:text="'['+#{HQP_L_SELECT_POTENTIAL}+']'"></span>
											<span style="color:blue;" th:text="${voteItem.title}"></span>
										</td>
									</tr>
								</table>
								<table>
									<tr th:each="item : ${voteItem.items}">
										<td>
											<span>
												<select th:name="'I_'+${item.siSeq}" th:id="'I_'+${item.siSeq}">
													<option th:each="idx, itemIndex : ${voteItem.items}" th:value="${itemIndex.count}">[[${itemIndex.count}]] [[#{HQP_L_PRIORITY_POINT}]]</option>
												</select>
											</span>
											<span>[[${item.title}]]</span>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					
				</td>
			</tr>
		</tbody>
	</table>
	</div>
	
<script th:inline="javascript">
$(function(){
	ProgressBar.hide();
});

</script>
</th:block>	