<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doosan.iv.portal.corp.eu.scm.parts.merchandize.mapper.MerchandizeGeneralMapper">
		
	<!-- 상품 정렬 가져오기 -->
	<select id="findUpdateSortInfo" resultType="MerchandizeGeneralEntity" parameterType="MerchandizeGeneralEntity">
		select  
		<choose>
			<when test="tableNm != null and tableNm == 'EPMALL_CATEGORY'">
			   listagg (mc_seq, ',') within group (order by mc_seq)
			</when>
			<when test="tableNm != null and tableNm == 'EPMALL_PRODUCT'">
			   listagg (mp_seq, ',') within group (order by mp_seq)
			</when>
			<when test="tableNm != null and tableNm == 'EPMALL_RECOMMENDPRODUCT'">
			   listagg (mrp_seq, ',') within group (order by mrp_seq) 
			</when>
			<otherwise>
			</otherwise>
		</choose>
				 as t_seq_str_array 
			<if test="tableNm != null">	
			 , #{tableNm} table_nm 
			</if> 
			<if test="plusOrMinusStr != null">	
			 , #{plusOrMinusStr} plus_or_minus_str 
			</if>			
		  from 
		<choose>
			<when test="tableNm != null and tableNm == 'EPMALL_CATEGORY'">
			   ep_mall_category
		 where corp = #{corp}
		   and fg_delete != 'Y'
		   and mc_seq != #{tSeq}
			</when>
			<when test="tableNm != null and tableNm == 'EPMALL_PRODUCT'">
			   ep_mall_product
		 where mp_seq in (select mp_seq from ep_mall_product mp, ep_mall_category mc where mp.mc_seq = mc.mc_seq and mc.corp = #{corp} and mp.fg_delete != 'Y' and mc.fg_delete != 'Y')
		   and mp_seq != #{tSeq}
			</when>
			<when test="tableNm != null and tableNm == 'EPMALL_RECOMMENDPRODUCT'">
			   ep_mall_recommend_product
		 where mp_seq in (select mp_seq from ep_mall_product mp, ep_mall_category mc where mp.mc_seq = mc.mc_seq and mc.corp = #{corp} and mp.fg_delete != 'Y' and mc.fg_delete != 'Y')
		   and fg_delete != 'Y'
		   and mp_seq != #{tSeq}
			</when>
			<otherwise>
			</otherwise>
		</choose>
		   and (sort between #{minNum} and #{maxNum}) 
	</select>
	
	<!-- 정렬 순서 변경(일괄) -->
	<update id="updateSortNumbers" parameterType="MerchandizeGeneralDto">
		update 
			<choose>
				<when test="tableNm != null and tableNm == 'EPMALL_CATEGORY'">
			   ep_mall_category 
				</when>
				<when test="tableNm != null and tableNm == 'EPMALL_PRODUCT'">
			   ep_mall_product 
				</when>
				<when test="tableNm != null and tableNm == 'EPMALL_RECOMMENDPRODUCT'">
			   ep_mall_recommend_product 
				</when>
				<otherwise>
				</otherwise>
			</choose>  
		   set mod_username=#{modUsername}
		     , mod_date=#{modDate}
			<if test="plusOrMinusStr != null and plusOrMinusStr == 'PLUS'"> 
     		 , sort = sort + 1
			</if>
			<if test="plusOrMinusStr != null and plusOrMinusStr == 'MINUS'"> 
     		 , sort = sort - 1
			</if>
		 where 
			<choose>
				<when test="tableNm != null and tableNm == 'EPMALL_CATEGORY'">
					<foreach collection="tSeqs" item="tSeq" separator="or">
						mc_seq = to_number(#{tSeq})
					</foreach>
				</when>
				<when test="tableNm != null and tableNm == 'EPMALL_PRODUCT'">
					<foreach collection="tSeqs" item="tSeq" separator="or">
						mp_seq = to_number(#{tSeq})
					</foreach>
				</when>
				<when test="tableNm != null and tableNm == 'EPMALL_RECOMMENDPRODUCT'">
					<foreach collection="tSeqs" item="tSeq" separator="or">
						mrp_seq = to_number(#{tSeq})
					</foreach>
				</when>
				<otherwise>
				</otherwise>
			</choose>		
		
	</update>	
	
	<!-- 정렬 순서 변경(일괄) 테스트 -->	
	<update id="updateSortNumbersTest" parameterType="java.util.List">
    	<foreach collection="list" item="gEntity" separator=";" open="DECLARE BEGIN" close="; END;">
    	update 
			<choose>
				<when test="gEntity.tableNm != null and gEntity.tableNm == 'EPMALL_CATEGORY'">
			   ep_mall_category
				</when>
				<when test="gEntity.tableNm != null and gEntity.tableNm == 'EPMALL_PRODUCT'">
			   ep_mall_product
				</when>
				<when test="gEntity.tableNm != null and gEntity.tableNm == 'EPMALL_RECOMMENDPRODUCT'">
			   ep_mall_recommend_product
				</when>
				<otherwise>
				</otherwise>
			</choose>
		   set mod_date = sysdate		     
     		 , mod_username = 'ADMIN'
			<if test="gEntity.plusOrMinusStr != null and gEntity.plusOrMinusStr == 'PLUS'"> 
     		 , sort = sort + 1
			</if>
			<if test="gEntity.plusOrMinusStr != null and gEntity.plusOrMinusStr == 'MINUS'"> 
     		 , sort = sort - 1
			</if>
		 where 
			<choose>
				<when test="gEntity.tableNm != null and gEntity.tableNm == 'EPMALL_CATEGORY'">
			   mc_seq = #{gEntity.tSeq}
				</when>
				<when test="gEntity.tableNm != null and gEntity.tableNm == 'EPMALL_PRODUCT'">
			   mp_seq = #{gEntity.tSeq}
				</when>
				<when test="gEntity.tableNm != null and gEntity.tableNm == 'EPMALL_RECOMMENDPRODUCT'">
			   mp_seq = #{gEntity.tSeq}
<!-- 			   mrp_seq = 1 -->
				</when>
				<otherwise>
				</otherwise>
			</choose>
    	</foreach>
    </update>
	
	<!-- 정렬 순서 변경(1건) -->	
	<update id="updateSortNumber" parameterType="MerchandizeGeneralDto">
    	update 
		<choose>
			<when test="tableNm != null and tableNm == 'EPMALL_CATEGORY'">
			   ep_mall_category
			</when>
			<when test="tableNm != null and tableNm == 'EPMALL_PRODUCT'">
			   ep_mall_product
			</when>
			<when test="tableNm != null and tableNm == 'EPMALL_RECOMMENDPRODUCT'">
			   ep_mall_recommend_product
			</when>
			<otherwise>
			</otherwise>
		</choose>
	   	   set mod_date = #{modDate}		     
    		 , mod_username = #{modUsername}		 
    		 , sort = #{targetNum}
	 	 where 
		<choose>
			<when test="tableNm != null and tableNm == 'EPMALL_CATEGORY'">
			   mc_seq = #{tSeq}
			</when>
			<when test="tableNm != null and tableNm == 'EPMALL_PRODUCT'">
			   mp_seq = #{tSeq}
			</when>
			<when test="tableNm != null and tableNm == 'EPMALL_RECOMMENDPRODUCT'">
<!-- 			   mrp_seq = #{tSeq} -->
			   mp_seq = #{tSeq}
			</when>
			<otherwise>
			</otherwise>
		</choose>
    </update>
	
	
</mapper>