<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/common/index}">

<th:block layout:fragment="content">
	<script th:src="@{/portal/js/portal.utils.order.js}"></script>
	<script th:src="@{/portal/js/dropzone/dropzone.min.js}"></script>
	<link rel="stylesheet" type="text/css" class="ui" th:href="@{/portal/css/dropzone/dropzone.min.css}">

	<!-- Modal for upload simulation -->	
	<div class="dropzone-dimmer dimmer"></div>		
	<div class="dropzone-area">
		<div class="dropzone-area-top"></div>
		<div class="dropzone-body dropzone-click-zone">
			<div class="dropzone-click-zone" style="height:40.5px"></div>
			<img class="dropzone-body-img dropzone-click-zone" src="/portal/img/upload_file.png"/>
			<div class="dropzone-body-content dropzone-click-zone" th:text="#{DCP_T_HOW_TO_UPLOAD_SIMULATION}"></div>
		</div>
		<div class="dropzone-bottom dropzone-click-zone">
			<button type="button" onclick="UploadModal.hide()">[[#{DCP_B_CANCEL}]]</button>
		</div>
	</div>
	<!-- Modal for upload simulation -->

	<div class="block-header">
		<div class="block-title" th:text="#{DIVEU_T_0042}"></div>
		<div class="block-button-area">
			<button id="BTN_create" type="button" th:text="#{DCP_B_CREATE}"></button>
			<button id="BTN_shoppingCart" type="button" th:text="#{DCP_B_SHOPPING_CART}"></button>
		</div>
	</div>

	<div class="condition-area">
	<form id="FORM_order">
	<input type="hidden" id="soldToNo" name="soldToNo"/><!-- KUNNR -->
	<input type="hidden" id="shipToNo" name="shipToNo"/><!-- KUNAG -->
	<input type="hidden" id="shipToName" name="shipToName"/><!-- KUNAG_NAME -->
	<input type="hidden" id="shipToStreet" name="shipToStreet"/><!-- KUNAG_STREET -->
	<input type="hidden" id="priceGroup" name="priceGroup"/><!-- KONDA -->
	<input type="hidden" id="incoterms1" name="incoterms1"/><!-- INCO1 -->
	<input type="hidden" id="incoterms2" name="incoterms2"/><!-- INCO2 -->
	<input type="hidden" id="paymentTerms" name="paymentTerms"/><!-- ZTERM -->
	<input type="hidden" id="shippingCondition" name="shippingCondition"/><!-- VSBED -->
	<input type="hidden" id="shippingConditionName" name="shippingConditionName"/><!-- VSBED_TEXT -->
	<input type="hidden" id="allowableNetValue" name="allowableNetValue"/><!-- ZZORAMT -->
	<input type="hidden" id="currency" name="currency"/><!-- WAERS -->
	<input type="hidden" id="fileName" name="fileName"/><!-- Uploaded file name in excel format -->
	<input type="hidden" id="lineNo" name="lineNo"/>
	<input type="hidden" id="materialNo" name="materialNo"/>
	<input type="hidden" id="orderQty" name="orderQty"/>
	<input type="hidden" id="lotQty" name="lotQty"/>
	<input type="hidden" id="uom" name="uom"/>
	<input type="hidden" id="availability" name="availability"/>
	<input type="hidden" id="blockReason" name="blockReason"/>
	<input type="hidden" id="message" name="message"/>
	<input type="hidden" id="pricingInfo" name="pricingInfo"/>
	<input type="hidden" id="simulationFrom" name="simulationFrom"/>	
	<input type="hidden" id="tmpShippingCondition" name="tmpShippingCondition"/><!-- Shipping Condition 변경 시 이전 값을 저장해 두기 위한 용도 -->
	<input type="hidden" id="tmpShippingConditionName" name="tmpShippingConditionName"/><!-- Shipping Condition 변경 시 이전 값을 저장해 두기 위한 용도 -->
	
	<table class="condition">
		<tbody>
			<tr>
				<th colspan="4">
					<div class="input-area">
						<input type="radio" class="custom-ui" id="docType1" name="docType" value="C" checked />
						<label th:text="#{DCP_L_ORDER}"></label>
						&nbsp;&nbsp;
						<input type="radio" class="custom-ui" id="docType2" name="docType" value="A" />
						<label th:text="#{DCP_L_INQUIRY}"></label>
					</div>
				</th>
			</tr>
			<tr>
				<th th:text="#{DCP_L_ORDER_TYPE}"></th><!-- Order Type -->
				<td>
					<div class="input-area order-type"></div>
				</td>
				<th th:text="#{DCP_L_SHIP_TO_PARTY}"></th><!-- Ship To Party -->
				<td>
					<div><button id="BTN_shipToParty" type="button" th:text="#{DCP_B_GET_DATA}" class="small_button"></button><div class="split2"></div><button id="BTN_onetimeAddress" type="button" th:text="#{DCP_B_ONETIME_ADDRESS}" class="small_button"></button></div>
					<div id="AREA_shipToAddress"></div>					
				</td>
			</tr>
			<tr>
				<th>
					<div th:text="#{DCP_L_PO_NO}"></div><img src="/portal/img/icon_required.png" class="required" />
				</th><!-- Customer P.O. Number -->
				<td>
					<div class="input-area">
						<input type="text" id="poNo" name="poNo" class="custom-ui"/>
					</div>
				</td>
				<th th:text="#{DCP_L_SHIPPING_INFO}"></th><!-- Shipping Info -->
				<td>
					<div><button id="BTN_shippingInfo" type="button" th:text="#{DCP_B_GET_DATA}" class="small_button"></button></div><span id="AREA_shippingCondition"></span>
				</td>
			</tr>
			<tr>
				<th th:text="#{DCP_L_RDD}"></th><!-- Request Delivery Date -->
				<td>
					<div class="input-area">
						<input type="text" id="rdd" name="rdd" class="custom-ui" readonly />
					</div>
				</td>
				<th th:text="#{DCP_L_COMPLETE_DELIVERY}"></th><!-- Complete Delivery -->
				<td>
					<div class="input-area">
						<input type="radio" class="custom-ui" id=compleDelivery1 name="compleDelivery" value="X"/>
						<label for="compleDelivery1" th:text="#{DCP_L_YES}"></label>

						<div class="split2"></div>

						<input type="radio" class="custom-ui" id="compleDelivery2" name="compleDelivery" value="" checked/>
						<label for="compleDelivery2" th:text="#{DCP_L_NO}"></label>
					</div>
				</td>
			</tr>
			<tr>
				<th th:text="#{DCP_L_REMARKS}"></th><!-- Remarks -->
				<td colspan="3">
					<input type="text" id="remark" name="remark" class="custom-ui"/>
				</td>
			</tr>
		</tbody>
	</table>
	</form>
	</div>
	<div class="split-row"></div>

	<div class="grid-info">
		<div class="block-button-area">
			<button id="BTN_addRow" type="button">[[#{DCP_B_ADD}]]</button>
			<div class="split"></div>
			<button id="BTN_deleteRow" type="button">[[#{DCP_B_DELETE}]]</button>
			<div class="split"></div>
			<button id="BTN_simulation" type="button">[[#{DCP_B_SIMULATION}]]</button>
			<div class="split"></div>
			<button id="BTN_upload" type="button">[[#{DCP_B_UPLOAD}]]</button>
			<div class="split"></div>
			<button id="BTN_download" type="button">[[#{DCP_B_DOWNLOAD}]]</button>
			<div class="split"></div>
			<button id="BTN_priceInfo" type="button">[[#{DCP_B_PRICE_INFO}]]</button>
			<div class="split"></div>
			<button id="BTN_errorReport" type="button">[[#{	DCP_B_ERROR_REPORT}]]</button>			
		</div>
		<div class="grid-total">
			<span th:text="#{DCP_T_TOTAL_AMOUNT}"></span>
			<div class="split"></div>
			<span class="total-number" id="totalAmount"></span>
			<div class="split2"></div>
			<span th:text="#{DCP_T_CREDIT}"></span>
			<div class="split"></div>
			<span class="total-number" id="credit"></span>
			<div class="split2"></div>
			<span th:text="#{DCP_T_ESTIMATE_WEIGHT}"></span>
			<div class="split"></div>
			<span class="total-number" id="totalWeight"></span>
		</div>
	</div>

	<div id="AREA_grid" class="flex-grow grid-area">
		<table id="TBL_grid" class="order-column stripe compact"></table>
	</div>
	
	<script>
	let customerType = "[[${erpUserInfo.get("TYPE")}]]";
	
	$("input:radio[name=docType][value='[[${docType}]]']").prop("checked", true);
	
	var errorOrderItems;//시뮬레이션 후 에러 보고를 담아 둠
	
	let UploadModal = {};
	UploadModal.show = function() {
		let width = 480;
		let height = 250;
		let left = ($(window).innerWidth() - width) * 0.5;
		let top = ($(window).innerHeight() - height) * 0.5;
	
		$(".dropzone-area").css({
			"width": width,
			"height": height,
			"left": left,
			"top": top
		});
	
		$(".dropzone-dimmer, .dropzone-area").show();
	};
	
	UploadModal.hide = function()
	{
		$(".dropzone-dimmer, .dropzone-area").hide();
	};
	
	$(".dropzone-click-zone").dropzone({
		url: "/portal/scm/parts/domestic/order/create/simulation/upload",
		maxFilesize: 5, //MB
		acceptedFiles: ".xls,.xlsx",
		accept: function(file, done)
		{
			done();
		},
		addedfile: function(file)
		{
		},
		sending: function(file, xhr, formData)
		{
		},
		success: function(file, response)
		{
			$("#fileName").val(response.RESULT);
			doSimulation();
		},
		complete: function(file)
		{
		},
		error: function(file, error, xhr)
		{
		},
		drop: function()
		{
			//console.log("drop");
		},
		dragenter: function(e)
		{
			//console.log("dragenter");
		},
		dragover: function(e)
		{
			//console.log("dragover");
		},
		dragleave: function(e)
		{
			//console.log("dragleave");
		}
	});
	
	//주문유형 가져오기
	let orderComponent = new OrderComponent();
	orderComponent.success = function(response, textStatus, jqXHR)
	{
		setDefaultHeaderInfo();
		
		$("#orderType").on("change", function() {
			changeOrderType();
		});
	};
	orderComponent.makeOrderType($(".order-type"), "orderType", null, false, "docType=" + $("input:radio[name=docType]:checked").val());
	
	function changeOrderType()
	{
		$.ajax({
			url: "/portal/scm/parts/domestic/order/create/header_info",
			data: "orderType=" + orderComponent.getSelectedOrderType() + "&priceGroup=" + orderComponent.getSelectedPriceGroup() + "&docType=" + orderComponent.getSelectedDocType(),
		    success: function(response, textStatus, jqXHR)
		    {
		    	let result = response.RESULT;
	
		    	/* Change shipping condition info. */
		    	changeShippingInfo(result.VSBED, result.VSBED_TEXT);
	
		    	$("#paymentTermsName").val(result.ZTERM_TEXT);
		    	$("#allowableNetValue").val(Number(result.ZZORAMT));
	
		    	$("#priceGroup").val(orderComponent.getSelectedPriceGroup());
		    	
		    	resetDoneSimulationHistory();
		    }
		});
	};
	
	function changeShipToParty(shipToNo, shipToName, shipToStreet)
	{
		$("#shipToNo").val(shipToNo);
		$("#shipToName").val(shipToName);
		$("#shipToStreet").val(shipToStreet);
	
		$("#AREA_shipToAddress").html(shipToName + " " + shipToStreet);
		
		resetDoneSimulationHistory();
	};
	
	function changeShippingInfo(shippingCondition, shippingConditionName)
	{
		//기존 정보 백업
		$("#tmpShippingCondition").val($("#shippingCondition").val());
		$("#tmpShippingConditionName").val($("#shippingConditionName").val());
		
		$("#shippingCondition").val(shippingCondition);
		$("#shippingConditionName").val(shippingConditionName);
	
		$("#AREA_shippingCondition").html(shippingConditionName);
		
		resetDoneSimulationHistory();
	};
	
	function setDefaultHeaderInfo()
	{
		$.ajax({
			url: "/portal/scm/parts/domestic/order/create/header_info",
		    success: function(response, textStatus, jqXHR)
		    {
		    	let result = response.RESULT;
	
		    	$("#soldToNo").val(result.KUNNR);
		    	$("#incoterms1").val(result.INCO1);
		    	$("#incoterms2").val(result.INCO2);
		    	$("#currency").val(result.WAERS);
		    	$("#paymentTerms").val(result.ZTERM);
		    	$("#allowableNetValue").val(Number(Number(result.ZZORAMT)));
		    	
		    	let shipToNo = (result.KUNAG == null || result.KUNAG == "") ? result.KUNNR : result.KUNAG;
		    	changeShipToParty(shipToNo, result.KUNAG_NAME, result.KUNAG_STREET);
	
		    	changeOrderType();
		    }
		});
	};
	
	function doSimulationByEnter(obj)
	{
		if (!jQuery.isNumeric(obj.value))
		{
			obj.value = "";
			return;
		};
	
		if (window.event.keyCode == 13)
		{
			doSimulation();
		};
	}
	
	function makeItemParameter()
	{
		let items = {};
		items.lineNos = [];
		items.materialNos = [];
		items.orderQties = [];
		items.lotQties = [];
		items.uoms = [];
		items.availabilities = [];
	
		try
		{
			let tds = $tableObj.columns(0).nodes()[0];
	
			for (let i=0, length=tds.length; i<length; i++)
			{
				let row = $tableObj.row(i);
				let data = row.data();
	
				if (data.disabled == "disabled")
				{
					continue;
				};
	
				let node = $(row.node());
				let materialNo = node.find("input[name=materialNo]").val();
				let orderQty = node.find("input[name=orderQty]").val();
				
				if ($.trim(materialNo) != "" && $.trim(orderQty) != "")
				{
					items.lineNos.push(data.lineNo);
					items.materialNos.push(materialNo);
					items.orderQties.push(orderQty);
					items.lotQties.push(data.lotQty);
					items.uoms.push(data.uom);
					items.availabilities.push(JpUtilsString.defaultString(data.availability, "^"));
				};
			};
		}
		catch (e) {}
	
		return items;
	};
	
	function doSimulation()
	{
		//직접 입력한 후 시뮬레이션 했을 경우
		if ($("#fileName").val() == "" && $("#simulationFrom").val() == "")
		{
			if ($("#shippingCondition").val() == "")
			{
				alert("[[#{DIVEU_M_0068}]]");
				return;
			};
			
			let itemParameter = makeItemParameter();
	
			let materialNos = itemParameter.materialNos;
			let orderQties = itemParameter.orderQties;
	
			if (materialNo.length == 0 || orderQties.length == 0)
			{
				alert("[[#{DIVEU_M_0001}]]");
				return;
			};
	
			if (materialNos.length != orderQties.length)
			{
				alert("[[#{DIVEU_M_0001}]]");
				return;
			};
		};
		
		//시뮬레이션 실행 내역 초기화
		resetDoneSimulationHistory();
	
		$tableObj.ajax.reload();
		
		UploadModal.hide();
		ProgressBar.show();	
	};
	
	function resetDoneSimulationHistory()
	{
		$("#rdd").val("");
		$("#BTN_priceInfo").val("");
	};
	
	function isDoneSimulation()
	{
		if ($("#rdd").val() == "")
		{
			return false;
		}
		
		return true;
	};
	
	let targetToBeChanged;
	function showSearchPartsPopup(obj)
	{
		targetToBeChanged = $(obj).siblings("input[name=materialNo]");
	
		Popup.open("/portal/scm/parts/domestic/info/parts_number_popup_list?pPartsNo=" + targetToBeChanged.val(), 700, 600);	
	};
	
	function setPartsNo(partsNo)
	{
		$(targetToBeChanged).val(partsNo);
	};
	
	$("#docType1, #docType2").on("click", function() {
		document.location.href = "/portal/scm/parts/domestic/order/create/order_form?docType=" + $(this).val();
	});
	
	$("#BTN_shipToParty").on("click", function(event) {
		Popup.open("/portal/scm/parts/domestic/order/create/ship_to_party_list");
	});
	
	$("#BTN_onetimeAddress").on("click", function() {
		Popup.open("/portal/scm/parts/domestic/order/create/onetime_address_list", 1200, 600);
	});	
	
	$("#BTN_shippingInfo").on("click", function(event) {
		let param = "orderType=" + orderComponent.getSelectedOrderType() + "&priceGroup=" + orderComponent.getSelectedPriceGroup() + "&customerNo=" + $("#soldToNo").val();
	
		Popup.open("/portal/scm/parts/domestic/order/create/shipping_info_list?" + param, 700, 500);
	});
	
	$("#BTN_addRow").on("click", function() {
	
		for (let i=0; i<10; i++)
		{
			let lastRow = $tableObj.row(":last").data();
			let lastLineNo = Number(lastRow.lineNo);
			let nextLineNo = JpUtilsString.padLeft((parseInt(lastLineNo * 0.1) + 1) * 10, "0", 6);
	
			$tableObj.row.add(lastRow).draw();
	
			$tableObj.cell($tableObj.rows().count()-1, 1).data(nextLineNo);
		};
	});
	
	$("#BTN_deleteRow").on("click", function() {
		let tds = $tableObj.columns(0).nodes()[0];
	
		for (let i=0,length=tds.length; i<length; i++)
		{
			let $td = $(tds[i]);
	
			if ($td.find("input:checkbox").is(":checked"))
			{
				let row = $tableObj.row($td);
				let lineNo = row.data().lineNo;
	
				for (let j=i+1; j<length; j++)
				{
					let subRow = $tableObj.row($(tds[j]));
					let higherLineNo = subRow.data().higherLineNo;
	
					if (higherLineNo == "000000")
					{
						break;
					};
	
					if (lineNo == higherLineNo)
					{
						subRow.remove().draw(false);
					};
				};
	
				row.remove().draw(false);
			};
		};
	
		if ($tableObj.rows().count() == 0)
		{
			$tableObj.ajax.reload();
		};
	});
	
	$("#BTN_simulation").on("click", function() {
		doSimulation();
	});
	
	$("#BTN_upload").on("click", function() {
		if ($("#shippingCondition").val() == "")
		{
			alert("[[#{DCP_M_EMPTY_SHIPPING_INFO}]]");
			return;
		};		
		
		UploadModal.show();
	});
	
	$("#BTN_download").on("click", function() {
		let gridFileDownload = new GridFileDownload($tableObj);
		gridFileDownload.fileName = "item_list";
		gridFileDownload.excelDownload();
	});
	
	$("#BTN_priceInfo").on("click", function() {
		if (!isDoneSimulation())
		{
			alert("[[#{DCP_M_DO_SIMULATION_FOR_PRICE_INFO}]]");
			return;
		};
	
		Modal.show("[[#{DCP_T_PRICE_INFO}]]", 700, 450, $("#pricingInfo").val());
	});
	
	$("#BTN_errorReport").on("click", function() {
		Popup.open("/portal/scm/parts/domestic/order/create/error_report", 1200, 400);
	});
	
	$("#BTN_create").on("click", function() {
	
		if ($("#poNo").val() == "")
		{
			alert("[[#{DCP_M_EMPTY_PONO}]]");
			$("#poNo").focus();
			return;
		};	
		
		if (!isDoneSimulation())
		{
			alert("[[#{DCP_M_DO_SIMULATION}]]");
			return;
		};
	
		if ($("#blockReason").val() != "")
		{
			alert($("#blockMessage").val());
		};
		
		let confirmMsg = "[[#{DCP_M_CONFIRM_SAVE_ORDER}]]";
		
		if ($("#docType1").is(":checked"))
		{
			confirmMsg = confirmMsg.replace("{0}", "[[#{DCP_T_ORDER}]]");
		}
		else
		{
			confirmMsg = confirmMsg.replace("{0}", "[[#{DCP_T_INQUIRY}]]");
		};
		
		if (!confirm(confirmMsg))
		{
			return;
		};
		
		let itemParameter = makeItemParameter();
		
		$("#lineNo").val(itemParameter.lineNos.join("^"));
		$("#materialNo").val(itemParameter.materialNos.join("^"));
		$("#orderQty").val(itemParameter.orderQties.join("^"));
		$("#lotQty").val(itemParameter.lotQties.join("^"));
		$("#uom").val(itemParameter.uoms.join("^"));
		$("#availability").val(itemParameter.availabilities.join("^"));
	
		$.ajax({
			url: "/portal/scm/parts/domestic/order/create/save",
			method: "POST",
			data: $("#FORM_order").serialize(),
			beforeSend: function(jqXHR, settings)
			{
				ProgressBar.show();
			},		
		    success: function(response, textStatus, jqXHR)
		    {
		    	let result = response.RESULT;
		    	
		    	let orderNo = $.trim(result.orderNo);
		    	
		    	if (orderNo != "")
		    	{
		    		let url = "order_detail";
		    		let message = "[[#{DCP_M_CREATE_ORDER_RESULT}]]".replace("{0}", orderNo);

		    		if ($("#docType2").is(":checked"))
		    		{
		    			url = "inquiry_list";
		    			"[[#{DCP_M_CREATE_INQUIRY_RESULT}]]".replace("{0}", orderNo);
		    		};		    		
		    		
		    		alert(message);

		    		document.location.href = "/portal/scm/parts/domestic/order/display/" + url + "?orderNo=" + orderNo;
		    	}
		    	else
		    	{
		    		let errorMsg = $.trim(result.errorMsg);
		    		
		    		if (errorMsg == "DUPLICATED_ORDER")
		    		{
		    			errorMsg = "[[#{DCP_M_EXIST_SAME_ORDER}]]";
		    		};

		    		alert(errorMsg);

		    		ProgressBar.hide();
		    	};
		    },
		    error: function(jqXHR, textStatus, errorThrown)
	    	{
	    		ProgressBar.hide();
	    	}
		});
	});
	
	$("#BTN_shoppingCart").on("click", function() {	
		$("#simulationFrom").val("GPES");
		
		doSimulation();
	});
	
	//화면중 일부 area 를 채우는 그리드 예제. 상위 div #sample-grid-area 영역을 100% 채움.
	//컬럼 width 자동. scroller 자동.
	//고정된 맵 데이터 사용. 페이지 생성시 데이터 넘겨서 그리드 만드는 방식
	$(function(){
		let tabIndex = 1;
	
		$tableObj = $("#TBL_grid").DataTable({
			select: {
				selector: 'td:not(.noselect)'	// noselect class 컬럼은 select 하지 않도록 한다. (input과 충돌 발생)
		    },
			ordering: true,
			scrollY: 100,
			//fixedColumns: { leftColumns: 5 },
			columns: [
				{// 컬럼에 checkbox 설정
					name: "chk",
					className:"center noselect skip-download",// row selection 기능 막음.
					orderable: false,// checkbox 는 정렬 불가
					title:"<input type='checkbox' class='custom-ui check-all' onchange='syncInput(this)' onclick='allChecked(this)'><label></label>",
					render: function(data, type, row)
					{
						//대체품일 경우
						if (row.disabled == "disabled")
						{
							return "";
						}
	
						return '<input type="checkbox" class="custom-ui check-all" onchange="syncInput(this)"><label></label>';// FixedColumns 사용시엔 syncInput 호출 필요함.
					}
				},
				{name: "lineNo", data: "lineNo", title: "[[#{DCP_L_ITEM}]]"},//Item
				{
					name: "materialNo",
					data: "materialNo",
					title: "[[#{DCP_L_ORDER_PART_NO}]]",				
					width: 200,
					orderable: false,
					className:"center noselect",
					render: function(data, type, row)
					{
						return '<button class="btn-popup" type="button" onclick="showSearchPartsPopup(this)"></button><input type="text" name="materialNo" class="custom-ui" value="' + row.materialNo + '" tabindex="' + tabIndex++ + '" ' + row.disabled + ' onchange="syncInput(this)">';// FixedColumns 사용시엔 syncInput 호출 필요함.
					}
				},
				{name: "supplyMaterialNo", data: "supplyMaterialNo", title: "[[#{DCP_L_SUPPLY_PARTS_NO}]]", width: 200},//Supply Part No
				{name: "description", data: "description", title: "[[#{DCP_L_DESCRIPTION}]]"},//Description
				{
					name: "orderQty",
					data: "orderQty",
					title: "[[#{DCP_L_REQ_QTY}]]",
					orderable: false,
					className:"center noselect",
					render: function(data, type, row)
					{
						return '<input type="text" class="custom-ui" name="orderQty" style="width:70px" value="' + row.orderQty + '" tabindex="' + tabIndex++ + '" ' + row.disabled + ' onkeyup="doSimulationByEnter(this)" onchange="syncInput(this)">';// FixedColumns 사용시엔 syncInput 호출 필요함.
					}
				},//Req Qty
				{name: "lotQty", data: "lotQty", title: "[[#{DCP_L_SALES_LOT}]]"},//Sales Lot
				{name: "uom", data: "uom", title: "[[#{DCP_L_UOM}]]"},//UoM
				{name: "netPrice", data: "netPrice", title: "[[#{DCP_L_UNIT_PRICE}]]"},//Net Price
				{name: "netValue", data: "netValue", title: "[[#{DCP_L_TOTAL_PRICE}]]"},//Net Value
				{name: "availability", data: "availability", title: "[[#{DCP_L_AVAILABILITY}]]"},//Availability
			],
			ajax: {
				url: "/portal/scm/parts/domestic/order/create/simulation",
				type: "POST",
				beforeSend: function()
				{
					tabIndex = 1;
				},
				data: function(p)
				{
					// ajax로 넘길 파라미터
					//Header
					p.orderType = $("#orderType").val();
					p.incoterms1 = $("#incoterms1").val();
					p.incoterms2 = $("#incoterms2").val();
					p.shippingCondition = $("#shippingCondition").val();
					p.priceGroup = $("#priceGroup").val();
					p.soldToNo = $("#soldToNo").val();
					p.shipToNo = $("#shipToNo").val();
					p.simulationFrom = $("#simulationFrom").val();
	
					//Item
					if ($("#fileName").val() == "")
					{
						let itemParameter = makeItemParameter();
						
						p.materialNo = itemParameter.materialNos.join("^");
						p.orderQty = itemParameter.orderQties.join("^");
					}
					else
					{
						p.fileName = $("#fileName").val();
					};
				},
				dataSrc: function(response)
				{
					let result = response.RESULT;
	
					$("#rdd").val(result.rdd);
					
					$("#credit").html(result.credit + result.creditCurrency);
					$("#totalWeight").html(result.totalWeight + result.weightUnit);
					$("#totalAmount").html(result.totalAmount + result.currency);
					$("#blockReason").val(result.blockReason);
					$("#blockMessage").val(result.blockMessage);
					
					/* Set price info */
					let pricingResults = result.pricingResults;
					
					let content = "<table class='condition'>";				
					content += "	<tbody>";
					
					for (let i=0, length=pricingResults.length; i<length; i++)
					{
						content += "		<tr>";
						content += "			<th>" + pricingResults[i].name + "</th>";
						content += "			<td>";
						content += "				<div class='input-area'>" + pricingResults[i].netValue + pricingResults[i].currency + "</div>";
						content += "			</td>";
						content += "		</tr>";
					};
					
					content += "	</tbody>";
					content += "</table>";
					
					$("#pricingInfo").val(content);
					
					/* Set item info */
					let normalOrderItems = result.normalOrderItems;
	
					for (let i=0, length=normalOrderItems.length; i<length; i++)
					{
						let item = normalOrderItems[i];
						
						item.disabled = "";
						item.materialNo = (item.materialNo == null) ? "" : item.materialNo;					
						item.orderQty = (item.orderQty == null) ? "" : item.orderQty;
	
						//대체품일 경우
						if (Number(item.higherLineNo) > 0)
						{
							item.disabled = "disabled";
						};
					};
					
					errorOrderItems = result.errorOrderItems;
					let errorCnt = errorOrderItems.length;
					
					if (errorCnt > 0)
					{
						alert("[[#{DCP_M_SIMULATION_ERROR}]]".replace("{0}", errorCnt));
					};
	
					return normalOrderItems;
				}
			}
		});
		
		// Datatable onload event
		$("#TBL_grid").on("draw.dt", function () {
			$("#fileName").val("");
			$("#simulationFrom").val("");
			
			// Datatable grid 초기 설정 셋업
			initGridTable($tableObj, true);
	
			ProgressBar.hide();
		});
	});
	</script>
</th:block>