<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/uk/parts/common/index}">

<th:block layout:fragment="content">
	<script type="application/javascript" th:src="@{/portal/js/portal.utils.order.js}"></script>

	<div class="block-header">
		<div class="block-title" th:text="#{EUP_T_0021}"></div>
		<div id="BTN_search" class="block-button-area">
			<button th:text="#{EUP_B_0002}"></button>
		</div>
	</div>
	
	<div class="condition-area">
	<form id="FORM_search" name="FORM_search">
	<input type="hidden" id="orderNo" name="orderNo"/>
	<table class="condition">
		<tbody>
			<tr>
				<th colspan="4">
					<div class="input-area">
						<input type="radio" class="custom-ui" name="pDocType" value="C" checked/>
						<label th:text="#{EUP_L_0037}"></label>
						
						&nbsp;&nbsp;
						
						<input type="radio" class="custom-ui" name="pDocType" value="A" style="display:none" />
						<label id="LB_docType2" th:text="#{EUP_L_0038}" style="display:none"></label>
						
						&nbsp;&nbsp;
						
						<input type="radio" class="custom-ui" name="pDocType" value="B" style="display:none" />
						<label id="LB_docType3" th:text="#{EUP_L_0039}" style="display:none"></label>
					</div>
				</th>
			</tr>
			<tr>
				<th th:text="#{EUP_L_0013}"></th>
				<td>
					<div class="input-area">
						<input type="text" id="pOrderNo" name="pOrderNo" class="custom-ui" th:value="${pOrderNo}">
					</div>
				</td>
				<th th:text="#{EUP_L_0014}"></th>
				<td>
					<div class="input-area order-type">
						<!-- select class="custom-ui" id="pOrderType" name="pOrderType"></select -->
					</div>				
				</td>
			</tr>		
			<tr>
				<th th:text="#{EUP_L_0015}"></th>
				<td>
					<div class="input-area">
						<input type="text" id="pPoNo" name="pPoNo" class="custom-ui" th:value="${pPoNo}">
					</div>
				</td>
				<th th:text="#{EUP_L_0016}"></th>
				<td>
					<div class="input-area">
						<input type="text" id="pFromDate" name="pFromDate" class="custom-ui-calendar" th:value="${pFromDate}">
						<div class="split"></div>
						<input type="text" id="pToDate" name="pToDate" class="custom-ui-calendar" th:value="${pToDate}">
					</div>
				</td>				
			</tr>
		</tbody>
	</table>
	</form>
	</div>
	<div class="split-row"></div>
	
	<div class="grid-info">
		<div class="grid-total">
			<div class="split"></div>
			<span class="total-number" id="totalRows"></span>
		</div>
	</div>	
	
	<div id="AREA_grid" class="flex-grow grid-area">
		<table id="TBL_grid" class="order-column stripe compact"></table>
	</div>
	
<script type="application/javascript">
$(function(){
	let customerType = "[[${erpUserInfo.get("TYPE")}]]";
	
	//Y06 : Sub Dealer
	if (customerType != "Y06")
	{
		$("input:radio[name=pDocType][value=A], input:radio[name=pDocType][value=B], #LB_docType2, #LB_docType3").show();
	};
	
	$("input:radio[name=pDocType][value='[[${pDocType}]]']").prop("checked", true);
	
	//주문유형 가져오기
	let orderComponent = new OrderComponent();
	orderComponent.makeOrderType($(".order-type"), "pOrderType", "[[${pOrderType}]]");	
	
	Calendar.makeBeetweenCalendar($("#pFromDate"), "[[${pFromDate}]]", $("#pToDate"), "[[${pToDate}]]");
	
	$tableObj = $("#TBL_grid").DataTable({
		select: true,   			// row 선택 기능 켬
		ordering: true, 			// 정렬 기능 켬
		scrollY: 100,
		columns : [
			{data: "VBELN", title: "[[#{EUP_L_0013}]]", className:"link"},//Order No.
			{data: "ZZAUKON", title: "[[#{EUP_L_0014}]]"},//Order Type
			{data: "VTEXT2", title: "[[#{EUP_L_0017}]]"},//Shipping Condition
			{data: "BSTKD", title: "[[#{EUP_L_0015}]]"},//P.O. No. // className:"center"}, // 데이터 가운데 정렬. (css 만들어서 사용)
			{data: "ERDAT2", title: "[[#{EUP_L_0018}]]"},//Create Date // 데이터 오른쪽 정렬.
			{data: "COUNT", title: "[[#{EUP_L_0019}]]"},//Line Item // className:"center"}
			{data: "T_NETWR", title: "[[#{EUP_L_0020}]]"},//Order Amt. // className:"center"}
			{data: "WAERK", title: "[[#{EUP_L_0021}]]"}//Curr. // className:"center"}
		],
		columnDefs: [
			{ className: "left", targets: "_all" }
		],
		ajax: {
			url: "[[${BASE_PATH}]]/order/display/order_list/data",
			data: function(p)
			{
				// ajax로 넘길 파라미터
				p.pDocType = $("#FORM_search input:radio[name=pDocType]:checked").val();
				p.pOrderNo = $("#pOrderNo").val();
				p.pOrderType = $("#pOrderType").val();
				p.pPoNo = $("#pPoNo").val();
				p.pFromDate = $("#pFromDate").val();
				p.pToDate = $("#pToDate").val();
			},
			dataSrc: function(response)
			{
				let result = response.RESULT;
				
				for (let i=0, length=result.length; i<length; i++)
				{
					result[i].ERDAT2 = result[i].ERDAT + " " + result[i].ERZET;
				};
				
				$("#totalRows").html(result.length+" row(s).");

				return result;
			}
		},
		initComplete:function(settings, json) 
		{			
			ProgressBar.hide();
		}
	});
	
	// Datatable grid 초기 설정 셋업
	initGridTable($tableObj);
	
	$("input:radio[name=pDocType]").on("click", function() {
		let docType = $(this).val();
		
		let docName = "order";
		
		if (docType == "A")
		{
			docName = "inquiry";
		}
		else if (docType == "B")
		{
			docName = "quotation";
		}
		
		document.location.href = "[[${BASE_PATH}]]/order/display/" + docName + "_list?pDocType=" + $(this).val();
	});
	
	$("#BTN_search").on("click", function() {
		doSearch();
	});
	
	//Input text 엔터 키 입력
	$("#FORM_search input:text").on("keydown", function(event) {
		if (event.keyCode == 13)
		{
			doSearch();
		};
	});	
	
	function doSearch()
	{
		$tableObj.ajax.reload();
	}
	
	$("#TBL_grid tbody").on("click", "td:first-child", function () {
		let orderNo = $tableObj.cell(this).data();
		
		if (orderNo != null)
		{
			$("#orderNo").val($tableObj.cell(this).data());
			$("#FORM_search").attr("action", "[[${BASE_PATH}]]/order/display/order_detail").submit();
		};
	});
});
</script>	
</th:block>