<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<div class="block-header">
		<div class="block-title" th:text="#{EUP_T_0023}"></div>
		<div id="BTN_search" class="block-button-area">
			<button id="BTN_pdfDownload" th:text="#{EUP_B_0008}" style="display:none;"></button>
			<button id="BTN_back" th:text="#{EUP_B_0004}"></button>
		</div>
	</div>
	
	<div class="condition-area">
	<table class="condition table-fixed">
		<tbody>
			<tr>
				<th th:text="#{EUP_L_0014}" style="width: 200px"></th><!-- Order Type -->
				<td id="KONDA_TEXT"></td>
				<th th:text="#{EUP_L_0022}" style="width: 200px"></th><!-- Ship To Party -->
				<td id="KUNAG_NAME"></td>
			</tr>
			<tr>
				<th th:text="#{EUP_L_0023}"></th><!-- Customer P.O. Number -->
				<td id="BSTNK"></td>
				<th th:text="#{EUP_L_0027}"></th><!-- Shipping Info -->
				<td id="VSBED_TX"></td>
			</tr>
			<tr>
				<th th:text="#{EUP_L_0024}"></th><!-- Request Delivery Date -->
				<td id="VDATU"></td>
				<th th:text="#{EUP_L_0025}"></th><!-- Complete Delivery -->
				<td id="COMPLETE_DELIVERY"></td>
			</tr>
			<tr>
				<th th:text="#{EUP_L_0026}"></th><!-- Remarks -->				
				<td colspan="3" id="remark"></td>
			</tr>
		</tbody>
	</table>
	</div>
	<div class="split-row"></div>
	
	<div class="grid-info">
		<div class="block-button-area">
			<button id="BTN_download" th:text="#{EUP_B_0003}"></button>
		</div>	
		<div class="grid-total">
			<span th:text="#{EUP_T_0024}"></span>
			<div class="split"></div>
			<span class="total-number" id="NETWR"></span>
			<div class="split2"></div>
			<span th:text="#{EUP_T_0025}"></span>
			<div class="split"></div>
			<span class="total-number" id="CREDIT"></span>
			<div class="split2"></div>
			<span th:text="#{EUP_T_0026}"></span>
			<div class="split"></div>
			<span class="total-number" id="TOTAL_WEIGHT"></span>
		</div>
	</div>
	
	<div id="AREA_grid" class="flex-grow grid-area">
		<table id="TBL_grid" class="order-column stripe compact"></table>
	</div>
	
	<form id="FORM_search" name="FORM_search">
		<input type="hidden" name="pDocType" th:value="${pDocType}">
		<input type="hidden" name="pOrderType" th:value="${pOrderType}">
		<input type="hidden" name="pOrderNo" th:value="${pOrderNo}">
		<input type="hidden" name="pPoNo" th:value="${pPoNo}">
		<input type="hidden" name="pFromDate" th:value="${pFromDate}">
		<input type="hidden" name="pToDate" th:value="${pToDate}">
	</form>
	
<script type="application/javascript">

//화면중 일부 area 를 채우는 그리드 예제. 상위 div #sample-grid-area 영역을 100% 채움.
//컬럼 width 자동. scroller 자동.
//고정된 맵 데이터 사용. 페이지 생성시 데이터 넘겨서 그리드 만드는 방식

$(function(){
	let customerType = "[[${erpUserInfo.get("TYPE")}]]";
	
	//Y06 : Sub Dealer
	if (customerType != "Y06")
	{
		$("#BTN_pdfDownload").show();
	};	
	
	
	$.ajax({
		url: "[[${BASE_PATH}]]/order/display/order_detail/data",		
		data: {"orderNo": "[[${orderNo}]]"},
	    success: function(response, textStatus, jqXHR) 
	    {
	    	let result = response.RESULT;

	    	let mainHeadResult = result.mainHeadResult;
	    	let general = result.general;	    	
	    	let item = result.item;
	    	
	    	$.each(item, function(key, value) {
	    		this.VBELN = "[[${orderNo}]]";
	    	});
	    	
	    	$("#KONDA_TEXT").html(mainHeadResult.KONDA_TEXT);
	    	$("#KUNAG_NAME").html(mainHeadResult.KUNAG_NAME + " " + mainHeadResult.KUNAG_STREET);
	    	$("#BSTNK").html(general.BSTNK);
	    	$("#VSBED_TX").html(general.VSBED_TX);
	    	$("#VDATU").html(general.VDATU);
	    	$("#COMPLETE_DELIVERY").html( (general.COMPLETE_DELIVERY == "X") ? "Y" : "N" );
	    	$("#remark").html(result.remark);
	    	$("#NETWR").html(mainHeadResult.NETWR + " " + mainHeadResult.WAERK);
	    	$("#CREDIT").html(mainHeadResult.CREDIT + " " + mainHeadResult.CREDIT_WAERK);
	    	$("#TOTAL_WEIGHT").html(mainHeadResult.TOTAL_WEIGHT + " " + mainHeadResult.GEWEI);
	    	
	    	$tableObj = $("#TBL_grid").DataTable({
	    		select: true,// row 선택 기능 켬
	    		ordering: true,// 정렬 기능 켬
	    		scrollY: 100,
	    		columns : [
	    			{data: "VBELN", title: "[[#{EUP_L_0013}]]"},//Order No. 0
	    			{data: "ITEM", title: "[[#{EUP_L_0028}]]"},//Item 1
	    			{data: "MATERIAL_ENT", title: "[[#{EUP_L_0029}]]"},//Order Part No. 2
	    			{data: "MATERIAL", title: "[[#{EUP_L_0030}]]"},//Supply Part No 3
	    			{data: "MATERIAL_TEXT", title: "[[#{EUP_L_0031}]]"},//Description 4
	    			{data: "REQ_QTY", title: "[[#{EUP_L_0032}]]"},//Req Qty 5
	    			{data: "LOT_QTY", title: "[[#{EUP_L_0050}]]"},//Sales Lot 6
	    			{data: "UOM", title: "[[#{EUP_L_0049}]]"},//UoM 7
	    			{data: "NET_PRICE", title: "[[#{EUP_L_0034}]]"},//Net Price 8
	    			{data: "NET_VALUE", title: "[[#{EUP_L_0035}]]"},//Net Value 9
	    			{data: "AVAILABILITY", title: "[[#{EUP_L_0036}]]"}//Available 10
	    		],
	    		columnDefs: [
	    			//{ className: "left", targets: "_all" }
	    			{targets: [0, 1, 5, 6, 7, 10], className: 'dt-body-center'},
	    			{targets: [8, 9], className: 'dt-body-right'},
	    		],
	    		data: item,
	    		initComplete: function() {
	    			ProgressBar.hide();
	    		}	    		
	    	});
	    	
	    	// Datatable grid 초기 설정 셋업
	    	initGridTable($tableObj);	
	    }
	});

	$("#BTN_pdfDownload").on("click", function() {
		document.location.href = "[[${BASE_PATH}]]/order/display/pdf_download?orderNo=[[${orderNo}]]&mode=Y006";
	});

	$("#BTN_back").on("click", function() {
		$("#FORM_search").attr("action", "[[${BASE_PATH}]]/order/display/order_list").submit();
	});

	$("#BTN_download").on("click", function() {
		let gridFileDownload = new GridFileDownload($tableObj);
		gridFileDownload.fileName = "order_list";
		gridFileDownload.excelDownload();
	});
});
</script>	