<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/uk/parts/common/index}">
	
<th:block layout:fragment="content">
	<div class="block-header">
		<div class="block-title" th:text="#{EUP_T_0072}"></div><!-- Order Status Detail -->
		<div id="BTN_search" class="block-button-area">
			<button id="BTN_download" th:text="#{EUP_B_0003}"></button>
			<button id="BTN_back" th:text="#{EUP_B_0004}"></button>
		</div>
	</div>
	<input type="hidden" id="orderNo" name="orderNo" th:value="${orderNo}">	
	<div class="condition-area">
	<table class="condition">
		<tbody>
			<tr>
				<th th:text="#{EUP_L_0013}"></th><!-- Order No. -->
	 			<td><span th:text="${orderNo}"></span></td>
				<th th:text="#{EUP_L_0132}"></th><!-- P.O No. -->
	 			<td><span th:text="${poNo}"></span></td>
				<th th:text="#{EUP_L_0108}"></th><!-- Order Date -->
	 			<td><span th:text="${orderDate}"></span></td> 			
			</tr>
		</tbody>
	</table>
	</div>
	<div class="split-row"></div>
	
	<div id="AREA_grid" class="flex-grow grid-area">
		<table id="TBL_grid" class="order-column stripe compact"></table>
	</div>
	
	<form id="FORM_search" name="FORM_search">
	<input type="hidden" id="pOrderNo" name="pOrderNo" th:value="${pOrderNo}">
	<input type="hidden" id="pOrderType" name="pOrderType" th:value="${pOrderType}">
	<input type="hidden" id="pPoNo" name="pPoNo" th:value="${pPoNo}">
	<input type="hidden" id="pFromDate" name="pFromDate" th:value="${pFromDate}">
	<input type="hidden" id="pToDate" name="pToDate" th:value="${pToDate}">
	<input type="hidden" id="pOrderPartNo" name="pOrderPartNo" th:value="${pOrderPartNo}">
	</form> 							
	<script type="application/javascript">		
	$(function(){
		
		$tableObj = $("#TBL_grid").DataTable({
			select: true,   			
			ordering: true, 
			scrollY: 100,
			fixedColumns: { leftColumns: 5 },
			columns : [
				{data: "POSNR", 		title: "[[#{EUP_L_0121}]]"},	// Item No
				{data: "KONDA_T", 		title: "[[#{EUP_L_0014}]]"},	// Order Type
				{data: "MATNR_SO", 		title: "[[#{EUP_L_0029}]]"},	// Order Part No.
				{data: "MATNR_SH", 		title: "[[#{EUP_L_0030}]]"},	// Supply Part No
				{data: "MAKTX", 		title: "[[#{EUP_L_0031}]]"},	// Description
				{data: "SO_QTY", 		title: "[[#{EUP_L_0111}]]"},	// Order Qty
				{data: "RE_QTY", 		title: "[[#{EUP_L_0122}]]"},	// Reserved Qty
				{data: "PI_QTY", 		title: "[[#{EUP_L_0116}]]"},	// Packed Qty
				{data: "IN_QTY", 		title: "[[#{EUP_L_0117}]]"},	// Invoiced Qty
				{data: "SH_QTY", 		title: "[[#{EUP_L_0112}]]"},	// S.Completion Qty
				{data: "BO_QTY", 		title: "[[#{EUP_L_0123}]]"}, // B/O Qty
				{data: "LST_ETD", 		title: "[[#{EUP_L_0124}]]"}	// Updated ETD
			],		
			ajax: {
				url: "[[${BASE_PATH}]]/order/display/order_status_detail/data",
				data: function(p)
				{
					p.orderNo = $("#orderNo").val();
				},
				dataSrc: function(response) 
				{				
					let data = response.RESULT;
					
					for (let i=0, length=data.length; i<length; i++)
					{
						data[i].BO_QTY = Number(data[i].SO_QTY) - Number(data[i].SH_QTY);
						
						let etd = $.trim(data[i].LST_ETD);
						if (etd != "")
						{						
							data[i].LST_ETD = etd;
						}
						else
						{
							data[i].LST_ETD = '0000-00-00';
						}
					};
					
					return data;
				}
			},
			initComplete:function(settings, json) 
			{			
				ProgressBar.hide();
			}		
		});
		
		// Datatable grid 초기 설정 셋업
		initGridTable($tableObj);	
	
		$("#BTN_back").on("click", function() {
			$("#FORM_search").attr("action", "[[${BASE_PATH}]]/order/display/order_status_list").submit();
		});
	
		$("#BTN_download").on("click", function() {
			let gridFileDownload = new GridFileDownload($tableObj);
			gridFileDownload.fileName = "order_status_list";
			gridFileDownload.excelDownload();
		});
	});
	</script>	
</th:block>		
		