<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/uk/parts/common/index}">
	
<th:block layout:fragment="content">
	<div class="block-header">
		<div class="block-title" th:text="#{EUP_T_0071}"></div><!-- Order Status -->	
		<div class="block-button-area">		
			<button id="BTN_download" type="button" th:text="#{EUP_B_0003}"></button><!-- Download -->		
			<button id="BTN_totalDownload" type="button" th:text="#{EUP_B_0034}"></button><!-- Total Download -->
			<button id="BTN_search" type="button" th:text="#{EUP_B_0002}"></button><!-- Search -->
		</div>
	</div>
	<div class="condition-area">
	<form id="totalExcelForm" name="totalExcelForm" method="get">
		<input type="hidden" id="detailVBELN" name="detailVBELN">
		<input type="hidden" id="detailFDATE" name="detailFDATE">
		<input type="hidden" id="detailTDATE" name="detailTDATE">
	    <input type="hidden" id="detailExcel" name="detailExcel" value="X">
	</form>
	
	<form id="FORM_search" name="FORM_search">
	<input type="hidden" id="meaCustomerChk" name="meaCustomerChk" th:value="${meaCustomerChk}">
	<input type="hidden" id="orderNo" name="orderNo"/>
	<input type="hidden" id="poNo" name="poNo"/>
	<input type="hidden" id="orderDate" name="orderDate"/>
	
	<table class="condition">
		<tbody>
			<tr style="display:none">
				<th th:text="#{EUP_L_0120}"></th><!-- User Id -->
				<td colspan="3">
				<div class="input-area">			
					<input type="text" id="adminUserID" name="adminUserID" class="custom-ui" th:value="${adminUserID}">
				</div>							
				</td>
			</tr>
			<tr>
				<th th:text="#{EUP_L_0013}"></th>
				<td>
					<div class="input-area">
						<input type="text" id="pOrderNo" name="pOrderNo" class="custom-ui" th:value="${pOrderNo}">
					</div>			
				</td>
				<th th:text="#{EUP_L_0014}"></th>
				<td>
					<div class="input-area order-type"></div>			
				</td>			
			</tr>
			<tr>
				<th th:text="#{EUP_L_0015}"></th>
				<td>
					<div class="input-area">
						<input type="text" id="pPoNo" name="pPoNo" class="custom-ui" th:value="${pPoNo}">
					</div>			
				</td>
				<th th:text="#{EUP_L_0016}"></th><!-- Period -->
				<td colspan="3">
					<div class="input-area">
						<input type="text" id="pFromDate" name="pFromDate" class="custom-ui-calendar" th:value="${pFromDate}">
						<div class="split"></div>
						<input type="text" id="pToDate" name="pToDate" class="custom-ui-calendar" th:value="${pToDate}">
					</div>
				</td>					
			</tr>		
			<tr>
				<th th:text="#{EUP_L_0029}"></th>
				<td colspan="3">
					<div class="input-area">
						<input type="text" id="pOrderPartNo" name="pOrderPartNo" class="custom-ui" th:value="${pOrderPartNo}">
					</div>				
				</td>			
			</tr>		
		</tbody>
	</table>
	</form>
	</div>
	<div class="split-row"></div>
	<div class="grid-info">
		<div class="grid-total">
			<div class="split"></div>
			<span class="total-number" id="totalRows"></span>
		</div>
	</div>
	
	<div id="AREA_grid" class="flex-grow grid-area">
		<table id="TBL_grid" class="order-column stripe compact"></table>
	</div>
	<script type="application/javascript">
	let $tableObj;
	
	$(function(){
		$("input:radio[name=pDocType][value='[[${pDocType}]]']").prop("checked", true);
		
		//주문유형 가져오기
		let orderComponent = new OrderComponent();
		orderComponent.makeOrderType($(".order-type"), "pOrderType", "[[${pOrderType}]]");
		
		Calendar.makeBeetweenCalendar($("#pFromDate"), "[[${pFromDate}]]", $("#pToDate"), "[[${pToDate}]]");
				
		$tableObj = $("#TBL_grid").DataTable({
			select: true,   			
			ordering: true, 
			scrollY: 100,
			fixedColumns: { leftColumns: 5 },
			columns : [
				{data: "BSTKD", 		title: "[[#{EUP_L_0132}]]"},	// P.O No. 0 
				{data: "VBELN", 		title: "[[#{EUP_L_0013}]]"},	// Order No. 1
				{data: "SO_ITEM", 		title: "[[#{EUP_L_0019}]]"},	// Line Item 2
				{data: "KONDA_T", 		title: "[[#{EUP_L_0014}]]"},	// Order Type 3	
				{data: "SO_QTY", 		title: "[[#{EUP_L_0111}]]"},	// Order Qty	4 			
				{data: "PI_QTY", 		title: "[[#{EUP_L_0116}]]"},	// Packed Qty	5
				{data: "SH_QTY", 		title: "[[#{EUP_L_0112}]]"},	// S.Completion Qty 6	
				{data: "IN_QTY", 		title: "[[#{EUP_L_0117}]]"},	// Invoiced Qty		7	
				{data: "BO_AMT", 		title: "[[#{EUP_L_0118}]]"},	// B/O Quantity 8
				{data: "VSBED_T", 		title: "[[#{EUP_L_0017}]]"},	// Shipping Condition 9		
				{data: "WAERK", 		title: "[[#{EUP_L_0021}]]"},	// Curr. 10
			],
			columnDefs: [
				{targets: [1], className: 'link dt-body-center'},
				{targets: [2, 4, 5, 6, 7, 8, 10], className: 'dt-body-center'},
			],
			ajax: {
				url: "[[${BASE_PATH}]]/order/display/order_status/data",
				data: function(p)
				{
					p.pDocType = $("#FORM_search input:radio[name=pDocType]:checked").val();
					p.pOrderNo = $("#pOrderNo").val();
					p.pOrderType = $("#pOrderType").val();
					p.pPoNo = $("#pPoNo").val();				
					p.pOrderPartNo = $("#pOrderPartNo").val();
					p.pFromDate = $("#pFromDate").val();
					p.pToDate = $("#pToDate").val();					
				},
				dataSrc: function(response) 
				{				
					let data = response.RESULT;
				    
					for (let i=0, length=data.length; i<length; i++)
					{
						data[i].BO_AMT = Number(data[i].SO_QTY) - Number(data[i].SH_QTY);						
					};
					
					$("#totalRows").html(data.length + " row(s).");
	
					return data;
				}
			},
			initComplete:function(settings, json) 
			{			
				ProgressBar.hide();
			}
		});
	
		// Datatable grid 초기 설정 셋업
		initGridTable($tableObj);
	
		// Search 버튼 클릭
		$("#BTN_search").on("click", function(){		
			doSearch(); 
		});
		
		//Input text 엔터 키 입력
		$("#FORM_search input:text").on("keydown", function(event) {
			if (event.keyCode == 13)
			{
				doSearch();
			};
		});
	
		$("#BTN_download").on("click", function(){
			let gridFileDownload = new GridFileDownload($tableObj);
			gridFileDownload.fileName = "Order_Status_list";
			gridFileDownload.excelDownload();		
		});
		
		$("#BTN_totalDownload").on("click", function(){
			totalExportSubmit();		
		});		
		
		$('#TBL_grid tbody').on('click', 'tr', function (e){				
		    let tblGrid = $('#TBL_grid').DataTable();	    
		    let index = $('#TBL_grid').dataTable().api().cell($(e.target).closest('td')).index().column;	    	    
			
			if (index == 1)
			{
				let rowData = tblGrid.row(this).data();
				
				$("#poNo").val(rowData.BSTKD);			
				$("#orderNo").val(rowData.VBELN);
				$("#orderDate").val(rowData.ERDAT);			
				$("#FORM_search").attr("action", "[[${BASE_PATH}]]/order/display/order_status_detail").submit();
			}
		});
	});
	
	function doSearch()
	{
		$tableObj.ajax.reload();
	}
	
	/*
	 * total excel down submit
	 */
	function totalExportSubmit()
	{
		$("#detailExcel").val("excel");
		$("#detailFDATE").val($("#pFromDate").val());
		$("#detailTDATE").val($("#pToDate").val());
		
		let vbelnStr = "";
		$("#TBL_grid a").each(function(){
			vbelnStr += $(this).text() + "@";
		});
		$("#detailVBELN").val(vbelnStr);			
		
		$("#totalExcelForm").attr("action","[[${BASE_PATH}]]/order/display/order_status/excel_download").submit();	
	}
	</script>	
</th:block>