<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/uk/parts/common/index}">

<th:block layout:fragment="content">

	<div class="block-header">
		<div class="block-title" th:text="#{EUP_T_0046}"></div>
		<div id="BTN_search" class="block-button-area">
			<button th:text="#{EUP_B_0002}"></button>
		</div>
	</div>
	
	<div class="condition-area">
	<form id="FORM_search" name="FORM_search">
	<input type="hidden" id="orderNo" name="orderNo"/>
	<table class="condition">
		<tbody>
			<tr>
				<th colspan="4">
					<div class="input-area">
						<input type="radio" class="custom-ui" name="pDocType" value="C"/>
						<label th:text="#{EUP_L_0037}"></label>
						
						&nbsp;&nbsp;
						
						<input type="radio" class="custom-ui" name="pDocType" value="A" checked/>
						<label th:text="#{EUP_L_0038}"></label>
						
						&nbsp;&nbsp;
						
						<input type="radio" class="custom-ui" name="pDocType" value="B"/>
						<label th:text="#{EUP_L_0039}"></label>
					</div>
				</th>
			</tr>
			<tr>
				<th th:text="#{EUP_L_0041}"></th>
				<td>
					<div class="input-area">
						<input type="text" id="pOrderNo" name="pOrderNo" class="custom-ui" th:value="${pOrderNo}">
					</div>
				</td>
				<th th:text="#{EUP_L_0015}"></th>
				<td colspan="3">
					<div class="input-area">
						<input type="text" id="pPoNo" name="pPoNo" class="custom-ui" th:value="${pPoNo}">
					</div>
				</td>
			</tr>
			<tr>
				<th th:text="#{EUP_L_0029}"></th>
				<td>
					<div class="input-area">
						<input type="text" id="pOrderPartNo" name="pOrderPartNo" class="custom-ui" th:value="${pOrderPartNo}">
					</div>
				</td>
				<th th:text="#{EUP_L_0042}"></th>
				<td>
					<div class="input-area">
						<select class="custom-ui" id="pStatus" name="pStatus">
							<option value="X"></option>
							<option value="O" th:text="#{EUP_T_0043}"></option>
							<option value="C" th:text="#{EUP_T_0044}"></option>
						</select>
					</div>	
				</td>				
			</tr>
			<tr>
				<th th:text="#{EUP_L_0016}"></th>
				<td colspan="3">
					<div class="input-area">
						<input type="text" id="pFromDate" name="pFromDate" class="custom-ui-calendar" th:value="${pFromDate}">
						<div class="split"></div>
						<input type="text" id="pToDate" name="pToDate" class="custom-ui-calendar" th:value="${pToDate}">
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	</form>
	</div>
	<div class="split-row"></div>
	
	<div class="grid-info">
		<div class="grid-total">
			<div class="split"></div>
			<span class="total-number" id="totalRows"></span>
		</div>
	</div>		
	
	<div id="AREA_grid" class="flex-grow grid-area">
		<table id="TBL_grid" class="order-column stripe compact"></table>
	</div>
	
<script type="application/javascript">

//화면중 일부 area 를 채우는 그리드 예제. 상위 div #sample-grid-area 영역을 100% 채움.
//컬럼 width 자동. scroller 자동.
//고정된 맵 데이터 사용. 페이지 생성시 데이터 넘겨서 그리드 만드는 방식

$(function(){

	$("input:radio[name=pDocType][value='[[${pDocType}]]']").prop("checked", true);
	$("#pOrderType").val("[[${pOrderType}]]");
	$("#pStatus").val("[[${pStatus}]]");
	
	Calendar.makeBeetweenCalendar($("#pFromDate"), "[[${pFromDate}]]", $("#pToDate"), "[[${pToDate}]]"); 
	
	$tableObj = $("#TBL_grid").DataTable({
		select: true,   			// row 선택 기능 켬
		ordering: true, 			// 정렬 기능 켬
		scrollY: 100,
		columns : [
			{data: "VBELN", title: "[[#{EUP_L_0013}]]"},//Inuqiry No. 0
			{data: "BSTKD", title: "[[#{EUP_L_0015}]]"},//P.O. No. 1
			{data: "VBELN2", title: "[[#{EUP_L_0043}]]"},//Sales Doc. No. 2
			{data: "ERDAT2", title: "[[#{EUP_L_0018}]]"},//Create Date 3
			{data: "COUNT", title: "[[#{EUP_L_0019}]]"},//Line Item 4
			{data: "T_NETWR", title: "[[#{EUP_L_0045}]]"},//Order Amt. 5
			{data: "WAERK", title: "[[#{EUP_L_0021}]]"},//Curr. 6
			{data: "RFGSK_TX", title: "[[#{EUP_L_0042}]]"}//Open Status 7
		],
		columnDefs: [
			//{ className: "left", targets: "_all" }
			{targets: [0], className: 'link dt-body-center'},
			{targets: [1, 2, 3, 4, 6, 7], className: 'dt-body-center'},
			{targets: [5], className: "dt-body-right"}
		],
		ajax: {
			url: "[[${BASE_PATH}]]/order/display/quotation_list/data",
			data: function(p)
			{
				// ajax로 넘길 파라미터
				p.pDocType = $("#FORM_search input:radio[name=pDocType]:checked").val();
				p.pOrderNo = $("#pOrderNo").val();
				p.pPoNo = $("#pPoNo").val();
				p.pOrderPartNo = $("#pOrderPartNo").val();
				p.pStatus = $("#pStatus").val();
				p.pFromDate = $("#pFromDate").val();
				p.pToDate = $("#pToDate").val();
			},
			dataSrc: function(response) 
			{
				var result = response.RESULT;
				var returnData = new Array();
				
				for (var i=0, length=result.length; i<length; i++)
				{
					result[i].ERDAT2 = result[i].ERDAT + " " + result[i].ERZET;
					
					if (result[i].RFGSK == "A")
					{
						result[i].RFGSK_TX = "Open";
					}
					else
					{
						result[i].RFGSK_TX = "Close";
					};
				};
				
				$("#totalRows").html(result.length + " row(s).");

				return result;
			}
		},
		initComplete:function(settings, json) 
		{			
			ProgressBar.hide();
		}
	});		
	
	// Datatable grid 초기 설정 셋업
	initGridTable($tableObj);
	
	$("input:radio[name=pDocType]").on("click", function() {
		var docType = $(this).val();
		
		var docName = "order";
		
		if (docType == "A")
		{
			docName = "inquiry";
		}
		else if (docType == "B")
		{
			docName = "quotation";
		}
		
		document.location.href = "[[${BASE_PATH}]]/order/display/" + docName + "_list?pDocType=" + $(this).val();
	});
	
	$("#BTN_search").on("click", function() {
		doSearch();
	});
	
	//Input text 엔터 키 입력
	$("#FORM_search input:text").on("keydown", function(event) {
		if (event.keyCode == 13)
		{
			doSearch();
		};
	});		
	
	function doSearch()
	{
		$tableObj.ajax.reload();
	}
	
	$("#TBL_grid tbody").on("click", "td:first-child", function () {
		var orderNo = $tableObj.cell(this).data();
		
		if (orderNo != null)
		{
			$("#orderNo").val($tableObj.cell(this).data());
			$("#FORM_search").attr("action", "[[${BASE_PATH}]]/order/display/quotation_detail").submit();
		};
	});
});
</script>	
</th:block>