<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="block-header">
	<div class="block-title" th:text="#{EUP_T_0073}"></div><!-- Invoice Status -->
	<div class="block-button-area">
		<button id="BTN_download" type="button" th:text="#{EUP_B_0003}"></button><!-- Download -->
		<button id="BTN_search" type="button" th:text="#{EUP_B_0002}"></button><!-- Search -->						
	</div>
</div>
<div class="condition-area">
<form id="FORM_search" name="FORM_search">
<table class="condition">
	<tbody>
		<tr>
			<th th:text="#{EUP_L_0016}"></th><!-- Period -->
			<td>	
				<div class="input-area">
					<input type="text" id="pFromDate" name="pFromDate" class="custom-ui-calendar" th:value="${pFromDate}">
					<div class="split"></div>
					<input type="text" id="pToDate" name="pToDate" class="custom-ui-calendar" th:value="${pToDate}">					
				</div>
			</td>
			<th th:text="#{EUP_L_0125}">Type</th><!-- Type -->
			<td>
				<div class="input-area">
					<select id="pType" name="pType" class="custom-ui">
						<option value=""></option><!-- ALL -->
						<option value="A">[[#{EUP_T_0074}]]</option><!-- Invoice -->
						<option value="B">[[#{EUP_T_0025}]]</option><!-- Credit -->												
					</select>
				</div>
			</td>
		</tr>
		<tr>
			<th th:text="#{EUP_L_0015}"></th><!-- P.O. No. -->
			<td>
				<div class="input-area">
					<input type="text" id="pPoNo" name="pPoNo" class="custom-ui" th:value="${pPoNo}">
				</div>			
			</td>
			<th th:text="#{EUP_L_0013}"></th><!-- Order No. -->
			<td>
				<div class="input-area">
					<input type="text" id="pOrderNo" name="pOrderNo" class="custom-ui" th:value="${pOrderNo}">
				</div>			
			</td>	
		</tr>	
		<tr>
			<th th:text="#{EUP_L_0134}"></th><!-- Parts No -->
			<td>
				<div class="input-area">
					<input type="text" id="pPartsNo" name="pPartsNo" class="custom-ui" th:value="${pPartsNo}">
				</div>			
			</td>
			<th th:text="#{EUP_L_0133}"></th><!-- Invoice No. -->
			<td>
				<div class="input-area">
					<input type="text" id="pInvoiceNo" name="pInvoiceNo" class="custom-ui" th:value="${pInvoiceNo}">
				</div>			
			</td>	
		</tr>					
	</tbody>
</table>
</form>
</div>
<div class="split-row"></div>
<div class="grid-info">
	<div class="grid-total">
		<div class="split"></div>
		<span class="total-number" id="totalRows"></span>
	</div>
</div>
<div id="AREA_grid" class="flex-grow grid-area">
	<form id="FORM_pdf" name="FORM_pdf">
	<input type="hidden" id="chkCount" name="chkCount">	
	<table id="TBL_grid" class="order-column stripe compact"></table>
	</form>		
</div>

<script type="application/javascript">
let $tableObj;
let sumNETWR = 0.00;   

$(function(){
	Calendar.makeBeetweenCalendar($("#pFromDate"), "[[${pFromDate}]]", $("#pToDate"), "[[${pToDate}]]");
	
	$tableObj = $("#TBL_grid").DataTable({
		select: {
			selector: 'td:not(.noselect)'	// noselect class 컬럼은 select 하지 않도록 한다. (input과 충돌 발생)
	    },
		ordering: true, 
		serverSide: false,
		scrollY: 100,
		columns: [	
			{// 컬럼에 checkbox 설정
				name: "CHK",
				className:"center skip-download",// row selection 기능 막음.
				orderable: false,// checkbox 는 정렬 불가
				title:"<input type='checkbox' class='custom-ui check-all' onchange='syncInput(this)' onclick='allChecked(this)'><label></label>",
				render: function(data, type, row)
				{
					if ($.trim(row.VBELN) == "")
					{
						return "";
					};
					
	    	      	let key = row.VBELN + "," + row.VBTYP;
					return '<input type="checkbox" class="custom-ui check-all" onchange="syncInput(this)" name="item_chk" value="'+key+'"><label></label>';// FixedColumns 사용시엔 syncInput 호출 필요함.					
				}
			},
			{name: "VBELN", data: "VBELN", 		title: "[[#{EUP_L_0127}]]" },	// Invoice number
			{name: "FKDAT", data: "FKDAT", 		title: "[[#{EUP_L_0128}]]" },	// Invoice Date 
			{name: "NETWR", data: "NETWR", 		title: "[[#{EUP_L_0129}]]" },	// Invoiced Amt.
			{name: "CMWAE", data: "CMWAE", 		title: "[[#{EUP_L_0021}]]" },	// Curr.
			{name: "BRGEW", data: "BRGEW", 		title: "[[#{EUP_L_0130}]]" },	// Weight
			{name: "EXTI1", data: "EXTI1", 		title: "[[#{EUP_L_0131}]]" },	// Freight Forward Ref			
			{name: "BSTKD", data: "BSTKD", 		title: "[[#{EUP_L_0132}]]" }		// P.O No.
		],		
		ajax: {
			url: "[[${BASE_PATH}]]/order/invoice/invoice_status/data",
			data: function(p)
			{				
				p.pPoNo = $("#pPoNo").val();
				p.pType = $("#pType").val();
				p.pInvoiceNo = $("#pInvoiceNo").val();				
				p.pPartsNo = $("#pPartsNo").val();
				p.pOrderNo = $("#pOrderNo").val();				
				p.pFromDate = $("#pFromDate").val();
				p.pToDate = $("#pToDate").val();					
			},
			dataSrc: function(response) 
			{				
				let data = response.RESULT;
				let returnData = new Array();
				
				sumNETWR = 0.00;
				let netwr = 0.00;
				
				for (let i=0, length=data.length; i<length; i++)
				{
					netwr = parseFloat(data[i].NETWR.replace(',', '')).toFixed(2);
					netwr = parseFloat(netwr);
					sumNETWR = sumNETWR + netwr;
				}					
				sumNETWR = sumNETWR.toFixed(2);
				sumNETWR = numberFormat(sumNETWR);
				
				$("#totalRows").html(data.length + " row(s).");
				
				addSummaryRow();
				return data;
			}
		},
		initComplete:function(settings, json) 
		{			
			ProgressBar.hide();
		}
	});
		
	// Datatable grid 초기 설정 셋업
	initGridTable($tableObj);

	// Search 버튼 클릭
	$("#BTN_search").on("click", function(){		
		doSearch(); 
	});
	
	//Input text 엔터 키 입력
	$("#FORM_search input:text").on("keydown", function(event) {
		if (event.keyCode == 13)
		{
			doSearch();
		};
	});	

	//PDF다운로드
	$("#BTN_download").on("click", function(){
		downloadSubmit();
	});					
});	

function addSummaryRow(){
	$tableObj.row.add({
		CHK   	: "",
		NO   	: "",
		VBELN   : "",
		FKDAT 	: "Total Amount",			
		NETWR 	: sumNETWR,
		CMWAE   : "",			
		BRGEW   : "",
		EXTI1   : "",
		BSTKD   : ""
	}).draw();
	
	$("#TBL_grid tbody tr").css("background-color", "#dcf2ec").css("font-weight", "bold");
}

function doSearch()
{
	$tableObj.ajax.reload();
}

/*
 *  download submit
 */
function downloadSubmit(e){
	if( $("#TBL_grid input:checked").length > 0) {		
		$("#chkCount").val($("#TBL_grid input:checked").length);
		$("#FORM_pdf").attr("action","[[${BASE_PATH}]]/order/invoice/pdf_download").submit();
	} else {
		alert("Please tick the invoices to download.");
	}		
}

function numberFormat(inputNumber) {
	return inputNumber.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}
</script>