<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/hq/parts/popup/index}">

<th:block layout:fragment="content">
	<div class="block-header">
		<div class="block-title" th:text="#{HQP_L_ACCOUNT_CREATE}"></div>
		<div class="block-button-area">
			<button id="BTN_save" type="button" th:text="#{HQP_B_SAVE}"></button>
		</div>
	</div>
	
	<div class="condition-area">
	<form id="FORM_write" name="FORM_write">
	<input type="hidden" id="bizType" name="bizType" th:value="${bizType}"/>
	<table class="condition">
		<tbody>
			<tr>
				<th><div th:text="#{HQP_L_USER_TYPE}"></div><img src="/portal/img/icon/required.png" class="required" /></th>
				<td class="wp13">
					<div class="input-area">
						<input type="radio" class="custom-ui" name="userType" value="D" checked /><label th:text="#{HQP_L_DEALER}"></label>
						&nbsp;&nbsp;
						<input type="radio" class="custom-ui" name="userType" value="I" /><label th:text="#{HQP_L_INTERNAL_USER}"></label>
					</div>
				</td>
			</tr>
			<tr>
				<th><div th:text="#{HQP_L_DEALER_CODE}"></div><img src="/portal/img/icon/required.png" class="required dealer-code" /></th>
				<td><div class="input-area"><input type="text" id="dealerCode" name="dealerCode" class="custom-ui" autofocus="autofocus"/></div></td>
			</tr>
			<tr>
				<th><div th:text="#{HQP_L_USERNAME}"></div><img src="/portal/img/icon/required.png" class="required username" /></th>
				<td>
					<div class="input-area"><input type="text" id="username" name="username" class="custom-ui" style="text-transform: uppercase;"/></div>
				
					<p class="internalUserUsernameRule" style="display:none;" th:text="#{HQP_T_INTERNAL_USER_USERNAME_POLICY}"></p>									
					<p class="dealerUsernameRule" th:text="#{HQP_T_DEALER_USERNAME_POLICY}"></p>
					<p class="dealerUsernameRule" th:text="#{HQP_T_VALID_USERNAME_POLICY}"></p>
				</td>
			</tr>
			<tr>
				<th th:text="#{HQP_L_LAST_NAME}"></th>
				<td><div class="input-area"><input type="text" id="lastName" name="lastName" class="custom-ui"/></div></td>
			</tr>
			<tr>
				<th th:text="#{HQP_L_FIRST_NAME}"></th>
				<td><div class="input-area"><input type="text" id="firstName" name="firstName" class="custom-ui"/></div></td>
			</tr>
		</tbody>
	</table>
	</form>
	</div>
	
<script>
$(function(){
	ProgressBar.hide();
	
	$("#FORM_write input:text").on("focus", function() {
		this.select();
	});
	
	$("input:radio[name=userType]").on("click", function() {
		if (JpUtilsString.equals($(this).val(), "I"))
		{
			$("#dealerCode").prop("readonly", true).val("");
		}
		else
		{
			$("#dealerCode").prop("readonly", false);
		};
		
		showUsernameGenerationRule();
	});
	
	function showUsernameGenerationRule()
	{
		let userType = $("input:radio[name=userType]:checked").val();
		let readOnlyDealerCode = false;
		let readOnlyUsername = false;
				
		if (JpUtilsString.equals(userType, "I"))
		{
			//Show username generation rule
			$(".internalUserUsernameRule").show();
			$(".dealerUsernameRule").hide();
			
			readOnlyDealerCode = true;
		}
		else
		{
			let bizType = $("#bizType").val();
			
			if (JpUtilsString.equals(bizType, "EUDOP") || JpUtilsString.equals(bizType, "UKDOP"))
			{
				$(".internalUserUsernameRule").hide();
				$(".dealerUsernameRule").show();
			}
			else
			{
				$(".internalUserUsernameRule, .dealerUsernameRule").hide();

				readOnlyUsername = true;
			};		
		};
		
		//Enable or disable username field
		$("#username").prop("readonly", readOnlyUsername).val("");
		
		if (readOnlyUsername)
		{
			$("img.required.username").hide();
		}
		else
		{
			$("img.required.username").show();	
		};
		
		//Enable or disable dealercode field
		$("#dealerCode").prop("readonly", readOnlyDealerCode).val("");
		
		if (readOnlyDealerCode)
		{
			$("img.required.dealer-code").hide();
		}
		else
		{
			$("img.required.dealer-code").show();	
		};		
	};
		
	$("#BTN_save").on("click", function() {
		if ($("input:radio[name=userType]:checked").val() == "D")
		{
			if (JpUtilsString.isEmpty($("#dealerCode").val()))
			{
				alert("[[#{HQP_M_EMPTY_DEALER_CODE}]]");
				$("#dealerCode").focus();
				return false;
			};			
		};
		
		let form = new JpUiForm($("#FORM_write"));
		
		if (isTargetToInputUsernameInPerson())
		{
			if (JpUtilsString.isEmpty($("#username").val()))
			{
				alert("[[#{HQP_M_EMPTY_USERNAME}]]");
				$("#username").focus();
				return false;			
			};
			
			let username = form.val("username").toUpperCase();
			const EUUK_USERNAME_PREFIX = "[[${T(org.jwebppy.portal.iv.eu.common.EuCommonVo).EUUK_USERNAME_PREFIX}]]"; 
			
			if (username.startsWith(EUUK_USERNAME_PREFIX))
			{
				username = JpUtilsString.replaceAll(username, EUUK_USERNAME_PREFIX, "");
			};
			
			JpUtilsAjax.get({
				url: "/platform/mgmt/user/check/valid_credentials",
				data: {type: "U", value: username},
			    success: function(response, textStatus, jqXHR)
			    {
			    	let result = response.RESULT;
			    	
					let message = "";
					
					if (Array.isArray(result.MESSAGE))
					{
						$.each(result.MESSAGE, function (index, value) {
							message += value + "\n";
						});						
					}
					else
					{
						message = result.MESSAGE;				
					};
					
					if (JpUtilsString.isEmpty(message))
					{
						submit();
					}
					else
					{
						alert(message);	
					};
			    }
			});				
		}
		else
		{
			submit();
		};
	});
	
	function isTargetToInputUsernameInPerson()
	{
		let bizType = $("#bizType").val();
		
		//본사 내수/수출 딜러는 아이디를 자동발번하므로 직접 입력 불필요
		if (JpUtilsString.notEquals(bizType, "HQDOP") && JpUtilsString.notEquals(bizType, "HQEXP"))
		{
			return true;
		};
		
		//내부사용자는 자신의 AD 계정 입력
		if (JpUtilsString.equals($("input:radio[name=userType]:checked").val(), "I"))
		{
			return true;			
		};
		
		return false;
	};
	
	function submit()
	{
		let options = {
				url: "/portal/iv/mgmt/account/save",
				data: $("#FORM_write").serialize(),
				beforeSend: function(jqXHR, settings)
				{
					$("#username").val($("#username").val().toUpperCase());
					ProgressBar.show();
				},			
			    success: function(response, textStatus, jqXHR)
			    {
			    	let result = response.RESULT;
			    	
			    	if (result == -4)
			    	{
			    		alert("[[#{HQP_M_EMPTY_USERNAME}]]");
			    		$("#username").select();
			    	}
			    	else if (result == -3)
			    	{
			    		alert("[[#{HQP_M_VALID_USERNAME_POLICY}]]");
			    		$("#username").select();
			    	}
			    	else if (result == -2)
			    	{
			    		alert("[[#{HQP_M_EXIST_USERNAME}]]".replace("{0}", $("#username").val()));
			    		$("#username").select();
			    	}
			    	else if (result == -1)
			    	{
			    		alert("[[#{HQP_M_NOT_EXIST_DEALER}]]".replace("{0}", $("#dealerCode").val()));
			    		$("#dealerCode").select();
			    	}
			    	else
			    	{
			    		let message1 = "[[#{HQP_M_CREATED_NEW_ACCOUNT}]]";
			    		let message2 = "[[#{HQP_M_INITIAL_PASSWORD}]]";
			    		
			    		if (result.userType == "I")
			    		{
			    			alert(message1);
			    		}
			    		else
			    		{
			    			alert(message1 + " " + message2.replace("{0}", result.password));	
			    		};
			    		
			    		$("#pUsername", opener.document).val(result.username);		    		
			    		
			    		opener.doSearch();
			    		window.close();
			    	};
			    },
			    complete: function(jqXHR, textStatus)
			    {
			    	ProgressBar.hide();
			    }
		};
		
		JpUtilsAjax.post(options);
	};
	
	$("input:radio[name=userType][value=D]").trigger("click");
});
</script>	
</th:block>