<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jwebppy.platform.mgmt.content.mapper.ContentMapper">
	<insert id="insert" parameterType="CItemEntity" useGeneratedKeys="true" keyProperty="cSeq">
		insert into pltf_citem (p_seq, type, name, description, component, entry_point, parameter, sort, fg_visible, fg_delete, from_valid, to_valid, reg_username, reg_date) values (
			#{pSeq}, #{type}, #{name}, #{description}, #{component}, #{entryPoint}, #{parameter}, #{sort}, #{fgVisible}, #{fgDelete}, #{fromValid}, #{toValid}, #{regUsername}, #{regDate}
		)
	</insert>

	<insert id="insertCItemUserRl" parameterType="CItemUserRlEntity" useGeneratedKeys="true" keyProperty="curSeq">
		insert into pltf_citem_user_rl (c_seq, u_seq, fg_delete, reg_username, reg_date) values (
			#{cSeq}, #{uSeq}, #{fgDelete}, #{regUsername}, #{regDate}
		)
	</insert>
	
	<insert id="insertCItemLangRl" parameterType="CItemLangRlEntity" useGeneratedKeys="true" keyProperty="clrSeq">
		insert into pltf_citem_lang_rl (c_seq, l_seq, reg_username, reg_date) values (
			#{cSeq}, #{lSeq}, #{regUsername}, #{regDate}
		)
	</insert>	
	
	<update id="update" parameterType="CItemEntity">
		update pltf_citem set
			p_seq=#{pSeq},
			type=#{type},
			name=#{name},
			description=#{description},
			component=#{component},
			entry_point=#{entryPoint},
			parameter=#{parameter},
			sort=#{sort},
			fg_visible=#{fgVisible},
			fg_delete=#{fgDelete},
			from_valid=#{fromValid},
			to_valid=#{toValid},
			mod_username=#{modUsername},
			mod_date=#{modDate}
		where
			c_seq=#{cSeq}
	</update>
	
	<update id="updateFgDelete" parameterType="CItemEntity">
		update pltf_citem set
			fg_delete=#{fgDelete},
			mod_username=#{modUsername},
			mod_date=#{modDate}
		where
			c_seq=#{cSeq}
	</update>
	
	<update id="updateFgDeleteOfCItemUserRl" parameterType="CItemUserRlEntity">
		update pltf_citem_user_rl set fg_delete=#{fgDelete}, mod_username=#{modUsername}, mod_date=#{modDate}
		where
		u_seq=#{uSeq}
	</update>

	<select id="findItem" parameterType="Integer" resultType="CItemEntity">
		select
		*
		from
		pltf_citem

		<where>
			<choose>
				<when test="cSeq == null">
					p_seq is null
				</when>
				<otherwise>
					c_seq=#{cSeq}				
				</otherwise>
			</choose>		
		</where>		
	</select>

	<select id="findMyItems" parameterType="CItemSearchDto" resultType="CItemEntity">
		select
		a.*
		from
		pltf_citem a,
		pltf_citem_user_rl b
		where
		a.c_seq=b.c_seq
		and a.fg_delete='N'		
		and a.from_valid <![CDATA[<]]> now() and a.to_valid <![CDATA[>=]]> now()
		and b.fg_delete='N'
		
		<!-- OGNL(Object Graph Navigation Language) 의 문제로 toString() 추가 -->
		<if test="fgVisible != 'A'.toString()">
			and a.fg_visible='Y'
		</if>		
		
		<if test="uSeq != null and uSeq > 0">
			and b.u_seq=#{uSeq}
		</if>
		
		<if test="username != null and username != ''">
			and b.u_seq=(select u_seq from pltf_user_account where username=#{username})
		</if>

		<if test="name != null and name != ''">
			and a.name=#{name}
		</if>
		
		<if test="type != null and type != ''">
			and a.type=#{type}
		</if>
		
		order by a.sort
	</select>
	
	<select id="findCItems" parameterType="CItemSearchDto" resultType="CItemEntity">
		select
		a.*
		from
		pltf_citem a
		where
		a.fg_delete='N'

		<if test="cSeqs != null">
			<trim prefix="and">
				<foreach collection="cSeqs" item="cSeq" open="(" close=")" separator="or">
					<if test="cSeq != null">
						a.c_seq=#{cSeq}
					</if>				
				</foreach>				
			</trim>
		</if>
		
		<if test="pSeq != null">
			and a.p_seq=#{pSeq}
		</if>	

		<if test="name != null and name != ''">
			and a.name=#{name}
		</if>
		
		<if test="type != null and type != ''">
			and type=#{type}
		</if>		
		
		<if test="types != null">
			<trim prefix="and">
				<foreach collection="types" item="type" open="(" close=")" separator="or">
					<if test="type != null and type != ''">
						a.type=#{type}
					</if>				
				</foreach>				
			</trim>
		</if>
		
	    <if test='fgVisible == "Y"'>
	    	and a.fg_visible='Y'
	    	and a.from_valid <![CDATA[<]]> now() and a.to_valid <![CDATA[>=]]> now()
	    </if>
	    
	    order by a.sort, a.c_seq

	</select>
	
	<select id="findLang" parameterType="CItemLangRlDto" resultType="CItemLangRlEntity">
		select
		*
		from
		pltf_citem_lang_rl
		where
		c_seq=#{cSeq}
		and l_seq=#{lSeq}
	</select>
	
	<select id="findLangs" parameterType="CItemLangRlDto" resultType="CItemLangRlEntity">
		select
		b.*
		from
		pltf_citem a,
		pltf_citem_lang_rl b,
		pltf_lang_detail c,
		pltf_lang_kind d
		where
		a.c_seq=#{cSeq}
		
		<if test="lSeq != null and lSeq > 0">
			and b.l_seq=#{lSeq}
		</if>
		
		and a.fg_delete='N'
		and a.c_seq=b.c_seq
		and b.l_seq=c.l_seq
		and c.fg_delete='N'
		and c.lk_seq=d.lk_seq
		
		<if test="basename != null and basename != ''">
			and d.basename=#{basename}
		</if>
		
		and d.fg_delete='N'
		order by d.fg_default desc
	</select>

</mapper>
