<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/common/index}">
<th:block layout:fragment="content">
	<script th:src="@{/portal/js/portal.utils.order.js}"></script>

	<div class="block-header">
		<div class="block-title" th:text="#{HQPD_T_ORDER_STATUS}"></div><!-- Order Status -->	
		<div class="block-button-area">		
			<button id="BTN_download" type="button" th:text="#{HQPD_B_DOWNLOAD}"></button><!-- Download -->
			<button id="BTN_totalDownload" type="button" th:text="#{HQPD_B_TOTAL_DOWNLOAD}"></button><!-- Total Download -->
			<button id="BTN_search" type="button" th:text="#{HQPD_B_SEARCH}"></button><!-- Search -->
		</div>
	</div>
	<div class="condition-area">
	<form id="FORM_search" name="FORM_search">	
	<input type="hidden" id="orderNo" name="orderNo"/>
	<input type="hidden" id="poNo" name="poNo"/>
	<input type="hidden" id="orderDate" name="orderDate"/>
	<input type="hidden" id="fgDownload" name="fgDownload"/>
	<table class="condition">
		<tbody>
			<tr>
				<th th:text="#{HQPD_L_ORDER_NO}"></th>
				<td>
					<div class="input-area">
						<input type="text" id="pOrderNo" name="pOrderNo" class="custom-ui" th:value="${pOrderNo}">
					</div>			
				</td>
				<th th:text="#{HQPD_L_ORDER_TYPE}"></th>
				<td>
					<div class="input-area order-type"></div>			
				</td>			
			</tr>
			<tr>
				<th th:text="#{HQPD_L_ORDER_PART_NO}"></th>
				<td>
					<div class="input-area">
						<input type="text" id="pOrderPartNo" name="pOrderPartNo" class="custom-ui" th:value="${pOrderPartNo}">
					</div>
				</td>
				<th th:text="#{HQPD_L_ORDER_DATE}"></th>
				<td colspan="3">
					<div class="input-area">
						<input type="text" id="pFromDate" name="pFromDate" class="custom-ui-calendar" th:value="${pFromDate}">
						<div class="split"></div>
						<input type="text" id="pToDate" name="pToDate" class="custom-ui-calendar" th:value="${pToDate}">
					</div>
				</td>					
			</tr>		
			<tr>
				<th th:text="#{HQPD_L_PO_NO}"></th>
				<td colspan="3">
					<div class="input-area">
						<input type="text" id="pPoNo" name="pPoNo" class="custom-ui" th:value="${pPoNo}">
					</div>			
				</td>
			</tr>		
		</tbody>
	</table>
	</form>
	</div>
	<div class="split-row"></div>
	<div class="grid-info">
		<div class="grid-total">
			<div class="split"></div>
			<span class="total-number" id="totalRows"></span>
		</div>
	</div>
	
	<div id="AREA_grid" class="flex-grow grid-area">
		<table id="TBL_grid" class="order-column stripe compact"></table>
	</div>
	<iframe id="IFM_download" name="IFM_download" style="display:none;"></iframe>
	<script>
	$(function(){
		$("input:radio[name=pDocType][value='[[${pDocType}]]']").prop("checked", true);
		
		//주문유형 가져오기
		let orderComponent = new OrderComponent();
		orderComponent.makeOrderType($(".order-type"), "pOrderType", "[[${pOrderType}]]");
		
		Calendar.makeBeetweenCalendar($("#pFromDate"), "[[${pFromDate}]]", $("#pToDate"), "[[${pToDate}]]");
				
		$tableObj = $("#TBL_grid").DataTable({
			select: {
				selector: "td:not(.noselect)"// noselect class 컬럼은 select 하지 않도록 한다. (input과 충돌 발생)
		    },
			ordering: true,// 정렬 기능 켬
			scrollY: 100,
			//fixedColumns: { leftColumns: 5 },
			columns : [				
				{data: "VBELN", 		title: "[[#{HQPD_L_ORDER_NO}]]", className:"link"},	// Order No.
				{data: "SO_ITEM", 		title: "[[#{HQPD_L_ITEM_ROWS}]]"}, // Item Rows	
				{data: "KONDA_T", 		title: "[[#{HQPD_L_ORDER_TYPE}]]"},	// Order Type	
				{data: "SO_QTY", 		title: "[[#{HQPD_L_ORDER_QTY}]]"}, // Order Qty				
				{data: "PI_QTY", 		title: "[[#{HQPD_L_PACKED_QTY}]]"}, // Packed Qty	
				{data: "SH_QTY", 		title: "[[#{HQPD_L_SHIPMENT_COMPLETE_QTY}]]"},	// S.Completion Qty	
				{data: "IN_QTY", 		title: "[[#{HQPD_L_INVOICE_QTY}]]"}, // Invoice Qty			
				{data: "BO_AMT", 		title: "[[#{HQPD_L_BACKORDER_QTY}]]"}, // B/O Quantity
				{data: "VSBED_T", 		title: "[[#{HQPD_L_SHIPPING_CONDITION}]]"},	// Shipping Condition		
				{data: "WAERK", 		title: "[[#{HQPD_L_CURRENCY}]]"}, // Curr.
				{data: "BSTKD", 		title: "[[#{HQPD_L_PO_NO}]]"} // P.O No.
			],
			ajax: {
				url: "/portal/iv/hq/parts/domestic/order/status/list/data",
				data: function(p)
				{
					p.pDocType = $("#FORM_search input:radio[name=pDocType]:checked").val();
					p.pOrderNo = $("#pOrderNo").val();
					p.pOrderType = $("#pOrderType").val();
					p.pPoNo = $("#pPoNo").val();				
					p.pOrderPartNo = $("#pOrderPartNo").val();
					p.pFromDate = $("#pFromDate").val();
					p.pToDate = $("#pToDate").val();					
				},
				dataSrc: function(response) 
				{				
					let data = response.RESULT;
				    
					for (let i=0, length=data.length; i<length; i++)
					{
						data[i].BO_AMT = Number(data[i].SO_QTY) - Number(data[i].SH_QTY);						
					};
					
					$("#totalRows").html(data.length + " row(s).");
	
					return data;
				}
			},
			initComplete:function(settings, json) 
			{			
				ProgressBar.hide();
			}
		});
	
		// Datatable grid 초기 설정 셋업
		initGridTable($tableObj);
	
		// Search 버튼 클릭
		$("#BTN_search").on("click", function(){		
			doSearch(); 
		});
		
		//Input text 엔터 키 입력
		$("#FORM_search input:text").on("keydown", function(event) {
			if (event.keyCode == 13)
			{
				doSearch();
			};
		});
		
		function doSearch()
		{
			$tableObj.ajax.reload();
		}		
	
		$("#BTN_download").on("click", function(){
			let gridFileDownload = new GridFileDownload($tableObj);
			gridFileDownload.fileName = "Order_Status_List";
			gridFileDownload.excelDownload();		
		});
		
		$("#BTN_totalDownload").on("click", function(){
			let orderNo = "";
			let delimiter = "[[${T(org.jwebppy.portal.common.PortalConfigVo).DELIMITER}]]";
			
			$("#TBL_grid td:first-child").each(function(){
				orderNo += $(this).text() + delimiter;
			});
			
			$("#orderNo").val(orderNo);
			$("#fgDownload").val("Y");
			
			$("#FORM_search").attr({
				"target": "IFM_download",
				"action": "/portal/iv/hq/parts/domestic/order/status/view"
			}).submit();
			
			ProgressBar.show();
			
			$("#fgDownload").val("");
		});		
		
		$("#TBL_grid tbody").on("click", "td:first-child", function (e){				
			let rowData = $("#TBL_grid").DataTable().row(this).data();
			
			//조회 페이지 헤더 영역에 사용되는 정보
			$("#orderNo").val(rowData.VBELN);
			$("#poNo").val(rowData.BSTKD);			
			$("#orderDate").val(rowData.ERDAT);
			
			$("#FORM_search").attr({
				"target": "_self",
				"action": "/portal/iv/hq/parts/domestic/order/status/view"
			}).submit();
		});
	});
	</script>	
</th:block>