<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/common/index}">
<th:block layout:fragment="content">
	<div class="block-header">
		<div class="block-title" th:text="#{HQPD_T_ORDER_STATUS_DETAIL}"></div><!-- Order Status Detail -->
		<div id="BTN_search" class="block-button-area">
			<button id="BTN_download" type="button" th:text="#{HQPD_B_DOWNLOAD}"></button><!-- Download -->
			<button id="BTN_back" type="button" th:text="#{HQPD_B_BACK}"></button><!-- Back -->
		</div>
	</div>
	<input type="hidden" id="orderNo" name="orderNo" th:value="${orderNo}">	
	<div class="condition-area">
	<table class="condition table-fixed">
		<tbody>
			<tr>
				<th th:text="#{HQPD_L_ORDER_NO}"></th><!-- Order No. -->
	 			<td><span th:text="${orderNo}"></span></td>
				<th th:text="#{HQPD_L_PO_NO}"></th><!-- P.O No. -->
	 			<td><span th:text="${poNo}"></span></td>
				<th th:text="#{HQPD_L_ORDER_DATE}"></th><!-- Order Date -->
	 			<td><span th:text="${orderDate}"></span></td> 			
			</tr>
		</tbody>
	</table>
	</div>
	<div class="split-row"></div>
	<div id="AREA_grid" class="flex-grow grid-area">
		<table id="TBL_grid" class="order-column stripe compact"></table>
	</div>
	<form id="FORM_search" name="FORM_search">
	<input type="hidden" id="pOrderNo" name="pOrderNo" th:value="${pOrderNo}">
	<input type="hidden" id="pOrderType" name="pOrderType" th:value="${pOrderType}">
	<input type="hidden" id="pPoNo" name="pPoNo" th:value="${pPoNo}">
	<input type="hidden" id="pFromDate" name="pFromDate" th:value="${pFromDate}">
	<input type="hidden" id="pToDate" name="pToDate" th:value="${pToDate}">
	<input type="hidden" id="pOrderPartNo" name="pOrderPartNo" th:value="${pOrderPartNo}">
	</form> 							
	<script>		
	$(function(){
		let initCompleted = false;
		
		$tableObj = $("#TBL_grid").DataTable({
			select: {
				selector: "td:not(.noselect)"// noselect class 컬럼은 select 하지 않도록 한다. (input과 충돌 발생)
		    },
			ordering: true,// 정렬 기능 켬
			scrollY: 100,
			//fixedColumns: { leftColumns: 5 },
			columns : [
				{data: "POSNR", 		title: "[[#{HQPD_L_LINE_ITEM}]]"},// Item No
				{data: "KONDA_T", 		title: "[[#{HQPD_L_ORDER_TYPE}]]"},// Order Type
				{data: "MATNR_SO", 		title: "[[#{HQPD_L_ORDER_PART_NO}]]"},// Order Part No.
				{data: "MATNR_SH", 		title: "[[#{HQPD_L_SUPPLY_PART_NO}]]"},// Supply Part No
				{data: "MAKTX", 		title: "[[#{HQPD_L_DESCRIPTION}]]"},// Description
				{data: "SO_QTY", 		title: "[[#{HQPD_L_ORDER_QTY}]]", className: "right"},// Order Qty
				{data: "RE_QTY", 		title: "[[#{HQPD_L_RESERVED_QTY}]]", className: "right"},// Reserved Qty
				{data: "PI_QTY", 		title: "[[#{HQPD_L_PACKED_QTY}]]", className: "right"},// Packed Qty
				{data: "IN_QTY", 		title: "[[#{HQPD_L_INVOICE_QTY}]]", className: "right"},// Invoiced Qty
				{data: "SH_QTY", 		title: "[[#{HQPD_L_SHIPMENT_COMPLETE_QTY}]]", className: "right"},// S.Completion Qty
				{data: "BO_QTY", 		title: "[[#{HQPD_L_BACKORDER_QTY}]]", className: "right"},// B/O Qty
				{data: "LST_ETD", 		title: "[[#{HQPD_L_UPDATED_ETD}]]"}// Updated ETD
			],		
			ajax: {
				url: "/portal/iv/hq/parts/domestic/order/status/view/data",
				data: function(p)
				{
					p.orderNo = $("#orderNo").val();
				},
				dataSrc: function(response) 
				{				
					let data = response.RESULT;
					
					for (let i=0, length=data.length; i<length; i++)
					{
						data[i].BO_QTY = Number(data[i].SO_QTY) - Number(data[i].SH_QTY);
						
						let etd = $.trim(data[i].LST_ETD);
						if (etd != "")
						{						
							data[i].LST_ETD = etd;
						}
						else
						{
							data[i].LST_ETD = "0000-00-00";
						}
					};
					
					return data;
				}
			},
			initComplete:function(settings, json) 
			{
				initCompleted = true;
				
				ProgressBar.hide();
			},
			"drawCallback": function( settings ) {
				if (initCompleted && "[[${fgDownload}]]" == "Y")
				{
					alert($("#orderNo").val());
					$("#BTN_download").trigger("click");
					parent.ProgressBar.hide();
				};
			}
		});
		
		// Datatable grid 초기 설정 셋업
		initGridTable($tableObj);	
	
		$("#BTN_back").on("click", function() {
			$("#FORM_search").attr("action", "/portal/iv/hq/parts/domestic/order/status/list").submit();
		});
	
		$("#BTN_download").on("click", function() {
			let gridFileDownload = new GridFileDownload($tableObj);
			gridFileDownload.fileName = "Order_Status_Detail";
			gridFileDownload.excelDownload();
		});
	});
	</script>	
</th:block>		
		