<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/popup/index_mall}">

<th:block layout:fragment="content">
<link rel="stylesheet" type="text/css" th:href="@{/portal/css/bbs_basic.css}">

<div class="block-header">
	<div class="block-title">Main Image File Upload</div>
	<div class="block-button-area">
		<button id="BTN_saveFile" th:text="#{DIVEU_BTN_0005}"></button>  <!-- Save -->
	</div>
</div>

<p style="text-align: left;">&nbsp;Image Size: 680 x 480 pixel</p>

<form id="FORM_save" method="post" class="ui form" autocomplete="off" onsubmit="return false;" enctype="multipart/form-data">						
	<input type="hidden" id="IPT_fuiId" name="fuiId"  th:value="${fileValidStr}">					
	<div id="DIV_fileinfoArea" style="border:none; float:left; width:100%;height:68px;">
		<div id="DIV_addFileArea" style="">
			<article th:replace="~{/portal/corp/eu/common/bbs/attach_file :: attachFile()}"></article>
			<article th:replace="~{/portal/corp/eu/common/bbs/attach_file :: attachFileScript('1', '10485760')}"></article>	
		</div>
	</div>
<!-- 상위 영역 좌우 분할 : 우측 div End -->						
</form>

<!-- ----------------------------------------------------------------------------------------------------------------------------------- -->

<script type="application/javascript">

$(document).ready(function() 
{

});

// 파일 저장 
$('#BTN_saveFile').click(function() 
{
	//첨부파일 체크(확장자, 파일 사이즈)    	
	checkFile('FORM_save');
});	
function saveClick()
{
	var saveForm = $('#FORM_save')[0];
	var data = new FormData(saveForm);
	$.ajax(
	{
        type: "POST",
        enctype: 'multipart/form-data',
        url: "/portal/corp/eu/scm/parts/merchandize/main/save_main_file",
        data: data,
        processData: false,
        contentType: false,
        cache: false,
        timeout: 600000,
        success: function (data) {
        	opener.parent.refreshMainImage(data.RESULT);
        	setTimeout(function(){self.close();}, 300);
        },
        error: function (e) {
            console.log("ERROR : ", e);            
        }
    });
}
</script>

</th:block>
</html>
