<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/popup/index_mall}">

<th:block layout:fragment="content">

<div id="DIV_mallTitle" class="mall_page_title" th:text="#{DIVEU_LB_0074}"></div>
	
<div class="split-row"></div>		
	
<!-- 화면 2분할 영역 중 상단 div Start -->
<div id="DIV_upperArea" style="border:none; float:center; width:100%; height:535px;">	
	
	<input type="hidden" id="IPT_mainTitle" name="mainTitleText"  th:value="#{DIVEU_LB_0074}">	<!-- Merchandize -->
	<input type="hidden" id="IPT_userCorp" name="userCorp" th:value="${userCorp}" />
		
	<!-- 위쪽  div: 좌상단 메뉴 영역 Start -->
	<div id="DIV_upperAreaLeft" class="mall_upper_left_menu" style="float:left;">			
		<div class="mall_upper_left_menu_title" th:text="Category"></div>
		<div class="mall_upper_left_menu_text" th:each="userCategoryDto : ${categoryList}">
			<a style="text-decoration:none" th:href="@{'/portal/corp/eu/scm/parts/merchandize/product/main'(mcSeq=${userCategoryDto.mcSeq})}" th:text="${userCategoryDto.categoryName}"></a>
		</div>					
	</div>
	<!-- 위쪽  div: 좌상단 메뉴 영역 End -->
			
	<!-- 위쪽  div: 메인 우상단 이미지 영역 Start -->
	<div id="DIV_upperAreaRight" style="border:none; float:right; width:715px;">
		<table style="text-align:center;margin:auto;width:99%;">
			<tr>
				<td>
					<div id="DIV_upperAreaRightTitle" style="width:715px;height:30px;margin:5px 0px;" >
						<div class="block-header">
							<div class="mall_part_title"></div>
							<div class="block-button-area">
								<button id="BTN_goCart" th:text="#{DIVEU_BTN_0018}"></button>  <!-- Cart -->
							</div>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>				
					<table style="text-align:center;width:100%;height:506px;border: solid 1px #dddddd;border-radius: 4px;object-fit: contain;">
						<tr>
							<td>
								<div th:if="${fileUploads == null }">
									<img src="/portal/img/tmpimage/epMallMainImgTemp.jpg" style="width:680px;height:480px;" alt="No Image" />
								</div>
								<div th:if="${fileUploads != null }">
									<img th:src="|/portal/corp/eu/common/file_load/image_viewer?filePath=${fileUploads.storagePath}${fileUploads.savedName}|" style="width:680px;height:480px;" alt="No Image" />
								</div>	   							
	   						</td>
	   					</tr>
	   				</table>	
   				</td>
			</tr>
		</table>   					    				
			
	</div>
	<!-- 위쪽  div: 메인 우상단 이미지 영역 End -->			
</div>
<!-- 화면 2분할 영역 중 상단 div End -->
	
	
<p style="font-size: 12px">&nbsp;</p>	<!-- 여백용 -->

<div id="DIV_lowerArea" style="border:none; float:left; width:100%;">

	<!-- 화면 2분할 영역 중 하단 div Start -->
	<div class="block-header">
		<div class="block-ㅡmallmaintitle" style="padding-top: 15px;" th:text="#{DIVEU_LB_0075}"></div>	<!-- Recommend Product -->
		<div class="block-button-area">
			<button class="prdAddBtn" th:text="#{DIVEU_BTN_0019}"></button>  <!-- Add to Cart -->
			<div class="split"></div>
			<button class="prdOdrBtn" th:text="#{DIVEU_BTN_0020}"></button>  <!-- Buy Now -->
		</div>
	</div>

	<form id="FORM_list" method="post" autocomplete="off" onsubmit="return false;" enctype="multipart/form-data">
		<table id="TBL_mainLowerPrdList" style="width:100%;height:300px;">
			<tbody>
			<tr>
				<td style="width:100%;height:300px;">
					<div id="DIV_prdListDiv" style="text-overflow: ellipsis;"> 
						<ul class="mall-main_ul">

							<li class="mall-main_li" th:each="productDto : ${productList}">
								<th:block th:if="(${productDtoStat.index}+1) % 4 != 0">
									<div data-name="afterRightMargin20Div"></div>
								</th:block>
								<th:block th:unless="(${productDtoStat.index}+1) % 4 != 0">
									<div data-name="afterRightMargin1Div"></div>
								</th:block>
															
								<table class="mall_main_reproduct_table" style="padding: 5px;">

								<colgroup>
									<col style="width:60px;">
									<col style="width:105px;">
									<col style="width:60px;">
								</colgroup>
								<tbody>  				
				  					<tr>				  						
				  						<td colspan="3" style="text-align:left;vertical-align:middle;padding: 1px 10px 0px 30px;" >
				  							<span><input type="checkbox"  class="custom-ui-mall" name="productCheckbox" th:id="${productDto.mpSeq}" th:value="${productDto.materialNo}" />
				  							<label></label></span>
				  						</td>
				  					</tr>				  							  				
					  				<tr style="height:110px;padding: 0px 0px 10px 0px;">
					  					<td></td>
					  					<td><img class="mall_main_recommandproduct_image" src="/portal/img/tmpimage/testJavaImage.png" alt="No Image" /></td> <!-- TODO 서버 파일Path 확정시 썸네일이미지 불러오기 -->
					  					<td></td>
					  				</tr>
					  				<tr>
										<td colspan="3" th:text="${productDto.productName}" class="mall_main_recommandproduct_name" style="max-width:180px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;" ></td>
									</tr>
									<tr>
										<td colspan="3" th:text="${productDto.productDescription}" class="mall_main_recommandproduct_desc" style="max-width:210px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;height:29px;"></td>
									</tr>
									<tr>
										<td colspan="3" class="mall_main_recommandproduct_price" th:text="${productDto.currency} == 'KRW' ? |${productDto.currency} ${#numbers.formatInteger(productDto.price,3,'COMMA')}| : |${productDto.currency} ${#numbers.formatDecimal(productDto.price,3,'COMMA', 2,'POINT')}| "></td>
									</tr>
				  				</tbody>	
								</table>				
							</li>	
						</ul>
					</div>
				</td>
			</tr>	
			</tbody>
		</table>
	</form>
	
</div>
<!-- 화면 2분할 영역 중 하단 div End -->	
		
<form id="FORM_cart" method="post" autocomplete="off" action="/portal/corp/eu/scm/parts/merchandize/cart/main">
	<div id="cartFormDiv"></div>
</form>
<form id="FORM_order" method="post" autocomplete="off">
	<div id="orderFormDiv"></div>
</form>	


<script type="application/javascript">
$(document).ready(function() 
{
// 	$('#DIV_mallTitle').text( $('#IPT_mainTitle').val() );	// 메인 타이틀명 Merchandize	
	$('div [data-name=afterRightMargin20Div]').each(function() 
	{		
		$(this).closest("li").css("margin-right", "12px");		
	});

	$('div [data-name=afterRightMargin1Div]').each(function() 
	{
		$(this).closest("li").css("margin-right", "1px");
	});
});


$("input:checkbox[name='productCheckbox']").click(function() 
{	
	if ( $(this).is(":checked") ) 
	{	
		$(this).closest("table").css("border", "solid 1px #003081");
	} else 
	{
		$(this).closest("table").css("border", "solid 1px #dddddd");
	}	
});		
		

// 장바구니 추가
$('.prdAddBtn').click(function() 
{
	$('#cartFormDiv').empty();	
	if (isCheckedChkBox)  
 	{
 		$("input[name=productCheckbox]:checked").each(function() 
		{
			$('#cartFormDiv').append('<input type="hidden" name="mpSeq" value="' + this.id + '">');
			$('#cartFormDiv').append('<input type="hidden" name="quantity" value="1">');
 		});
 	    	
 		$.ajax(
		{
		    url:'/portal/corp/eu/scm/parts/merchandize/cart/cart',
		    type:'post', 
			data: $("#FORM_cart").serialize(),
		    success: function(data) 
		    {
		    	alert("[[#{DIVEU_MSG_0032}]]");	// Added selected prodct in the shpping cart.
		    	location.reload();		        
		    }
		});
 	}
});

// 바로 구매
$('.prdOdrBtn').click(function() 
{	
	$('#orderFormDiv').empty();
	if (isCheckedChkBox) 
	{
		var matAddStr = '';
		var qtyAddStr = '';
		var userCorpParam = userCorp.substring(userCorp.length -2, userCorp.length).toLowerCase();	
		var odrUrlParam = '/portal/corp/' + userCorpParam + '/scm/parts/order/create/order_form?from=MERCHANDIZE&materialNosFrom=';
		
		$("input[name=productCheckbox]:checked").each(function(index) 
		{
			index > 0 ? matAddStr += '^' + this.value : matAddStr += this.value;
			index > 0 ? qtyAddStr += '^1' : qtyAddStr += '1';			
 		});
		odrUrlParam += matAddStr + "&orderQtiesFrom=" + qtyAddStr;			
		window.opener.location.href = odrUrlParam;
//			self.close();
	}
}); 	

$('#BTN_goCart').click(function() 
{	
	$("#FORM_cart").submit();
});

function isCheckedChkBox() 
{	
	var checkedLen = $("input[name=productCheckbox]:checked").length;
 	if (checkedLen < 1) 
 	{
 		alert("[[#{DIVEU_MSG_0031}]]");	// Please select product.
   		return false;
 	} else 
 	{
 		return true;
 	}	
}
</script>

</th:block>
</html>
