<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/hq/parts/common/index}">

<th:block layout:fragment="content">
<div class="block-header">
	<div class="block-title" th:text="#{HQP_T_PARTS_INFO}"></div><!-- Parts Info. -->
	<div class="block-button-area">
		<!-- button id="BTN_calc" type="button" th:text="#{HQP_B_CALCULATE}"></button --><!-- Calculate -->
		<button id="BTN_search" type="button" th:text="#{HQP_B_SEARCH}"></button><!-- Search -->
	</div>	
</div>	
<div class="condition-area">
<form id="FORM_search" name="FORM_search" onsubmit="return false;">
<table class="condition table-fixed">
	<tbody>
		<tr>
			<th style="width:15%" th:text="#{HQP_L_PART_NO}"></th><!-- Part No. -->
			<td colspan="3">
				<div class="input-area">
					<input type="text" id="pPartNo" name="pPartNo" class="custom-ui-btn" style="text-transform: uppercase;" autofocus />
				</div>
			</td>
		</tr>		
	</tbody>
</table>
</form>	
</div>
<div class="split-row"></div>
<div class="condition-area">
<table class="condition table-fixed">
	<tbody>
		<tr>
			<th style="width:15%" th:text="#{HQP_L_PART_DESCRIPTION}"></th><!-- Description -->
			<td id="MAKTX"></td>
			<th style="width:15%" th:text="#{HQP_L_STOCK}"></th><!-- Stock -->
			<td id="STOCK"></td>			
		</tr>		
		<tr>
			<th th:text="#{HQP_L_SERVICEABLE}"></th><!-- Serviceable -->
			<td id="SVRCD"></td>
			<th th:text="#{HQP_L_NOT_SERVICE_REASON}"></th><!-- Not Service Reason -->
			<td>
				<span id="NOT_SERVICE_REASON"></span>
				
				<span id="AREA_notServiceReason" style="display:none;">
					<button class="btn-popup2" type="button" onclick="_showNotServiableReason($('#pPartNo').val());"></button>
				</span>
			</td>
		</tr>		
		<tr>
			<th th:text="#{HQP_L_SALES_LOT}"></th><!-- Sales Lot  -->
			<td id="AUMNG"></td>
			<th th:text="#{HQP_L_MODEL}"></th><!-- Model -->
			<td>						
				<div id="AREA_model" style="display:none;">			
				<span id="M_MATNR" class="custom-ui"></span>
				<button class="btn-popup2" type="button" onclick="_showAppliedModelList($('#pPartNo').val());"></button>
				</div>								
			</td>			
		</tr>			
		<tr>
			<th th:text="#{HQP_L_OPEN_QTY}"></th><!-- Open Qty -->
			<td id="KWMENG"></td>			
			<th th:text="#{HQP_L_NET_WEIGHT}"></th><!-- Net Weight -->
			<td id="NTGEW"></td>
		</tr>	
		<tr>
			<th th:text="#{HQP_L_PURCHASE_LEAD_TIME}"></th><!-- Purchase Lead Time -->
			<td id="PLIFZ"></td>			
			<th th:text="#{HQP_L_SUPPLY_PART_NO}"></th><!-- Supply Part No. -->
			<td>
				<div id="AREA_substitution" style="display:none;">			
				<span id="REPNR" class="custom-ui"></span>
				<button class="btn-popup2" type="button" onclick="_showSubPartList($('#pPartNo').val());"></button>
				</div>
			</td>
		</tr>
		<tr>
			<th th:text="#{HQP_L_STOCK_OF_SUPPLY_PART}"></th><!-- Stock of Supply Parts -->
			<td id="STOCKP"></td>			
			<th th:text="#{HQP_L_BULLETIN}"></th><!-- Bulletin -->
			<td id="BULLETIN"></td>
		</tr>
		<tr>
			<th th:text="#{HQP_L_AM_DEV_PART}"></th><!-- AM Development Part -->
			<td id="AM_PART_NO" colspan="3"></td>			
		</tr>		
	</tbody>
</table>	
</div>

<div class="split-row"></div>
<div class="condition-area">
	<div class="condition-title">[[#{HQP_L_SUPPLY_PART_PRICE_INFO}]] <span id="WAERS"></span></div>
	<table class="condition table_fixed">
		<thead>
	        <tr>
	        	<th></th>
	        	<th th:text="#{HQP_L_PRICE_INFO_PRICE1}" class="center"></th><!-- Stock Order (SEA) -->
	            <th th:text="#{HQP_L_PRICE_INFO_PRICE2}" class="center"></th><!-- Emergency Order (AIR) -->
	            <th th:text="#{HQP_L_PRICE_INFO_PRICE3}" class="center"></th><!-- Machine Down Order (Courier) -->
	        </tr>
	     </thead>
	     <tbody>
	     	<tr>
	     		<td th:text="#{HQP_L_TOTAL}"></td>
	     		<td class="right" id="PRICE_INFO_11"></td>
	     		<td class="right" id="PRICE_INFO_12"></td>
	     		<td class="right" id="PRICE_INFO_13"></td>
	     	</tr>
	     	<tr>
	     		<td th:text="#{HQP_L_NET_PRICE}"></td>
	     		<td class="right" id="PRICE_INFO_21"></td>
	     		<td class="right" id="PRICE_INFO_22"></td>
	     		<td class="right" id="PRICE_INFO_23"></td>
	     	</tr>
	     	<tr>
	     		<td th:text="#{HQP_L_SURCHARGE}"></td>
	     		<td class="right" id="PRICE_INFO_31"></td>
	     		<td class="right" id="PRICE_INFO_32"></td>
	     		<td class="right" id="PRICE_INFO_33"></td>
	     	</tr>
	     	<tr>
	     		<td th:text="#{HQP_L_FREIGHT_COST}"></td>
	     		<td class="right" id="PRICE_INFO_41"></td>
	     		<td class="right" id="PRICE_INFO_42"></td>
	     		<td class="right" id="PRICE_INFO_43"></td>
	     	</tr>
	     </tbody>
	</table>	
</div>	
<script>
$(window).on("load", function() {
	ProgressBar.hide();
});

$(document).ready(function() {
	_setPartAutocomplete($("#pPartNo"), {
		select: function(label, value, event)
		{
			$("#pPartNo").val(value);
			doSearch();
		}
	});
});

function doSearch()
{
	if (JpUtilsString.isEmpty($("#pPartNo").val()))
	{
		alert("[[#{HQP_M_EMPTY_PART_NO}]]");
		$("#pPartNo").focus();
		return;
	}	
	
	JpUtilsAjax.get({
		url: "[[${BASE_PATH}]]/info/view/data",		
		data: {	"pPartNo": $("#pPartNo").val() },
		beforeSend: function(jqXHR, settings)
		{
			$("#pPartNo").val($("#pPartNo").val().toUpperCase());
			
			ProgressBar.show();
		},
	 	success: function(data, textStatus, jqXHR) 
    	{
	    	let result = data.RESULT;	    	
	    	let partInfo = result.partInfo;
	    	
	    	if (JpUtilsObject.isNull(partInfo))
	    	{
	    		alert("[[#{HQP_M_EMPTY_RESULT}]]");
	    		document.location.reload();
	    	};
	    	
	    	let uom = partInfo.MEINS;
	    	
			$("#MAKTX").html(partInfo.MAKTX);// Part No Desc
			$("#STOCK").html(partInfo.STOCK);// Stock
			$("#SVRCD").html(partInfo.SVRCD);// Serviceable
			
			// Not Service Reason
			let notcd = JpUtilsString.trimToEmpty(partInfo.NOTCD);
			$("#NOT_SERVICE_REASON").html("");
			
			if (JpUtilsString.isNotEmpty(notcd))
			{
				if (notcd == "MUL")
				{
					$("#AREA_notServiceReason").show();
				}
				else
				{
					$("#AREA_notServiceReason").hide();
				};
				
				$("#NOT_SERVICE_REASON").html(notcd + ":" + partInfo.NOTCD_T);
			};
			
			//Sales Lot
			$("#AUMNG").html(partInfo.AUMNG + " " + uom);

			// Model
			let model = JpUtilsString.trimToEmpty(partInfo.MDLNM);
			$("#M_MATNR").html("");
			$("#AREA_model").hide();

			if (JpUtilsString.isNotEmpty(model))
			{
				$("#M_MATNR").html(model);
				$("#AREA_model").show();
			};
			
			// Open Qty
			let openQty = JpUtilsString.trimToEmpty(partInfo.OPENQ);
			$("#KWMENG").html("");			
			
			if (JpUtilsString.isNotEmpty(openQty))
			{
				$("#KWMENG").html(openQty + " " + uom);	
			};
			
			// Net Weight
			$("#NTGEW").html(partInfo.NTGEW + " " + partInfo.GEWEI);

			// Purchase Lead Time
			$("#PLIFZ").html(partInfo.PLIFZ);			
			
			//Supply Part No.
			let supplyPartsNo = JpUtilsString.trimToEmpty(partInfo.SUPNR);
			$("#REPNR").html("");
			$("#AREA_substitution").hide();

			if (JpUtilsString.isNotEmpty(supplyPartsNo))
			{
				$("#REPNR").html(supplyPartsNo);
				$("#AREA_substitution").show();
			};
			
			//Stock of Supply Part
			let leadMes = $.trim(partInfo.LEAD_MES);
			if (leadMes != "")
			{
				$("#STOCKP").html(partInfo.STOCKP + " " + leadMes);
			}
			else
			{
				$("#STOCKP").html(partInfo.STOCKP);
			};
			
			//Bulletin
			$("#BULLETIN").html("");
			if (JpUtilsString.equals(partInfo.BULLETIN, "X"))
			{
				$("#BULLETIN").html("Y");
			};
			
			//AM Development Part
			$("#AM_PART_NO").html(JpUtilsString.trimToEmpty(partInfo.AM_PART_NO));
			
			$("#WAERS").html("(" + partInfo.WAERS + ")");
			
			$("#PRICE_INFO_11").html(JpUtilsString.trimToEmpty(partInfo.YUSO_TOT));
			$("#PRICE_INFO_12").html(JpUtilsString.trimToEmpty(partInfo.YUEO_TOT));
			$("#PRICE_INFO_13").html(JpUtilsString.trimToEmpty(partInfo.YUMO_TOT));
			
			$("#PRICE_INFO_21").html(JpUtilsString.trimToEmpty(partInfo.YUSO));
			$("#PRICE_INFO_22").html(JpUtilsString.trimToEmpty(partInfo.YUEO));
			$("#PRICE_INFO_23").html(JpUtilsString.trimToEmpty(partInfo.YUMO));
			
			$("#PRICE_INFO_31").html(JpUtilsString.trimToEmpty(partInfo.YUSO_P));
			$("#PRICE_INFO_32").html(JpUtilsString.trimToEmpty(partInfo.YUEO_P));
			$("#PRICE_INFO_33").html(JpUtilsString.trimToEmpty(partInfo.YUMO_P));
			
			$("#PRICE_INFO_41").html(JpUtilsString.trimToEmpty(partInfo.YUSO_F));
			$("#PRICE_INFO_42").html(JpUtilsString.trimToEmpty(partInfo.YUEO_F));
			$("#PRICE_INFO_43").html(JpUtilsString.trimToEmpty(partInfo.YUMO_F));			
    	},
    	complete: function(jqXHR, textStatus)
    	{
    		ProgressBar.hide();
    	}
	});				
}

//Search 버튼 클릭
$("#BTN_search").on("click", function(){
	doSearch(); 
});

$("#pPartNo").on("keydown", function(event) {
	if (event.keyCode == 13)
	{
		if ($.trim($("#pPartNo").val()) != "")
		{
			doSearch();	
		};
	};
});

//_showSubPartList() callback 함수
function _callbackSubPartList(partNo)
{
	$("#pPartNo").val(partNo);
	doSearch();
};
</script>
</th:block>								