<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{platform/layout/popup/index}">

<th:block layout:fragment="content">
<div class="ui one column grid">
	<div class="column">
		<div class="ui teal button BTN_modify"><i class="edit outline icon"></i> Modify</div>
	</div>
</div>
<div class="ui divider"></div>
<div class="ui segment">
	<div class="ui one column grid">
		<div class="column column-padding">
			<div class="ui dividing header small">Name
				<div class="sub header" th:text="${credentialsPolicy.name}"></div>		
			</div>
		</div>
		<div class="column column-padding">
			<div class="ui dividing header small">Description
				<div class="sub header" th:text="${credentialsPolicy.description}"></div>
			</div>
		</div>
		<div class="column column-padding">
			<div class="ui dividing header small">Use
				<div class="sub header" th:text="${credentialsPolicy.fgUse}"></div>
			</div>		
		</div>		
	</div>
	<div class="ui secondary pointing menu">
		<a class="active item" data-tab="username">Username</a>
		<a class="item" data-tab="password">Password</a>
	</div>
	<div class="ui tab attached segment teal active" data-tab="username">
		<div class="ui one column grid">
			<div class="column column-padding">
				<div class="ui dividing header small">Length
					<div class="sub header">
						<span th:if="${not #strings.isEmpty(credentialsPolicy.uMinLength)}" th:text="|Min.${credentialsPolicy.uMinLength}"/>
						<span th:if="${not #strings.isEmpty(credentialsPolicy.uMaxLength)}" th:text="|Min.${credentialsPolicy.uMaxLength}"/>
					</div>					
				</div>
			</div>
			<div class="column column-padding">
				<div class="ui dividing header small">Use Only Lower Case
					<div class="sub header" th:text="${credentialsPolicy.uFgOnlyLowercase}"></div>
				</div>
			</div>
			<div class="column column-padding">
				<div class="ui dividing header small">Lowercase
					<div class="sub header">
						<span th:if="${not #strings.isEmpty(credentialsPolicy.uMinLowercase)}" th:text="|Min.${credentialsPolicy.uMinLowercase}"/>
						<span th:if="${not #strings.isEmpty(credentialsPolicy.uMaxLowercase)}" th:text="|Min.${credentialsPolicy.uMaxLowercase}"/>
					</div>
				</div>
			</div>
			<div class="column column-padding">
				<div class="ui dividing header small">Use Only Upper Case
					<div class="sub header" th:text="${credentialsPolicy.uFgOnlyUppercase}"></div>
				</div>
			</div>
			<div class="column column-padding">
				<div class="ui dividing header small">Uppercase
					<div class="sub header">
						<span th:if="${not #strings.isEmpty(credentialsPolicy.uMinUppercase)}" th:text="|Min.${credentialsPolicy.uMinUppercase}"/>
						<span th:if="${not #strings.isEmpty(credentialsPolicy.uMaxUppercase)}" th:text="|Min.${credentialsPolicy.uMaxUppercase}"/>
					</div>					
				</div>
			</div>
			<div class="column column-padding">
				<div class="ui dividing header small">Number
					<div class="sub header">
						<span th:if="${not #strings.isEmpty(credentialsPolicy.uMinNumber)}" th:text="|Min.${credentialsPolicy.uMinNumber}"/>
						<span th:if="${not #strings.isEmpty(credentialsPolicy.uMaxNumber)}" th:text="|Min.${credentialsPolicy.uMaxNumber}"/>
					</div>					
				</div>
			</div>
			<div class="column column-padding">
				<div class="ui dividing header small">Special
					<div class="sub header">
						<span th:if="${not #strings.isEmpty(credentialsPolicy.uMinSpecial)}" th:text="|Min.${credentialsPolicy.uMinSpecial}"/>
						<span th:if="${not #strings.isEmpty(credentialsPolicy.uMaxSpecial)}" th:text="|Min.${credentialsPolicy.uMaxSpecial}"/>
					</div>					
				</div>
			</div>		
		</div>
	</div>	
	<div class="ui tab attached segment teal" data-tab="password">
		<div class="ui one column grid">
			<div class="column column-padding">
				<div class="ui dividing header small">Lowercase
					<div class="sub header">
						<span th:if="${not #strings.isEmpty(credentialsPolicy.pMinLength)}" th:text="|Min.${credentialsPolicy.pMinLength}"/>
						<span th:if="${not #strings.isEmpty(credentialsPolicy.pMaxLength)}" th:text="|Min.${credentialsPolicy.pMaxLength}"/>
					</div>
				</div>
			</div>
			<div class="column column-padding">
				<div class="ui dividing header small">Lowercase
					<div class="sub header">
						<span th:if="${not #strings.isEmpty(credentialsPolicy.pMinLowercase)}" th:text="|Min.${credentialsPolicy.pMinLowercase}"/>
						<span th:if="${not #strings.isEmpty(credentialsPolicy.pMaxLowercase)}" th:text="|Min.${credentialsPolicy.pMaxLowercase}"/>
					</div>
				</div>				
			</div>
			<div class="column column-padding">
				<div class="ui dividing header small">Lowercase
					<div class="sub header">
						<span th:if="${not #strings.isEmpty(credentialsPolicy.pMinUppercase)}" th:text="|Min.${credentialsPolicy.pMinUppercase}"/>
						<span th:if="${not #strings.isEmpty(credentialsPolicy.pMaxUppercase)}" th:text="|Min.${credentialsPolicy.pMaxUppercase}"/>
					</div>
				</div>
			</div>
			<div class="column column-padding">
				<div class="ui dividing header small">Lowercase
					<div class="sub header">
						<span th:if="${not #strings.isEmpty(credentialsPolicy.pMinNumber)}" th:text="|Min.${credentialsPolicy.pMinNumber}"/>
						<span th:if="${not #strings.isEmpty(credentialsPolicy.pMaxNumber)}" th:text="|Min.${credentialsPolicy.pMaxNumber}"/>
					</div>
				</div>
			</div>
			<div class="column column-padding">
				<div class="ui dividing header small">Lowercase
					<div class="sub header">
						<span th:if="${not #strings.isEmpty(credentialsPolicy.pMinSpecial)}" th:text="|Min.${credentialsPolicy.pMinSpecial}"/>
						<span th:if="${not #strings.isEmpty(credentialsPolicy.pMaxSpecial)}" th:text="|Min.${credentialsPolicy.pMaxSpecial}"/>
					</div>
				</div>
			</div>
			<div class="column column-padding">
				<div class="ui dividing header small">Password Valid Period
					<div class="sub header">
						<span th:if="${not #strings.isEmpty(credentialsPolicy.pValidPeriod)}" th:text="|${credentialsPolicy.pValidPeriod} Days|"/>
					</div>
				</div>
			</div>			
			<div class="column column-padding">
				<div class="ui dividing header small">Use Password Failure Penalty
					<div class="sub header" th:text="${credentialsPolicy.fgUsePwdFailPenalty}"></div>
				</div>
			</div>
			<div class="column column-padding">
				<div class="ui dividing header small">Allowable Failure Count
					<div class="sub header">
						<span th:if="${not #strings.isEmpty(credentialsPolicy.pAllowableFailCount)}" th:text="|${credentialsPolicy.pAllowableFailCount} times|"/>
					</div>
				</div>
			</div>
			<div class="column column-padding">
				<div class="ui dividing header small">Checking Duration
					<div class="sub header">
						<span th:if="${not #strings.isEmpty(credentialsPolicy.pFailCheckDuration)}" th:text="|${credentialsPolicy.pFailCheckDuration} Sec.|"/>
					</div>
				</div>
			</div>
			<div class="column column-padding">
				<div class="ui dividing header small">Freezing Duration
					<div class="sub header">
						<span th:if="${not #strings.isEmpty(credentialsPolicy.pFreezingDuration)}" th:text="|${credentialsPolicy.pFreezingDuration} Sec.|"/>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ui divider"></div>
	<div class="ui one column grid">
		<div class="column">
			<div class="ui teal button BTN_modify"><i class="edit outline icon"></i> Modify</div>
		</div>
	</div>		
</div>
<script>
//팝업 Title
const POPUP_TITLE = "Credentials Policy";

$(document).ready(function() {
	$(".menu .item").tab();
	
	$(".BTN_modify").on("click", function() {
		document.location.href = JpUtilsPath.url("/platform/mgmt/user/credentials/policy/write?cpSeq=[[${cpSeq}]]");
	});
});
</script>
</th:block>
</html>