<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{platform/layout/popup/index}">

<th:block layout:fragment="content">
<div class="ui one column grid">
	<div class="column">
		<div class="ui teal button BTN_modify"><i class="edit outline icon"></i> Modify</div>
	</div>
</div>
<div class="ui divider"></div>
<div class="ui segment">
	<div class="ui one column grid">
		<div class="column column-padding">
			<div class="ui dividing header small">Name
				<div class="sub header" th:text="${credentialsPolicy.name}"></div>		
			</div>
		</div>
		<div class="column column-padding">
			<div class="ui dividing header small">Description
				<div class="sub header" th:text="${credentialsPolicy.description}"></div>
			</div>
		</div>
		<div class="column column-padding">
			<div class="ui dividing header small">Use
				<div class="sub header" th:text="${credentialsPolicy.fgUse}"></div>
			</div>		
		</div>		
	</div>
	<div class="ui secondary pointing menu">
		<a class="active item" data-tab="username">Username</a>
		<a class="item" data-tab="password">Password</a>
	</div>
	<div class="ui tab attached segment teal active" data-tab="username">
		<div class="ui one column grid">
			<div class="column column-padding">
				<div class="ui dividing header small">Length
					<div class="sub header">
						<span th:if="${not #strings.isEmpty(credentialsPolicy.uminLength)}" th:text="|Min.${credentialsPolicy.uminLength}"/>
						<span th:if="${not #strings.isEmpty(credentialsPolicy.umaxLength)}" th:text="|Max.${credentialsPolicy.umaxLength}"/>
					</div>					
				</div>
			</div>
			<div class="column column-padding">
				<div class="ui dividing header small">Use Only Lower Case
					<div class="sub header" th:text="${credentialsPolicy.ufgOnlyLowercase}"></div>
				</div>
			</div>
			<div class="column column-padding">
				<div class="ui dividing header small">Lowercase
					<div class="sub header">
						<span th:if="${not #strings.isEmpty(credentialsPolicy.uminLowercase)}" th:text="|Min.${credentialsPolicy.uminLowercase}"/>
						<span th:if="${not #strings.isEmpty(credentialsPolicy.umaxLowercase)}" th:text="|Max.${credentialsPolicy.umaxLowercase}"/>
					</div>
				</div>
			</div>
			<div class="column column-padding">
				<div class="ui dividing header small">Use Only Upper Case
					<div class="sub header" th:text="${credentialsPolicy.ufgOnlyUppercase}"></div>
				</div>
			</div>
			<div class="column column-padding">
				<div class="ui dividing header small">Uppercase
					<div class="sub header">
						<span th:if="${not #strings.isEmpty(credentialsPolicy.uminUppercase)}" th:text="|Min.${credentialsPolicy.uminUppercase}"/>
						<span th:if="${not #strings.isEmpty(credentialsPolicy.umaxUppercase)}" th:text="|Max.${credentialsPolicy.umaxUppercase}"/>
					</div>					
				</div>
			</div>
			<div class="column column-padding">
				<div class="ui dividing header small">Number
					<div class="sub header">
						<span th:if="${not #strings.isEmpty(credentialsPolicy.uminNumber)}" th:text="|Min.${credentialsPolicy.uminNumber}"/>
						<span th:if="${not #strings.isEmpty(credentialsPolicy.umaxNumber)}" th:text="|Max.${credentialsPolicy.umaxNumber}"/>
					</div>					
				</div>
			</div>
			<div class="column column-padding">
				<div class="ui dividing header small">Special
					<div class="sub header">
						<span th:if="${not #strings.isEmpty(credentialsPolicy.uminSpecial)}" th:text="|Min.${credentialsPolicy.uminSpecial}"/>
						<span th:if="${not #strings.isEmpty(credentialsPolicy.umaxSpecial)}" th:text="|Max.${credentialsPolicy.umaxSpecial}"/>
					</div>					
				</div>
			</div>		
		</div>
	</div>	
	<div class="ui tab attached segment teal" data-tab="password">
		<div class="ui one column grid">
			<div class="column column-padding">
				<div class="ui dividing header small">Lowercase
					<div class="sub header">
						<span th:if="${not #strings.isEmpty(credentialsPolicy.pminLength)}" th:text="|Min.${credentialsPolicy.pminLength}"/>
						<span th:if="${not #strings.isEmpty(credentialsPolicy.pmaxLength)}" th:text="|Max.${credentialsPolicy.pmaxLength}"/>
					</div>
				</div>
			</div>
			<div class="column column-padding">
				<div class="ui dividing header small">Lowercase
					<div class="sub header">
						<span th:if="${not #strings.isEmpty(credentialsPolicy.pminLowercase)}" th:text="|Min.${credentialsPolicy.pminLowercase}"/>
						<span th:if="${not #strings.isEmpty(credentialsPolicy.pmaxLowercase)}" th:text="|Max.${credentialsPolicy.pmaxLowercase}"/>
					</div>
				</div>				
			</div>
			<div class="column column-padding">
				<div class="ui dividing header small">Lowercase
					<div class="sub header">
						<span th:if="${not #strings.isEmpty(credentialsPolicy.pminUppercase)}" th:text="|Min.${credentialsPolicy.pminUppercase}"/>
						<span th:if="${not #strings.isEmpty(credentialsPolicy.pmaxUppercase)}" th:text="|Max.${credentialsPolicy.pmaxUppercase}"/>
					</div>
				</div>
			</div>
			<div class="column column-padding">
				<div class="ui dividing header small">Lowercase
					<div class="sub header">
						<span th:if="${not #strings.isEmpty(credentialsPolicy.pminNumber)}" th:text="|Min.${credentialsPolicy.pminNumber}"/>
						<span th:if="${not #strings.isEmpty(credentialsPolicy.pmaxNumber)}" th:text="|Max.${credentialsPolicy.pmaxNumber}"/>
					</div>
				</div>
			</div>
			<div class="column column-padding">
				<div class="ui dividing header small">Lowercase
					<div class="sub header">
						<span th:if="${not #strings.isEmpty(credentialsPolicy.pminSpecial)}" th:text="|Min.${credentialsPolicy.pminSpecial}"/>
						<span th:if="${not #strings.isEmpty(credentialsPolicy.pmaxSpecial)}" th:text="|Max.${credentialsPolicy.pmaxSpecial}"/>
					</div>
				</div>
			</div>
			<div class="column column-padding">
				<div class="ui dividing header small">Password Valid Period
					<div class="sub header">
						<span th:if="${not #strings.isEmpty(credentialsPolicy.pvalidPeriod)}" th:text="|${credentialsPolicy.pvalidPeriod} Days|"/>
					</div>
				</div>
			</div>			
			<div class="column column-padding">
				<div class="ui dividing header small">Use Password Failure Penalty
					<div class="sub header" th:text="${credentialsPolicy.fgUsePwdFailPenalty}"></div>
				</div>
			</div>
			<div class="column column-padding">
				<div class="ui dividing header small">Allowable Failure Count
					<div class="sub header">
						<span th:if="${not #strings.isEmpty(credentialsPolicy.pallowableFailCount)}" th:text="|${credentialsPolicy.pallowableFailCount} times|"/>
					</div>
				</div>
			</div>
			<div class="column column-padding">
				<div class="ui dividing header small">Checking Duration
					<div class="sub header">
						<span th:if="${not #strings.isEmpty(credentialsPolicy.pfailCheckDuration)}" th:text="|${credentialsPolicy.pfailCheckDuration} Sec.|"/>
					</div>
				</div>
			</div>
			<div class="column column-padding">
				<div class="ui dividing header small">Freezing Duration
					<div class="sub header">
						<span th:if="${not #strings.isEmpty(credentialsPolicy.pfreezingDuration)}" th:text="|${credentialsPolicy.pfreezingDuration} Sec.|"/>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ui divider"></div>
	<div class="ui one column grid">
		<div class="column">
			<div class="ui teal button BTN_modify"><i class="edit outline icon"></i> Modify</div>
		</div>
	</div>		
</div>
<script>
//팝업 Title
const POPUP_TITLE = "Credentials Policy";

$(document).ready(function() {
	$(".menu .item").tab();
	
	$(".BTN_modify").on("click", function() {
		document.location.href = JpUtilsPath.url("/platform/mgmt/user/credentials/policy/write?cpSeq=[[${cpSeq}]]");
	});
});
</script>
</th:block>
</html>