<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{platform/layout/popup/index}">

<th:block layout:fragment="content">
<form id="FORM_write" class="ui form" autocomplete="off" onsubmit="return false;">
<input type="hidden" id="cpSeq" name="cpSeq" th:value="${credentialsPolicy.cpSeq}"/>
<input type="hidden" id="mode" name="mode" th:value="${mode}"/>
<div class="ui one column grid">
	<div class="column">
		<div class="ui teal button BTN_save"><i class="check icon"></i> Save</div>
		<div class="ui button BTN_back"><i class="arrow left icon"></i> Back</div>
	</div>
</div>
<div class="ui divider"></div>
<div class="ui segment">
	<div class="field">
		<label class="required">Name</label>
		<input type="text" name="name" th:value="${credentialsPolicy.name}" class="uppercase"/>
	</div>
	<div class="field">
		<label>Description</label>
		<textarea name="description" th:text="${credentialsPolicy.description}" rows="3"></textarea>
	</div>
	<div class="field">
		<div class="ui checkbox">
			<input type="checkbox" name="fgUse" class="hidden" th:value="${T(org.jwebppy.platform.core.PlatformCommonVo).YES}" th:checked="${credentialsPolicy.fgUse == T(org.jwebppy.platform.core.PlatformCommonVo).YES}" >
			<label>Use</label>
		</div>
	</div>
	<div class="field" th:if="${isShowFgDefault}">
		<div class="ui checkbox">
			<input type="checkbox" name="fgDefault" class="hidden" th:value="${T(org.jwebppy.platform.core.PlatformCommonVo).YES}" th:checked="${credentialsPolicy.fgDefault == T(org.jwebppy.platform.core.PlatformCommonVo).YES}" >
			<label>Default</label>
		</div>
	</div>	
	<div class="ui secondary pointing menu">
		<a class="active item" data-tab="username">Username</a>
		<a class="item" data-tab="password">Password</a>
	</div>
	<div class="ui tab attached segment teal active" data-tab="username">
		<div class="field">
			<label class="required">Length</label>
			<div class="fields">
				<div class="eight wide field">
					<input type="number" name="uMinLength" th:value="${credentialsPolicy.uMinLength}" placeholder="Min."/>
				</div>
				<div class="eight wide field">
					<input type="number" name="uMaxLength" th:value="${credentialsPolicy.uMaxLength}" placeholder="Max."/>
				</div>
			</div>
		</div>
		<div class="field">
			<div class="ui checkbox u-fg-only-lowercase">
				<input type="checkbox" name="uFgOnlyLowercase" class="hidden" th:value="${T(org.jwebppy.platform.core.PlatformCommonVo).YES}" th:checked="${credentialsPolicy.uFgOnlyLowercase == T(org.jwebppy.platform.core.PlatformCommonVo).YES}" >
				<label>Use Only Lower Case</label>
			</div>
		</div>
		<div class="field">
			<label>Lowercase</label>
			<div class="fields">
				<div class="eight wide field">
					<input type="number" id="uMinLowercase" name="uMinLowercase" th:value="${credentialsPolicy.uMinLowercase}" placeholder="Min."/>
				</div>
				<div class="eight wide field">
					<input type="number" id="uMaxLowercase" name="uMaxLowercase" th:value="${credentialsPolicy.uMaxLowercase}" placeholder="Max."/>
				</div>
			</div>
		</div>
		<div class="field">
			<div class="ui checkbox uFgOnlyUppercase">
				<input type="checkbox" name="uFgOnlyUppercase" class="hidden" th:value="${T(org.jwebppy.platform.core.PlatformCommonVo).YES}" th:checked="${credentialsPolicy.uFgOnlyUppercase == T(org.jwebppy.platform.core.PlatformCommonVo).YES}" >
				<label>Use Only Upper Case</label>
			</div>
		</div>		
		<div class="field">
			<label>Uppercase</label>
			<div class="fields">
				<div class="eight wide field">
					<input type="number" id="uMinUppercase" name="uMinUppercase" th:value="${credentialsPolicy.uMinUppercase}" placeholder="Min."/>
				</div>
				<div class="eight wide field">
					<input type="number" id="uMaxUppercase" name="uMaxUppercase" th:value="${credentialsPolicy.uMaxUppercase}" placeholder="Max."/>
				</div>
			</div>
		</div>
		<div class="field">
			<label>Number</label>
			<div class="fields">
				<div class="eight wide field">
					<input type="number" name="uMinNumber" th:value="${credentialsPolicy.uMinNumber}" placeholder="Min."/>
				</div>
				<div class="eight wide field">
					<input type="number" name="uMaxNumber" th:value="${credentialsPolicy.uMaxNumber}" placeholder="Max."/>
				</div>
			</div>
		</div>
		<div class="field">
			<label>Special</label>
			<div class="fields">
				<div class="eight wide field">
					<input type="number" name="uMinSpecial" th:value="${credentialsPolicy.uMinSpecial}" placeholder="Min."/>
				</div>
				<div class="eight wide field">
					<input type="number" name="uMaxSpecial" th:value="${credentialsPolicy.uMaxSpecial}" placeholder="Max."/>
				</div>
			</div>
		</div>
	</div>	
	<div class="ui tab attached segment teal" data-tab="password">
		<div class="field">
			<label class="required">Length</label>
			<div class="fields">
				<div class="eight wide field">
					<input type="number" name="pMinLength" th:value="${credentialsPolicy.pMinLength}" placeholder="Min."/>
				</div>
				<div class="eight wide field">
					<input type="number" name="pMaxLength" th:value="${credentialsPolicy.pMaxLength}" placeholder="Max."/>
				</div>
			</div>
		</div>
		<div class="field">
			<label>Lowercase</label>
			<div class="fields">
				<div class="eight wide field">
					<input type="number" name="pMinLowercase" th:value="${credentialsPolicy.pMinLowercase}" placeholder="Min."/>
				</div>
				<div class="eight wide field">
					<input type="number" name="pMaxLowercase" th:value="${credentialsPolicy.pMaxLowercase}" placeholder="Max."/>
				</div>
			</div>
		</div>
		<div class="field">
			<label>Uppercase</label>
			<div class="fields">
				<div class="eight wide field">
					<input type="number" name="pMinUppercase" th:value="${credentialsPolicy.pMinUppercase}" placeholder="Min."/>
				</div>
				<div class="eight wide field">
					<input type="number" name="pMaxUppercase" th:value="${credentialsPolicy.pMaxUppercase}" placeholder="Max."/>
				</div>
			</div>
		</div>
		<div class="field">
			<label>Number</label>
			<div class="fields">
				<div class="eight wide field">
					<input type="number" name="pMinNumber" th:value="${credentialsPolicy.pMinNumber}" placeholder="Min."/>
				</div>
				<div class="eight wide field">
					<input type="number" name="pMaxNumber" th:value="${credentialsPolicy.pMaxNumber}" placeholder="Max."/>
				</div>
			</div>
		</div>
		<div class="field">
			<label>Special</label>
			<div class="fields">
				<div class="eight wide field">
					<input type="number" name="pMinSpecial" th:value="${credentialsPolicy.pMinSpecial}" placeholder="Min."/>
				</div>
				<div class="eight wide field">
					<input type="number" name="pMaxSpecial" th:value="${credentialsPolicy.pMaxSpecial}" placeholder="Max."/>
				</div>
			</div>
		</div>
		<div class="field">
			<label>Password Valid Period (Days)</label>
			<input type="number" name="pValidPeriod" min="0" oninput="validity.valid||(value='');" th:value="${credentialsPolicy.pValidPeriod}" placeholder="Days"/>
		</div>		
		<div class="field">
			<div class="ui checkbox p-fg-use-pwd-fail-penalty">
				<input type="checkbox" name="fgUsePwdFailPenalty" class="hidden" th:value="${T(org.jwebppy.platform.core.PlatformCommonVo).YES}" th:checked="${credentialsPolicy.fgUsePwdFailPenalty == T(org.jwebppy.platform.core.PlatformCommonVo).YES}" >
				<label>Use Password Failure Penalty</label>
			</div>
		</div>
		<div class="fields">
			<div class="six wide field">
				<label>Allowable Failure Count</label>
				<div class="field">
					<input type="number" name="pAllowableFailCount" th:value="${credentialsPolicy.pAllowableFailCount}" placeholder="Count"/>
				</div>
			</div>
			<div class="five wide field">
				<label>Checking Duration(sec.)</label>
				<div class="field">
					<input type="number" name="pFailCheckDuration" th:value="${credentialsPolicy.pFailCheckDuration}" placeholder="Duration(Sec.)"/>
				</div>
			</div>
			<div class="five wide field">
				<label>Freezing Duration(sec.)</label>
				<div class="field">
					<input type="number" name="pFreezingDuration" th:value="${credentialsPolicy.pFreezingDuration}" placeholder="Duration(Sec.)"/>
				</div>
			</div>	
		</div>
	</div>
	<div class="ui divider"></div>
	<div class="ui one column grid">
		<div class="column">
			<div class="ui teal button BTN_save"><i class="check icon"></i> Save</div>
			<div class="ui button BTN_back"><i class="arrow left icon"></i> Back</div>
		</div>
	</div>		
</div>
</form>
<script>
//팝업 Title
const POPUP_TITLE = "Credentials Policy";

$(document).ready(function() {
	if (JpUtilsString.equals($("#mode").val(), "copy"))
	{
		$("#cpSeq").val("");
	};	
	
	$(".menu .item").tab();
	$(".ui.checkbox").checkbox();
	
	$(".ui.checkbox.u-fg-only-lowercase").checkbox({
		onChecked: function()
		{
			enabledUsernameOnlyLowercase(true);
		},
		onUnchecked: function()
		{
			enabledUsernameOnlyLowercase(false);
		}
	});
	
	$(".ui.checkbox.u-fg-only-uppercase").checkbox({
		onChecked: function()
		{
			enabledUsernameOnlyUppercase(true);
		},
		onUnchecked: function()
		{
			enabledUsernameOnlyUppercase(false);
		}
	});
	
	function enabledUsernameOnlyLowercase(isEnabled)
	{
		if (isEnabled)
		{
			$(".ui.checkbox.u-fg-only-uppercase").checkbox("uncheck").checkbox("set disabled");
			clickUsernameOnlyLowercase(true);
			clickUsernameOnlyUppercase(true);			
		}
		else
		{
			$(".ui.checkbox.u-fg-only-uppercase").checkbox("uncheck").checkbox("set enabled");
			clickUsernameOnlyLowercase(false);
			clickUsernameOnlyUppercase(false);			
		};
	};
	
	function enabledUsernameOnlyUppercase(isEnabled)
	{
		if (isEnabled)
		{
			$(".ui.checkbox.u-fg-only-lowercase").checkbox("uncheck").checkbox("set disabled");;
			clickUsernameOnlyLowercase(true);
			clickUsernameOnlyUppercase(true);			
		}
		else
		{
			$(".ui.checkbox.u-fg-only-lowercase").checkbox("uncheck").checkbox("set enabled");;
			clickUsernameOnlyLowercase(false);
			clickUsernameOnlyUppercase(false);			
		};
	};
	
	function clickUsernameOnlyLowercase(isChecked)
	{
		if (isChecked)
		{
			$("#uMinLowercase").attr("disabled", true).val("");
			$("#uMaxLowercase").attr("disabled", true).val("");			
		}
		else
		{
			$("#uMinLowercase").attr("disabled", false);
			$("#uMaxLowercase").attr("disabled", false);
		};
	};
	
	function clickUsernameOnlyUppercase(isChecked)
	{
		if (isChecked)
		{
			$("#uMinUppercase").attr("disabled", true).val("");
			$("#uMaxUppercase").attr("disabled", true).val("");			
		}
		else
		{
			$("#uMinUppercase").attr("disabled", false);
			$("#uMaxUppercase").attr("disabled", false);			
		};
	};
	
	$(".ui.checkbox.p-fg-use-pwd-fail-penalty").checkbox({
		onChecked: function()
		{
			$("input[name=pAllowableFailCount], input[name=pFailCheckDuration], input[name=pFreezingDuration]").attr("disabled", false);
		},
		onUnchecked: function()
		{
			let obj = $("input[name=pAllowableFailCount], input[name=pFailCheckDuration], input[name=pFreezingDuration]"); 
			let field = obj.closest(".field")
			
			field.removeClass("error");
			field.find(".prompt").remove();
			
			obj.attr("disabled", true).val("");
		}
	});	
	
	$("#FORM_write").form(formValidCheck);
	
	$(".BTN_save").on("click", function() {
		if ($("#FORM_write").form("validate form"))
		{
			JpUtilsAjax.post({
				url: "/platform/mgmt/user/credentials/policy/save",
				data: $("#FORM_write").serialize(),
				success: function(data, textStatus, jqXHR)
				{
					if (data.RESULT > 0)
					{
						try
						{
							opener.doSearch();
						}
						catch (e) {}
						
						goBack();
					};
				}
			});
		};			
	});
	
	if (JpUtilsString.equals("[[${credentialsPolicy.uFgOnlyLowercase}]]", "Y"))
	{
		enabledUsernameOnlyLowercase(true);
	};
	
	if (JpUtilsString.equals("[[${credentialsPolicy.uFgOnlyUppercase}]]", "Y"))
	{
		enabledUsernameOnlyUppercase(true);
	};
	
	$(".BTN_back").on("click", function() {
		goBack();
	});
	
	function goBack()
	{
		document.location.href = JpUtilsPath.url("/platform/mgmt/user/credentials/policy/view?cpSeq=[[${cpSeq}]]");		
	};
});

let formValidCheck = {
		inline: true,
		fields: {
			Name: {
				identifier: "name",
				rules: [
					{
						type: "empty",
						prompt: "Please enter Name."
					},
					{
						type: "checkName",
						prompt: "The name is not available. Please enter another one."
					}					
				]
			},
			uMinLength: {
				identifier: "uMinLength",
				rules: [
					{
						type: "empty",
						prompt: "Please enter a minimum length of username."
					}
				]
			},
			uMaxLength: {
				identifier: "uMaxLength",
				rules: [
					{
						type: "empty",
						prompt: "Please enter a maximum length of username."
					}
				]
			},
			pMinLength: {
				identifier: "pMinLength",
				rules: [
					{
						type: "empty",
						prompt: "Please enter a minimum length of password."
					}
				]
			},
			pMaxLength: {
				identifier: "pMaxLength",
				rules: [
					{
						type: "empty",
						prompt: "Please enter a maximum length of password."
					}
				]
			},
			pAllowableFailCount: {
				identifier: "pAllowableFailCount",
				rules: [
					{
						type: "checkAllowableFailCount",
						prompt: "Please input Allowable Failure Count."
					}
				]
			},
			pFailCheckDuration: {
				identifier: "pFailCheckDuration",
				rules: [
					{
						type: "checkFailCheckDuration",
						prompt: "Please input Check Duration(sec.)."
					}
				]
			},
			pFreezingDuration: {
				identifier: "pFreezingDuration",
				rules: [
					{
						type: "checkFreezingDuration",
						prompt: "Please input Freezing Duration(sec.)."
					}
				]
			}
		},
		keyboardShortcuts: false
};

$.fn.form.settings.rules.checkName = function() {
	let name = $("#FORM_write input[name=name]").val();
	
	if (JpUtilsString.isEmpty(name))
	{
		return false;		
	};
	
	let isValid = false;
	
	JpUtilsAjax.get({
		url: "/platform/mgmt/user/credentials/policy/check/valid_name",
		data: { cpSeq: $("#cpSeq").val(), name: name },
		global: false,
		async: false,
		success: function(data, textStatus, jqXHR)
		{
			let result = data.RESULT;
			
			if (result == "S")
			{
				isValid = true;
			};
		}
	});

	return isValid;	
};

function isCheckedPwdFailPenalty()
{
	return $(".ui.checkbox.p-fg-use-pwd-fail-penalty").checkbox("is checked");
};

$.fn.form.settings.rules.checkAllowableFailCount = function() {
	if (isCheckedPwdFailPenalty() && JpUtilsString.isEmpty($("input[name=pAllowableFailCount]").val()))
	{
		return false;		
	};
		
	return true;
};

$.fn.form.settings.rules.checkFailCheckDuration = function() {
	if (isCheckedPwdFailPenalty() && JpUtilsString.isEmpty($("input[name=pFailCheckDuration]").val()))
	{
		return false;		
	};
		
	return true;
};

$.fn.form.settings.rules.checkFreezingDuration = function() {
	if (isCheckedPwdFailPenalty() && JpUtilsString.isEmpty($("input[name=pFreezingDuration]").val()))
	{
		return false;		
	};
		
	return true;
};	
</script>
</th:block>
</html>