<!DOCTYPE html>  
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/hq/parts/popup/index}">  

<th:block layout:fragment="content">
	<style>
	.pop-bottom {
		width:100%;
		height:45px;
		padding: 10px 5px 5px 10px;
		background-color: #000;
		position:fixed;
		bottom: 0px;
	}
	.pop-bottom label {
		color:#fff;
	}
	
	.pop-bottom label.link {color: #fff; cursor: pointer;}
	.pop-bottom label.link:hover {text-decoration: underline; color: #00a779; cursor: pointer;}
	
	.pop-top {
		border-top: 6px solid #003081;
	}
	</style>
	<script src="/editor_html5/js/xfe_main.js"></script>
	
	<div class="condition-area">
		<form id="FORM_search" th:action="|${BASE_PATH}/promotion/list|" >
		<input type="hidden" name="pSeq" th:value="*{pSeq}"/>
	
		<table class="condition table-fixed">
			<tbody>
				<tr>
					<th style="width: 100px;" ><span th:text="#{HQP_L_TITLE}"></span></th>
					<td th:text="${promotion.title}"/>
				</tr>
				<tr>
					<td colspan="2"><div id="xfe"></div></td>
				</tr>
				<tr th:style="${promotion?.uploadFileLists2.size() == 0 ? 'display:none;' : ''}">
					<th th:text="#{HQP_L_ATTACHMENT}"/>
					<td >
						<div th:each="uploadFileList : ${promotion.uploadFileLists2}">
							<a class="link" th:text="${uploadFileList.fullOriginName}" th:downloadKey="${uploadFileList.downloadKey}"></a><div class='split2'></div><span th:text="${uploadFileList.displayFileSize}"></span>
						</div>
					</td>
				</tr>
				<tr th:style="${promotion?.promotionItems.size() == 0 ? 'display:none;' : ''}">
					<th th:text="대상자재"/>
					<td >
						<div class="split-row-more-compact"></div>
						<button id="BTN_checkAll" type="button" th:text="#{HQP_B_SELECT_ALL}" class="small_button"></button>
						<button id="BTN_order" type="button" th:text="#{HQP_B_ORDER2}" class="small_button"></button>
						<button id="BTN_cart" type="button" th:text="장바구니담기" class="small_button"></button>
						<div class="split-row-more-compact"></div>
						<div style="display: block; height: 1px; background-color: #cccccc; margin-top:2px; margin-bottom:2px;"></div>
						<div th:each="promotionItem : ${promotion.promotionItems}">
							<!--<span th:text="${promotionItem.materialNo}"></span><div class='split2'></div><span th:text="부품명"></span>-->
							<input type="checkbox" name="materialChk" class="custom-ui visible-item" th:value="${promotionItem.materialNo}" />
							<label class="dealer-code" th:text="${promotionItem.materialNo}"></label><div class='split2'></div><span th:text="${promotionItem.materialText}"></span>
						</div>				
					</td>
				</tr>
			</tbody>
		</table>
		</form>
	</div>
	<div id="bottom" class="pop-bottom">	
		<div style="float: right;"><button id="BTN_close" type="button" th:text="#{HQP_B_CLOSE}"></button></div>	
	</div>
	<textarea id="htmlContent" th:text="${promotion?.htmlContent}" style="display:none;"></textarea>
<script>
$(window).on("load", function() {
	$("#xfe").height($(".xfeViewFrame ").contents().height() + $(".split-row.topbd").outerHeight(true));
	
	ProgressBar.hide();
});
/*
 * 에디터 생성.
 * 
 * basePath : 에디터 모듈이 있는 폴더의 Url 경로를 적어줍니다. (필수)
 * width : 에디터의 너비
 * height : 에디터의 높이
 * onLoad : 에디터 초기 로드 이벤트				 
 */	
let xfe = new XFE({
	basePath: "[[@{/editor_html5}]]",
	viewMode: true,
    viewModeOptions: {
    	borderWidth: "0px"
    },
	onLoad: function() {
		xfe.setBodyValue($("#htmlContent").val());
	}
});

xfe.render("xfe");

$("#BTN_close").on("click", function() {
	window.close();
});

$("#BTN_checkAll").on("click", function() {	
	let isCheckAll = $(this).prop("isCheckAll") ? false : true;
	
	$("input[name=materialChk]").prop("checked", isCheckAll);
	
	$(this).prop("isCheckAll", isCheckAll);	
});

$("#BTN_order").on("click", function() {
	if(0==$("input[name=materialChk]:checked").length)
	{
		alert("주문 대상자재를 선택해 주세요.");
		return;
	};
	
	let materialNos = new Array();
	
	$("input[name=materialChk]:checked").each(function (index) {
		materialNos[index] = $(this).val();
	});
	
	try
	{
		window.opener.Promotion.order(materialNos);
		window.close();
	}
	catch (e) {}
});

$("#BTN_cart").on("click", function() {
	if(0==$("input[name=materialChk]:checked").length)
	{
		alert("장바구니에 담을 대상자재를 선택해 주세요.");
		return;
	};
	
	let materialNos = new Array();
	
	$("input[name=materialChk]:checked").each(function (index) {
		materialNos[index] = $(this).val();
	});
	
	console.log('materialNos', materialNos);
	
	try
	{
		JpUtilsAjax.post({
			url: "/portal/iv/hq/parts/cart/add",
			data: {"materialNos" : materialNos.join(",")},
			beforeSend: function(jqXHR, settings)
			{
				ProgressBar.show();
			},			
		    success: function(response, textStatus, jqXHR)
		    {
		    	if (confirm("장바구니에 자재를 담았습니다. \n 장바구니로 이동하시겠습니까?"))
				{
					window.opener.location.href = "/portal/iv/hq/parts/cart/list";
					window.close();
				}
		    },
		    complete: function(jqXHR, textStatus)
	    	{
	    		ProgressBar.hide();
	    	}
		});
		
	}
	catch (e) { console.log('error', e); }
});


$("a[downloadKey]").on("click", function() {					
	PortalFileDownload.download($(this).attr("downloadKey"));
});	
</script>
</th:block>