<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/hq/parts/popup/index}">	
<th:block layout:fragment="content">
<div class="block-header">
	<div class="block-title" th:text="#{HQP_T_ACCOUNT_INFO}"></div>
	<div class="block-button-area">
		<button id="BTN_save" type="button" th:text="#{HQP_B_SAVE}"></button>
	</div>
</div>
<div class="condition-area">
	<form id="FORM_password" method="post" autocomplete="off" onsubmit="return false;">
	<table class="condition table-fixed">
		<tr>
			<th style="width:200px;"><div th:text="#{HQP_L_CURRENT_PASSWORD}"></div><img src="/portal/img/icon/required.png" class="required" /></th>
			<td><input type="password" class="custom-ui" id="password" name="password" autofocus></td>
		</tr>		
		<tr>
			<th><div th:text="#{HQP_L_NEW_PASSWORD}"></div><img src="/portal/img/icon/required.png" class="required" /></th>
			<td><input type="password" class="custom-ui" id="newPassword" name="newPassword"></td>
		</tr>		
		<tr>
			<th><div th:text="#{HQP_L_CONFIRM_PASSWORD}"></div><img src="/portal/img/icon/required.png" class="required" /></th>
			<td><input type="password" class="custom-ui" id="confirmPassword" name="confirmPassword"></td>
		</tr>
		<tr>
			<th><div th:text="#{HQP_B_LANGUAGE}"></div><img src="/portal/img/icon/required.png" class="required" /></th>
			<td>
				<select id="language" name="language" class="custom-ui">
					<option value="en">English</option>
				</select>
			</td>
		</tr>		
	</table>
	</form>
</div>	
<script>
let INDEX_URL = "[[${T(org.jwebppy.portal.common.PortalConfigVo).INDEX_URL}]]";

$(window).on("load", function() {
	ProgressBar.hide();
});

$("input:password").on("keydown", function (e) {
	if (e.keyCode == 13)
	{
		doSubmit();
	};
});

function checkForm()
{
	if (JpUtilsString.isEmpty($("#password").val()))
	{
		alert("[[#{PTL_M_LOGIN_EMPTY_PWD}]]");
		$("#password").focus();
					
		return false;				
	}
	else if (JpUtilsString.isEmpty($("#newPassword").val()))
	{
		alert("[[#{PTL_M_EMPTY_NEW_PWD}]]");
		$("#newPassword").focus();
		
		return false;
	}
	else if (JpUtilsString.isEmpty($("#confirmPassword").val()))
	{
		alert("[[#{PTL_M_EMPTY_CONFIRM_PWD}]]");
		$("#confirmPassword").focus();		
		
		return false;				
	}
	else if (JpUtilsString.notEquals($("#newPassword").val(), $("#confirmPassword").val()))
	{
		alert("[[#{PTL_M_NOT_PASSWORD_MATCH}]]");
		$("#newPassword").focus();
		
		return false;
	}
	
	return true;
};

$("#BTN_save").on("click", function() {
	if (checkForm())
	{
		doSubmit();
	};
});

function doSubmit()
{
	if (checkForm())
	{
		JpUtilsAjax.post({
			url: "[[${T(org.jwebppy.platform.core.PlatformConfigVo).FORM_PASSWORD_CHANGE_PROCESSING_URL}]]",
			data: $("#FORM_password").serialize(),
			beforeSend: function(jqXHR, settings)
			{
				ProgressBar.show();
			},			
			success: function(data, textStatus, jqXHR)
			{
				let result = data.RESULT;
				
				let checkResult = result.RESULT;
				
				if (checkResult == 1)
				{
					alert("[[#{HQP_M_CHANGE_PASSWORD_SUCCESS}]]");
					window.close();
				}
				else
				{
					let message = "";
					
					$.each(result.MESSAGE, function (index, value) {
						message += value + "\n";
					});
					
					alert(message);
					
					if (checkResult == -999)
					{
						document.location.href = INDEX_URL;
					}
					else
					{
						ProgressBar.hide();
					};					
				};
			}
		});
	};
};
</script>
</th:block>
