<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title th:text="#{PTL_T_DOOBIZ_PLUS}"></title>
	<!-- Meta -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="-1" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/portal/css/layout/iv/hq/parts/basic.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/portal/css/layout/iv/hq/parts/gnb.css}">
	
	<!-- JavaScript -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
	<style>
		.gomain-button {
			padding: 5px 15px;
			background-color: #003081;
			color: #fff;
			border: none;
			border-radius: 20px;
			width: 250px;
			height: 40px;
			cursor: pointer;
			outline: none;
			font-size: 18px;
			vertical-align: middle;
		}
		
		.gomain-button span {
			color: #fff;
			font-size: 18px;
			vertical-align: middle;
		}
		
		.logo-doosan {
			cursor: pointer
		}
	</style>		
</head>
<body>
<div class="top-header">
	<div class="logo-area">
		<img class="logo-doosan" th:src="@{/portal/img/logo/logo.png}" alt="DOOSAN" /><img class="logo-doobizplus" th:src="@{/portal/img/logo/doobizplus.png}" alt="DOOBIZ Plus" />
	</div>	
	<div class="info-area">
		<ul class="info-list">
		</ul>
		<div class="split"></div>
		<button class="logout-button" th:if="${status != 401 and status != 403 and status != 999}" th:text="#{PTL_B_LOGOUT}"></button>
	</div>
</div>
<div class="gnb-wrap">
	<div class="gnb-container">
		<div class="gnb-menu-area">
			<ul class="gnb-menu-list"></ul>					
			<ul class="gnb-menu-sub-list"></ul>
		</div>
	</div>
</div>
<div style="width: auto; margin:0 auto; text-align: center;">
	<div style="width: auto; margin-top:138px;">
		<img src="/portal/img/popup/alert.png">
		<th:block th:switch="${status}">
			<div th:case="${401}" th:text="#{HQP_T_SESSION_EXPIRED}"></div>
			<div th:case="${403}" th:text="#{HQP_T_SESSION_EXPIRED}"></div>
			<div th:case="${999}" th:text="#{HQP_T_SESSION_EXPIRED}"></div>
			<div th:case="*" th:text="#{HQP_T_ERROR}"></div>
		</th:block>
	</div>
	<div style="width:auto; height:220px;">
		<div style="height: 30px;"></div>
		<button class="gomain-button"><span th:text="#{HQP_B_GO_MAIN}"></span> <img src="/portal/img/common/arrow_right.png"></button>
	</div>
</div>
<div class="footer-area">	
	<div class="footer">
		<div class="split-row-compact"></div>
		<div class="logo-area">
			<!-- img class="footer-logo" th:src="@{/portal/img/logo-s.png}" alt="Doosan"/>
			<div class="split"></div -->
			<div class="copyright" th:text="#{PTL_T_COPY_RIGHT}"></div>
		</div>
	</div>
</div>
<!-- Logout -->
<form id="FORM_logout" method="post" th:action="@{${T(org.jwebppy.portal.common.PortalConfigVo).FORM_LOGOUT_PROCESSING_URL}}" style="display:none;"></form>

<script>
$(window).on("load", function() {
	if (opener != null)
	{
		window.resizeTo(1320, 650);	
	};
});

$(".logout-button").on("click", function() {
	$("#FORM_logout").submit();
});

$(".logo-doobizplus, .gomain-button").on("click", function() {
	document.location.href = "/portal/forward/entry_point";
});
</script>
</body>
</html>