<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/uk/parts/popup/index}">

<th:block layout:fragment="content">

<div class="block-header">
	<div class="block-title" th:text="#{EUP_L_0191}"></div>	<!-- Invoice Search -->
	<div class="block-button-area">
		<button id="BTN_confirm" th:text="#{EUP_B_0029}"></button>  <!-- Confirm -->
		<button id="BTN_search" th:text="#{EUP_B_0002}"></button>  <!-- Search -->
	</div>
</div>

<div class="condition-area">
<form id="FORM_search" autocomplete="off" onsubmit="return false;">	
	<table class="condition">
	<tbody>
		<tr>
 			<th th:text="#{EUP_L_0133}"></th>	<!-- Invoice No. -->
			<td><input type="text" id="IPT_pInvoiceNo" name="pInvoiceNo" class="custom-ui" th:value="${pInvoiceNo}" autofocus="autofocus"></td>						
		</tr>
	</tbody>
	</table>
</form>
</div>	

<div class="split-row"></div>

<!-- 데이터 영역 Start -->
<div class="grid-info">
	<div class="grid-total">
		<span>total</span>
		<div class="split"></div>
		<span id="IPT_totalCountTxt" class="total-number">000</span>
		<div class="split"></div>
	</div>
	<div class="block-button-area"></div>
</div>

<div id="AREA_grid" class="flex-grow grid-area">
	<table id="TBL_grid" class="order-column stripe compact"></table>
</div>
<!-- 데이터 영역 End -->

<form id="FORM_insert" method="post" class="ui form" autocomplete="off" onsubmit="return false;">
	<div id="insertFormDiv"></div>
</form>	

<!-- ------------------------------------------------------------------------------------------------ -->

<script type="application/javascript">

var $tableObj;

$(function(){
	$tableObj = $("#TBL_grid").DataTable({
		select: true,   			
		ordering: true, 
		scrollY: 100,
		fixedColumns: { leftColumns: 1 },  
		columns : [
			// 컬럼에 checkbox 설정
			{	name: "productCheckbox",	     // chk 는  data에 없는 컬럼. 
				title: '<input type="checkbox" class="custom-ui" onclick="allChecked(this)"><label></label>',
				className:"center noselect", // row selection 기능 막음. 
				width: 20,  		 // checkbox 컬럼은 width 작게
				orderable: false,	 // checkbox 는 정렬 불가  
				defaultContent: '<input type="checkbox" class="custom-ui " onclick="syncInput(this)"><label></label>' // FixedColumns 사용시엔 syncInput 호출 필요함.
			},
			{	data: "VBELN", title: 'Invoice No.'
			},
			{	data: "POSNR", title: 'Item No'
			},
			{	data: "MATNR", title: 'Part No'
			},
			{	data: "MAKTX", title: 'Description'
			},
			{	data: "BUDAT", title: 'Doc date',
				render : function(data, type, row) {
					var d1 = new Date(data);
		    		return getDateFormat(d1, 'yyyyMMdd');	
				}				
			},
			{ 	
				data: "VBELN", visible: false
			},
			{ 	
				data: "POSNR", visible: false
			},
			{ 	
				data: "MATNR", visible: false
			},
			{ 	
				data: "MAKTX", visible: false
			},
			{ 	
				data: "FKIMG", visible: false
			},
			{ 	
				data: "NETPR", visible: false,
				render : function(data, type, row) {
		    		return Number(data).toLocaleString();	
				}				
			},
			{ 	
				data: "NETWR", visible: false,
				render : function(data, type, row) {
		    		return Number(data).toLocaleString();	
				}			
			},
			{ 	
				data: "VRKME", visible: false
			},
			{ 	
				data: "WAERS", visible: false
			}
		],
		columnDefs: [			
	        {targets: [1, 2, 3, 5], className: 'dt-body-center'}
		],
		ajax: {
			url: "[[${BASE_PATH}]]/complaint/create/invoice_search",
			data: function(p)
			{	
				p.pInvoiceNo = $("#IPT_pInvoiceNo").val();
			},
			dataSrc: function(response) 
			{	
				var data = response.RESULT.resultOrderList;
				$('#IPT_totalCountTxt').text(response.RESULT.resultOrderList.length);
				
				return data;
			}			
		},
		initComplete:function( settings, json ) 
		{			
			ProgressBar.hide();
		}
	});
	
	$("#TBL_grid").on("draw.dt", function() 
	{
		ProgressBar.hide();
	});
	
	// window 리사이즈시 그리드 높이 다시 맞춤. (그리드의 parent 요소의 높이에 맞춤)
	installDataTableResizer($tableObj, $("#AREA_grid"));	
	// dataTable 버그 수정.
	installDataTableBugFix("TBL_grid");	
});


$(document).ready(function() 
{	
	
});


// 검색
$('#BTN_search').click(function() 
{
	var invoiceNo = $("#IPT_pInvoiceNo").val();
	if (invoiceNo != '')
	{
		doSearch();	
	} else 
	{
		alert("[[#{EUP_M_0058}]]");	// Please input invoice number.
		return false;
	}	
});

function doSearch()
{
	ProgressBar.show();
	$tableObj.ajax.reload();	
}

//Input text 엔터 키 입력
$("#FORM_search input:text").on("keydown", function(event) {
	if (event.keyCode == 13)
	{
		doSearch();
	};
});	

// 모화면(반품생성 화면)에 정보 보내기
$("#BTN_confirm").click(function() 
{
	var checkedCnt = 0;
	var tds = $tableObj.columns(0).nodes()[0];
	for (var i = 0; i < tds.length; i++) 
	{
		var $td = $(tds[i]);
		if ($td.find("input:checkbox").is(":checked"))
		{
			checkedCnt++;	
		};
	}
	
	if (checkedCnt < 1) 
    {
		alert("[[#{EUP_M_0059}]]");	// Please select targets to create complaint.
      	return false;
    } else
 	{	
    	var poNo = '';
    	var retArr = new Array();
    	for (var j = 0; j < tds.length; j++) 
    	{
    		var $td2 = $(tds[j]);
    		if ($td2.find("input:checkbox").is(":checked"))
    		{
    			var obj = new Object();    			
    			var data = $tableObj.row($td2).data();
    			obj.orderno = data.VBELN;
    			obj.item = data.POSNR;
    			obj.partno = data.MATNR;
    			obj.desc = data.MAKTX;
    			obj.qty = data.FKIMG;
    			
    			obj.netprice = data.NETPR;
    			obj.netvalue = data.NETWR;
    			obj.uom = data.VRKME;
    			obj.date = data.BUDAT;
    			obj.WAERS = data.WAERS;
    			
    			retArr.push(obj);
    			
    			if (poNo == '') poNo = data.BSTKD;
    		}
    	}
	
    	opener.parent.addComplaintItems(retArr, poNo);
    	self.close();    	
 	}
});


// 공통기능으로 뺄 수 있는 함수 Start
function getDateFormat(dateObj, format) 
{
	if (format == 'yyyyMMdd') 
	{
		var year = dateObj.getFullYear();
	    var month = dateObj.getMonth() + 1;
	    var day = dateObj.getDate();
	    if (month < 10)
	    {
	        month = "0" + month;
	    }
	    if (day < 10) 
	    {
	        day = "0" + day;
	    }	 
	    return year + "." + month + "." + day;
	}	
}
//공통기능으로 뺄 수 있는 함수 End

</script>

</th:block>
</html>
