<!-- bottom.html begin -->
<div class="footer-area">	
	<div class="footer">
		<div class="split-row-compact"></div>
		<div class="logo-area">
			<!-- img class="footer-logo" th:src="@{/portal/img/logo-s.png}">
			<div class="split"></div -->
			<div class="copyright" th:text="#{PTL_T_COPY_RIGHT}"></div>
		</div>
		<div class="split-row-compact"></div>
	</div>
</div>
<!-- bottom.html end -->
<div class="bt-gotop"><a href="#" class="gotop"><img th:src="@{/portal/img/iv/common/gotop.png}"></a></div>

<script>
/*
 * Ajax global settings.
 */
$(document).ajaxError(function(event, jqXHR, ajaxSettings, thrownError) {
	if (jqXHR.status == "401" || jqXHR.status == "403")
	{
		document.location.href = "[[${T(org.jwebppy.portal.common.PortalConfigVo).FORM_LOGOUT_PROCESSING_URL}]]";
	}
	else
	{
		//document.location.href = "[[${T(org.jwebppy.platform.core.PlatformConfigVo).ERROR_PAGE_URL}]]";
	};
	
	try
	{
		ProgressBar.hide();
	}
	catch (e) {}
});

$(document).ajaxSend(function(event, jqXHR, ajaxOptions) {
	jqXHR.setRequestHeader(JpUtilsSecurity.CSRF.NAME, JpUtilsSecurity.CSRF.TOKEN);
});

//자동 스크롤 탑
$("body").scroll(function() {
	if ($(this).scrollTop() > 200 )
	{
		$(".bt-gotop").fadeIn();
	}
	else
	{
		$(".bt-gotop").fadeOut();
	};
});

$(".gotop").click(function() {
	$("html, body").animate( { scrollTop : 0 }, 400);
	return false;
});

//Input type 이 text 인 모든 필드들은 click 시 select 처리
JpUiForm.input.on.select($("input[type=text]"));
</script>