<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/hq/parts/common/index}">
	
<th:block layout:fragment="content">
	<div class="block-header">
		<div class="block-title" th:text="${boardName}"></div>
		<div class="block-button-area">
			<!-- button id="BTN_showOldData" type="button" th:text="#{HQP_B_SHOW_OLD_DATA}" th:if="${not #strings.isEmpty(oldSystemUrl)}"></button -->
			<button id="BTN_write" type="button" th:text="#{HQP_B_WRITE}" th:if="${hasWriteAuth}"></button>
			<button id="BTN_search" type="button" th:text="#{HQP_B_SEARCH}"></button>			
		</div>
	</div>
	<div class="condition-area">
	<form id="FORM_search" th:object="${boardContentSearch}">
	<input type="hidden" id="bSeq" name="bSeq" th:value="*{bSeq}"/>
	<input type="hidden" id="bcSeq" name="bcSeq"/>
	<input type="hidden" id="pageNumber" name="pageNumber" th:value="*{pageNumber}"/>
	<table class="condition table-fixed">
		<tbody>
			<tr>
				<th th:text="#{HQP_L_TITLE}"></th>
				<td> 
					<div class="input-area">
						<input type="text" id="title" name="title" class="custom-ui" th:value="*{title}"/>
					</div>
				</td>
			</tr>
			<tr>
				<th th:text="#{HQP_L_WRITER}">
				<td>
					<div class="input-area">
						<input type="text" id="writer" name="writer" class="custom-ui" th:value="*{writer}"/>
					</div>				
				</td>			
			</tr>
			<tr>
				<th th:text="#{HQP_L_REG_DATE}"></th>
				<td>
					<div class="input-area">
						<input type="text" id="fromRegDate" name="fromRegDate" class="custom-ui-calendar" th:value="*{fromRegDate}"/>
						<input type="text" id="toRegDate" name="toRegDate" class="custom-ui-calendar to" th:value="*{toRegDate}"/>
					</div>
				</td>			
			</tr>				
		</tbody>
	</table>
	</form>
	</div>
	
	<div class="split-row"></div>
	
	<div class="grid-info">
		<div class="grid-total">
			<div class="split"></div>
			<span class="total-number" id="totalRows"></span>
		</div>
	</div>
	
	<div id="AREA_grid" class="flex-grow grid-area">
		<table id="TBL_grid" class="order-column stripe compact"></table>
	</div>
	<iframe id="doobizLogin_F" style="display: none;"></iframe>
<script>
let $tableObj;
$(function(){
	Calendar.makeBeetweenCalendar($("#fromRegDate"), "[[${boardContentSearch.fromRegDate}]]", $("#toRegDate"), "[[${boardContentSearch.toRegDate}]]");

	$tableObj = $("#TBL_grid").DataTable({
		ordering: true, 
		columns : [
			{data: "no", 				title: "[[#{HQP_L_NUMBER}]]", width: "8%"},
			{data: "displayTitle",		title: "[[#{HQP_L_TITLE}]]"},
			{data: "writer",			title: "[[#{HQP_L_WRITER}]]", width: "15%"},
			{
				name: "fileCnt",
				data: "fileCnt",
				title: "[[#{HQP_L_ATTACHMENT}]]",
				width: "8%",
				render: function(data, type, row)
				{
					if (row.fileCount > 0)
					{
						return "<i class='paperclip icon large'></i>";
					};
					
					return "";
				}
			},
			{data: "displayRegDate2", 	title: "[[#{HQP_L_REG_DATE}]]", width: "8%"},
			{data: "views", 			title: "[[#{HQP_L_VIEWS}]]", width: "8%"}		
		],
		columnDefs: [
			{targets: [1], className: "link"},
			{targets: [0, 3, 4, 5], className: "dt-body-center"}
		],		
		ajax: {
			url: "[[${BASE_PATH}]]/board/list/data",
			data: function(p)
			{
				p.bSeq 			= $("#bSeq").val();
				p.title 		= $("#title").val();
				p.writer		= $("#writer").val();
				p.fromRegDate 	= $("#fromRegDate").val();
				p.toRegDate 	= $("#toRegDate").val();
			},
			dataSrc: function(response) 
			{
				let result = response.RESULT;
				
				for (let i=0, length=result.length; i<length; i++)
				{
					let depth = result[i].depth;
					
					if (depth > 0)
					{
						result[i].displayTitle = "<span style='margin-left:" + depth + "em;'>└ </span>" + result[i].displayTitle;
					};
					
					result[i].no = JpUtilsNumber.addComma(result[i].no);
					result[i].views = JpUtilsNumber.addComma(result[i].views);
				}

				$("#totalRows").html(JpUtilsNumber.addComma(result.length) + " row(s).");

				return result;
			}
		},
		paging : true, // 페이징 기능켬
		pageLength: parseInt(GLOBAL_CONST.ROW_PER_PAGE), // 한 페이지에 20개 행
		initComplete:function(settings, json)
		{
			ProgressBar.hide();
		}
	});
	
	// Datatable grid 초기 설정 셋업
	initGridTable($tableObj);
	
	// Search 버튼 클릭
	$("#BTN_search").on("click", function(){		
		doSearch();			// dataTable의 ajax 설정을 이용해  다시 조회. 
	});
	
	//Input text 엔터 키 입력.
	JpUiForm.input.on.enter($("#FORM_search input:text"), function(item) {
		doSearch();
	});		
	
	$("#TBL_grid tbody").on("click", "tr", function (e){				
	    let tblGrid = $("#TBL_grid").DataTable();	    
	    let index = $("#TBL_grid").dataTable().api().cell($(e.target).closest("td")).index().column;	    	    
		let rowData = tblGrid.row(this).data();
		
		if (index == 1)
		{
			$("#FORM_search input[name=bcSeq]").val(rowData.bcSeq);
			$("#FORM_search").attr("action", "[[${BASE_PATH}]]/board/view").submit();	
		};
	});
	
	$("#BTN_write").on("click", function() {
		$("#FORM_search").attr("action", "[[${BASE_PATH}]]/board/write").submit();
	});
	
	/*
	$("#BTN_showOldData").on("click", function() {
		$("#doobizLogin_F").attr("src", "/platform/mgmt/sso/out/doobiz");
	});
	*/
});

function doSearch()
{
	$tableObj.ajax.reload();
}
</script>
</th:block>	