<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/hq/parts/common/index}">

<th:block layout:fragment="content">
	<script th:src="@{/editor_html5/js/xfe_main.js}"></script>
	
	<div class="block-header">
		<div class="block-title" th:text="${boardName}"></div>
		<div class="block-button-area">
			<button id="BTN_save" type="button" th:text="#{HQP_B_SAVE}"></button>
			<button id="BTN_back" type="button" th:text="#{HQP_B_BACK}"></button>
		</div>	
	</div>	
	<div id="boardViwer" class="condition-area">
	<form id="FORM_write" method="post" th:action="|${BASE_PATH}/board/save|" enctype="multipart/form-data" autocomplete="off" onsubmit="return false;">
	<input type="hidden" name="bSeq" id="bSeq" th:value="${bSeq}"/>
	<input type="hidden" name="bcSeq" id="bcSeq" th:value="${boardContent?.bcSeq}"/>
	<input type="hidden" name="textContent" id="textContent" th:value="${boardContent?.textContent}"/>
	<input type="hidden" name="htmlContent" id="htmlContent" th:value="${boardContent?.htmlContent}"/>
	<input type="file" id="files" name="files" multiple style="display:none;"/>
	<table class="condition table-fixed">
		<tbody>
			<tr>
				<th>[[#{HQP_L_TITLE}]]<img src="/portal/img/icon/required.png" class="required" /></th>
				<td>
					<input type="text" id="title" name="title" class="custom-ui" autofocus="autofocus" th:value="${boardContent?.title}"/>
				</td>
			</tr>
			<tr>
				<th>[[#{HQP_L_CONTENT}]]<img src="/portal/img/icon/required.png" class="required" /></th>
				<td><div id="xfe"></div></td>
			</tr>
			
			<tr th:style="${(board.fgSetTarget == T(org.jwebppy.portal.iv.common.IvCommonVo).YES) ? '' : 'display:none;'}">
				<th th:text="#{HQP_L_VISIBLE_TARGET}"/>
				<td>
					<div class="split-row-more-compact"></div>
					<div class="input-area"><input type="text" id="searchVisibleTarget" name="searchVisibleTarget" class="custom-ui" th:placeholder="#{HQP_L_PLACEHOLD_DEALER_CODE_NAME}"/></div>
					<div class="split-row-more-compact"></div>
					<button id="BTN_deleteVisibleTarget" type="button" th:text="#{HQP_B_DELETE}" class="small_button"></button>
					<div class="split-row-more-compact"></div>
					<div style="display: block; height: 1px; background-color: #cccccc; margin-top:2px; margin-bottom:2px;"></div>
					<div class="split-row-more-compact"></div>
					<div id="addedtargets" style="width:100%; height:5em; display: block; overflow-y: auto;">
						<div th:each="boardContentTarget : ${boardContent?.boardContentTargets}">
							<input type="checkbox" class="custom-ui visible-target"/><label th:text="${boardContentTarget.code}"></label>
							<div class="split2"></div><span th:text="${boardContentTarget.description}"></span>
							<input name="targetCode" type="hidden" th:value="${boardContentTarget.code}"/>
							<input name="targetDescription" type="hidden" th:value="${boardContentTarget.description}"/>
						</div>						
					</div>
				</td>
			</tr>
			<tr th:style="${(board.fgSetPeriod == T(org.jwebppy.portal.iv.common.IvCommonVo).YES) ? '' : 'display:none;'}">
				<th th:text="#{HQP_L_VISIBLE_PERIOD}"/>
				<td>
					<div class="input-area period">
						<span th:text="#{HQP_L_FROM}" class="label"></span>
						<input type="text" id="fromViewDate" name="fromViewDate" class="custom-ui-calendar" th:value="${boardContent?.fromViewDate}"/>
						<div class="split3"></div>
						<select name="fromViewHours" class="custom-ui hours">
							<option value=""></option>
							<option th:each="num : ${#numbers.sequence(0,23)}" th:with="num=${#numbers.formatInteger(num, 2)}" th:value="${num}" th:text="${num}" th:selected="${num eq boardContent?.fromViewHours}"/>
						</select>
						<span th:text="#{HQP_L_HOURS}"></span>
						<select name="fromViewMinutes" class="custom-ui minutes">
							<option value=""></option>
							<option th:each="num : ${#numbers.sequence(0,59)}" th:with="num=${#numbers.formatInteger(num, 2)}" th:value="${num}" th:text="${num}" th:selected="${num eq boardContent?.fromViewMinutes}"/>
						</select>
						<span th:text="#{HQP_L_MINUTES}"></span>
					</div>
					<div class="split-row-more-compact"></div>
					<div class="input-area period">
						<span th:text="#{HQP_L_TO}" class="label"></span>
						<input type="text" id="toViewDate" name="toViewDate" class="custom-ui-calendar" th:value="${boardContent?.toViewDate}"/>
						<div class="split3"></div>
						<select name="toViewHours" class="custom-ui hours">
							<option value=""></option>
							<option th:each="num : ${#numbers.sequence(0,23)}" th:with="num=${#numbers.formatInteger(num, 2)}" th:value="${num}" th:text="${num}" th:selected="${num eq boardContent?.toViewHours}"/>
						</select>
						<span th:text="#{HQP_L_HOURS}"></span>
						<select name="toViewMinutes" class="custom-ui minutes">
							<option value=""></option>
							<option th:each="num : ${#numbers.sequence(0,59)}" th:with="num=${#numbers.formatInteger(num, 2)}" th:value="${num}" th:text="${num}" th:selected="${num eq boardContent?.toViewMinutes}"/>
						</select>
						<span th:text="#{HQP_L_MINUTES}"></span>			
					</div>
				</td>
			</tr>
			<tr th:style="${(board.fgSetPopup == T(org.jwebppy.portal.iv.common.IvCommonVo).YES) ? '' : 'display:none;'}">
				<th>[[#{HQP_L_POPUP_SIZE}]]</th>
				<td>
					<div class="input-area popup">
						<span th:text="#{HQP_L_WIDTH}" class="label"></span>
						<input type="text" class="custom-ui-scope" id="width" name="width" th:value="${boardContent?.width}" th:placeholder="#{HQP_L_PLACEHOLD_PIXEL}" />
					</div>
					<div class="split-row-more-compact"></div>
					<div class="input-area popup">
						<span th:text="#{HQP_L_HEIGHT}" class="label"></span>
						<input type="text" class="custom-ui-scope" id="height" name="height" th:value="${boardContent?.height}" th:placeholder="#{HQP_L_PLACEHOLD_PIXEL}" />
					</div>
				</td>
			</tr>
			<tr th:style="${board?.uploadFile != null ? '' : 'display:none;'}">
				<th th:text="#{HQP_L_ATTACHMENT}"/>
				<td>
					<div class="split-row-more-compact"></div>
					<button id="BTN_searchFile" type="button" th:text="#{HQP_B_FILE}" class="small_button"></button><div class="split"></div><button id="BTN_deleteFile" type="button" th:text="#{HQP_B_DELETE}" class="small_button"></button>
					<div class="split-row-more-compact"></div>
					<div style="display: block; height: 1px; background-color: #cccccc; margin-top:2px; margin-bottom:2px;"></div>
					<div class="split-row-more-compact"></div>
					<div id="attachedFiles" style="width:100%; height:5em; display: block; overflow-y: auto;">
						<div th:each="uploadFileList : ${boardContent?.uploadFileLists}">
							<input name="uflSeq" type="checkbox" th:value="${uploadFileList.uflSeq}" class="custom-ui" th:fileName="${uploadFileList.fullOriginName}"/><label th:text="${uploadFileList.fullOriginName}"></label>
							<div class="split2"></div><span th:text="${uploadFileList.displayFileSize}"></span>
						</div>
					</div>
				</td>
			</tr>		
		</tbody>
	</table>
	</form>
	</div>
	<form id="FORM_search" th:action="|${BASE_PATH}/board/list|" th:object="${boardContentSearch}">
	<input type="hidden" name="bSeq" th:value="*{bSeq}"/>
	<input type="hidden" name="bcSeq" th:value="${boardContent?.bcSeq}"/>
	<input type="hidden" name="title" th:value="*{title}"/>
	<input type="hidden" name="writer" th:value="*{writer}"/>
	<input type="hidden" name="fromRegDate" th:value="*{fromRegDate}"/>
	<input type="hidden" name="toRegDate" th:value="*{toRegDate}"/>
	<input type="hidden" name="pageNumber" th:value="*{pageNumber}"/>
	</form>
<script>
$(function(){
	Calendar.makeCalendar($("#fromViewDate"), "[[${boardContent?.displayFromView}]]");
	Calendar.makeCalendar($("#toViewDate"), "[[${boardContent?.displayToView}]]");
	
	$("#FORM_write .ui.checkbox").checkbox();
});

$(window).on("load", function() {
	ProgressBar.hide();
	
	initBoardViwer($("#boardViwer"), $("#xfe"));
	
	$("#searchVisibleTarget").autocomplete({
		source: function(request, response) {
			JpUtilsAjax.get({
				url: "[[${BASE_PATH}]]/board/target/data",
				data: {	"name": $("#searchVisibleTarget").val(), "dealerCode": $("#searchVisibleTarget").val() },
				success: function(data, textStatus, jqXHR)
				{
					let result = data.RESULT;
					
					if (JpUtilsObject.isNotNull(result))
					{
						response(
								$.map(result, function(item) {
									if (JpUtilsString.isNotEmpty(item.KUNNR))
									{
										return {
											label: item.KUNNR + " | " + item.NAME1,
											value: item.KUNNR
										}
									};
								})
						);					
					};
				}
			});
		},
		select: function(event, ui)
		{
			 console.log(ui.item.label + "," + ui.item.value);
			 addTarget(ui.item.label, ui.item.value);
			 
			 $(this).val("");
			 return false;
		},
		//delay: 50,
		minLength: 3
	});		
});

function addTarget(label, value)
{
	let str = label.split("|");
	
	console.log(str.length + "," + JpUtilsString.trimToEmpty(str[0]) + " , " + JpUtilsString.trimToEmpty(str[1]));
	
	let dealerCode = str[0];
	let dealerName = str[1];
	
	let html = [];
	
	html.push("<div>");
	html.push("<input type='checkbox' class='custom-ui'/><label>" + dealerCode + "</label>");
	html.push("<div class='split2'></div><span>" + dealerName + "</span>");
	html.push("<input name='targetCode' type='hidden' value='" + JpUtilsString.trimToEmpty(dealerCode) + "'/>");
	html.push("<input name='targetDescription' type='hidden' value='" + JpUtilsString.trimToEmpty(dealerName) + "'/>");
	html.push("</div>");
	
	$("#addedtargets").append(html.join(""));
};

$("#BTN_deleteVisibleTarget").on("click", function(event) {
	$.each($("#FORM_write .visible-target"), function(i, item) {
		if ($(this).is(":checked"))
		{
			$(this).closest("div").remove();
		};
	});
});	

function initBoardViwer($area, $content)
{
	installBoardViewResizer($area, $content);
	
	$(window).on("resize", $.debounce(100, function(e){
		installBoardViewResizer($area, $content);
	}));
};

function installBoardViewResizer($area, $content)
{
	let height = 0;
	
	$.each($("body").children(":not(script)").not($area), function(index, element) {
		if (!$(element).is(":visible"))
		{
			return true;
		};
		
		height += $(element).outerHeight(true);
	});
	
	let bodyHeight = $("body").height();
	let h1 = $area.outerHeight(true) - $content.outerHeight(true);//게시글 영역 외 height
	
	$content.height(bodyHeight - height - h1);
	xfe.setHeight($content.height() + "px");
};

$("#BTN_back").on("click", function() {
	
	let action = "[[${BASE_PATH}]]/board/list";
	
	if (JpUtilsString.isNotEmpty("[[${boardContent?.bcSeq}]]"))
	{
		action = "[[${BASE_PATH}]]/board/view";
	};
	
	$("#FORM_search").attr("action", action);
	$("#FORM_search").submit();
});

$("#BTN_save").on("click", function() {
	if (JpUtilsString.isEmpty($("#FORM_write input[name=title]").val()))
	{
		alert("[[#{HQP_M_EMPTY_TITLE}]]");
		$("#title").focus();
		return;
	};

	if (JpUtilsString.isEmpty(xfe.getTextValue()))
	{
		alert("[[#{HQP_M_EMPTY_CONTENT}]]");
		return;
	};

	$("#textContent").val(xfe.getTextValue());
	$("#htmlContent").val(xfe.getBodyValue());
	
	ProgressBar.show();

	let options = {
			enctype: "multipart/form-data",
			url: "[[${BASE_PATH}]]/board/save",
			data: new FormData($("#FORM_write")[0]),
			global: false,
			processData: false,
			contentType: false,
			cache: false,
			success: function(data, textStatus, jqXHR) {
				$("#FORM_search input[name=bcSeq]").val(data.RESULT);
				
				$("#BTN_back").trigger("click");
			},
			error: function(jqXHR, textStatus, errorThrown) {
				let response = JSON.parse(jqXHR.responseText);
				
				alert("[[#{HQP_M_FAIL_SAVE}]]\n" + response.MESSAGE);
				
				ProgressBar.hide();
			}
	};
	
	JpUtilsAjax.post(options);
});

/*
 * 에디터 생성.
 * 
 * basePath : 에디터 모듈이 있는 폴더의 Url 경로를 적어줍니다. (필수)
 * width : 에디터의 너비
 * height : 에디터의 높이
 * onLoad : 에디터 초기 로드 이벤트				 
 */
let xfe = new XFE({
	basePath: "[[@{/editor_html5}]]",
	width: "100%",
	height: "100%",
	onLoad: function() {
		xfe.setBodyValue($("#htmlContent").val());
	},
	language: "english",
	initFontFamily: "Arial"
});
	
xfe.render("xfe");

$("#BTN_searchFile").on("click", function() {
	$("#files").trigger("click");
});	

$("#files").on("change", function() {
	for (let i=0, length=this.files.length; i<length; i++)
	{
		addFile(this.files[i].name, this.files[i].size);
	};
	
	$("#FORM_write .ui.checkbox").checkbox();
});

$("#BTN_deleteFile").on("click", function(event) {
	let files = Array.from($("#files")[0].files);
	
	$.each($("#FORM_write input[name=uflSeq]"), function(i, item) {
		if ($(this).is(":checked"))
		{
			let fileName = $(this).attr("fileName");
			
			for (let j=0, length=files.length; j<length; j++)
			{
				if (files[j] == null)
				{
					continue;
				}
				
				if (JpUtilsString.equals(files[j].name, fileName))
				{
					files.splice(j, 1, null);
				};
			};		
			
			if (JpUtilsString.isNotEmpty($(this).val()))
			{
				$("#FORM_write").append("<input type='hidden' name='uflSeqs' value='" + $(this).val() + "' />");
			};
			
			$(this).closest("div").remove();
		};
	});
});	

function addFile(name, size, uflSeq)
{
	let html = [];
	
	html.push("<div>");
	html.push("<input name='uflSeq' type='checkbox' value='" + JpUtilsString.trimToEmpty(uflSeq) + "' class='custom-ui' fileName='" + JpUtilsString.trimToEmpty(name) + "'/><label>" + name + "</label>");
	html.push("<div class='split2'></div><span>" + JpUtilsFile.displaySize(size) + "</span>");
	html.push("</div>");
	
	$("#attachedFiles").append(html.join(""));
};
</script>
</th:block>								