<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/hq/parts/popup/index}">	
<th:block layout:fragment="content">
	<div class="block-header">
		<div class="block-title" th:text="#{HQP_T_SUBSTITUTION_PART}"></div><!-- Substitution Parts -->
		<div class="block-button-area">
			<button id="BTN_download" type="button" th:text="#{HQP_B_DOWNLOAD}"></button><!-- Download -->
			<button id="BTN_search" type="button" th:text="#{HQP_B_SEARCH}"></button><!-- Search -->
		</div>		
	</div>	
	<div class="condition-area">
	<form id="FORM_search" name="FORM_search" onsubmit="return false;">
	<table class="condition">
		<tbody>
			<tr>
				<th th:text="#{HQP_L_PART_NO}"></th><!--Part No  -->
				<td>
					<div class="input-area">
						<input type="text" id="pPartNo" name="pPartNo" class="custom-ui-btn" th:value="${pPartNo}" style="text-transform: uppercase;">
						<button class="btn-popup2" type="button" onclick="_showPartSearch($('#pPartNo').val());"></button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	</form>	
	</div>
	<div class="split-row"></div>
	<div class="grid-info">
		<div class="grid-total">
			<div class="split"></div>
			<span class="total-number" id="totalRows"></span>
		</div>
	</div>
	<div id="AREA_grid" class="flex-grow grid-area">
		<table id="TBL_grid" class="order-column stripe compact"></table>	
	</div>
	
<script>
$(document).ready(function() {
	_setPartAutocomplete($("#pPartNo"));
});

let $tableObj;
$(function(){	
	$tableObj = $("#TBL_grid").DataTable({
		select: {
			selector: "td:not(.noselect)"// noselect class 컬럼은 select 하지 않도록 한다. (input과 충돌 발생)
	    },		   			   			
		ordering: true, 
		scrollY: 100,
		columns: [
			{// 컬럼에 radio 설정
				name: "KEY",
				className:"center noselect skip-download",// row selection 기능 막음.
				orderable: false,// checkbox 는 정렬 불가
				render: function(data, type, row)
				{
					if (row.disabled == "disabled")
					{
						return "";
					}

					return '<input type="radio" name="KEY" valye="' + row.MATNR + '" class="custom-ui" onchange="syncInput(this)"><label></label>';// FixedColumns 사용시엔 syncInput 호출 필요함.
				}
			},			
			{name: "MATNR", 	data: "MATNR", 		title: "[[#{HQP_L_PART_NO}]]"	},	// Part No
			{name: "MAKTX", 	data: "MAKTX", 		title: "[[#{HQP_L_DESCRIPTION}]]"	},	// Part No Desc
			{name: "AVA_FLAG", 	data: "AVA_FLAG", 	title: "[[#{HQP_L_AVAILABILITY}]]"	}	// Availability
		],
		columnDefs: [
			{targets: [3], className: "dt-body-center"}
		],
		ajax: {
			url: "[[${BASE_PATH}]]/info/sub_part_list/data",
			data: function(p)
			{				
				p.pPartNo = $("#pPartNo").val();
				p.pPartNoDesc = $("#pPartNoDesc").val();
			},
			dataSrc: function(response) 
			{				
				let data = response.RESULT;
				
				let crossList = data.crossList;
				let partList = data.partList;
				
				let grid = new Array();
				
				$.each(data.crossList, function(index, item) {
					
					let labst1 = parseInt(item.LABST1);
					let fgAvail = "";
					
					if (!isNaN(labst1))
					{
						fgAvail = (labst1 > 0) ? "Y" : "N";
					};
					
					let subPart = {};
					
					subPart.MATNR = item.MATNR;
					subPart.MAKTX = item.MAKTX1;
					subPart.AVA_FLAG = fgAvail;
					
					grid[index] = subPart;
				});
				
				$("#totalRows").html(JpUtilsNumber.addComma(crossList.length) + " row(s).");
				
				return grid;
			}
		},
		initComplete: function() {
			ProgressBar.hide();
		}
	});
	
	// Datatable grid 초기 설정 셋업
	initGridTable($tableObj);		

	$("#TBL_grid tbody").on("click", "tr", function (e) {
	    let tblGrid = $("#TBL_grid").DataTable();	    
	    let index = $("#TBL_grid").dataTable().api().cell($(e.target).closest("td")).index().column;	    	    
		let rowData = tblGrid.row(this).data();
		
		if (index == 0)
		{	
			try
			{
				opener._callbackSubPartList(rowData.MATNR);
			}
			catch (e) {}
		}					
	});		
});

$("#BTN_search").on("click", function() {
	doSearch();
});

$("#pPartNo").on("keydown", function(event) {
	if (event.keyCode == 13)
	{
		doSearch();
	};
});		

function doSearch()
{
	$tableObj.ajax.reload();
};

$("#BTN_download").on("click", function() {
	_gridDownload($tableObj, "Substitution_List");
});

//showPartSearch() callback 함수
function _callbackPartSearch(partNo)
{
	$("#pPartNo").val(partNo);
	doSearch();
};
</script>
</th:block>
