<!-- bottom.html begin -->
<div class="footer-area">	
	<div class="footer">
		<div class="split-row-compact"></div>
		<div class="logo-area">
			<!-- img class="footer-logo" th:src="@{/portal/img/logo-s.png}" alt="Doosan"/>
			<div class="split"></div -->
			<div class="copyright" th:text="#{PTL_T_COPY_RIGHT}"></div>
		</div>
		<div>
			<button id="i18n" th:text="#{HQP_B_LANGUAGE}"></button>
		</div>
		<div class="split-row-compact"></div>
	</div>
</div>
<!-- bottom.html end -->
<div class="bt-gotop"><a href="#" class="gotop"><img th:src="@{/portal/img/iv/common/gotop.png}"></a></div>

<!-- Logout -->
<form id="FORM_logout" method="post" th:action="@{${T(org.jwebppy.portal.common.PortalConfigVo).FORM_LOGOUT_PROCESSING_URL}}"></form>

<script>
$(document).ready(function() {
	//상단 메뉴 생성 공통함수
	makeGnb();
	
	$(".top-header .logo-doobizplus").on("click", function() {
		_goHome()
	});
	
	$(".top-header li.new-window").on("click", function() {
		window.open("/portal/forward/entry_point", "");
	});
	
	$(".top-header li.dealer-info").on("click", function() {
		_clickDealerInfo();	    		
	});
	
	$(".top-header li.username, #i18n").on("click", function() {
		_clickUserInfo();
	});
	
	$(".top-header .logout-button").on("click", function() {
		_clickLogout();
	});
	
	//Get last login information
	JpUtilsAjax.get({
		url: "/platform/mgmt/user/login/history/last_login_info",		
	    success: function(response, textStatus, jqXHR) 
	    {
	    	let data = response.RESULT;
	    	
	    	if (data != null && JpUtilsString.isNotEmpty(data.displayZonedRegDate))
	    	{
	    		$(".last-login-time").html(data.displayZonedRegDate + " / " + data.ip);
	    	}
	    	else
	    	{
	    		$(".last-login-time").html("-/-");
	    	};
	    }	
	});
});

//Input type 이 text 인 모든 필드들은 click 시 select 처리
JpUiForm.input.on.select($("input[type=text]"));
</script>