<script>
/*
 * 공통으로 사용되는 script 모음
 */
 function _goHome()
 {
 	document.location.href = "/portal/forward/entry_point";
 };

 function _clickUserInfo()
 {
 	Popup.open("/portal/iv/user/write", 700, 300);
 };

 function _clickDealerInfo()
 {
 	Popup.open("/portal/iv/hq/parts/domestic/dealer_info/view", 1100, 800);
 };

 function _clickLogout()
 {
 	$("#FORM_logout").submit();
 }; 
 
//품번 검색
function _showPartSearch(partNo)
{
	Popup.open("[[${BASE_PATH}]]/info/popup/part_search?pPartNo=" + partNo, 700, 600);
};

//대체품 조회
function _showSubPartList(partNo)
{
	Popup.open("[[${BASE_PATH}]]/info/popup/sub_part_list?pPartNo=" + partNo, 900, 500);
};

//부품 별 적용 모델
function _showAppliedModelList(partNo)
{
	Popup.open("[[${BASE_PATH}]]/info/popup/applied_model_list?pPartNo=" + partNo, 600, 500);
};

//서비스불가사유 - MUL
function _showNotServiableReason(partNo)
{
	Popup.open("[[${BASE_PATH}]]/info/popup/alternative_list?pPartNo=" + partNo, 800, 500);
};

//Download Grid
function _gridDownload(grid, fileName)
{
	let gridFileDownload = new GridFileDownload(grid);

	gridFileDownload.fileName = fileName;
	gridFileDownload.excelDownload();				
};

//품번 자동완성
function _setPartAutocomplete(target, options)
{
	$(target).autocomplete({
		autoFocus: true,
		source: function(request, response) {
			JpUtilsAjax.get({
				url: "/portal/iv/parts/search/data",
				data: {	"pPartNo": $(target).val() },
				success: function(data, textStatus, jqXHR)
				{
					let result = data.RESULT;
					
					if (JpUtilsObject.isNotNull(result))
					{
						response(
								$.map(result, function(item) {
									if (JpUtilsString.isNotEmpty(item.MATERIAL_TEXT))
									{
										return {
											label: item.MATERIAL + " | " + item.MATERIAL_TEXT,
											value: item.MATERIAL
										}								
									};
								})
						);					
					};
				}
			});
		},
		select: function(event, ui)
		{
			try
			{
				if (JpUtilsObject.isNotNull(options.select))
				{
					$(target).val(ui.item.value);

					options.select(ui.item.label, ui.item.value, event);
					return false;
				};
			}
			catch (e) {}
			
			$(target).autocomplete("close");
		},
		//delay: 50,
		minLength: 3
	});
};

//딜러코드 or 딜러명 자동완성
function _setDealerCodeAutocomplete(target, options)
{
	$(target).autocomplete({
		autoFocus: true,
		source: function(request, response) {
			JpUtilsAjax.get({
				url: "/portal/iv/parts/search/dealer/data",
				data: {	"pName": $(target).val(), "pCode": $(target).val() },
				success: function(data, textStatus, jqXHR)
				{
					let result = data.RESULT;
					
					if (JpUtilsObject.isNotNull(result))
					{
						response(
								$.map(result, function(item) {
									if (JpUtilsString.isNotEmpty(item.KUNNR))
									{
										return {
											label: item.KUNNR + " | " + item.NAME1,
											value: item.KUNNR
										}
									};
								})
						);					
					};
				}
			});
		},
		select: function(event, ui)
		{
			try
			{
				if (JpUtilsObject.isNotNull(options.select))
				{
					$(target).val(ui.item.value);

					options.select(ui.item.label, ui.item.value, event);
					return false;
				};
			}
			catch (e) {}
			
			$(target).autocomplete("close");
		},
		//delay: 50,
		minLength: 3
	});
};

//파일 업로더
function _setFileUploader(target, fileElementName, deletedElementName)
{
	let fileUploader = new FileUploader({
		target: target,
		fileElementName: JpUtilsString.defaultString(fileElementName, "files"),
		deletedElementName: JpUtilsString.defaultString(deletedElementName, "uflSeqs"),
		i18n: {
			FILE: "[[#{HQP_B_FILE}]]",
			DELETE: "[[#{HQP_B_DELETE}]]",
		}
	});
	
	fileUploader.render();
	
	return fileUploader;
};

//장바구니목록
function _showCart()
{
	if (JpUtilsObject.isNotNull(window.opener))
	{
		if (JpUtilsString.isEmpty(window.opener.name))
		{
			window.opener.name = "cart";			
		};
		
		document.location.href = "/portal/iv/hq/parts/cart/popup/list";
	}
	else
	{
		Popup.open("/portal/iv/hq/parts/cart/popup/list", 900, 600);
	};
};

//장바구니담기
function _addCart(arg)
{
	if (JpUtilsObject.isNull(arg))
	{
		return;
	};
	
	let materialNos = [];
	
	if (!Array.isArray(arg))
	{
		materialNos.push(arg);
	}
	else
	{
		materialNos = arg;
	};
	
	if (JpUtilsObject.isNotNull(materialNos) && materialNos.length > 0)
	{
		try
		{
			JpUtilsAjax.post({
				url: "/portal/iv/hq/parts/cart/add",
				data: {"materialNos": materialNos.join(",")},
				beforeSend: function(jqXHR, settings)
				{
					ProgressBar.show();
				},			
			    success: function(response, textStatus, jqXHR)
			    {
			    	if (confirm("[[#{HQP_M_ADD_CART}]]"))
					{
			    		_showCart();
			    		
			    		if (window.opener != null)
			    		{
			    			//window.close();
			    		};
					}
			    },
			    complete: function(jqXHR, textStatus)
		    	{
		    		ProgressBar.hide();
		    	}
			});
			
		}
		catch (e) { console.log("error", e); }		
	};
};

/*
 * Datatables default loading 처리. 최초 화면 로딩 시 ajax 실행되지 않게 함.
 * ServerSide: true, deferLoading: false 옵션을 적용할 경우 화면 로딩과 동시에 ajax 가 실행되지 않지만 않지만 ServerSide: true 를 설정할 경우 sorting 과 같은 기능 실행 시 서버 사이드에서 처리를 해야 함. 
 */
function _defaultLoading(gridObj, option)
{
	if (JpUtilsString.isNotEmpty(location.search) && JpUtilsObject.isNotNull(option.loaded))
	{
		const urlParams = new URLSearchParams(location.search);
		let exceptionParams = option.exceptionParams;
		
		if (JpUtilsString.isNotEmpty(exceptionParams))
		{
			$.each(exceptionParams, function(index, item) {
				urlParams.delete(item);
			});
		};
		
		if (Array.from(urlParams).length > 0)
		{
			gridObj.settings()[0].jqXHR.abort();//dummy 페이지가 로딩 중이면 로딩을 멈춘다
			option.loaded();
		};
	};
};

//자동 스크롤 탑
$("body").scroll(function() {
	if ($(this).scrollTop() > 200)
	{
		$(".bt-gotop").fadeIn();
	}
	else
	{
		$(".bt-gotop").fadeOut();
	};
});

$(".gotop").click(function() {
	$("html, body").animate( { scrollTop : 0 }, 400);
	return false;
});

/*
 * Ajax global settings.
 */
$(document).ajaxError(function(event, jqXHR, ajaxSettings, thrownError) {
	if (jqXHR.status == "401" || jqXHR.status == "403")
	{
		document.location.href = "[[${T(org.jwebppy.portal.common.PortalConfigVo).FORM_LOGOUT_PROCESSING_URL}]]";
	}
	else
	{
		//document.location.href = "[[${T(org.jwebppy.platform.core.PlatformConfigVo).ERROR_PAGE_URL}]]";
	};
	
	try
	{
		ProgressBar.hide();
	}
	catch (e) {}
});

$(document).ajaxSend(function(event, jqXHR, ajaxOptions) {
	jqXHR.setRequestHeader(JpUtilsSecurity.CSRF.NAME, JpUtilsSecurity.CSRF.TOKEN);
});
</script>