<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.3/css/select.bootstrap.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.min.css"/>
<link rel="stylesheet" type="text/css" th:href="@{/portal/css/jquery/jquery.bxslider.css}">

<!--/* CDN 사용 불가 경우 대비. 주석 제거하고 사용. 
<link rel="stylesheet" type="text/css" th:href="@{/portal/js/jquery-ui/jquery-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/portal/js/datatables/DataTables-1.12.1/css/query.dataTables.min.1.11.4.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/portal/js/datatables/Select-1.4.0/css/select.bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/portal/js/semantic/semantic.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/portal/css/dropzone/dropzone.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/portal/css/d3/cs.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/portal/css/jquery/jquery.bxslider.css}">
*/-->

<!-- custom css -->
<link rel="stylesheet" type="text/css" th:href="@{/portal/css/layout/iv/hq/parts/basic.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/portal/css/layout/iv/hq/parts/gnb.css}">
<link rel="stylesheet" type="text/css" th:href="@{/portal/js/datatables/datatables.custom.css}" />