<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/eu/parts/popup/index}">
	
<th:block layout:fragment="content">	
<div class="block-header">
	<div class="block-title" th:text="#{EUP_T_0087}"></div><!-- Alternative List -->
	<div class="block-button-area">
		<button id="BTN_search" type="button" th:text="#{EUP_B_0002}"></button><!-- Search -->
		<!-- button id="BTN_close" type="button" th:text="#{DIVUK_BTN_0005}"></button><!-- Close -->
	</div>	
</div>	
<div class="condition-area">
<form id="FORM_search" name="FORM_search">
<table class="condition">
	<tbody>
		<tr>
			<th th:text="#{EUP_L_0102}"></th><!-- Parts No -->
			<td colspan="3">
				<div class="input-area">
					<input type="text" id="pPartsNo" name="pPartsNo" class="custom-ui-btn" th:value="${pPartsNo}">
					<button class="btn-popup2" type="button" onclick="searchParts();"></button>
				</div>
			</td>
		</tr>
	</tbody>
</table>
</form>	
</div>
<div class="split-row"></div>
<div class="grid-info">
	<div class="grid-total">
		<div class="split"></div>
		<span class="total-number" id="totalRows"></span>
	</div>
</div>

<div id="AREA_grid" class="flex-grow grid-area">
	<table id="TBL_grid" class="order-column stripe compact"></table>	
</div>

<script type="application/javascript">
var $tableObj;
var totalRows = 0;

$(function(){	
	$tableObj = $("#TBL_grid").DataTable({
		select: true,   			
		ordering: true, 
		scrollY: 100,
		columns : [						
			{data: "NMATNR", 		title: "[[#{EUP_L_0102}]]"	},	// Parts No.
			{data: "AMATNR", 		title: "[[#{EUP_L_0190}]]"	},	// Alternative
			{data: "AQTY", 			title: "[[#{EUP_L_0141}]]"	}	// Qty			
		],
		ajax: {
			url: "[[${BASE_PATH}]]/info/alternative_popup_list/data",
			data: function(p)
			{				
				p.pPartsNo = $("#pPartsNo").val();
			},
			dataSrc: function(response) 
			{				
				var data = response.RESULT;
				
				$("#totalRows").html(data.length + " row(s).");
				
				return data;
			}
		},
		initComplete:function(settings, json) 
		{			
			ProgressBar.hide();
		}
	});
	
	// window 리사이즈시 그리드 높이 다시 맞춤. (그리드의 parent 요소의 높이에 맞춤)
	installDataTableResizer($tableObj, $("#AREA_grid"));
	
	// dataTable 버그 수정.
	installDataTableBugFix("TBL_grid");

	// Search 버튼 클릭
	$("#BTN_search").on("click", function(){		
		doSearch(); 
	});
});	

function doSearch()
{
	$tableObj.ajax.reload();
}

/*
 * code(parts)변경 popup	 
 */ 	
function searchParts(){
	var param = "pPartsNo=" + $("#pPartsNo").val();
	Popup.open("[[${BASE_PATH}]]/info/parts_number_popup_list?" + param, 700, 600);	
}

$("#BTN_close").on("click", function(){
	self.close();	
});
</script>	
</th:block>
