<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/eu/parts/popup/index}">

<th:block layout:fragment="content">
	<div class="block-header">
		<div class="block-title" th:text="#{EUP_T_0081}"></div><!--Models applied by part-->
		<div class="block-button-area">
			<button id="BTN_download" type="button" th:text="#{EUP_B_0003}"></button><!-- Download -->
			<button id="BTN_search" type="button" th:text="#{EUP_B_0002}"></button><!-- Search -->			
			<!-- button id="BTN_close" type="button" th:text="#{DIVUK_BTN_0005}"></button><!-- Close -->				
		</div>		
	</div>	
	
	<div class="condition-area">
	<form id="FORM_search" name="FORM_search" onsubmit="return false;">
	<input type='hidden' name='FLAG' id='FLAG' value='S'><!-- Sub Item List의 로딩시 Search를 위한 flag-->
	<table class="condition">
		<tbody>
			<tr>
				<th th:text="#{EUP_L_0102}"></th><!--Parts No.  -->
				<td>
					<div class="input-area">
						<input type="text" id="pPartsNo" name="pPartsNo" class="custom-ui-btn" th:value="${pPartsNo}" style="text-transform: uppercase;">
						<button class="btn-popup2" type="button" onclick="searchParts();"></button>					
					</div>				
				</td>
			</tr>
		</tbody>
	</table>
	</form>	
	</div>
	<div class="split-row"></div>
	<div class="grid-info">
		<div class="grid-total">
			<div class="split"></div>
			<span class="total-number" id="totalRows"></span>
		</div>
	</div>
	<div id="AREA_grid" class="flex-grow grid-area">
		<table id="TBL_grid" class="order-column stripe compact"></table>	
	</div>
	
	<script type="application/javascript">
	let $tableObj;
	
	$(function(){	
		$tableObj = $("#TBL_grid").DataTable({
			select: true,   			
			ordering: true, 
			scrollY: 100,
			columns : [					
				{data: "SEQ", 		title: "Seq."	},	// Seq.
				{data: "MAKTX", 	title: "[[#{EUP_L_0148}]]"	},	// Model
				{data: "MATNR", 	title: "MATNR"	},
				{data: "MDESC", 	title: "MDESC"	},
				{data: "MVGR3", 	title: "MVGR3"	},
				{data: "SPART", 	title: "SPART"	}			
			],
			columnDefs: [
				{targets: [0], className: 'dt-body-center'},
				{targets: [2, 3, 4, 5], visible: false}
			],
			ajax: {
				url: "[[${BASE_PATH}]]/info/applied_model_popup_list/data",
				data: function(p)
				{				
					p.pPartsNo = $("#pPartsNo").val();
				},
				dataSrc: function(response) 
				{				
					let data = response.RESULT;
					
					for (let i=0, length=data.length; i<length; i++)
					{
						data[i].SEQ = i+1;
					}
					
					$("#totalRows").html(data.length+" row(s).");
					
					return data;
				}
			},
			initComplete: function() {
				ProgressBar.hide();
			}		
		});	
		
		// Datatable grid 초기 설정 셋업
		initGridTable($tableObj);		
		
		// Search 버튼 클릭
		$("#BTN_search").on("click", function(){
			doSearch();
		});
		
		//Input text 엔터 키 입력
		$("#pPartsNo").on("keydown", function(event) {
			
			$(this).val($(this).val().toUpperCase());
			
			if (event.keyCode == 13)
			{
				doSearch();
			};
		});
		
		$("#BTN_download").on("click", function(){		
			let gridFileDownload = new GridFileDownload($tableObj);
			gridFileDownload.fileName = "Models_applied_by_Parts";
			gridFileDownload.excelDownload();				
		});		
	});	
	
	function doSearch()
	{
		if ($.trim($("#pPartsNo").val()) == "")
		{
			alert("Please input the Parts No.");
			return;
		}
		
		$tableObj.ajax.reload();
	}
	
	/*
	 * code(parts)변경 popup	 
	 */ 	
	function searchParts()
	{
		let param = "pPartsNo=" + $("#pPartsNo").val();
		Popup.open("[[${BASE_PATH}]]/info/parts_number_popup_list?" + param, 700, 600);		
	}
	
	function setPartsNo(partsNo)
	{
		$("#pPartsNo").val(partsNo);
	};
	
	$("#BTN_close").on("click", function(){
		self.close();	
	});
	</script>	
</th:block>
