<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/hq/parts/common/index}">
	
<th:block layout:fragment="content">
	<div class="block-header">
		<div class="block-title" th:text="#{HQP_T_AP_LIST}"></div>
		<div class="block-button-area">
			<button id="BTN_search" type="button" th:text="#{HQP_B_SEARCH}"></button>
		</div>
	</div>
	<div class="split-row"></div>
	
	<div class="condition-area">
		<table class="condition table-fixed">
			<thead>
		        <tr>
		            <th th:text="#{HQP_L_ORDER_LIMIT}"></th>
		            <th th:text="#{HQP_L_BALANCE}"></th>                        
		            <th th:text="#{HQP_L_THIS_MONTH_DEPOSIT_AMT}"></th>
		            <th th:text="#{HQP_L_ORDER_AMT_IN_PROGRESS}"></th>
		            <th th:text="#{HQP_L_DISPOSABLE_SECURITY_AMT}"></th>
		        </tr>
		     </thead>
		     <tbody>
				<tr>
					<td id="SUMMARY_1" class="right"></td>
					<td id="SUMMARY_2" class="right"></td>
					<td id="SUMMARY_3" class="right"></td>
					<td id="SUMMARY_4" class="right"></td>
					<td id="SUMMARY_5" class="right"></td>
				</tr>
			</tbody>        
		</table>
		<div class="split-row-compact"></div>
		<div class="condition-normal-sub-title text-alert" th:text="#{HQP_T_AP_LIST_INFO1}"></div>
		<div class="condition-normal-sub-title text-alert" th:text="#{HQP_T_AP_LIST_INFO2}"></div>
	</div>
	
	<div class="grid-info">
		<div class="grid-total">
			<div class="split"></div>
			<span class="total-number" id="totalRows"></span>
		</div>
	</div>
	
	<div id="AREA_grid" class="flex-grow grid-area">		
		<table id="TBL_grid" class="order-column stripe compact"></table>
	</div>
	
<script>
let $tableObj;
$(function(){
	$tableObj = $("#TBL_grid").DataTable({
		select: true,   			// row 선택 기능 켬
		ordering: true, 			// 정렬 기능 켬
		scrollY: 100,
		//fixedColumns: { leftColumns: 8 },
		columns : [
			{data: "CRDAT", title: "[[#{HQP_L_PURCHASE_DATE}]]"},				
			{data: "ENDAT", title: "[[#{HQP_L_PAYMENT_DUE_DATE}]]"},
			{data: "TLAMT", title: "[[#{HQP_L_BILLING_AMT}]]", className: "right"},
			{data: "RETAMT", title: "[[#{HQP_L_RETURN_AMT}]]", className: "right"},
			{data: "CHAMT", title: "[[#{HQP_L_EXPECTED_PAYMENT_AMT}]]", className: "right"},
			{data: "TOTAL", title: "[[#{HQP_L_DEPOSIT_AMT}]]", className: "right"},
			{data: "ARREAR", title: "[[#{HQP_L_BALANCE}]]", className: "right"}
		],
		ajax: {
			url: "/portal/iv/hq/parts/domestic/accounts/ap/list/data",
			data: function(p)
			{
			},
			dataSrc: function(response) 
			{				
				let data = response.RESULT;
				
				let list = data.list;
				let summary = data.summary;
				
				$("#SUMMARY_1").text(summary.CREDAMT);
				$("#SUMMARY_2").text(summary.DUEAMT);
				$("#SUMMARY_3").text(summary.CURAMT);
				$("#SUMMARY_4").text(summary.PROAMT);
				$("#SUMMARY_5").text(summary.BALAMT);
				
				let length = list.length;
				
				for (let i=0; i < length; i++)
				{
					list[i].CRDAT = JpUtilsString.defaultString(list[i].CRDAT, "[[#{HQP_L_ORDER_IN_PROGRESS}]]");
				};
				
				$("#totalRows").html(JpUtilsNumber.addComma(length) + " row(s).");
				
				return list;
			}			
		},
		initComplete:function(settings, json) 
		{			
			ProgressBar.hide();
		}
	});
	
	// Datatable grid 초기 설정 셋업
	initGridTable($tableObj);
});

$("#BTN_search").on("click", function(){		
	doSearch(); 
});

function doSearch()
{
	$tableObj.ajax.reload();
}
</script>	
</th:block>