<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/common/index}">
	
<th:block layout:fragment="content">
	<div class="block-header">
		<div class="block-title" th:text="#{HQP_L_AP_DETAIL}"></div>
		<div class="block-button-area">
			<button id="BTN_download" type="button" th:text="#{HQP_B_DOWNLOAD}"></button>
			<button id="BTN_search" type="button" th:text="#{HQP_B_SEARCH}"></button>
		</div>
	</div>
	<div class="condition-area">
	<form id="FORM_search" name="FORM_search">
	
	<table class="condition">
		<tbody>
			<tr>
				<th th:text="#{HQP_L_SHIPMENT_NO}"></th>
				<td>
					<div class="input-area">
						<input type="text" id="pShipmentNo" name="pShipmentNo" class="custom-ui" th:value="${pShipmentNo}">
					</div>			
				</td>
				<th th:text="#{HQP_L_PART_NO}"></th>
				<td>
					<div class="input-area">
						<input type="text" id="pPartNo" name="pPartNo" class="custom-ui" th:value="${pPartNo}">
					</div>			
				</td>				
			</tr>
			<tr>
				<th th:text="#{HQP_L_COMMERCIAL_INVOICE_NO}"></th>
				<td>
					<div class="input-area">
						<input type="text" id="pFromInvoiceNo" name="pFromInvoiceNo" class="custom-ui-scope" th:value="${pFromInvoiceNo}">
						<input type="text" id="pToInvoiceNo" name="pToInvoiceNo" class="custom-ui-scope" th:value="${pToInvoiceNo}">
					</div>
				</td>
				<th th:text="#{HQP_L_BILLING_DATE}"></th>
				<td>
					<div class="input-area">
						<input type="text" id="pFromDate" name="pFromDate" class="custom-ui-calendar" th:value="${pFromDate}">
						<input type="text" id="pToDate" name="pToDate" class="custom-ui-calendar to" th:value="${pToDate}">					
					</div>
				</td>
			</tr>			
		</tbody>
	</table>
	</form>
	</div>
	<div class="split-row"></div>
	
	<div class="grid-info">
		<div class="grid-total">
			<div class="split"></div>
			<span class="total-number" id="totalRows"></span>
		</div>
	</div>
	
	<div id="AREA_grid" class="flex-grow grid-area">
		<table id="TBL_grid" class="order-column stripe compact"></table>
	</div>
	
	<script type="application/javascript">
	$(function(){
		Calendar.makeBeetweenCalendar($("#pFromDate"), "[[${pFromDate}]]", $("#pToDate"), "[[${pToDate}]]");
			
		$tableObj = $("#TBL_grid").DataTable({
			select: true,   			// row 선택 기능 켬
			ordering: true, 			// 정렬 기능 켬
			scrollY: 100,
			//fixedColumns: { leftColumns: 8 },
			columns : [
				{data: "TKNUM2", title: "[[#{HQP_L_SHIPMENT_NO}]]"},				
				{data: "EXIDV", title: "[[#{HQP_L_HU_NO}]]"},
				{data: "VEPOS", title: "[[#{HQP_L_DIV_SEQ}]]"},
				{data: "VBELN", title: "[[#{HQP_L_BILLING_NO}]]"},
				{data: "POSNR", title: "[[#{HQP_L_BILLING_LINE_ITEM}]]"},				
				{data: "FKDAT", title: "[[#{HQP_L_BILLING_DATE}]]"},
				{data: "BSTKD", title: "[[#{HQP_L_PO_NO}]]"},
				{data: "MATNR_OP", title: "[[#{HQP_L_ORDER_PART_NO}]]"},
				{data: "MATNR_SP", title: "[[#{HQP_L_SHIPPED_PART_NO}]]"},
				{data: "MAKTX", title: "[[#{HQP_L_PART_DESC}]]"},
				{data: "AUART_T", title: "[[#{HQP_L_ORDER_TYPE}]]"},
				{data: "VBELN_VA", title: "[[#{HQP_L_ORDER_NO}]]"},
				{data: "POSNR_VA", title: "[[#{HQP_L_LINE_ITEM}]]"},				
				{data: "FKIMG", title: "[[#{HQP_L_ORDER_QTY}]]", className: "right"},
				{data: "VRKME", title: "[[#{HQP_L_UOM}]]"},
				{data: "NETPR", title: "[[#{HQP_L_AP_UNIT_PRICE}]]", className: "right"},
				{data: "NETWR", title: "[[#{HQP_L_AP_AMT}]]", className: "right"},
				{data: "WAERK", title: "[[#{HQP_L_CURR}]]"},
				{data: "HERKL", title: "[[#{HQP_L_ORIGIN}]]"},
				{data: "VBELN_VL", title: "[[#{HQP_L_AP_DELIVERY_NO}]]"},
				{data: "POSNR_VL", title: "[[#{HQP_L_DIV_SEQ}]]"},
				{data: "MWSBP", title: "[[#{HQP_L_TAX_AMT}]]", className: "right"},
				{data: "VENUM", title: "[[#{HQP_L_INTERAL_HU_NO}]]"}
			],
			ajax: {
				url: "/portal/iv/hq/parts/domestic/accounts/ap/view/data",
				data: function(p)
				{
					p.pShipmentNo = $("#pShipmentNo").val();
					p.pPartNo = $("#pPartNo").val();
					p.pFromOnboardDate = $("#pFromInvoiceNo").val();
					p.pToOnboardDate = $("#pToInvoiceNo").val();
					p.pFromDate = $("#pFromDate").val();
					p.pToDate = $("#pToDate").val();
				},
				dataSrc: function(response) 
				{				
					let data = response.RESULT;
					
					$("#totalRows").html(JpUtilsNumber.addComma(data.length) + " row(s).");
					
					return data;
				}			
			},
			initComplete:function(settings, json) 
			{			
				ProgressBar.hide();
			}
		});
		
		// Datatable grid 초기 설정 셋업
		initGridTable($tableObj);
		
		// Search 버튼 클릭
		$("#BTN_search").on("click", function(){		
			doSearch();			// dataTable의 ajax 설정을 이용해  다시 조회. 
		});
		
		//Input text 엔터 키 입력
		$("#FORM_search input:text").on("keydown", function(event) {
			if (event.keyCode == 13)
			{
				doSearch();
			};
		});
		
		$("#BTN_download").on("click", function() {
			let gridFileDownload = new GridFileDownload($tableObj);
			gridFileDownload.fileName = "AP_List_Detail";
			gridFileDownload.excelDownload();
		});
		
		function doSearch()
		{
			$tableObj.ajax.reload();
		}	
	});
	
	</script>	
</th:block>