<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/popup/index}">
	
<th:block layout:fragment="content">	
<div class="block-header">
	<div class="block-title" th:text="#{DIVUK_TXT_0028}"></div><!-- Alternative List  -->
	<div class="block-button-area">
		<button id="BTN_search" type="button" th:text="#{DIVUK_BTN_0012}"></button><!-- Search -->
		<!-- button id="BTN_close" type="button" th:text="#{DIVUK_BTN_0005}"></button><!-- Close -->
	</div>	
</div>	
<div class="condition-area">
<form id="FORM_search" name="FORM_search">
<table class="condition">
	<tbody>
		<tr>
			<th th:text="#{DIVUK_LB_0042}"></th><!--Part No.  -->
			<td colspan="3">			
				<div class="input-area">
					<input type="text" id="pPartNo" name="pPartNo" class="custom-ui-btn" th:value="${pPartNo}">
					<button class="btn-popup2" type="button" onclick="searchParts();"></button>
				</div>										
			</td>
		</tr>
	</tbody>
</table>
</form>	
</div>
<div class="split-row"></div>

<div class="grid-info">
	<div class="grid-total">
		<div class="split"></div>
		<span class="total-number" id="totalRows"></span>
	</div>
</div>

<div id="AREA_grid" class="flex-grow grid-area">
	<table id="TBL_grid" class="order-column stripe compact"></table>	
</div>

<script>
var $tableObj;
var totalRows = 0;

$(function(){	
	$tableObj = $("#TBL_grid").DataTable({
		select: true,   			
		ordering: true, 
		scrollY: 100,
		columns : [						
			{data: "NMATNR", 		title: "[[#{DIVUK_LB_0042}]]"	},	//Part No 
			{data: "AMATNR", 		title: "[[#{DIVUK_LB_0082}]]"	},	//Alternative
			{data: "AQTY", 			title: "[[#{DIVUK_LB_0056}]]"	}	//Qty
		],
		ajax: {
			url: "/portal/corp/uk/scm/parts/info/alternative_popup_list/data",
			data: function(p)
			{				
				p.pPartNo = $("#pPartNo").val();
			},
			dataSrc: function(response) 
			{				
				var data = response.RESULT;
				var returnData = new Array();
				
				totalRows = data.length;
				return data;
			}
		}
	}).on("draw.dt", function() {
		$("#totalRows").html(totalRows+" row(s).");
		ProgressBar.hide();
	});		
	
	// window 리사이즈시 그리드 높이 다시 맞춤. (그리드의 parent 요소의 높이에 맞춤)
	installDataTableResizer($tableObj, $("#AREA_grid"));
	
	// dataTable 버그 수정.
	installDataTableBugFix("TBL_grid");

	// Search 버튼 클릭
	$("#BTN_search").on("click", function(){		
		doSearch(); 
	});
});	

function doSearch()
{
	$tableObj.ajax.reload();
}

/*
 * code(parts)변경 popup	 
 */ 	
function searchParts(){
	var param = "pPartNo=" + $("#pPartNo").val();
	Popup.open("/portal/corp/uk/scm/parts/info/parts_number_popup_list?" + param, 700, 600);	
}

$("#BTN_close").on("click", function(){
	self.close();	
});
</script>	
</th:block>
