<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/hq/parts/popup/index}">
	
<th:block layout:fragment="content">	
<div class="block-header">
	<div class="block-title" th:text="#{HQP_T_ALTERNATIVE_LIST}"></div><!-- Alternative List  -->
	<div class="block-button-area">
		<button id="BTN_search" type="button" th:text="#{HQP_B_SEARCH}"></button><!-- Search -->
	</div>	
</div>	
<div class="condition-area">
<form id="FORM_search" name="FORM_search">
<table class="condition">
	<tbody>
		<tr>
			<th th:text="#{HQP_L_PART_NO}"></th><!--Part No.  -->
			<td colspan="3">			
				<div class="input-area">
					<input type="text" id="pPartNo" name="pPartNo" class="custom-ui-btn" th:value="${pPartNo}">
					<button class="btn-popup2" type="button" onclick="_showPartSearch($('#pPartNo').val());"></button>
				</div>										
			</td>
		</tr>
	</tbody>
</table>
</form>	
</div>
<div class="split-row"></div>

<div class="grid-info">
	<div class="grid-total">
		<div class="split"></div>
		<span class="total-number" id="totalRows"></span>
	</div>
</div>

<div id="AREA_grid" class="flex-grow grid-area">
	<table id="TBL_grid" class="order-column stripe compact"></table>	
</div>

<script>
$(document).ready(function() {
	_setPartAutocomplete($("#pPartNo"));
});

let $tableObj;
$(function(){	
	$tableObj = $("#TBL_grid").DataTable({
		select: true,   			
		ordering: true, 
		scrollY: 100,
		columns : [						
			{data: "NMATNR",	title: "[[#{HQP_L_PART_NO}]]"},//Part No
			{data: "AMATNR", 	title: "[[#{HQP_L_ALTERNATIVE}]]"},//Alternative
			{data: "AQTY", 		title: "[[#{HQP_L_QTY}]]"}//Qty
		],
		ajax: {
			url: "[[${BASE_PATH}]]/info/alternative_list/data",
			data: function(p)
			{				
				p.pPartNo = $("#pPartNo").val();
			},
			dataSrc: function(response) 
			{				
				let data = response.RESULT;
				
				$("#totalRows").html(JpUtilsNumber.addComma(data.length) + " row(s).");
				
				return data;
			}
		},
		initComplete:function(settings, json) 
		{			
			ProgressBar.hide();
		}
	});
	
	// Datatable grid 초기 설정 셋업
	initGridTable($tableObj);
});

$("#BTN_search").on("click", function(){		
	doSearch(); 
});

$("#pPartNo").on("keydown", function(event) {
	if (event.keyCode == 13)
	{
		if ($.trim($("#pPartNo").val()) != "")
		{
			doSearch();	
		};
	};
});

function doSearch()
{
	$tableObj.ajax.reload();
};

//showPartSearch() callback 함수
function _callbackPartSearch(partNo)
{
	$("#pPartNo").val(partNo);
	doSearch();
};
</script>	
</th:block>
