<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/popup/index}">

<th:block layout:fragment="content">
<div class="block-header">
	<div class="block-title" th:text="#{HQPD_T_APPLIED_MODELS}"></div><!-- Applied Models  -->
	<div class="block-button-area">
		<button id="BTN_download" type="button" th:text="#{HQPD_B_DOWNLOAD}"></button><!-- Download -->
		<button id="BTN_search" type="button" th:text="#{HQPD_B_SEARCH}"></button><!-- Search -->		
	</div>		
</div>	

<div class="condition-area">
<form id="FORM_search" name="FORM_search" onsubmit="return false;">
<input type="hidden" name="FLAG" id="FLAG" value="S"><!-- Sub Item List의 로딩시 Search를 위한 flag-->
<table class="condition">
	<tbody>
		<tr>
			<th th:text="#{HQPD_L_PART_NO}"></th><!--Part No.  -->
			<td>
				<div class="input-area">
					<input type="text" id="pPartNo" name="pPartNo" class="custom-ui-btn" th:value="${pPartNo}" style="text-transform: uppercase;">
					<button class="btn-popup2" type="button" onclick="showSearchPartsPopup();"></button>					
				</div>				
			</td>
		</tr>
	</tbody>
</table>
</form>	
</div>
<div class="split-row"></div>

<div class="grid-info">
	<div class="grid-total">
		<div class="split"></div>
		<span class="total-number" id="totalRows"></span>
	</div>
</div>

<div id="AREA_grid" class="flex-grow grid-area">
	<table id="TBL_grid" class="order-column stripe compact"></table>	
</div>

<script>
let $tableObj;
let totalRows = 0;

$(function(){	
	$tableObj = $("#TBL_grid").DataTable({
		select: true,   			
		ordering: true, 
		scrollY: 100,
		columns : [					
			{data: "SEQ", 		title: "[[#{HQPD_L_SEQ}]]"	},	//Seq.
			{data: "MAKTX", 	title: "[[#{HQPD_L_MODEL}]]"	},	//Model
			{data: "MATNR", 	title: "MATNR"	},	
			{data: "MDESC", 	title: "MDESC"	},	
			{data: "MVGR3", 	title: "MVGR3"	},	
			{data: "SPART", 	title: "SPART"	}			
		],
		columnDefs: [
			{ 
				"targets": [ 2,3,4,5 ],
                "visible": false,				
			}			
		],
		ajax: {
			url: "/portal/scm/parts/domestic/info/applied_model_popup_list/data",
			data: function(p)
			{				
				p.pPartNo = $("#pPartNo").val();
				//p.pProductType = $("#pProductType").val();
			},
			dataSrc: function(response) 
			{				
				let data = response.RESULT;
				
				for (let i=0, length=data.length; i<length; i++)
				{
					data[i].SEQ = i+1;
				}
				
				$("#totalRows").html(data.length+" row(s).");
				
				return data;
			}
		},
		initComplete: function() {
			ProgressBar.hide();
		}
	});	
	
	// Datatable grid 초기 설정 셋업
	initGridTable($tableObj);		
	
	// Search 버튼 클릭
	$("#BTN_search").on("click", function(){
		doSearch();
	});
	
	//Input text 엔터 키 입력
	$("#pPartNo").on("keydown", function(event) {
		
		$(this).val($(this).val().toUpperCase());
		
		if (event.keyCode == 13)
		{
			doSearch();
		};
	});
	
	$("#BTN_download").on("click", function(){		
		let gridFileDownload = new GridFileDownload($tableObj);
		gridFileDownload.fileName = "models_applied_by_parts";
		gridFileDownload.excelDownload();				
	});		
});	

function doSearch()
{
	if ($.trim($("#pPartNo").val()) == "")
	{
		alert("Please input the Part No.");
		return;
	}
	
	$tableObj.ajax.reload();
}

/*
 * code(parts)변경 popup	 
 */ 	
 function showSearchPartsPopup()
 {
 	let param = "pPartNo=" + $("#pPartNo").val();
 	Popup.open("/portal/scm/parts/domestic/info/parts_number_popup_list?" + param, 700, 600);		
 }

function setPartsNo(partsNo)
{
	$("#pPartNo").val(partsNo);
};
</script>	
</th:block>
