<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/popup/index}">
	
<th:block layout:fragment="content">	
	<div class="block-header">
		<div class="block-title" th:text="#{HQPD_T_PART_NO}"></div><!-- Part No. -->
		<div class="block-button-area">
			<button id="BTN_search" type="button" th:text="#{HQPD_B_SEARCH}"></button><!-- Search -->
		</div>	
	</div>	
	<div class="condition-area">
	<form id="FORM_search" name="FORM_search">
	<table class="condition">
		<tbody>
			<tr>
				<th th:text="#{HQPD_L_PART_NO}"></th><!-- Part No.  -->
				<td>			
					<div class="input-area">			
						<input type="text" id="pPartNo" name="pPartNo" class="custom-ui" th:value="${pPartNo}" style="text-transform: uppercase;">
					</div> 										
				</td>
			</tr>
			<tr>			
				<th th:text="#{HQPD_L_DESCRIPTION}"></th><!--Description  -->
				<td>
					<div class="input-area">			
						<input type="text" id="pPartDesc" name="pPartDesc" class="custom-ui" th:value="${pPartDesc}">
					</div>							
				</td>			
			</tr>		
		</tbody>
	</table>
	</form>	
	</div>
	<div class="split-row"></div>
	<div class="grid-info">
		<div class="grid-total">
			<div class="split"></div>
			<span class="total-number" id="totalRows"></span>
		</div>
	</div>
	<div id="AREA_grid" class="flex-grow grid-area">
		<table id="TBL_grid" class="order-column stripe compact"></table>	
	</div>
	
	<script>
	let $tableObj;
	
	$(function(){
		$("#pPartNo, #pPartDesc").on("keydown", function(event) {
			
			$("#pPartNo").val($("#pPartNo").val().toUpperCase());
			
			if (event.keyCode == 13)
			{
				doSearch();
			};
		});
		
		$tableObj = $("#TBL_grid").DataTable({
			select: {
				selector: 'td:not(.noselect)'	// noselect class 컬럼은 select 하지 않도록 한다. (input과 충돌 발생)
		    },
			ordering: true, 
			scrollY: 100,
			columns: [
				{// 컬럼에 radio 설정
					name: "RAD_MATNR",
					className:"center noselect skip-download",// row selection 기능 막음.
					orderable: false,// checkbox 는 정렬 불가
					render: function(data, type, row)
					{
						if (row.disabled == "disabled")
						{
							return "";
						}
	
						return '<input type="radio" name="RAD_MATNR" id="RAD_MATNR" class="custom-ui" value="' + row.MATNR + '" onclick="clickParts(this)"><label for="RAD_MATNR"></label>';// FixedColumns 사용시엔 syncInput 호출 필요함.
					}
				},
				{name: "MATNR", data: "MATNR", title: "[[#{HQPD_L_PART_NO}]]"},		//Part No. 
				{name: "MAKTX", data: "MAKTX", title: "[[#{HQPD_L_DESCRIPTION}]]"}	//Description	
			],
			ajax: {
				url: "/portal/iv/hq/parts/domestic/info/popup/part_search/data",
				data: function(p)
				{				
					p.pPartNo = $("#pPartNo").val();
					p.pPartDesc = $("#pPartDesc").val();
				},
				dataSrc: function(response) 
				{				
					let data = response.RESULT;
					
					if (data == null)
					{
						return [];
					}
					
					let returnData = new Array();
					
					for (let i=0, length=data.length; i<length; i++)
					{
						data[i].RAD_MATNR = "";					
					}
					
					$("#totalRows").html(data.length + " row(s).");
					
					return data;
				}
			},
			initComplete: function() {
				ProgressBar.hide();
			}
		});
	
		// Datatable grid 초기 설정 셋업
		initGridTable($tableObj);
		
		// Search 버튼 클릭
		$("#BTN_search").on("click", function(){		
			doSearch(); 
		});
	});
	
	function clickParts(obj)
	{
		try
		{
			opener.setPartsNo(obj.value);
		}
		catch (e) {}
	};
	
	function doSearch()
	{
		$tableObj.ajax.reload();
	}
	</script>	
</th:block>
