<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jwebppy.portal.iv.survey.mapper.SurveyApplyMapper">
	<resultMap type="SurveyApplyEntity" id="surveyApplyEntityMap">
		<id property="sSeq" column="s_seq" />
		<result property="sqSeq" column="sq_seq" />
		<result property="title" column="title" />
		<result property="type" column="type" />
		<result property="mandatoryCnt" column="mandatory_cnt" />
		<result property="fgMandatory" column="fg_mandatory" />
		<result property="siSeq" column="si_seq" />
		<collection property="items" foreignColumn="sq_seq" column="sq_seq" javaType="java.util.ArrayList" ofType="SurveyApplyEntity" select="findItemsBySqSeq" />
	</resultMap>
	
	<resultMap type="SurveyApplyEntity" id="surveyResultEntityMap">
		<id property="sSeq" column="s_seq" />
		<result property="sqSeq" column="sq_seq" />
		<result property="siSeq" column="si_seq" />
		<result property="title" column="title" />
		<result property="type" column="type" />
		<result property="voteCnt" column="vote_cnt" />
		<result property="resultTxt" column="result_txt" />
		<result property="mandatoryCnt" column="mandatory_cnt" />
		<collection property="items" foreignColumn="sq_seq" column="sq_seq" javaType="java.util.ArrayList" ofType="SurveyApplyEntity" select="findSurveyResultByItem" />
	</resultMap>

	<select id="findSurveyVoteItems" resultMap="surveyApplyEntityMap">
	select 
	a.s_seq, b.sq_seq, b.title, b.type, b.mandatory_cnt, b.fg_mandatory
	from ep_survey a, 
	ep_survey_question b
	where 
	a.s_seq = b.s_seq 
	and a.fg_delete = 'N' 
	and b.fg_delete = 'N'
	and a.s_seq = #{sSeq}
	order by b.sq_seq
	</select>
	
	<select id="findItemsBySqSeq" resultType="SurveyApplyEntity">
	select
		si_seq, sq_seq, title
	from ep_survey_item
	where sq_seq = #{sqSeq}
	and fg_delete = 'N'
	order by si_seq
	</select>
	
	<select id="findSurveyResult" resultMap="surveyResultEntityMap">
	select
    	esq.sq_seq, esq.s_seq, esq.title, esq.type, esq.mandatory_cnt, esq.fg_mandatory, tmp.vote_cnt
	from ep_survey_question esq, 
	(
	    select
	        esa.sq_seq, count(esa.sq_seq) vote_cnt
	    from ep_survey_apply esa, ep_survey_question esq
	    where esa.sq_seq = esq.sq_seq
	    and esq.s_seq = #{sSeq}
	    and esq.fg_delete = 'N'
	    group by esa.sq_seq    
	) tmp
	where esq.sq_seq = tmp.sq_seq
	and esq.s_seq = #{sSeq}
	and esq.fg_delete = 'N'
	order by esq.sq_seq
	</select>
	
	<select id="findSurveyResultByItem" resultType="SurveyApplyEntity">
	select
	    esi.si_seq, esi.sq_seq, esi.title, nvl(tmp.vote_cnt, 0) as vote_cnt
	    , (CASE WHEN esq.type in ('3', '4') THEN F_GET_MKQST_RESULT(esq.sq_seq, esq.type, esi.si_seq, item.item_cnt) ELSE '' END) as RESULT_TXT
	from ep_survey_item esi, ep_survey_question esq,
	(
		select
		    esa.sq_seq, esa.si_seq, count(esa.si_seq) vote_cnt            
		from ep_survey_apply esa, ep_survey_question esq
		where esa.sq_seq = esq.sq_seq
		and esa.sq_seq = #{sqSeq}
		and esq.fg_delete = 'N'
		group by esa.sq_seq, esa.si_seq
	) tmp,
    (
        select 
            sq_seq, count(*) item_cnt
        from ep_survey_item
        where sq_seq = #{sqSeq}
        group by sq_seq
    ) item
	where esi.si_seq = tmp.si_seq(+)
    and esi.sq_seq = esq.sq_seq
    and esq.sq_seq = item.sq_seq
	and esi.fg_delete = 'N'	
    
    order by esi.si_seq
	</select>
	
	<select id="findSurveyTextAnswers" resultType="SurveyApplyEntity">
	select 
	    esq.sq_seq, esq.s_seq, esq.title, esq.type, esq.mandatory_cnt, esq.fg_mandatory,
	    esa.answer
	from ep_survey_apply esa, ep_survey_question esq
	where 
	    esa.sq_seq = esq.sq_seq
	    and esa.sq_seq = #{sqSeq}
	</select>
	
	<insert id="insert" parameterType="SurveyApplyEntity" useGeneratedKeys="true" keyProperty="sa_seq">
		<selectKey keyProperty="saSeq" resultType="Integer" order="BEFORE">
			select ep_sa_seq.nextval from dual
		</selectKey>
		
		insert into ep_survey_apply (sa_seq, sq_seq, u_seq, si_seq, answer, reg_name, reg_username, reg_date) values (
			#{saSeq}, #{sqSeq}, #{uSeq}, ${siSeq}, #{answer}, #{regName}, #{regUsername}, #{regDate}
		)
	</insert>
</mapper>