<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title th:text="#{PLTF_T_0006}"></title>
		<!-- Meta -->
		<th:block th:replace="portal/layout/common/fragments/meta"></th:block>
		<!-- CSS -->
		<th:block th:replace="portal/layout/common/fragments/css"></th:block>
		<!-- JavaScript -->
		<th:block th:replace="portal/layout/common/fragments/js"></th:block>
	</head>
<body>
<!-- Progress bar start -->
<script type="application/javascript">
ProgressBar.show();
</script>
<!-- Progress bar end -->

<!-- Start Top -->
<th:block th:replace="portal/layout/common/fragments/top"></th:block>
<!-- End Top -->

<!-- Start Content -->
<th:block layout:fragment="content"></th:block>
<!-- End Content -->

<!-- Start Bottom -->
<th:block th:replace="portal/layout/common/fragments/bottom"></th:block>
<!-- End Bottom -->

</body>
</html>
