<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/uk/parts/popup/index}">

<th:block layout:fragment="content">
	<div class="block-header">
		<div class="block-title" th:text="#{EUP_T_0062}"></div>
		<div id="BTN_search" class="block-button-area">
			<button id="BTN_confirm" type="button" th:text="#{EUP_B_0029}"></button>
		</div>
	</div>
	
	<div class="condition-area">
	<table class="condition">
		<tbody>
			<tr>
				<th th:text="#{EUP_L_0014}"></th>
				<td>
					<div class="input-area order-type"></div>
				</td>
			</tr>		
		</tbody>
	</table>
	</div>	
<script type="application/javascript">

$(document).ready(function() {
	ProgressBar.hide();	
});

$(function(){
	//주문유형 가져오기
	var orderComponent = new OrderComponent();
	orderComponent.makeOrderType($(".order-type"), "orderType", null, false, "docType=C");
	
	$("#BTN_confirm").on("click", function() {
		try
		{
			opener.doTransferOrder(orderComponent.getSelectedOrderType());
			window.close();
		}
		catch (e) {}
	});
});
</script>	
</th:block>