<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/common/index}">
	
<th:block layout:fragment="content">
	<div class="block-header">
		<div class="block-title" th:text="#{DIVEU_TXT_0077}"></div><!-- Statement of Account -->
		<div class="block-button-area">
			<button id="BTN_pdfDownload" th:text="#{DIVEU_BTN_0008}"></button>		
			<button id="BTN_excelDownload" th:text="#{DIVEU_BTN_0003}"></button>		
		</div>		
	</div>	
	
	<div class="condition-area flex-grow">
	<table class="condition">
		<tbody>
			<tr style="display:none">
				<th th:text="#{DIVEU_LB_0120}"></th><!-- User ID -->
				<td>
					<div class="input-area">			
						<input type="text" id="adminUserID" name="adminUserID" class="custom-ui" th:value="${adminUserID}">
					</div>					
				</td>
			</tr>				
			<tr>				
				<th th:text="#{DIVEU_LB_0143}"></th><!-- Cut Off Date -->
				<td>
					<div class="input-area">
						<input type="text" id="pDate" name="pDate" class="custom-ui-calendar" th:value="pDate">
					</div>					
				</td>				
			</tr>
		</tbody>
	</table>
	</div>		
	
<script type="application/javascript">

$(function(){
	Calendar.makeCalendar($("#pDate"), "[[${pDate}]]");	
	
	$("#BTN_pdfDownload").on("click", function() {
		document.location.href = "/portal/corp/eu/scm/parts/account/download/pdf_download?pDate=[[${pDate}]]";
	});
	
	$("#BTN_excelDownload").on("click", function() {
		document.location.href = "/portal/corp/eu/scm/parts/account/download/excel_download?pDate=[[${pDate}]]";
	});
});

$(window).load(function() {
	ProgressBar.hide();
});
</script>