<div class="header">
	<div class="logo-area">
		<img class="logo-doosan" th:src="@{/portal/img/main/logo2.png}" alt="DOOSAN" /><img class="logo-doobizplus" th:src="@{/portal/img/doobizplus.png}" alt="DOOBIZ Plus" />
	</div>	
	<div class="info-area">
		<ul class="info-list">
			<li class="username" sec:authentication="name"></li>
			<li>|</li>
			<li class="new-window" th:text="#{PTL_T_NEW_WINDOW}"></li>
			<li>|</li>
			<li class="dealer-info" th:text="#{PTL_T_DEALER_INFO}"></li>
			<li>|</li>		
			<li class="tooltip"><span th:text="#{PTL_T_LAST_LOGIN_INFO}"></span><span class="last-login-time tooltiptext"></span></li>
		</ul>
		<div class="split"></div>
		<button class="logout-button" th:text="#{PTL_B_LOGOUT}"></button>
	</div>
</div>

<div class="gnb-wrap">
	<div class="gnb-container">
		<div class="gnb-menu-area">
			<ul class="gnb-menu-list" style="display:none;"></ul>					
			<ul class="gnb-menu-sub-list"></ul>
		</div>
	</div>
</div>

<div class="split-row"></div><div class="split-row"></div>

<!-- Logout -->
<form id="FORM_logout" method="post" th:action="@{${T(org.jwebppy.portal.common.PortalConfigVo).FORM_LOGOUT_PROCESSING_URL}}"></form>

<script>
$(document).ready(function() {
	//상단 메뉴 생성 공통함수
	makeGmb();
	
	$(".header .logo-doobizplus").on("click", function() {
		goHome()
	});
	
	$(".header li.new-window").on("click", function() {
		window.open("/portal/forward/entry_point", "");
	});
	
	$(".header li.dealer-info").on("click", function() {
		clickDealerInfo();	    		
	});
	
	$(".header li.username").on("click", function() {
		clickUserInfo();
	});
	
	$(".header .logout-button").on("click", function() {
		clickLogout();	    		
	});
	
	//Get last login information
	JpUtilsAjax.get({
		url: "/platform/mgmt/user/login/history/last_login_info",		
	    success: function(response, textStatus, jqXHR) 
	    {
	    	let data = response.RESULT;
	    	
	    	if (data != null && JpUtilsString.isNotEmpty(data.regDate))
	    	{
	    		$(".last-login-time").html(data.regDate + "/" + data.ip);
	    	}
	    	else
	    	{
	    		$(".last-login-time").html("-/-");
	    	};
	    }	
	});	
});

function goHome()
{
	document.location.href = "/portal/forward/entry_point";
};

function clickUserInfo()
{
	Popup.open("/portal/corp/eu/common/info/user/account_form", 600, 250);
};

function clickDealerInfo()
{
	Popup.open("[[${BASE_PATH}]]/dealer_info/view", 1100, 800);
};

function clickLogout()
{
	$("#FORM_logout").submit();
};
</script>