<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}" />
<title th:text="#{PTL_T_APP_NAME}"></title>

<link rel="stylesheet" type="text/css" th:href="@{/portal/css/layout/iv/login.css}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.css"/>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script th:src="@{/portal/js/jWebppy.utils.object.js}"></script>
<script th:src="@{/portal/js/jWebppy.utils.path.js}"></script>
<script th:src="@{/portal/js/jWebppy.utils.string.js}"></script>
<script th:src="@{/portal/js/jWebppy.utils.ajax.js}"></script>
<script th:src="@{/portal/js/jWebppy.ui.dimmer.js}"></script>

<script>
let INDEX_URL = "[[${T(org.jwebppy.portal.common.PortalConfigVo).INDEX_URL}]]";

$(window).resize($.debounce(100, function(e){
	resizeView();
}));

$(window).on("load", function() {
	resizeView();
});

let RESIZING_MIN_WIDTH = 1500;
let VIEW_MARGIN_WIDTH = 80;

function resizeView()
{
	let width = $(window).width();
	
	if (width > RESIZING_MIN_WIDTH)
	{
		$("#mainImg, #header, #bottom").width(width - VIEW_MARGIN_WIDTH);
	}
	else
	{
		$("#mainImg, #header, #bottom").width(RESIZING_MIN_WIDTH - VIEW_MARGIN_WIDTH);
	}
};

function setFocus()
{
	if (JpUtilsString.isNotEmpty($("#username").val()))
	{
		$("#password").select();
	}
	else
	{
		$("#username").select();
	};	
};

function checkForm()
{
	if (JpUtilsString.isEmpty($("#password").val()))
	{
		JpUiDimmer.alert("[[#{PLTF_M_LOGIN_EMPTY_PWD}]]", function() {
			$("#password").focus();
		});
					
		return false;				
	}
	else if (JpUtilsString.isEmpty($("#newPassword").val()))
	{
		JpUiDimmer.alert("[[#{PLTF_M_EMPTY_NEW_PWD}]]", function() {
			$("#newPassword").focus();
		});
		
		return false;
	}
	else if (JpUtilsString.isEmpty($("#confirmPassword").val()))
	{
		JpUiDimmer.alert("[[#{PLTF_M_EMPTY_CONFIRM_PWD}]]", function() {
			$("#confirmPassword").focus();
		});
		
		return false;				
	}
	else if (JpUtilsString.notEquals($("#newPassword").val(), $("#confirmPassword").val()))
	{
		JpUiDimmer.alert("[[#{PLTF_M_NOT_PASSWORD_MATCH}]]", function() {
			$("#newPassword").focus();
		});
		
		return false;
	}
	
	return true;
};

function submit()
{
	if (checkForm())
	{
		JpUtilsAjax.post({
			url: "[[${T(org.jwebppy.platform.core.PlatformConfigVo).FORM_PASSWORD_CHANGE_PROCESSING_URL}]]",
			data: $("#FORM_password").serialize(),
			beforeSend: function(jqXHR, settings)
			{
				JpUiDimmer.show();
			},			
			success: function(data, textStatus, jqXHR)
			{
				let result = data.RESULT;
				
				let checkResult = result.RESULT;
				
				if (checkResult == 1)
				{
					JpUiDimmer.alert("[[#{PLTF_M_CHANGE_PASSWORD_SUCCESS}]]", function() {
						document.location.href = INDEX_URL;
					});
				}
				else
				{
					let message = "";
					
					$.each(result.MESSAGE, function (index, value) {
						message += value + "<br/>";
					});
					
					JpUiDimmer.alert(message, function() {
						if (checkResult == -999)
						{
							document.location.href = INDEX_URL;
						}
						else
						{
							JpUiDimmer.hide();
						};	
					});					
				};
			}
		});
	};
};

$(document).ready(function() {
	
	$("#openNewWindow").on("click", function() {
		window.open(INDEX_URL, new Date().getMilliseconds());
	});
	
	$(".gdpr").on("click", function() {
		document.location.href = "/portal/img/login/Doosan_General_Data_Protection_Policy.docx";
	});
	
	$("#IMG_doobizPlus").on("click", function() {
		document.location.href = INDEX_URL;
	});
	
	$(".submit").on("click", function() {
		if (checkForm())
		{
			submit();
		};	
	});
	
	$("input[type=password]").on("keydown", function(event) {
		if (event.keyCode==13)
		{
			submit();
			return false;
		};
	});	
});
</script>
</head>
<body>
<form id="FORM_password" method="post" autocomplete="off" onsubmit="return false;">
<input type="hidden" id="token" name="token" />
<input type="hidden" id="saveUsername" name="saveUsername" value="Y" />
<div id="wrap" class="wrap"> 
	<div id="header" class="header">
		<img class="logo" th:src="@{/portal/img/logo/logo2.png}" alt="DOOSAN" /><img id="IMG_doobizPlus" class="doobizplus" th:src="@{/portal/img/logo/doobizplus.png}" alt="DOOBIZ Plus"/>
		<div id="openNewWindow" class="button" th:text="#{PTL_T_NEW_WINDOW}"></div>
	</div>
	<div id="body" class="body">
		<div><img id="mainImg" th:src="@{/portal/img/login/main.png}" alt="Main Image" /></div>
		<div class="login-box">
			<div class="title" th:text="#{PTL_T_CHANGE_PASSWORD}"></div>
			<div class="password"><img th:src="@{/portal/img/login/password.png}" class="login-input" th:alt="#{PLTF_L_CURRENT_PASSWORD}" /><input type="password" id="password" name="password" th:placeholder="#{PLTF_L_CURRENT_PASSWORD}" autofocus="autofocus"/></div>
			<div class="password"><img th:src="@{/portal/img/login/password.png}" class="login-input" th:alt="#{PLTF_L_NEW_PASSWORD}" /><input type="password" id="newPassword" name="newPassword" th:placeholder="#{PLTF_L_NEW_PASSWORD}" /></div>
			<div class="password"><img th:src="@{/portal/img/login/password.png}" class="login-input" th:alt="#{PLTF_L_CONFIRM_PASSWORD}" /><input type="password" id="confirmPassword" name="confirmPassword" th:placeholder="#{PLTF_L_CONFIRM_PASSWORD}" /></div>
			<button class="btn-login submit" type="button" th:text="#{PLTF_B_SUBMIT}"></button>
		</div>
	</div>
	<div id="bottom" class="bottom">
		<div class="personal-policy" style="float: left;">
This Site is for the use of authorized Doosan Group Personnel only and by accessing this site you hereby consent to the site being monitored.<br/>
Any unauthorized use will be considered a breach of Doosan Group Information Security Policies and may also be in violation of laws.<br/>
본 사이트는 두산 임직원 및 인가된 사용자만 사용할 수 있으며, 사용자 접속 모니터링 및 로그를 기록하고 있습니다. 불법 사용시에는 법령에 의해 민∙형사상 책임을 질 수 있습니다.
			<img class="gdpr" th:src="@{/portal/img/login/gdpr.png}" alt="GDPR" />
		</div>
		<div style="height:52px;"></div>
		<div class="line"></div>
		<div class="copy-right">
			<span class=".text">[[#{PTL_T_COPY_RIGHT}]]</span>
		</div>
	</div>
</div>
</form>
</body>
</html>