<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title th:text="#{PTL_T_APP_NAME}"></title>

<link rel="stylesheet" type="text/css" th:href="@{/portal/css/layout/iv/login.css}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.css"/>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script th:src="@{/portal/js/jWebppy.utils.object.js}"></script>
<script th:src="@{/portal/js/jWebppy.utils.string.js}"></script>
<script th:src="@{/portal/js/jWebppy.ui.dimmer.js}"></script>
<script>
let INDEX_URL = "[[${T(org.jwebppy.portal.common.PortalConfigVo).INDEX_URL}]]";

$(window).resize($.debounce(100, function(e){
	resizeView();
}));

$(window).on("load", function() {
	resizeView();
	
	let loginFailType = JpUtilsString.trimToEmpty("[[${#request.getAttribute(T(org.jwebppy.portal.common.PortalConfigVo).FORM_LOGIN_FAIL_TYPE)}]]");
	
	if (JpUtilsString.isEmpty(loginFailType))
	{
		setFocus();
	}
	else
	{
		if (loginFailType == "CredentialsExpired")
		{
			//비밀번호 초기화 or 만료 시 초기 비밀번호 변경 화면으로 이동
			JpUiDimmer.alert("[[#{PLTF_M_PASSWORD_EXPIRED}]]", function() {
				document.location.href = "[[${T(org.jwebppy.portal.common.PortalConfigVo).FORM_PASSWORD_CHANGE_PAGE_URL}]]";	
			});
		}
		else if (loginFailType == "Locked")
		{
			JpUiDimmer.alert("[[#{PLTF_M_LOGIN_ACCOUNT_LOCKED}]]", function() {
				setFocus();
			});
		}
		else
		{
			JpUiDimmer.alert("[[#{PLTF_M_LOGIN_AUTHENTICATION_FAILED}]]", function() {
				setFocus();
			});
		};
	};	
});

let RESIZING_MIN_WIDTH = 1500;
let VIEW_MARGIN_WIDTH = 80;

function resizeView()
{
	let width = $(window).width();
	
	if (width > RESIZING_MIN_WIDTH)
	{
		$("#mainImg, #header, #bottom").width(width - VIEW_MARGIN_WIDTH);
	}
	else
	{
		$("#mainImg, #header, #bottom").width(RESIZING_MIN_WIDTH - VIEW_MARGIN_WIDTH);
	}
};

function setFocus()
{
	if (JpUtilsString.isNotEmpty($("#username").val()))
	{
		$("#password").select();
	}
	else
	{
		$("#username").select();
	};	
};

function checkForm()
{
	if (JpUtilsString.isEmpty($("#username")))
	{
		JpUiDimmer.alert("[[#{PLTF_M_LOGIN_EMPTY_USERNAME}]]", function() {
			$("#username").focus();	
		});
		
		return false;
	}
	else if (JpUtilsString.isEmpty($("#password")))
	{
		JpUiDimmer.alert("[[#{PLTF_M_LOGIN_EMPTY_PWD}]]", function() {
			$("#password").focus();	
		});		
		
		return false;				
	};
	
	return true;
};

let isProcessing = false;
function login()
{
	if (!isProcessing)
	{
		isProcessing = true;
		
		let key = "[[${key}]]";
		let token = "[[${token}]]";
	
		$.ajax({
			contentType:"application/json",         
			type: "GET",
			url: "[[${gateway}]]/authform/sso/inbound/ad",
			headers: {"user-key": key, "user-token": token, "user-xuser": $("#username").val(), "user-xpass": $("#password").val()},
			beforeSend: function(jqXHR, settings)
			{
				JpUiDimmer.show();
			},
			success: function(response, textStatus, jqXHR)
			{
				if (response != null)
				{
					let result = response.RESULT;
					
					console.log(response);
					$("#token").val(result);
				};
			},
			error: function(jqXHR, textStatus, errorThrown)
			{
				console.log("AD authorization failed. Start to login using this system.");
			},
			complete: function(jqXHR, textStatus)
			{
				$("#FORM_login").submit();
			}
		});		
	};
};

$(document).ready(function() {
	let username = JpUtilsString.trimToEmpty($.cookie("username"));
	
	if (JpUtilsString.isNotEmpty(username))
	{
		$("#username").val(username);
	};	
	
	$(".btn-login").on("click", function() {
		if (checkForm())
		{
			login();
		};	
	});

	$("#username, #password").on("keydown", function(event) {
		if (event.keyCode == 13)
		{
			if (checkForm())
			{
				login();
			}
		}
	}).on("focus", function(event) {
		$(this).select();
	});
	
	$("#openNewWindow").on("click", function() {
		window.open(INDEX_URL, new Date().getMilliseconds());
	});
	
	$(".save-username").on("click", function() {
		let src = "/platform/img/login/uncheck.png";		
		
		if ($(this).find("img").attr("src").indexOf("uncheck") > -1)
		{
			src = "/platform/img/login/check.png";
			$("#saveUsername").val("Y");
		}
		else
		{
			$("#saveUsername").val("N");
		};
		
		$(this).find("img").attr("src", src);
	});
	
	$(".gdpr").on("click", function() {
		document.location.href = "/portal/img/login/Doosan_General_Data_Protection_Policy.docx";
	});
	
	$("#IMG_doobizPlus").on("click", function() {
		document.location.href = INDEX_URL;
	});	
});
</script>
</head>
<body>
<form id="FORM_login" method="post" th:action="${T(org.jwebppy.portal.common.PortalConfigVo).FORM_LOGIN_PROCESSING_URL}">
<input type="hidden" id="token" name="token" />
<input type="hidden" id="saveUsername" name="saveUsername" value="Y" />
<div id="wrap" class="wrap"> 
	<div id="header" class="header">
		<img class="logo" th:src="@{/portal/img/logo/logo2.png}" alt="DOOSAN" /><img id="IMG_doobizPlus" class="doobizplus" th:src="@{/portal/img/logo/doobizplus.png}" alt="DOOBIZ Plus"/>
		<div id="openNewWindow" class="button" th:text="#{PTL_T_NEW_WINDOW}"></div>
	</div>
	<div class="body">
		<div><script>document.write("<img id='mainImg' src='" + "[[@{/portal/img/login}]]/main" + (Math.floor(Math.random()*5)+1) + ".png' alt='Main Image' />");</script></div>
		<div class="login-box">
			<div class="title" th:text="#{PTL_T_FORM_LOGIN}"></div>
			<div class="username"><img th:src="@{/portal/img/login/username.png}" class="login-input" alt="Username" /><input type="text" th:with="username=${T(org.jwebppy.platform.core.PlatformConfigVo).FORM_LOGIN_USERNAME}" th:id="${username}" th:name="${username}" th:placeholder="#{PTL_T_FORM_USERNAME}" autofocus /></div>
			<div class="password"><img th:src="@{/portal/img/login/password.png}" class="login-input" alt="Password" /><input type="password" th:with="password=${T(org.jwebppy.platform.core.PlatformConfigVo).FORM_LOGIN_PASSWORD}" th:id="${password}" th:name="${password}" th:placeholder="#{PTL_T_FORM_PASSWORD}" /></div>
			<button class="btn-login" type="button" th:text="#{PTL_B_FORM_LOGIN}"></button>
			<div class="bottom"> 
				<div class="save-username"><img th:src="@{/portal/img/login/check.png}" class="save-username-chk" alt="Save Username" /><span>[[#{PTL_T_FORM_SAVE_USERNAME}]]</span></div>
				<!-- div class="manual">
					<select class="select-box">
						<option>Manual Download</option>
						<option>Korean</option>
						<option>English</option>
					</select>				
				</div -->
			</div>
		</div>
	</div>
	<div id="bottom" class="bottom">
		<div class="personal-policy" style="float: left;">
This Site is for the use of authorized Doosan Group Personnel only and by accessing this site you hereby consent to the site being monitored.<br/>
Any unauthorized use will be considered a breach of Doosan Group Information Security Policies and may also be in violation of laws.<br/>
본 사이트는 두산 임직원 및 인가된 사용자만 사용할 수 있으며, 사용자 접속 모니터링 및 로그를 기록하고 있습니다. 불법 사용시에는 법령에 의해 민∙형사상 책임을 질 수 있습니다.
			<img class="gdpr" th:src="@{/portal/img/login/gdpr.png}" alt="GDPR" />
		</div>
		<div style="height:52px;"></div>
		<div class="line"></div>
		<div class="copy-right">
			<span class=".text">[[#{PTL_T_COPY_RIGHT}]]</span>
		</div>
	</div>
</div>
</form>
</body>
</html>