<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jwebppy.platform.mgmt.user.mapper.UserPasswordChangeHistoryMapper">

	<insert id="insertUserPasswordChangeHistory" parameterType="UserPasswordChangeHistoryEntity">
		insert into pltf_user_pwd_change_history (u_seq, old_password, timezone, reg_username, reg_date) values (
			#{uSeq}, (select password from pltf_user_account where u_seq=#{uSeq}), #{timezone}, #{regUsername}, #{regDate}
		)
	</insert>
	
	
	<select id="findPageUserPasswordChangeHistories" resultType="UserPasswordChangeHistoryEntity">
		<include refid="PaginationMapper.header">
			<property name="orderBy" value="reg_date desc"/>
		</include>
			
		select
		*
		from
		pltf_user_pwd_change_history
		where
		u_seq=#{uSeq}
		
		<if test="@org.jwebppy.platform.core.util.CmMyBatisQueryUtils@isNotEmpty(regUsername)">
			and reg_username=#{regUsername}
		</if>

		<include refid="PaginationMapper.footer"/>
	</select>	
	
</mapper>