<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jwebppy.platform.mgmt.user.mapper.CredentialsPolicyMapper">
	<resultMap type="CredentialsPolicyEntity" id="credentialsPolicyEntityMap">
		<id property="cpSeq" column="cp_seq" />
		<result property="name" column="name" />
		<result property="description" column="description" />
		<result property="uminLength" column="u_min_length" />
		<result property="umaxLength" column="u_max_length" />
		<result property="uminUppercase" column="u_min_uppercase" />
		<result property="umaxUppercase" column="u_max_uppercase" />
		<result property="uminLowercase" column="u_min_lowercase" />
		<result property="umaxLowercase" column="u_max_lowercase" />
		<result property="ufgOnlyUppercase" column="u_fg_only_uppercase" />
		<result property="ufgOnlyLowercase" column="u_fg_only_lowercase" />
		<result property="uminNumber" column="u_min_number" />
		<result property="umaxNumber" column="u_max_number" />
		<result property="uminSpecial" column="u_min_special" />
		<result property="umaxSpecial" column="u_max_special" />
		<result property="pminLength" column="p_min_length" />
		<result property="pmaxLength" column="p_max_length" />
		<result property="pminUppercase" column="p_min_uppercase" />
		<result property="pmaxUppercase" column="p_max_uppercase" />
		<result property="pminLowercase" column="p_min_lowercase" />
		<result property="pmaxLowercase" column="p_max_lowercase" />
		<result property="pminNumber" column="p_min_number" />
		<result property="pmaxNumber" column="p_max_number" />
		<result property="pminSpecial" column="p_min_special" />
		<result property="pmaxSpecial" column="p_max_special" />
		<result property="pvalidPeriod" column="p_valid_period" />
		<result property="fgUsePwdFailPenalty" column="fg_use_pwd_fail_penalty" />
		<result property="pfailCheckDuration" column="p_fail_check_duration" />
		<result property="pallowableFailCount" column="p_allowable_fail_count" />
		<result property="pfreezingDuration" column="p_freezing_duration" />
		<result property="fgUse" column="fg_use" />
		<result property="fgDefault" column="fg_default" />
		<result property="fgDelete" column="fg_delete" />
		<result property="pageNumber" column="page_number" />
		<result property="rowPerPage" column="row_per_page" />
		<result property="totalCount" column="total_count" />
		<collection property="userGroups" foreignColumn="cp_seq" column="cp_seq" javaType="java.util.ArrayList" select="org.jwebppy.platform.mgmt.user.mapper.UserGroupMapper.findUserGroupsByCpSeq" />
	</resultMap>
	
	<insert id="insert" parameterType="CredentialsPolicyEntity" useGeneratedKeys="true" keyProperty="cpSeq">
		<selectKey keyProperty="cpSeq" resultType="Integer" order="BEFORE">
			select pltf_cp_seq.nextval from dual
		</selectKey>	
	
		insert into pltf_credentials_policy (cp_seq, name, description, 
			u_min_length, u_max_length, u_min_uppercase, u_max_uppercase, u_min_lowercase, u_max_lowercase, u_fg_only_uppercase, u_fg_only_lowercase, u_min_number, u_max_number, u_min_special, u_max_special,
			p_min_length, p_max_length, p_min_uppercase, p_max_uppercase, p_min_lowercase, p_max_lowercase, p_min_number, p_max_number, p_min_special, p_max_special,
			p_valid_period, fg_use, fg_default, fg_delete, reg_username, reg_date,
			fg_use_pwd_fail_penalty, p_fail_check_duration, p_allowable_fail_count, p_freezing_duration) values (
			#{cpSeq}, #{name}, #{description},
			#{uminLength}, #{umaxLength}, #{uminUppercase}, #{umaxUppercase}, #{uminLowercase}, #{umaxLowercase}, #{ufgOnlyUppercase}, #{ufgOnlyLowercase}, #{uminNumber}, #{umaxNumber}, #{uminSpecial}, #{umaxSpecial},
			#{pminLength}, #{pmaxLength}, #{pminUppercase}, #{pmaxUppercase}, #{pminLowercase}, #{pmaxLowercase}, #{pminNumber}, #{pmaxNumber}, #{pminSpecial}, #{pmaxSpecial},
			#{pvalidPeriod}, #{fgUse}, #{fgDefault}, 'N', #{regUsername}, #{regDate},
			#{fgUsePwdFailPenalty}, #{pfailCheckDuration}, #{pallowableFailCount}, #{pfreezingDuration}
		)
	</insert>

	<update id="update" parameterType="CredentialsPolicyEntity">
		update pltf_credentials_policy set
			name=#{name},
			description=#{description},
			u_min_length=#{uminLength},
			u_max_length=#{umaxLength},
			u_min_uppercase=#{uminUppercase},
			u_max_uppercase=#{umaxUppercase},
			u_min_lowercase=#{uminLowercase},
			u_max_lowercase=#{umaxLowercase},
			u_fg_only_uppercase=#{ufgOnlyUppercase},
			u_fg_only_lowercase=#{ufgOnlyLowercase},
			u_min_number=#{uminNumber},
			u_max_number=#{umaxNumber},
			u_min_special=#{uminSpecial},
			u_max_special=#{umaxSpecial},
			p_min_length=#{pminLength},
			p_max_length=#{pmaxLength},
			p_min_uppercase=#{pminUppercase},
			p_max_uppercase=#{pmaxUppercase},
			p_min_lowercase=#{pminLowercase},
			p_max_lowercase=#{pmaxLowercase},
			p_min_number=#{pminNumber},
			p_max_number=#{pmaxNumber},
			p_min_special=#{pminSpecial},
			p_max_special=#{pmaxSpecial},
			p_valid_period=#{pvalidPeriod},
			fg_use_pwd_fail_penalty=#{fgUsePwdFailPenalty},
			p_fail_check_duration=#{pfailCheckDuration},
			p_allowable_fail_count=#{pallowableFailCount},
			p_freezing_duration = #{pfreezingDuration},
			fg_use=#{fgUse},
			fg_default=#{fgDefault},			
			mod_username=#{modUsername},
			mod_date=#{modDate}
		where
			cp_seq=#{cpSeq}
	</update>
	
	<update id="updateFgDelete" parameterType="int">
		update pltf_credentials_policy set fg_delete='Y' where cp_seq=#{cpSeq}
	</update>
	
	<select id="findCredentialsPolicy" resultMap="credentialsPolicyEntityMap">
		select
		*
		from
		pltf_credentials_policy
		where
		fg_delete='N'
		and cp_seq=#{cpSeq}
	</select>
	
	<select id="findCredentialsPolicyByName" resultMap="credentialsPolicyEntityMap">
		select
		*
		from
		pltf_credentials_policy
		where
		fg_delete='N'
		and name=#{name}			
	</select>	
	
	<select id="findCredentialsPolicies" parameterType="CredentialsPolicySearchDto" resultMap="credentialsPolicyEntityMap">
		select
		a.*
		from
		pltf_credentials_policy a
		where
		a.fg_delete='N'
		
		<if test="@org.jwebppy.platform.core.util.CmMyBatisQueryUtils@isNotEmpty(name)">
			and a.name=#{name}
		</if>
		
		<if test="@org.jwebppy.platform.core.util.CmMyBatisQueryUtils@isNotEmpty(fgUse)">
			and a.fg_use=#{fgUse}
		</if>
		
		<if test="@org.jwebppy.platform.core.util.CmMyBatisQueryUtils@isNotEmpty(fgDefault)">
			and a.fg_default=#{fgDefault}
		</if>
		
		order by a.cp_seq
	</select>
	
	<select id="findPageCredentialsPolicies" parameterType="CredentialsPolicySearchDto" resultMap="credentialsPolicyEntityMap">
		<include refid="PaginationMapper.header"/>

		select
		a.*
		from
		pltf_credentials_policy a
		where
		a.fg_delete='N'
		
		<if test="@org.jwebppy.platform.core.util.CmMyBatisQueryUtils@isNotEmpty(query)">
			and (upper(a.name) like '%'||upper(trim(#{query}))||'%' or upper(a.name) like '%'||upper(trim(#{query}))||'%')
		</if>
		
		<if test="@org.jwebppy.platform.core.util.CmMyBatisQueryUtils@isNotEmpty(fgUse)">
			and a.fg_use=#{fgUse}
		</if>		
		
		<if test="@org.jwebppy.platform.core.util.CmMyBatisQueryUtils@isNotEmpty(fgDefault)">
			and a.fg_default=#{fgDefault}
		</if>
		
		order by a.cp_seq desc
		
		<include refid="PaginationMapper.footer"/>
	</select>	
		
</mapper>