<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{platform/layout/common/index}">

<th:block layout:fragment="content">
<div class="ui dividing header">
  Authority
  <div class="sub header">Authorities has roles and groups. You can create or modify the authorities and check users who belong to each of them.</div>
</div>
<form id="FORM_search" class="ui form" autocomplete="off" onsubmit="return false;">
<input type="checkbox" name="cSeq" style="display:none" value="" checked />
<input type="hidden" name="pageNumber" value="1"/>
<input type="hidden" name="rowPerPage" value="10"/>
<div class="ui grey attached segment">
	<div class="fields">
		<div class="six wide field">
			<select name="type" class="ui search dropdown">
				<option value="">Type</option>
				<option th:value="${T(org.jwebppy.platform.mgmt.content.dto.CItemType).R}" th:text="${T(org.jwebppy.platform.mgmt.content.dto.CItemType).R.type}"></option>
				<option th:value="${T(org.jwebppy.platform.mgmt.content.dto.CItemType).G}" th:text="${T(org.jwebppy.platform.mgmt.content.dto.CItemType).G.type}"></option>
			</select>
		</div>
	</div>
	<div class="fields">
		<div class="twelve wide field">
			<div class="ui icon input">
				<input type="text" id="query" name="query" placeholder="Search"> <i class="search icon"></i>
			</div>				
		</div>
		<div class="four wide field">
			<div id="BTN_searchUser" class="ui teal button"><i class="search icon"></i> Search</div>
			<div class="ui button" onclick="document.location.reload()"><i class="redo icon"></i> Reset</div>
		</div>
	</div>
</div>
<div class="ui divider"></div>
<div class="ui one column grid">
	<div class="column">
		<div id="BTN_create" class="ui teal button"><i class="plus icon"></i> Create</div>
		<div id="BTN_delete" class="ui teal button"><i class="minus icon"></i> Delete</div>
	</div>
</div>
<div id="TBL_authority"></div>
</form>
<div class="ui segment" id="AREA_viewAuthorityDetail" style="display:none;">
	<div class="ui header"></div>
	<div class="ui clearing divider"></div>
	<div id="TAB_viewAuthorityDetail" class="ui secondary pointing menu">
		<a class="item active wrap" data-tab="general">General</a>
		<a class="item wrap" data-tab="user">User</a>
		<a class="item wrap" data-tab="authority">Sub Authority</a>
	</div>
	<div class="AREA_moveToModifyAuthority" style="display:none;">
		<div class="ui teal button BTN_modify"><i class="edit outline icon"></i> Modify</div>
		<div class="ui clearing divider"></div>
	</div>
	<div class="AREA_modifyAuthority" style="display:none;">
		<div class="ui teal button modify BTN_save"><i class="check icon"></i> Save</div>
		<div class="ui button modify BTN_cancel"><i class="times icon"></i> Cancel</div>
		<div class="ui clearing divider"></div>
	</div>
	<form id="FORM_modifyAuthority" class="ui form" autocomplete="off" onsubmit="return false;">
		<input type="hidden" name="cSeq" />
		<div class="ui tab active attached segment teal" data-tab="general"></div>
		<div class="ui tab attached" data-tab="user"></div>
		<div class="ui tab attached segment teal" data-tab="authority"></div>
	</form>
	<div class="AREA_moveToModifyAuthority" style="display:none;">
		<div class="ui clearing divider"></div>
		<div class="ui teal button BTN_modify"><i class="edit outline icon"></i> Modify</div>				
	</div>			
	<div class="AREA_modifyAuthority" style="display:none;">
		<div class="ui clearing divider"></div>
		<div class="ui teal button modify BTN_save"><i class="check icon"></i> Save</div>
		<div class="ui button modify BTN_cancel"> Cancel</div>				
	</div>			
</div>
<script>
$(document).ready(function() {
	let authorityTable = new JpUiTable($("#TBL_authority"));
	authorityTable.settings = {
			ajax: {
				url: "/platform/mgmt/authority/list/layout",				
				form: $("#FORM_search"),
				async: false,
		  		beforeSend: function(jqXHR, settings)
		  		{
		  			hideUserDetailsArea();
		  		},
		  		complete: function(jqXHR, textStatus)
				{
		  			if (textStatus == "success")
	  				{
		  				if ($("#FORM_search input:checkbox[name=cSeq]").val() != "")
		  				{
			  				authorityTable.getBodyCell(0, 2).find("a").trigger("click");
		  				};
	  				};
				}
			},
			onClickDataKey: function(element, key, row)
			{
				if ($(row).hasClass("active"))
				{
					setSeq(key);					
					$("#AREA_viewAuthorityDetail .ui.header").html("Details of Authority, " + $(element).html());
					viewAuthorityTab.changePath("/platform/mgmt/authority/view/layout");
					showUserDetailsArea();
				}
				else
				{
					initSeq();
					hideUserDetailsArea();
				};
			},
			onClickPageNumber: function(pageNumber)
			{
				doSearch(pageNumber);
			}
	};
	
	let viewAuthorityTab = new JpUiTab($("#TAB_viewAuthorityDetail"));
	viewAuthorityTab.settings = {
			ajax: {
				beforeSend: function(settings)
				{
					if (viewAuthorityTab.tabPath != "general" && getSeq() == "")
					{
						JpUiDimmer.alert("Please register the general information first.", function() {
							showCreateAuthorityArea();	
						});

						return false;
					};
					
					settings.data = $("#FORM_search").serialize();
					
					return settings;
				}
			},
			tab: {
				path: "/platform/mgmt/authority/view/layout",
				alwaysRefresh: true,
				onLoaded: function(tabPath, parameterArray, historyEvent)
				{
					if (isOnForm())
					{
						//Add custom rules in the form validation 
						$.fn.form.settings.rules.checkDuplicatedName = function(value)
						{
							if (JpUtilsString.isNotEmpty(value))
							{
								let isValid = true; 
								
								JpUtilsAjax.get({
									url: "/platform/mgmt/content/valid_check/name",
									data: { cSeq: getSeq(), value: value },
									global: false,
									async: false,
									success: function(data, textStatus, jqXHR)
									{
										if (data.RESULT == "duplicated")
										{
											isValid = false;
										};
									}
								});
								
								return isValid;
							};
							
							return false;
						};
						
						let formValidCheck = {
							inline: true,
							fields: {
								Name: {
									identifier: "name",
									rules: [
										{
											type: "empty",
											prompt: "Please enter {name}."
										},
										{
											type: "checkDuplicatedName",
											prompt: "The {name} is not available. Please enter another name."
										}
									]
								}
							},
							keyboardShortcuts: false
						};
						
						$("#FORM_modifyAuthority").form(formValidCheck);
						
						if (tabPath == "general")
						{
							JpUiCalendar.datetimeCalendar($("#fromValid"), $("#toValid"));
						}
						else if (tabPath == "authority")
						{
							let html = [];
							html.push("<div class='field'>");
							html.push("<label>Available Role</label>");
							html.push("<select id='availableAutority' name='availableAutority' class='ui fluid search dropdown' multiple=''></select>");
							html.push("</div>");
							html.push("<div>");
							html.push("<div class='ui teal button BTN_add'> Add</div>");
							html.push("<div class='ui button BTN_remove'> Remove</div>");
							html.push("</div>");
							html.push("<p/>");
							html.push("<div id='TBL_myAuthorityList'></div>");

							$(".ui.tab[data-tab=authority]").html(html.join(""));

							JpUtilsAjax.get({
								url: "/platform/mgmt/content/list/layout",
								data: {"type" : "R", "fgVisible": "Y"},
								global: false,
								success: function(data, textStatus, jqXHR)
								{
									if (data.RESULT != null)
									{
										let options = [];

									    data.RESULT.forEach(function(element, index) {
									    	options.push("<option value='" + element.cseq + "' data-key='" + element.cseq + "'>" + element.description + " - " + element.name + "</option>");
									    });

									    $("#availableAutority").html(options.join(""));
									    
										$("#availableAutority").dropdown({
											minCharacters: 2,
											placeholder: "Search",
											fullTextSearch: true
										});

										$(".ui.tab[data-tab=authority] .ui.dropdown input.search").on("keydown", function(event) {
											if (event.keyCode == 13)
											{
												if ($(".ui.tab[data-tab=authority] .ui.dropdown a.ui.label.transition.visible").length > 0)
												{
													$(".BTN_add").trigger("click");
												};
											};
										});
									};
								}
							});

							let myAuthorityTable = new JpUiTable($("#TBL_myAuthorityList"));
							myAuthorityTable.settings = {
									ajax: {
										url: "/platform/mgmt/authority/sub_role/layout",
										global: false,
										traditional : true,
										form: $("#FORM_modifyAuthority")
									}
							};
							myAuthorityTable.render();

							$(".BTN_add").on("click", function() {
								let values = $("#availableAutority").dropdown("get value");
								
								if (values == null)
								{
									values = [];
								};

								$.each($("#TBL_myAuthorityList").find("input:checkbox[name=cSeq]"), function(i, item) {
									values.push($(this).val());
								});

								myAuthorityTable.settings.ajax.data = { cSeqs: values };
								myAuthorityTable.render();

								$("#availableAutority").dropdown("clear");
								resetCheckAll();
							});

							$(".BTN_remove").on("click", function() {
								myAuthorityTable.remove();
								resetCheckAll();
							});

							function resetCheckAll()
							{
								$("#TBL_myAuthorityList").find("thead .ui.checkbox").checkbox("uncheck");
							};
						};
					}
					else
					{
						if (tabPath == "user")
						{
							$("#FORM_modifyAuthority div[data-tab=user] a").on("click", function() {
								
								let dataKeyName = JpUtilsString.trimToEmpty($(this).attr("data-key-name"));
								let dataKey = JpUtilsString.trimToEmpty($(this).attr("data-key"));
								
								if (dataKeyName == "uSeq")
								{
									_showUser({uSeq: dataKey});	
								}
								else
								{
									_showUserGroup({ugSeq: dataKey});
								};
							});
						};
					};

					changeButtonStatus();
					viewAuthorityTab.changePath("/platform/mgmt/authority/view/layout");
				}
			}
	};

	$("#BTN_create").on("click", function() {
		showCreateAuthorityArea();		
	});
	
	$(".BTN_modify").on("click", function() {
		viewAuthorityTab.changePath("/platform/mgmt/authority/write/layout");

		changeTab();
	});

	$("#BTN_delete").on("click", function() {
		if (getCheckedAuthorityCount() == 0)
		{
			JpUiDimmer.alert("Please choose authorities to delete.");
			return;
		};
		
		JpUiDimmer.confirm("Do you want to delete the authorities?", function() {
			JpUtilsAjax.post({
				url: "/platform/mgmt/authority/delete",
				data: $("#FORM_search").serialize(),
				success: function(data, textStatus, jqXHR)
				{
					doSearch();
				}
			});			
		});
	});
	
	function setSeq(seq)
	{
		$("#FORM_search input:checkbox[name=cSeq]:first, #FORM_modifyAuthority input[name=cSeq]").val(seq);
	};

	function getSeq()
	{
		return $("#FORM_modifyAuthority input[name=cSeq]").val(); 
	};		
	
	function initSeq()
	{
		$("#FORM_search input:checkbox[name=cSeq]:first, #FORM_modifyAuthority input[name=cSeq]").val("");
	};
	
	function getCheckedAuthorityCount()
	{
		return authorityTable.getCheckedCount();
	};
	
	function doSearch(pageNumber)
	{
		$("#FORM_search input:hidden[name=pageNumber]").val(JpUtilsString.defaultString(pageNumber, "1"));
		$("#FORM_search input:hidden[name=rowPerPage]").val("10");		

		authorityTable.load();
	};	

	function hideUserDetailsArea()
	{
		$("#AREA_viewAuthorityDetail").hide();
	};

	function showUserDetailsArea()
	{
		changeTab("general");

		$("#AREA_viewAuthorityDetail").show();
	};
	
	function showCreateAuthorityArea()
	{
		$("#AREA_viewAuthorityDetail .ui.header").html("Create Authority");

		initSeq();

		viewAuthorityTab.changePath("/platform/mgmt/authority/write/layout");
		changeTab("general");

		$("#AREA_viewAuthorityDetail").show();
	};	

	$("#query").on("keydown", function(event) {
		if (event.keyCode==13)
		{
			doSearch();
		}
	}).on("click", function(event) {
		this.select();
	});

	$("#BTN_searchUser").on("click", function() {
		setSeq("");
		doSearch();
	});

	$(".BTN_save").on("click", function() {
		if ($("#FORM_modifyAuthority").form("validate form"))
		{
			let tabPath = viewAuthorityTab.tabPath;
			
			if (tabPath == "authority")
			{
				$("#TBL_myAuthorityList").find(".ui.checkbox").checkbox("check");
			};
			
			JpUtilsAjax.post({
				url: "/platform/mgmt/authority/save/" + tabPath,
				data: $("#FORM_modifyAuthority").serialize(),
				success: function(data, textStatus, jqXHR)
				{
					if (JpUtilsString.isEmpty(getSeq()))
					{
						let cSeq = data.RESULT;
						
						if (JpUtilsObject.isNotNull(cSeq))
						{
							$("#FORM_search input:hidden[name=cSeq]").val(cSeq);
						};
						
						doSearch();
					}
					else
					{
						changeTab(tabPath);
					};
				}
			});
		}
	});

	$(".BTN_cancel").on("click", function() {
		if (getSeq() == "")
		{
			hideUserDetailsArea();
		}
		else
		{
			changeTab();	
		};
	});

	function changeButtonStatus()
	{
		$(".AREA_moveToModifyAuthority, .AREA_modifyAuthority").css("display", "none");
		
		if (isOnForm())
		{
			$(".AREA_modifyAuthority").css("display", "block");
		}
		else
		{
			let type = $(authorityTable.getActiveRow()).find("td:eq(1)").html();
			
			if (type == "GROUP")
			{
				if (JpUtilsString.notEquals(viewAuthorityTab.tabPath, "user"))
				{
					$(".AREA_moveToModifyAuthority").css("display", "block");
				}				
			}
		};
	};

	function changeTab(tabPath)
	{
		changeButtonStatus();

		viewAuthorityTab.changeTab(tabPath);
	};
	
	function isOnForm()
	{
		return (viewAuthorityTab.getPath().indexOf("write") > -1) ? true : false;
	};

	doSearch();
});

</script>

</th:block>
</html>
