<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/hq/parts/common/index}">

<th:block layout:fragment="content">
	<div class="block-header">
		<div class="block-title" th:text="#{PLTF_L_1651107943857}"></div>
		<div class="block-button-area">
			<button id="BTN_change" th:text="#{PTL_B_CHANGE}" type="button"></button>
			<button id="BTN_search" th:text="#{PTL_B_SEARCH}" type="button"></button>
		</div>
	</div>
	
	<div class="condition-area">
	<form id="FORM_search" name="FORM_search" onsubmit="return false;">
	<table class="condition">
		<tbody>
			<tr>
				<th>[[#{PTL_L_DEALER_CODE}]] / [[#{PTL_L_DEALER_NAME}]]</th>
				<td>
					<div class="input-area">
						<input type="text" id="pName" name="pName" class="custom-ui" autofocus>
					</div>
				</td>
			</tr>		
		</tbody>
	</table>
	</form>
	</div>
	<div class="split-row"></div>
	
	<div class="grid-info">
		<div class="grid-total">
			<div class="split"></div>
			<span class="total-number" id="totalRows"></span>
		</div>
	</div>	
	
	<div id="AREA_grid" class="flex-grow grid-area">
		<table id="TBL_grid" class="order-column stripe compact"></table>
	</div>
	
<script>
$(function(){
	_setDealerCodeAutocomplete($("#pName"), {
		select: function(label, value, event) {
			doSearch();
		}
	});
	
	JpUiForm.input.on.select($("#pName"));

	$tableObj = $("#TBL_grid").DataTable({
		ordering: true, 
		scrollY: 100,
		columns : [
			{// 컬럼에 checkbox 설정
				name: "chk",
				className:"center noselect skip-download",// row selection 기능 막음.
				orderable: false,// checkbox 는 정렬 불가
				render: function(data, type, row)
				{
					return '<input type="radio" class="custom-ui check-all" name="fromUsername" value="' + row.BNAME + '"><label></label>';// FixedColumns 사용시엔 syncInput 호출 필요함.
				}
			},
			{data: "KUNNR", title: "[[#{PTL_L_DEALER_CODE}]]"},//Dealer Code
			{data: "NAME1", title: "[[#{PTL_L_DEALER_NAME}]]"},//Dealer Name
		],
		columnDefs: [
			{targets: [0, 1], className: "dt-body-center"}
		],		
		ajax: {
			url: "[[${BASE_PATH}]]/mgmt/mapping/list/data",
			data: function(p)
			{
				// ajax로 넘길 파라미터
				p.pName = $("#pName").val();
			},
			dataSrc: function(response)
			{
				let result = response.RESULT;
				
				let list = [];
				
				for (let i=0, length=result.length; i<length; i++)
				{
					if (JpUtilsString.isEmpty(result[i].BNAME))
					{
						continue;
					}
					
					list.push(result[i]);
				};
				
				return list;
			}
		},
		initComplete:function(settings, json) 
		{			
			ProgressBar.hide();
		}
	});

	// Datatable grid 초기 설정 셋업
	initGridTable($tableObj);
	
	$("#BTN_search").on("click", function() {
		doSearch();
	});
	
	//Input text 엔터 키 입력
	$("#FORM_search input:text").on("keydown", function(event) {
		if (event.keyCode == 13)
		{
			doSearch();
		};
	});	
	
	$("#BTN_change").on("click", function() {
		let fromUsername = $.trim($("input:radio[name=fromUsername]:checked").val());
		
		if (JpUtilsString.isEmpty(fromUsername))
		{
			alert("[[#{PTL_M_EMPTY_TARGET}]]");
			return;
		};

		$.ajax({
			url: "[[${BASE_PATH}]]/mgmt/mapping/change",
			method: "post",
			data: {"fromUsername" : fromUsername},
		    success: function(response, textStatus, jqXHR)
		    {
		    	document.location.reload();
		    }
		});
	});	
	
	function doSearch()
	{	
		$tableObj.ajax.reload();
	}
});
</script>	
</th:block>