<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jwebppy.platform.mgmt.logging.mapper.SapRfcMapper">

	<select id="findByName" resultType="SapRfcEntity">
		select
		*
		from
		pltf_sap_rfc
		where
		name=#{name}
		and fg_delete='N'
	</select>

</mapper>