<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="PaginationMapper">
	<sql id="header">
select
total_count-(rnum-1) rowNo,
yyy.*
from
(
    select
    rownum as rnum,
    nvl(#{pageNumber}, 1) page_number,
    nvl(#{rowPerPage}, 10) row_per_page,
    count(*) over() as total_count,
    xxx.*    
    from
    (	
	</sql>

	<sql id="footer">
    ) xxx
) yyy
where
rnum <![CDATA[>]]> (page_number - 1) * row_per_page and rnum <![CDATA[<=]]> page_number * row_per_page	
	</sql>	
</mapper>
