<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jwebppy.portal.iv.eu.common.file_upload.mapper.EuFileUploadInfoMapper">
		
	<resultMap type="FileUploadInfoEntity" id="fileUploadInfoEntityMap">	
		<id property="fuiId" column="fui_id" />	
		<result property="fuiId" column="fui_id" />                    
		<result property="fileStoragePath" column="file_storage_path" />                     
		<result property="fileLimitSize" column="file_limit_size" />                     
		<result property="fileAllowExt" column="file_allow_ext" />                              
		<result property="fgDelete" column="fg_delete" />                
	</resultMap>	
				
	<select id="findFileUploadInfo" parameterType="String" resultMap="fileUploadInfoEntityMap">
		select
			 a.fui_id            
			,a.file_storage_path 
			,a.file_limit_size   
			,a.file_allow_ext    
			,a.fg_delete         			        
		from ep_file_upload_info a
		where 1=1
		and fg_delete='N'		
		and a.fui_id=#{fuiId}		
	</select>	
		
</mapper>