<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/components/calendar.min.css"/>
<link rel="stylesheet" type="text/css" class="ui" th:href="@{/platform/css/basic.css}" />
<!--
<link rel="stylesheet" type="text/css" class="ui" th:href="@{/platform/css/semantic/semantic.min.css}" />
<link rel="stylesheet" type="text/css" class="ui" th:href="@{/platform/css/semantic/calendar.min.css}" />
-->