<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/components/calendar.min.css"/>
<link rel="stylesheet" type="text/css" class="ui" th:href="@{/platform/css/basic.css}" />

<!--/* CDN 사용 불가 경우 대비. 주석 제거하고 사용.
<link rel="stylesheet" type="text/css" class="ui" th:href="@{/platform/js/semantic/semantic.min.css}" />
<link rel="stylesheet" type="text/css" class="ui" th:href="@{/platform/js/semantic/components/calendar.min.css}" />
<link rel="stylesheet" type="text/css" class="ui" th:href="@{/platform/css/basic.css}">
*/-->