<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title th:text="#{PTL_T_DOOBIZ_PLUS}"></title>
	<!-- Meta -->
	<th:block th:replace="portal/layout/iv/hq/parts/common/fragments/meta"></th:block>
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/portal/css/basic.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/portal/css/gmb.css}">
	
	<!-- JavaScript -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
	<script th:src="@{/portal/js/portal.ui.gmb.js}"></script>
	<style>
		.gomain-button {
			padding: 5px 15px;
			background-color: #003081;
			color: #fff;
			border: none;
			border-radius: 20px;
			width: 250px;
			height: 40px;
			cursor: pointer;
			outline: none;
			font-size: 18px;
			vertical-align: middle;
		}
		
		.gomain-button span {
			color: #fff;
			font-size: 18px;
			vertical-align: middle;
		}
		
		.logo {
			cursor: pointer
		}
	</style>		
</head>
<body>

<!-- Start Top -->
<!-- header.jsp begin -->
<div class="header">
	<div class="logo-area">
		<img class="logo-doosan" th:src="@{/portal/img/main/logo2.png}" /><img class="logo-doobizplus" th:src="@{/portal/img/doobizplus.png}" alt="DOOBIZ Plus" />
	</div>	
	<div class="info-area">
		<ul class="info-list">
			<li> </li>
			<li> </li>
			<li> </li>			
			<li> </li>
			<li> </li>
		</ul>
		<div class="split"></div>
		<button class="logout-button" th:text="#{HQP_B_LOGOUT}"></button>
	</div>
</div>
<div class="gmb-wrap">
	<div class="gmb-container">
		<div class="gmb-menu-area">
			<ul class="gmb-menu-list" style="display:none;"></ul>					
			<ul class="gmb-menu-sub-list"></ul>
		</div>
	</div>
</div>
<div class="split-row"></div>
<div style="width: 100%; margin:0 auto; text-align: center;">
	<div style="margin-top:138px;">
		<img src="/portal/img/popup/alert.png">
	</div>
	<div th:switch="${status}">
		<div th:case="${401}" th:text="#{HQP_T_SESSION_EXPIRED}"></div>
		<div th:case="${403}" th:text="#{HQP_T_SESSION_EXPIRED}"></div>
		<div th:case="${404}" th:text="#{HQP_T_PAGE_NOT_FOUND}"></div>
		<div th:case="*" th:text="#{HQP_T_ERROR}"></div>
	</div>
	<div style="width:auto; height:220px; background-color: #f9f9f9; margin: 40px 40px 0 40px;">
		<div style="height: 30px;"></div>
		<button class="gomain-button"><span th:text="#{HQP_B_GO_MAIN}"></span> <img src="/portal/img/common/arrow_right.png"></button>
	</div>
</div>
<div class="footer-area">	
	<div class="footer">
		<div class="split-row-compact"></div>
		<div class="logo-area">
			<div class="copyright" th:text="#{PTL_T_COPY_RIGHT}"></div>
		</div>
		<div class="split-row-compact"></div>
	</div>
</div>

<!-- Logout -->
<form id="FORM_logout" method="post" th:action="@{${T(org.jwebppy.portal.common.PortalConfigVo).FORM_LOGOUT_PROCESSING_URL}}" style="display:none;"></form>

<script>
$(".logout-button").on("click", function() {
	$("#FORM_logout").submit();
});

$(".logo-doobizplus, .gomain-button").on("click", function() {
	document.location.href = "/portal/forward/entry_point";
});
</script>
</body>
</html>