<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jwebppy.platform.mgmt.logging.mapper.DataAccessLogMapper">
	<resultMap type="DataAccessLogEntity" id="dataAccessLogMap">
		<id property="dlSeq" column="dl_seq" />
		<result property="type" column="type" />
		<result property="command" column="command" />
		<result property="className" column="class_name" />
		<result property="methodName" column="method_name" />
		<result property="destination" column="destination" />
		<result property="startTime" column="start_time" />
		<result property="elapsed" column="elapsed" />
		<result property="sessionId" column="session_id" />
		<result property="regUsername" column="reg_username" />
		<result property="regDate" column="reg_date" />
		<collection property="dataAccessLogParameters" foreignColumn="dl_seq" column="dl_seq" javaType="java.util.ArrayList" ofType="DataAccessLogParameterEntity" select="findDataAccessLogParameters" />
	</resultMap>
	
	<resultMap type="DataAccessLogParameterEntity" id="dataAccessLogParameterMap">
		<id property="dlpSeq" column="dlp_seq" />
		<result property="dlSeq" column="dl_seq" />
		<result property="type" column="type" />
		<result property="name" column="name" />
		<collection property="dataAccessLogParameterDetails" foreignColumn="dlp_seq" column="dlp_seq" javaType="java.util.ArrayList" ofType="DataAccessLogParameterDetailEntity" select="findDataAccessLogParameterDetails" />
	</resultMap>	

	<insert id="insertDataAccessLog" parameterType="DataAccessLogEntity" useGeneratedKeys="true" keyProperty="dlSeq">
		insert into pltf_dacs_log (type, command, class_name, method_name, destination, start_time, elapsed, request_id, session_id, error, reg_username, reg_date) values (
			#{type}, #{command}, #{className}, #{methodName}, #{destination}, #{startTime}, #{elapsed}, #{requestId}, #{sessionId}, #{error}, #{regUsername}, #{regDate}
		)
	</insert>

	<insert id="insertDataAccessLogParameter" parameterType="DataAccessLogParameterEntity" useGeneratedKeys="true" keyProperty="dlpSeq">
		insert into pltf_dacs_log_param (dl_seq, type, name) values (
			#{dlSeq}, #{type}, #{name}
		)
	</insert>

	<insert id="insertDataAccessLogParameterDetail" parameterType="DataAccessLogParameterDetailEntity">
		insert into pltf_dacs_log_param_detail (dlp_seq, line_no, name, value) values (
			#{dlpSeq}, #{lineNo}, #{name}, #{value}
		)
	</insert>

	<select id="findLog" parameterType="Long" resultMap="dataAccessLogMap">
		select
		a.*
		from
		pltf_dacs_log a
		where
		a.dl_seq=#{dlSeq}
	</select>

	<select id="findPageableLogs" parameterType="DataAccessLogSearchDto" resultMap="dataAccessLogMap">
		<include refid="PaginationMapper.header">
			<property name="orderBy" value="dl_seq desc"/>
		</include>		

			select
			a.*
			from
			pltf_dacs_log a
			
			<where>
				<choose>
					<when test="fromDate != null and toDate != null">
						a.start_time <![CDATA[>]]> #{fromDateToMs} and a.start_time <![CDATA[<=]]> #{toDateToMs}
					</when>
					<when test="fromDate != null">
						a.start_time <![CDATA[>]]> #{fromDateToMs}
					</when>
					<when test="toDate != null">
						a.start_time <![CDATA[<=]]> #{toDateToMs}
					</when>			
				</choose>			
			
				<if test="@org.jwebppy.platform.core.util.CmMyBatisQueryUtils@isNotEmpty(type)">
					and a.type=#{type}
				</if>
				
				<if test="@org.jwebppy.platform.core.util.CmMyBatisQueryUtils@isNotEmpty(command)">
					and upper(a.command) like concat('%', upper(#{command}), '%')
				</if>				
				
				<if test="@org.jwebppy.platform.core.util.CmMyBatisQueryUtils@isNotEmpty(regUsername)">
					and upper(a.reg_username) like concat('%', upper(#{regUsername}), '%')
				</if>				
				
				<if test="@org.jwebppy.platform.core.util.CmMyBatisQueryUtils@isNotEmpty(query)">
					and (
						upper(a.class_name) like concat('%', upper(#{query}), '%') or
						upper(a.method_name) like concat('%', upper(#{query}), '%')
					)
				</if>			
			</where>

		<include refid="PaginationMapper.footer"/>
	</select>

	<select id="findDataAccessLogParameters" parameterType="Long" resultMap="dataAccessLogParameterMap">
		select
		a.*
		from
		pltf_dacs_log_param a
		where
		a.dl_seq=#{dlSeq}
		order by a.dlp_seq
	</select>
	
	<select id="findDataAccessLogParameterDetails" parameterType="Long" resultType="DataAccessLogParameterDetailEntity">
		select
		a.*
		from
		pltf_dacs_log_param_detail a
		where
		a.dlp_seq=#{dlpSeq}
		order by line_no		
	</select>

</mapper>