<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{portal/layout/iv/eu/parts/common/index}">
	
<th:block layout:fragment="content">
	<style>
	.curr{
		margin-top: 6px;
		vertical-align: bottom;
		display: inline-block;
		font-weight: bold;
		font-size:16px;
	}
	</style>
		<div class="block-header">
			<div class="block-title" th:text="#{EUP_T_0076}"></div><!-- Shipment Status detail information -->
			<div id="BTN_search" class="block-button-area">
				<button id="BTN_pdfDownload" th:text="#{EUP_B_0008}"></button>
				<button id="BTN_back" th:text="#{EUP_B_0004}"></button>
			</div>
		</div>	
		<div class="condition-area">
		<table class="condition">
			<tbody>
				<tr>
					<th th:text="#{EUP_L_0135}"></th><!-- Shipment No. -->
					<td id="SHIPMENT_NO"><span th:text="${shipmentNo}"></span></td>
					<th th:text="#{EUP_L_0139}"></th><!-- Real Shipment Date -->
					<td id="REAL_SHIPMENT_DATE"><span th:text="${realShipmentDate}"></span></td>
					<th th:text="#{EUP_L_0127}"></th><!-- Invoice number -->
					<td id="INVOICE_NUMBER"><span th:text="${invoiceNo}"></span></td>				
				</tr>
				<tr>
					<th th:text="#{EUP_L_0131}"></th><!-- Freight Forward Ref -->
					<td id="FREIGHT_FORWARD_REF"><span th:text="${freightForwardRef}"></span></td>
					<th th:text="#{EUP_L_0087}"></th><!-- Customer Name -->
					<td id="CUSTOMER_NAME"></td>
					<th th:text="#{EUP_L_0022}"></th><!-- Ship to party -->
					<td id="SHIP_TO_PARTY"></td>				
				</tr>
				<tr>
					<th th:text="#{EUP_L_0017}"></th><!-- Shipping Condition -->
					<td colspan="5" id="SHIPPING_CONDITION"></td>
				</tr>			
			</tbody>
		</table>
		</div>
		<div class="split-row"></div>
		
		<div class="grid-info">
			<span class="curr">[[#{EUP_L_0140}]]</span><!-- (Curr. : EUR)  -->
		</div>		
		<div id="AREA_grid" class="flex-grow grid-area">
			<table id="TBL_grid" class="order-column stripe compact"></table>
		</div>	
		
	<form id="FORM_search" name="FORM_search" method="get">
		<input type='hidden' id="pFromDate" name="pFromDate" 	th:value="${pFromDate}">
		<input type='hidden' id="pToDate" 	name="pToDate" 		th:value="${pToDate}">
		<input type='hidden' id="pPartsNo" 	name="pPartsNo" 	th:value="${pPartsNo}">
		<input type='hidden' id="pPoNo" 	name="pPoNo" 		th:value="${pPoNo}">
		<input type='hidden' id="pOrderNo" 	name="pOrderNo" 	th:value="${pOrderNo}">					
	</form>
	<form id="FORM_pdf" name="FORM_pdf" method="post">
	     <input type='hidden' id="TKNUM" name="TKNUM" th:value="${TKNUM}">		
	</form>	
	<script type="application/javascript">
	$(document).ready(function() {
		ProgressBar.hide();	
	});
	
	let $tableObj;
	
	let seq = 0;
	
	$.ajax({
		url: "[[${BASE_PATH}]]/order/shipment/shipment_status_detail/data",
		data: { "pShipmentNo": "[[${shipmentNo}]]",
				"pFromDate": "[[${pFromDate}]]",
				"pToDate": "[[${pToDate}]]"
				},		
	    success: function(data, textStatus, jqXHR) 
	    {
	    	let result = data.RESULT;
	    	
	    	let mainHeadResult = result.mainHeadResult;
			
	    	$("#CUSTOMER_NAME").html(mainHeadResult[0].NAME1);
	    	$("#SHIP_TO_PARTY").html(mainHeadResult[0].STREET);
	    	$("#SHIPPING_CONDITION").html(mainHeadResult[0].VSBED_TEXT);
	    	
	    	$tableObj = $("#TBL_grid").DataTable({
	    		select: true,// row 선택 기능 켬
	    		ordering: true,// 정렬 기능 켬
	    		scrollY: 100,
	    		columns : [
	    			{data: "MATWA", 		title: "[[#{EUP_L_0029}]]", "width": "10%"},	// Order Part No. 0
	    			{data: "MATNR", 		title: "[[#{EUP_L_0030}]]", "width": "10%"},	// Supply Part No 1
	    			{data: "ARKTX", 		title: "[[#{EUP_L_0031}]]"},	// Description 2
	    			{data: "LFIMG", 		title: "[[#{EUP_L_0141}]]", "width": "8%"},	// Qty 3
	    			{data: "NETPR", 		title: "[[#{EUP_L_0034}]]", "width": "8%"},	// Net Price 4																											
	    			{data: "MEINS", 		title: "[[#{EUP_L_0049}]]", "width": "8%"},	// UoM 5
	    			{data: "NETWR", 		title: "[[#{EUP_L_0045}]]", "width": "10%"},	// Amount 6
	    			{data: "VBELN", 		title: "[[#{EUP_L_0141}]]", "width": "10%"},	// Sales order no 7
	    			{data: "BSTKD", 		title: "[[#{EUP_L_0132}]]", "width": "10%"} 	// P.O No. 8
	    		],
	    		columnDefs: [
					{targets: [0, 1, 3, 4, 5, 7, 8], className: "dt-body-center"},
					{targets: [6], className: "dt-body-right"}
	    		],
	    		data: result.item,
	    		initComplete:function(settings, json) 
	    		{			
	    			ProgressBar.hide();
	    		}   		
	    	});
	    	
			// Datatable grid 초기 설정 셋업
			initGridTable($tableObj); 	
	    }
	});
	
	$("#BTN_pdfDownload").on("click", function() {
		document.location.href = "[[${BASE_PATH}]]/order/shipment/pdf_download?pShipmentNo=[[${shipmentNo}]]";
	});
	
	$("#BTN_back").on("click", function() {
		$("#FORM_search").attr("action", "[[${BASE_PATH}]]/order/shipment/shipment_status_list").submit();
	});
	
	</script>	
</th:block>
