<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PaginationMapper">
	<sql id="header">
select
zzz.*
from
(
	select
	yyy.*,
	count(*) over () as total_count,
	row_number() over (order by ${orderBy}) rnum,
	#{pageNumber} page_number,
	#{rowPerPage} row_per_page
	from
	(
	</sql>

	<sql id="footer">
	) yyy
) zzz
where
rnum <![CDATA[>]]> (#{pageNumber} - #{rowPerPage}) * 10 and rnum <![CDATA[<=]]> (#{pageNumber} * #{rowPerPage})
	</sql>
</mapper>